<!-- FEATURES-5
			============================================= -->
<section id="features-5" class="pt-100 features-section division">
    <div class="container">
        <!-- SECTION TITLE -->
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-9">
                <div class="section-title mb-70">

                    <!-- Title -->
                    <h2 class="s-43 w-700">{{page.customText}} and CertifyMe Integration Steps</h2>
                </div>
            </div>
        </div>
        <!-- FEATURES-5 WRAPPER -->
        <div class="fbox-wrapper">
            <div class="row ">
                <!-- FEATURE BOX #1 -->
                <div class="col-md-6">
                    <div class="fbox-5 fb-1 gr--smoke r-16 wow fadeInUp">
                        <!-- Text -->
                        <div class="fbox-txt order-md-2">
                            <img src="{{page.leftSideLogoLink}}" class="img-fluid" style="margin-right: 5px;"
                                alt="{{page.customText}}--logo" width="60px" height="60px">
                            <span class="s-20 w-800 color--black">Access to {{page.customText}} account</span>
                        </div>
                        <!-- List -->
                        <ul class="simple-list mt-3">

                            <li class="list-item">
                                <p class="mb-0">Configure {{page.customText}} & CertifyMe
                                </p>
                            </li>

                            <li class="list-item">
                                <p class="mb-0">Pick {{page.customText}} as trigger
                                </p>
                            </li>
                            <li class="list-item">
                                <p class="mb-0">Choose CertifyMe as action
                                </p>
                            </li>
                            <li class="list-item">
                                <p class="mb-0">Map the right data
                                </p>
                            </li>
                            <li class="list-item">
                                <p class="mb-0">Finish
                                </p>
                            </li>

                        </ul>
                    </div>
                </div> <!-- END FEATURE BOX #1 -->
                <!-- FEATURE BOX #2 -->
                <div class="col-md-6 text-center">
                    <div class="fbox-5 fb-2 gr--smoke r-16 wow fadeInUp">
                        <!-- Text -->
                        <div class="fbox-txt order-md-2 mb-2">
                            <img src="https://certifyme.online/assets4/images/Logo/146 (1).png" class="img-fluid"
                                style="margin-right: 5px;" alt="CertifyMe-logo" width="60px" height="60px">
                            <span class="s-20 w-800 color--black">Access to CertifyMe account</span>
                        </div>
                        <!-- Image -->
                        <div class="fbox-5-img mb-0">
                            <img class="img-fluid" src="/assets4/images/integrations/API (2).png"
                                alt="CertifyMe integration with {{page.customText}}">
                        </div>
                    </div>
                </div> <!-- END FEATURE BOX #2 -->
            </div> <!-- End row -->
        </div> <!-- END FEATURES-5 WRAPPER -->
    </div> <!-- End container -->
</section> <!-- END FEATURES-5 -->