
<!-- TEXT CONTENT - 1 
			============================================= -->
<section class="pt-100 ct-02 content-section division" style="margin-bottom: -50px;">
    <div class="container">
        <!-- SECTION CONTENT (ROW) -->
        <div class="row d-flex align-items-center">
            <!-- IMAGE BLOCK -->
            <div class="col-md-6">
                <div class="img-block left-column wow fadeInRight">
                    <img class="img-fluid" src="/assets4/images/integrations/Benefits API Zapier.png" alt="{{page.customText}}--benefits">
                </div>
            </div>
            <!-- TEXT BLOCK -->
            <div class="col-md-6">
                <div class="txt-block right-column wow fadeInLeft">
                    <!-- Title -->
                    <h2 class="s-38 w-700">What should you validate before rollout?</h2>
                    <!-- List -->
                    <ul class="simple-list">

                        <li class="list-item">
                            <p class="mb-0">Approved award event
                            </p>
                        </li>

                        <li class="list-item">
                            <p class="mb-0">Account permissions
                            </p>
                        </li>
                        <li class="list-item">
                            <p class="mb-0">Supported trigger and action
                            </p>
                        </li>
                        <li class="list-item">
                            <p class="mb-0">Recipient data mapping
                            </p>
                        </li>
                        <li class="list-item">
                            <p class="mb-0">Delivery and exception handling
                            </p>
                        </li>
                        <li class="list-item">
                            <p class="mb-0">Credential verification
                            </p>
                        </li>
                        <li class="list-item">
                            <p class="mb-0">Duplicate-event protection
                            </p>
                        </li>
                        <li class="list-item">
                            <p class="mb-0">Expected volume and plan limits
                            </p>
                        </li>

                    </ul>
                   
                </div>
            </div> <!-- END TEXT BLOCK -->


        </div> <!-- END SECTION CONTENT (ROW) -->


    </div> <!-- End container -->
</section> <!-- END TEXT CONTENT - 1 -->


