<!-- HERO-27
			============================================= -->
<section id="hero-27" class="gr--whitesmoke hero-section">
    <div class="hero-overlay bg--fixed">
        <div class="container text-center">


            <!-- HERO TEXT -->
            <div class="row justify-content-center">
                <div class="col-md-10 col-lg-9">
                    <div class="hero-27-txt wow fadeInUp">

                        <!-- Title -->
                        <h2 class="s-46 w-700">Connect {{page.customText}} to send certificates</h2>

                        <!-- Text -->
                        <p class="s-18">Send certificates and badges by connecting {{page.customText}} with CertifyMe. Easy to automate creating verifiable certificates and badges for your learning programs.
                        </p>

                        <!-- Buttons -->
                        <div class="btns-group">
                            <a href="https://zapier.com/apps/{{page.HeroButtonLinkText}}/integrations/certifyme" target="_blank"
                                class="btn r-04 btn--theme hover--theme">Access {{page.customText}} Integration</a>
                        </div>

                        <!-- Advantages List -->
                        <ul class="advantages ico-15 mt-25 clearfix">
                            <li>
                                <p>No credit card required</p>
                            </li>
                            <li class="advantages-links-divider">
                                <p><span class="flaticon-minus"></span></p>
                            </li>
                            <li>
                                <p>Cancel it anytime</p>
                            </li>
                            <li class="advantages-links-divider">
                                <p><span class="flaticon-minus"></span></p>
                            </li>
                            <li>
                                <p>Free 7 days trial</p>
                            </li>
                        </ul>

                    </div>
                </div>
            </div> <!-- END HERO TEXT -->

        </div> <!-- End container -->
    </div> <!-- End hero-overlay -->
</section> <!-- END HERO-27 -->

<!-- BRANDS-1
			============================================= -->
<div id="brands-1" class="pb-100 brands-section wow fadeInUp" style="margin-top: 40px; margin-bottom: -100px;">
    <div class="container">

        <!-- BRANDS CAROUSEL -->
        <div class="row">
            <div class="col text-center">
                <div class="owl-carousel brands-carousel-6">


                    <!-- BRAND LOGO IMAGE -->
                    <div class="brand-logo">
                        <a href="#"><img class="img-fluid" src="/assets4/images/University of europe.png"
                                alt="brand-logo"></a>
                    </div>


                    <!-- BRAND LOGO IMAGE -->
                    <div class="brand-logo">
                        <a href="#"><img class="img-fluid" src="/assets4/images/PMI logo greyscale.png"
                                alt="brand-logo"></a>
                    </div>


                    <!-- BRAND LOGO IMAGE -->
                    <div class="brand-logo">
                        <a href="#"><img class="img-fluid" src="/assets4/images/LEB.png" alt="brand-logo"></a>
                    </div>


                    <!-- BRAND LOGO IMAGE -->
                    <div class="brand-logo">
                        <a href="#"><img class="img-fluid" src="/assets4/images/IEEE greyscale.png"
                                alt="brand-logo"></a>
                    </div>


                    <!-- BRAND LOGO IMAGE -->
                    <div class="brand-logo">
                        <a href="#"><img class="img-fluid" src="/assets4/images/Harvardlogo.png" alt="brand-logo"></a>
                    </div>


                    <!-- BRAND LOGO IMAGE -->
                    <div class="brand-logo">
                        <a href="#"><img class="img-fluid" src="/assets4/images/Xebia (1).png" alt="brand-logo"></a>
                    </div>
                </div>
            </div>
        </div> <!-- END BRANDS CAROUSEL -->


    </div> <!-- End container -->
</div> <!-- END BRANDS-1 -->


<!-- BOX CONTENT
			============================================= -->
<section id="lnk-1" class="pt-80 ws-wrapper content-section">
    <div class="container">
        <div class="bc-1-wrapper bg--02 bg--fixed r-16">
            <div class="section-overlay">
                <div class="row d-flex align-items-center">
                    <!-- IMAGE BLOCK -->
                    <div class="col-md-12 order-md-2">
                        <div class="img-block wow ">
                            <img class="img-fluid" src="{{page.BoxImage}}" alt="{{page.customText}}--image">
                        </div>
                    </div>
                </div> <!-- End row -->
            </div> <!-- End section overlay -->
        </div> <!-- End content wrapper -->
    </div> <!-- End container -->
</section> <!-- END BOX CONTENT -->