<!-- HERO-5
			============================================= -->	
			<section id="hero-5" class="bg--scroll hero-section">
				<div class="container">	
					<div class="row d-flex align-items-center">


						<!-- HERO TEXT -->
						<div class="col-md-6">
							<div class="hero-5-txt wow fadeInRight">

								<!-- Title -->
								<h1 class="s-58 w-700">Connect {{page.customText}} with CertifyMe </h1>

								<!-- Text -->
								<p class="p-lg">How to connect {{page.customText}} with CertifyMe to send badges and certificates ?
								</p>

								<!-- Button -->	
								<a href="https://zapier.com/apps/{{page.HeroButtonLinkText}}/integrations/certifyme" class="btn r-04 btn--theme hover--theme">Access {{page.customText}} Integration</a>

							</div>
						</div>	<!-- END HERO TEXT -->	


						<!-- HERO IMAGE -->
						<div class="col-md-6">	
							<div class="hero-5-img wow fadeInLeft">	
								<img class="img-fluid" src="/assets4/images/img-18.png" alt="Connect {{page.customText}} with CertifyMe">					
							</div>
						</div>	
						

					</div>    <!-- End row --> 	
				</div>	   <!-- End container --> 


				<!-- WAVE SHAPE BOTTOM -->	
				<div class="wave-shape-bottom">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 170"><path fill-opacity="1" d="M0,160L120,160C240,160,480,160,720,138.7C960,117,1200,75,1320,53.3L1440,32L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path></svg>
				</div>


			</section>	<!-- END HERO-5 -->


<!-- HERO-27
			============================================= -->
<section id="hero-27" >
    <div class="hero-overlay bg--fixed">
        <div class="container text-center">


            <!-- HERO TEXT -->
            <div class="row justify-content-center">
                <div class="col-md-10 col-lg-9">
                    <div class="hero-27-txt wow fadeInUp">

                        <!-- Title -->
                        

                        <!-- Text -->
                        

                        <!-- Buttons -->
                        <div class="btns-group">
                            <a href="https://zapier.com/apps/{{page.HeroButtonLinkText}}/integrations/certifyme" target="_blank"
                                class="btn r-04 btn--theme hover--theme">Access {{page.customText}} Integration</a>
                        </div>
<div style="text-align: left; margin-top: 30px;">
                        <h2>Benefits of Integrating {{page.customText}} with CertifyMe</h2>
    <p>Integrating {{page.customText}} with CertifyMe, a credential platform, can bring several benefits to both learners and organizations. Here's why such integration might be necessary:</p>

    <h4>Streamlined Credentialing Process for {{page.customText}}:</h4>
    <p>Integrating the {{page.customText}} with CertifyMe enables a seamless process for awarding certificates and badges to learners upon course completion. This streamlines administrative tasks and ensures that learners receive their credentials promptly.</p>

    <h4>Enhanced Learner Motivation:</h4>
    <p>Offering certificates and badges through CertifyMe can serve as a powerful motivator for learners. It provides tangible recognition of their achievements, encouraging them to engage more deeply with the learning material and complete courses successfully.</p>

    <h4>Improved Credential Verification:</h4>
    <p>Certificates and badges issued through CertifyMe are often digitally signed or verified, enhancing their credibility and authenticity. Integration with the {{page.customText}} ensures that learners' credentials are securely stored and easily accessible for verification purposes.</p>

    <h4>Increased Professional Recognition:</h4>
    <p>Certificates and badges earned through CertifyMe carry weight in professional circles, as they demonstrate mastery of specific skills or knowledge areas. Integration with the {{page.customText}} enables learners to showcase their achievements directly within their profiles or resumes, enhancing their professional recognition and career prospects.</p>

    <h4>Data Insights and Analytics:</h4>
    <p>Integrating CertifyMe with the {{page.customText}} allows organizations to gather valuable data and insights into learners' credentialing activities. This data can inform decisions regarding course offerings, content optimization, and learner engagement strategies.</p>

    <h4>Compliance and Accreditation:</h4>
    <p>For organizations operating in regulated industries or those seeking accreditation, integrating CertifyMe with the {{page.customText}} can help ensure compliance with industry standards and regulatory requirements. It provides a standardized approach to credentialing and documentation, facilitating audits and accreditation processes.</p>

    <h4>Brand Consistency and Recognition:</h4>
    <p>By integrating CertifyMe with the {{page.customText}}, organizations can maintain brand consistency in the certificates and badges issued to learners. This reinforces the organization's identity and promotes recognition within the industry or community.</p>

    <p>Overall, integrating  {{page.customText}} with CertifyMe offers a range of benefits, including streamlined credentialing processes, enhanced learner motivation, improved credential verification, increased professional recognition, access to valuable data insights, compliance with industry standards, and strengthened brand recognition.</p>
</div >
                        <!-- Advantages List -->
                        <ul class="advantages ico-15 mt-25 clearfix">
                            <li>
                                <p>No credit card required</p>
                            </li>
                            <li class="advantages-links-divider">
                                <p><span class="flaticon-minus"></span></p>
                            </li>
                            <li>
                                <p>Cancel it anytime</p>
                            </li>
                            <li class="advantages-links-divider">
                                <p><span class="flaticon-minus"></span></p>
                            </li>
                            <li>
                                <p>Free 7 days trial</p>
                            </li>
                        </ul>

                    </div>
                </div>
            </div> <!-- END HERO TEXT -->

        </div> <!-- End container -->
    </div> <!-- End hero-overlay -->
</section> <!-- END HERO-27 -->

<!-- BRANDS-1
			============================================= -->
<div id="brands-1" class="pb-100 brands-section wow fadeInUp" style="margin-top: 40px; margin-bottom: -100px;">
    <div class="container">

        <!-- BRANDS CAROUSEL -->
        <div class="row">
            <div class="col text-center">
                <div class="owl-carousel brands-carousel-6">


                    <!-- BRAND LOGO IMAGE -->
                    <div class="brand-logo">
                        <a href="#"><img class="img-fluid" src="/assets4/images/University of europe.png"
                                alt="Connect {{page.customText}} with CertifyMe brand-logo"></a>
                    </div>


                    <!-- BRAND LOGO IMAGE -->
                    <div class="brand-logo">
                        <a href="#"><img class="img-fluid" src="/assets4/images/PMI logo greyscale.png"
                                alt="Connect {{page.customText}} with CertifyMe brand-logo"></a>
                    </div>


                    <!-- BRAND LOGO IMAGE -->
                    <div class="brand-logo">
                        <a href="#"><img class="img-fluid" src="/assets4/images/LEB.png" alt="Connect {{page.customText}} with CertifyMe brand-logo"></a>
                    </div>


                    <!-- BRAND LOGO IMAGE -->
                    <div class="brand-logo">
                        <a href="#"><img class="img-fluid" src="/assets4/images/IEEE greyscale.png"
                                alt="Connect {{page.customText}} with CertifyMe brand-logo"></a>
                    </div>


                    <!-- BRAND LOGO IMAGE -->
                    <div class="brand-logo">
                        <a href="#"><img class="img-fluid" src="/assets4/images/Harvardlogo.png" alt="Connect {{page.customText}} with CertifyMe brand-logo"></a>
                    </div>


                    <!-- BRAND LOGO IMAGE -->
                    <div class="brand-logo">
                        <a href="#"><img class="img-fluid" src="/assets4/images/Xebia (1).png" alt=" Connect {{page.customText}} with CertifyMe brand-logo"></a>
                    </div>
                </div>
            </div>
        </div> <!-- END BRANDS CAROUSEL -->


    </div> <!-- End container -->
</div> <!-- END BRANDS-1 -->


<!-- BOX CONTENT
			============================================= -->
<section id="lnk-1" class="pt-80 ws-wrapper content-section">
    <div class="container">
        <div class="bc-1-wrapper bg--02 bg--fixed r-16">
            <div class="section-overlay">
                <div class="row d-flex align-items-center">
                    <!-- IMAGE BLOCK -->
                    <div class="col-md-12 order-md-2">
                        <div class="img-block wow ">
                            <img class="img-fluid" src="{{page.BoxImage}}" alt="Connect {{page.customText}} with CertifyMe to send badges and certificates">
                        </div>
                    </div>
                </div> <!-- End row -->
            </div> <!-- End section overlay -->
        </div> <!-- End content wrapper -->
    </div> <!-- End container -->
</section> <!-- END BOX CONTENT -->