{% if {{page.Feature1Image}} %}
<!-- TEXT CONTENT - 1 
			============================================= -->
<section class="pt-100 ct-02 content-section division" style="margin-bottom: -90px;">
    <div class="container">


        <!-- SECTION CONTENT (ROW) -->
        <div class="row d-flex align-items-center">


            <!-- IMAGE BLOCK -->
            <div class="col-md-6">
                <div class="img-block left-column wow fadeInRight">
                    <img class="img-fluid" src="{{page.Feature1Image}}" alt="{{page.Feature1Title}}">
                </div>
            </div>


            <!-- TEXT BLOCK -->
            <div class="col-md-6">
                <div class="txt-block right-column wow fadeInLeft">

                    <!-- Title -->
                    <h2 class="s-38 w-700">{{page.Feature1Title}}</h2>

                    <!-- Text -->
                    <p>{{page.Feature1Text}}
                    </p>
                    <!-- Link -->
                    <div class="txt-block-tra-link mt-25">
                        <a href="https://info.certifyme.online/talk-with-expert" target="_blank"
                            class="tra-link ico-20 color--theme">
                            Talk to Experts <span class="flaticon-next"></span>
                        </a>
                    </div>

                </div>
            </div> <!-- END TEXT BLOCK -->


        </div> <!-- END SECTION CONTENT (ROW) -->


    </div> <!-- End container -->
</section> <!-- END TEXT CONTENT - 1 -->
{% endif %}

{% if {{page.Feature2Image}} %}
<!-- TEXT CONTENT - 2
			============================================= -->
<section class="pt-100 ct-01 content-section division">
    <div class="container">


        <!-- SECTION CONTENT (ROW) -->
        <div class="row d-flex align-items-center">


            <!-- TEXT BLOCK -->
            <div class="col-md-6 order-last order-md-2">
                <div class="txt-block left-column wow fadeInRight">


                    <!-- TEXT BOX -->
                    <div class="txt-box">

                        <!-- Title -->
                        <h5 class="s-38 w-700">{{page.Feature2Title}}</h5>

                        <!-- Text -->
                        <p>{{page.Feature2Text}}
                        </p>

                    </div> <!-- END TEXT BOX -->
                    <!-- Link -->
                    <div class="txt-block-tra-link mt-25">
                        <a href="https://info.certifyme.online/talk-with-expert" target="_blank"
                            class="tra-link ico-20 color--theme">
                            Talk to Experts <span class="flaticon-next"></span>
                        </a>
                    </div>

                </div>
            </div> <!-- END TEXT BLOCK -->


            <!-- IMAGE BLOCK -->
            <div class="col-md-6 order-first order-md-2">
                <div class="img-block right-column wow fadeInLeft">
                    <img class="img-fluid" src="{{page.Feature2Image}}" alt="{{page.Feature2Title}}">
                </div>
            </div>


        </div> <!-- END SECTION CONTENT (ROW) -->


    </div> <!-- End container -->
</section> <!-- END TEXT CONTENT - 2 -->
{% endif %}

{% if {{page.Feature3Image}} %}
<!-- TEXT CONTENT - 3 
			============================================= -->
<section class="pt-100 ct-02 content-section division" style="margin-top: -90px;">
    <div class="container">


        <!-- SECTION CONTENT (ROW) -->
        <div class="row d-flex align-items-center">


            <!-- IMAGE BLOCK -->
            <div class="col-md-6">
                <div class="img-block left-column wow fadeInRight">
                    <img class="img-fluid" src="{{page.Feature3Image}}" alt="{{page.Feature3Title}}">
                </div>
            </div>


            <!-- TEXT BLOCK -->
            <div class="col-md-6">
                <div class="txt-block right-column wow fadeInLeft">

                    <!-- Title -->
                    <h2 class="s-38 w-700">{{page.Feature3Title}}</h2>

                    <!-- Text -->
                    <p>{{page.Feature3Text}}
                    </p>

                    <!-- Link -->
                    <div class="txt-block-tra-link mt-25">
                        <a href="https://info.certifyme.online/talk-with-expert" target="_blank"
                            class="tra-link ico-20 color--theme">
                            Talk to Experts <span class="flaticon-next"></span>
                        </a>
                    </div>

                </div>
            </div> <!-- END TEXT BLOCK -->


        </div> <!-- END SECTION CONTENT (ROW) -->


    </div> <!-- End container -->
</section> <!-- END TEXT CONTENT - 3 -->
{% endif %}

{% if {{page.Feature4Image}} %}
<!-- TEXT CONTENT - 4
			============================================= -->
<section class="pt-100 ct-01 content-section division" style="margin-top: -90px;">
    <div class="container">


        <!-- SECTION CONTENT (ROW) -->
        <div class="row d-flex align-items-center">


            <!-- TEXT BLOCK -->
            <div class="col-md-6 order-last order-md-2">
                <div class="txt-block left-column wow fadeInRight">


                    <!-- TEXT BOX -->
                    <div class="txt-box">

                        <!-- Title -->
                        <h5 class="s-38 w-700">{{page.Feature4Title}}</h5>

                        <!-- Text -->
                        <p>{{page.Feature4Text}}
                        </p>

                    </div> <!-- END TEXT BOX -->

                    <!-- Link -->
                    <div class="txt-block-tra-link mt-25">
                        <a href="https://info.certifyme.online/talk-with-expert" target="_blank"
                            class="tra-link ico-20 color--theme">
                            Talk to Experts <span class="flaticon-next"></span>
                        </a>
                    </div>

                </div>
            </div> <!-- END TEXT BLOCK -->


            <!-- IMAGE BLOCK -->
            <div class="col-md-6 order-first order-md-2">
                <div class="img-block right-column wow fadeInLeft">
                    <img class="img-fluid" src="{{page.Feature4Image}}" alt="{{page.Feature4Title}}">
                </div>
            </div>


        </div> <!-- END SECTION CONTENT (ROW) -->


    </div> <!-- End container -->
</section> <!-- END TEXT CONTENT - 4 -->
{% endif %}


{% if {{page.Feature5Image}} %}
<!-- TEXT CONTENT - 5
			============================================= -->
<section class="pt-100 ct-02 content-section division">
    <div class="container">


        <!-- SECTION CONTENT (ROW) -->
        <div class="row d-flex align-items-center">


            <!-- IMAGE BLOCK -->
            <div class="col-md-6">
                <div class="img-block left-column wow fadeInRight">
                    <img class="img-fluid" src="{{page.Feature5Image}}" alt="{{page.Feature5Title}}">
                </div>
            </div>


            <!-- TEXT BLOCK -->
            <div class="col-md-6">
                <div class="txt-block right-column wow fadeInLeft">

                    <!-- Title -->
                    <h2 class="s-38 w-700">{{page.Feature5Title}}</h2>

                    <!-- Text -->
                    <p>{{page.Feature5Text}}
                    </p>

                    <!-- Button -->
                    <a href="https://info.certifyme.online/talk-with-expert" target="_blank"
                        class="btn btn-sm r-04 btn--theme hover--tra-black">
                        Get Started - it's free
                    </a>

                </div>
            </div> <!-- END TEXT BLOCK -->


        </div> <!-- END SECTION CONTENT (ROW) -->


    </div> <!-- End container -->
</section> <!-- END TEXT CONTENT - 5 -->
{% endif %}