<!-- HERO-27
			============================================= -->
<section id="hero-27" class="gr--whitesmoke hero-section">
    <div class="hero-overlay bg--fixed">
        <div class="container text-center">


            <!-- HERO TEXT -->
            <div class="row justify-content-center">
                <div class="col-md-10 col-lg-9">
                    <div class="hero-27-txt wow fadeInUp">

                        <!-- Title -->
                        <h2 class="s-46 w-700">{{page.HeroTitle}}</h2>

                        <!-- Text -->
                        <p class="s-18">{{page.HeroText}}
                        </p>

                        <!-- Buttons -->
                        <div class="btns-group">
                            <a href="https://go.certifyme.online/request-demo"
                                class="btn r-04 btn--theme hover--theme">Request A Demo</a>
                            <a href="https://www.youtube.com/watch?v=TJMwk6qIxSc"
                                class="video-popup1 btn r-04 btn--tra-black hover--theme ico-20 ico-right">
                                See how it works <span class="flaticon-play"></span>
                            </a>
                        </div>

                        <!-- Advantages List -->
                        <ul class="advantages ico-15 mt-25 clearfix">
                            <li>
                                <p>No credit card required</p>
                            </li>
                            <li class="advantages-links-divider">
                                <p><span class="flaticon-minus"></span></p>
                            </li>
                            <li>
                                <p>Cancel it anytime</p>
                            </li>
                            <li class="advantages-links-divider">
                                <p><span class="flaticon-minus"></span></p>
                            </li>
                            <li>
                                <p>Free 7 days trial</p>
                            </li>
                        </ul>

                    </div>
                </div>
            </div> <!-- END HERO TEXT -->


        </div> <!-- End container -->
    </div> <!-- End hero-overlay -->
</section> <!-- END HERO-27 -->

<!-- BRANDS-1
			============================================= -->
<div id="brands-1" class="pb-100 brands-section wow fadeInUp" style="margin-top: 40px; margin-bottom: -100px;">
    <div class="container">


        <!-- BRANDS TITLE -->
        <!-- <div class="row justify-content-center">
            <div class="col-md-10 col-lg-9">
                <div class="brands-title mb-50">
                    <h5 class="s-17">The Most Trusted Digital Credential Platform</h5>
                </div>
            </div>
        </div> -->

        <!-- BRANDS CAROUSEL -->
        <div class="row">
            <div class="col text-center">
                <div class="owl-carousel brands-carousel-6">


                    <!-- BRAND LOGO IMAGE -->
                    <div class="brand-logo">
                        <a href="#"><img class="img-fluid" src="/assets4/images/University of europe.png"
                                alt="brand-logo"></a>
                    </div>


                    <!-- BRAND LOGO IMAGE -->
                    <div class="brand-logo">
                        <a href="#"><img class="img-fluid" src="/assets4/images/PMI logo greyscale.png"
                                alt="brand-logo"></a>
                    </div>


                    <!-- BRAND LOGO IMAGE -->
                    <div class="brand-logo">
                        <a href="#"><img class="img-fluid" src="/assets4/images/LEB.png" alt="brand-logo"></a>
                    </div>


                    <!-- BRAND LOGO IMAGE -->
                    <div class="brand-logo">
                        <a href="#"><img class="img-fluid" src="/assets4/images/IEEE greyscale.png"
                                alt="brand-logo"></a>
                    </div>


                    <!-- BRAND LOGO IMAGE -->
                    <div class="brand-logo">
                        <a href="#"><img class="img-fluid" src="/assets4/images/Harvardlogo.png" alt="brand-logo"></a>
                    </div>


                    <!-- BRAND LOGO IMAGE -->
                    <div class="brand-logo">
                        <a href="#"><img class="img-fluid" src="/assets4/images/Xebia (1).png" alt="brand-logo"></a>
                    </div>
                </div>
            </div>
        </div> <!-- END BRANDS CAROUSEL -->


    </div> <!-- End container -->
</div> <!-- END BRANDS-1 -->


<!-- BOX CONTENT
			============================================= -->
<section id="lnk-1" class="pt-80 ws-wrapper content-section">
    <div class="container">
        <div class="bc-1-wrapper bg--02 bg--fixed r-16">
            <div class="section-overlay">
                <div class="row d-flex align-items-center">


                    <!-- TEXT BLOCK -->
                    <div class="col-md-6 order-last order-md-2">
                        <div class="txt-block left-column wow fadeInRight">

                            <!-- Title -->
                            <h2 class="s-38 w-700">{{page.BoxContentTitle}}</h2>

                            <!-- Text -->
                            <p class="s-18">{{page.BoxContentText}}
                            </p>

                            <!-- List -->
                            <!-- <ul class="simple-list">

                                <li class="list-item">
                                    <p>Cursus purus suscipit vitae cubilia magnis volute egestas vitae sapien
                                        turpis sodales magna
                                    </p>
                                </li>

                                <li class="list-item">
                                    <p class="mb-0">Tempor sapien quaerat an ipsum laoreet purus and sapien dolor
                                        an ultrice ipsum aliquam congue
                                    </p>
                                </li>

                            </ul> -->

                            <!-- Link -->
                            <div class="txt-block-tra-link mt-25">
                                <a href="https://go.certifyme.online/talk-with-expert" target="_blank"
                                    class="tra-link ico-20 color--theme">
                                    Talk to our Experts <span class="flaticon-next"></span>
                                </a>
                            </div>

                        </div>
                    </div> <!-- END TEXT BLOCK -->


                    <!-- IMAGE BLOCK -->
                    <div class="col-md-6 order-first order-md-2">
                        <div class="img-block right-column wow fadeInLeft">
                            <img class="img-fluid" src="{{page.BoxImage}}" alt="{{page.BoxContentTitle}}">
                        </div>
                    </div>


                </div> <!-- End row -->
            </div> <!-- End section overlay -->
        </div> <!-- End content wrapper -->
    </div> <!-- End container -->
</section> <!-- END BOX CONTENT -->