{% if {{page.Q1Title}} %}
<!-- FAQs-3
			============================================= -->
<section id="faqs-3" class="py-100 faqs-section">
    <div class="container">


        <!-- SECTION TITLE -->
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-9">
                <div class="section-title mb-70">

                    <!-- Title -->
                    <h2 class="s-50 w-700">{{page.FAQTitle}}</h2>

                    <!-- Text -->
                    <p class="s-21 color--grey">{{page.FAQText}}</p>

                </div>
            </div>
        </div>


        <!-- FAQs-3 QUESTIONS -->
        <div class="faqs-3-questions">
            <div class="row">


                <!-- QUESTIONS HOLDER -->
                <div class="col-lg-6">
                    <div class="questions-holder">


                        <!-- QUESTION #1 -->
                        <div class="question mb-35 wow fadeInUp">

                            <!-- Question -->
                            <h5 class="s-22 w-700"><span>1.</span> {{page.Q1Title}}</h5>

                            <!-- Answer -->
                            <p class="color--grey">{{page.Q1Text}}
                            </p>

                        </div>


                        <!-- QUESTION #2 -->
                        <div class="question mb-35 wow fadeInUp">

                            <!-- Question -->
                            <h5 class="s-22 w-700"><span>2.</span> {{page.Q2Title}}</h5>

                            <!-- Answer -->
                            <p class="color--grey">{{page.Q2Text}}
                            </p>

                        </div>
                    </div>
                </div> <!-- END QUESTIONS HOLDER -->

                <!-- QUESTIONS WRAPPER -->
                <div class="col-lg-6">
                    <div class="questions-holder">


                        <!-- QUESTION #4 -->
                        <div class="question mb-35 wow fadeInUp">

                            <!-- Question -->
                            <h5 class="s-22 w-700"><span>3.</span> {{page.Q3Title}}</h5>

                            <!-- Answer -->
                            <p class="color--grey">{{page.Q3Text}}
                            </p>
                        </div>


                        <!-- QUESTION #5 -->
                        <div class="question mb-35 wow fadeInUp">

                            <!-- Question -->
                            <h5 class="s-22 w-700"><span>4.</span> {{page.Q4Title}}</h5>

                            <!-- Answer -->
                            <p class="color--grey">{{page.Q4Text}}
                            </p>

                        </div>
                    </div>
                </div> <!-- END QUESTIONS HOLDER -->


            </div> <!-- End row -->
        </div> <!-- END FAQs-3 QUESTIONS -->


        <!-- MORE QUESTIONS LINK -->
        <div class="row">
            <div class="col">
                <div class="more-questions mt-40">
                    <div class="more-questions-txt bg--white-400 r-100">
                        <p class="p-lg">Have any questions?
                            <a href="/FAQ" class="color--theme">Learn More</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>


    </div> <!-- End container -->
</section> <!-- END FAQs-3 -->
{% endif %}