<!-- BLOG-1
			============================================= -->
<section id="blog-1" class="py-100 blog-section division" style="margin-bottom: -50px;">
    <div class="container">


        <!-- SECTION TITLE -->
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-9">
                <div class="section-title mb-70">

                    <!-- Title -->
                    <h2 class="s-50 w-700">Explore These Valuable Resources!</h2>

                    <!-- Text -->
                    <p class="s-18 color--grey">Access our Extensive Resource Library and Elevate Your Digital Credential Journey.</p>

                </div>
            </div>
        </div>


        <div class="row">


            <!-- BLOG POST #1 -->
            <div class="col-md-6 col-lg-4">
                <div id="bp-1-1" class="blog-post wow fadeInRight">

                    <!-- BLOG POST IMAGE -->
                    <div class="blog-post-img mb-35">
                        <img class="img-fluid r-16" src="/assets4/images/blog/Blog what are digital credentials.png" alt="blog-post-image">
                    </div>

                    <!-- BLOG POST TEXT -->
                    <div class="blog-post-txt">

                        <!-- Post Tag -->
                        <span class="post-tag color--theme">Latest Blog</span>

                        <!-- Post Link -->
                        <h6 class="s-20 w-700">
                            <a href="https://certifyme.online/blog/What-is-a-Digital-Credential.html"
                                target="_blank">What Are Digital Credentials?</a>
                        </h6>

                        <!-- Text -->
                        <p>A tamper-proof evidence of achievements that can transform the way skilled professionals
                            showcase their credentials on a global scale.
                        </p>

                        <!-- Post Meta -->
                        <div class="blog-post-meta mt-20">
                            <ul class="post-meta-list ico-10">
                                <li>
                                    <p class="p-sm w-500">By Debarati S.</p>
                                </li>
                                <li class="meta-list-divider">
                                    <p><span class="flaticon-minus"></span></p>
                                </li>
                                <li>
                                    <p class="p-sm">Jul 05, 2023</p>
                                </li>
                            </ul>
                        </div>

                    </div> <!-- END BLOG POST TEXT -->

                </div>
            </div> <!-- END BLOG POST #1 -->


            <!-- BLOG POST #2 -->
            <div class="col-md-6 col-lg-4">
                <div id="bp-1-2" class="blog-post wow fadeInUp">

                    <!-- BLOG POST IMAGE -->
                    <div class="blog-post-img mb-35">
                        <img class="img-fluid r-16" src="/assets4/images/blog/case study (3).png" alt="blog-post-image">
                    </div>

                    <!-- BLOG POST TEXT -->
                    <div class="blog-post-txt">

                        <!-- Post Tag -->
                        <span class="post-tag color--green-400">Case Study</span>

                        <!-- Post Link -->
                        <h6 class="s-20 w-700">
                            <a href="https://go.certifyme.online/case-studies" target="_blank">Hear More From Companies
                                Like Yours
                            </a>
                        </h6>

                        <!-- Text -->
                        <p>How CertifyMe Empowers Global Brands to Achieve Remarkable Returns on Investment.</p>

                        <!-- Post Meta -->
                        <div class="blog-post-meta mt-20">
                            <ul class="post-meta-list ico-10">
                                <li>
                                    <p class="p-sm w-500">By Debarati S.</p>
                                </li>
                                <li class="meta-list-divider">
                                    <p><span class="flaticon-minus"></span></p>
                                </li>
                                <li>
                                    <p class="p-sm">Jun 14, 2023</p>
                                </li>
                            </ul>
                        </div>

                    </div> <!-- END BLOG POST TEXT -->

                </div>
            </div> <!-- END BLOG POST #2 -->


            <!-- BLOG POST #3 -->
            <div class="col-md-12 col-lg-4">
                <div id="bp-1-3" class="blog-post wow fadeInLeft">

                    <!-- BLOG POST IMAGE -->
                    <div class="blog-post-img mb-35">
                        <img class="img-fluid r-16" src="/assets4/images/blog/videos.png" alt="blog-post-image">
                    </div>

                    <!-- BLOG POST TEXT -->
                    <div class="blog-post-txt">

                        <!-- Post Tag -->
                        <span class="post-tag color--purple-400">Tutorials</span>

                        <!-- Post Link -->
                        <h6 class="s-20 w-700">
                            <a href="https://youtube.com/playlist?list=PLIUyNKOst6-lxf1MQ5A1G_La2ZNbXQR22"
                                target="_blank">Watch Our Tutorial Videos</a>
                        </h6>

                        <!-- Text -->
                        <p>Check how to create, issue and manage credentials more effectively.
                        </p>

                        <!-- Post Meta -->
                        <div class="blog-post-meta mt-20">
                            <ul class="post-meta-list ico-10">
                                <li>
                                    <p class="p-sm w-500">By CertifyMe</p>
                                </li>
                                <li class="meta-list-divider">
                                    <p><span class="flaticon-minus"></span></p>
                                </li>
                                <li>
                                    <p class="p-sm">Aug 19, 2022</p>
                                </li>
                            </ul>
                        </div>

                    </div> <!-- END BLOG POST TEXT -->

                </div>
            </div> <!-- END BLOG POST #3 -->


        </div> <!-- End row -->
    </div> <!-- End container -->
</section> <!-- END BLOG-1 -->