<!-- FAQs-2
			============================================= -->
<section id="faqs-2" class="gr--whitesmoke pb-30 inner-page-hero faqs-section division">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-11 col-xl-10">


                <!-- INNER PAGE TITLE -->
                <div class="inner-page-title">
                    <h2 class="s-52 w-700">Questions & Answers</h2>
                    <p class="p-lg">Some common questions we get about CertifyMe</p>
                </div>


                <!-- QUESTIONS ACCORDION -->
                <div class="accordion-wrapper">
                    <ul class="accordion">


                        <!-- QUESTIONS CATEGORY #1 -->
                        <li class="accordion-item is-active">


                            <!-- CATEGORY HEADER -->
                            <div class="accordion-thumb">
                                <h4 class="s-28 w-700">Getting Started</h4>
                            </div>


                            <!-- CATEGORY ANSWERS -->
                            <div class="accordion-panel">


                                <!-- QUESTION #1 -->
                                <div class="accordion-panel-item mb-35">

                                    <!-- Question -->
                                    <div class="faqs-2-question">
                                        <h5 class="s-22 w-700"><span>1.</span> How do I create an account on
                                            CertifyMe?</h5>
                                    </div>
                                    <!-- Answer -->
                                    <div class="faqs-2-answer color--grey">

                                        <!-- Text -->
                                        <ul class="simple-list">

                                            <li class="list-item">
                                                <p>Visit the <a href="https://www.certifyme.online/"
                                                        target="_blank">Home Page</a> of the CertifyMe website
                                                    <a href="https://www.certifyme.online/" target="_blank">here</a>.
                                                </p>
                                            </li>

                                            <li class="list-item">
                                                <p>Click on the <a
                                                        href="https://credential.certifyme.online/auth/preregister/nav@certifyme.onlone"
                                                        target="_blank">"Try for Free"</a> button located at the
                                                    top
                                                    right side of the page.
                                                </p>
                                            </li>

                                            <li class="list-item">
                                                <p>You will be directed to the Sign Up or account creation page.
                                                    Fill in the required information ( only your business email
                                                    address) and press the Signup button.<br><i>[Note: Don’t
                                                        miss
                                                        the I am not a robot button]</i>
                                                </p>
                                            </li>

                                            <li class="list-item">
                                                <p>You will be redirected to our <a
                                                        href="https://credential.certifyme.online/auth/register/"
                                                        target="_blank">Registration page</a>. Fill in all the
                                                    essential details here and press the Register button.
                                                </p>
                                            </li>

                                        </ul>

                                        <!-- Text -->
                                        <p>You are now ready to access your CertifyMe dashboard and start
                                            issuing and managing your credentials.
                                            If you encounter any issues during the account creation process,
                                            please reach out to our support team for assistance at
                                            <a href=" https://info.certifyme.online/talk-with-expert"
                                                target="_blank">info@certifyme.online</a>.
                                        </p>

                                    </div>

                                </div> <!-- END QUESTION #1 -->


                                <!-- QUESTION #2 -->
                                <div class="accordion-panel-item mb-35">

                                    <!-- Question -->
                                    <div class="faqs-2-question">
                                        <h5 class="s-22 w-700"><span>2.</span> What types of credentials can be
                                            issued using CertifyMe?</h5>
                                    </div>

                                    <!-- Answer -->
                                    <div class="faqs-2-answer color--grey">

                                        <!-- Text -->
                                        <p>CertifyMe allows you to issue a wide range of credentials such as:
                                        </p>

                                        <!-- Text -->
                                        <ul class="simple-list">

                                            <li class="list-item">
                                                <p><b>Certificates:</b> CertifyMe enables you to issue
                                                    beautifully
                                                    designed digital certificates to acknowledge completion of
                                                    courses, programs, or training.
                                                </p>
                                            </li>

                                            <li class="list-item">
                                                <p><b>Diplomas:</b> You can issue digital diplomas to recognize
                                                    the
                                                    successful completion of higher education programs or
                                                    specialized courses.

                                                </p>
                                            </li>

                                            <li class="list-item">
                                                <p><b>Badges:</b> CertifyMe supports the issuance of digital
                                                    badges,
                                                    which are graphical representations of achievements or
                                                    skills acquired.

                                                </p>
                                            </li>

                                            <li class="list-item">
                                                <p><b>Micro-credentials:</b> You can issue micro-credentials,
                                                    such as
                                                    digital badges or certificates, to recognize specific
                                                    skills, competencies, or achievements within a larger
                                                    qualification framework.
                                                </p>
                                            </li>

                                            <li class="list-item">
                                                <p><b>Digital Transcripts:</b> CertifyMe enables the creation
                                                    and
                                                    issuance of secure and tamper-proof digital transcripts,
                                                    providing a comprehensive record of academic achievements.
                                                </p>
                                            </li>

                                            <li class="list-item">
                                                <p><b>Digital Degrees:</b> CertifyMe allows the issuance of
                                                    digital
                                                    degrees, providing a digital representation of traditional
                                                    degrees earned from accredited institutions.
                                                </p>
                                            </li>

                                        </ul>

                                        <p>These are just a few examples of the credentials that institutes can
                                            issue using the CertifyMe account. The platform offers flexible
                                            plans to customize and tailor credentials to meet specific
                                            organizational requirements and branding guidelines.</p>

                                    </div>

                                </div> <!-- END QUESTION #2 -->


                                <!-- QUESTION #3 -->
                                <div class="accordion-panel-item mb-35">

                                    <!-- Question -->
                                    <div class="faqs-2-question">
                                        <h5 class="s-22 w-700"><span>3.</span> Can I see a demo?</h5>
                                    </div>

                                    <!-- Answer -->
                                    <div class="faqs-2-answer color--grey">

                                        <p>Yes. Check the demo <a href=" https://info.certifyme.online/request-demo"
                                                target="_blank">here</a>!</p>

                                    </div>

                                </div> <!-- END QUESTION #3 -->


                                <!-- QUESTION #4 -->
                                <div class="accordion-panel-item">

                                    <!-- Question -->
                                    <div class="faqs-2-question">
                                        <h5 class="s-22 w-700"><span>4.</span> Can we customize the credentials?
                                        </h5>
                                    </div>

                                    <!-- Answer -->
                                    <div class="faqs-2-answer color--grey">

                                        <!-- Text -->
                                        <p>Yes, you can include custom data and logos in the credentials.
                                        </p>

                                    </div>

                                </div> <!-- END QUESTION #4 -->

                                <!-- QUESTION #5 -->
                                <div class="accordion-panel-item">

                                    <!-- Question -->
                                    <div class="faqs-2-question">
                                        <h5 class="s-22 w-700"><span>5.</span> How can I customize the
                                            appearance of my certificates and badges?</h5>
                                    </div>

                                    <!-- Answer -->
                                    <div class="faqs-2-answer color--grey">

                                        <!-- Text -->
                                        <p>Choose a whitelabel package for URL, header, footer, and navbar
                                            customization. Check what else you can do with the <a
                                                href="https://www.certifyme.online/pricing" target="_blank">enterprise
                                                plan</a>.
                                            Want to talk to an expert? They are available <a
                                                href=" https://info.certifyme.online/talk-with-expert"
                                                target="_blank">here</a>!
                                        </p>

                                    </div>

                                </div> <!-- END QUESTION #5 -->

                                <!-- QUESTION #6 -->
                                <div class="accordion-panel-item">

                                    <!-- Question -->
                                    <div class="faqs-2-question">
                                        <h5 class="s-22 w-700"><span>6.</span> What are the pricing plans for
                                            CertifyMe's services?
                                        </h5>
                                    </div>

                                    <!-- Answer -->
                                    <div class="faqs-2-answer color--grey">

                                        <!-- Text -->
                                        <p>We have three plans to suit your needs: Standard Plan, Business Plan
                                            & Enterprise Solutions. Get the pricing details <a
                                                href="https://www.certifyme.online/pricing" target="_blank">here</a>.
                                        </p>

                                    </div>

                                </div> <!-- END QUESTION #6 -->


                            </div> <!-- END CATEGORY ANSWERS -->


                        </li> <!-- END QUESTIONS CATEGORY #1 -->


                        <!-- QUESTIONS CATEGORY #2 -->
                        <li class="accordion-item">


                            <!-- CATEGORY HEADER -->
                            <div class="accordion-thumb">
                                <h4 class="s-28 w-700">Manage Your Account</h4>
                            </div>


                            <!-- CATEGORY ANSWERS -->
                            <div class="accordion-panel">


                                <!-- QUESTION #1 -->
                                <div class="accordion-panel-item mb-35">

                                    <!-- Question -->
                                    <div class="faqs-2-question">
                                        <h5 class="s-22 w-700"><span>1.</span> How do I update my account
                                            information, such as my name or email address?
                                        </h5>
                                    </div>

                                    <!-- Answer -->
                                    <div class="faqs-2-answer color--grey">

                                        <p>For the first-time registration protocol, you can update your
                                            information from the Registration page <a
                                                href="https://credential.certifyme.online/auth/register/"
                                                target="_blank">here</a>. For already registered
                                            customers, they can get in touch with the customer support team <a
                                                href=" https://info.certifyme.online/talk-with-expert"
                                                target="_blank">here</a>
                                            for assistance or they can mail at <i>info@certifyme.online</i></p>

                                        <!-- Text -->
                                        <!-- <ol class="digit-list">

													<li class="list-item">
														<p>Curabitur ac dapibus libero eu congue tristique neque</p>
													</li>

													<li class="list-item">
														<p>Sagittis congue augue egestas volutpat egestas</p>
													</li>

													<li class="list-item">
														<p>An aliquam justo suscipit congue augue</p>
													</li>

													<li class="list-item">
														<p>Gestas integer congue a lectus porta</p>
													</li>

												</ol> -->

                                    </div>

                                </div> <!-- END QUESTION #1 -->


                                <!-- QUESTION #2 -->
                                <div class="accordion-panel-item mb-35">

                                    <!-- Question -->
                                    <div class="faqs-2-question">
                                        <h5 class="s-22 w-700"><span>2.</span> Can I add or remove recipient
                                            details from my CertifyMe account?</h5>
                                    </div>

                                    <!-- Answer -->
                                    <div class="faqs-2-answer color--grey">

                                        <!-- Text -->
                                        <p>Yes. At any point in time, if you want to remove a recipient from
                                            your list or want to reclaim his/her credentials, you can do it from
                                            your CertifyMe account. Login > Click on the template/s under which
                                            the awardee/s is/are registered > Scroll down to the List of
                                            awardees section > Click on the box in front of the name of the
                                            awardee and click on the RED, DELETE button.
                                        </p>

                                    </div>

                                </div> <!-- END QUESTION #2 -->


                                <!-- QUESTION #3 -->
                                <div class="accordion-panel-item mb-35">

                                    <!-- Question -->
                                    <div class="faqs-2-question">
                                        <h5 class="s-22 w-700"><span>3.</span> What should I do if I forget my
                                            account password?</h5>
                                    </div>

                                    <!-- Answer -->
                                    <div class="faqs-2-answer color--grey">

                                        <!-- Text -->
                                        <p>Visit your CertifyMe Login page > Scroll down to the bottom of the
                                            Login button and click on the Reset button to fix the password
                                            issue.
                                        </p>

                                    </div>

                                </div> <!-- END QUESTION #3 -->


                                <!-- QUESTION #4 -->
                                <div class="accordion-panel-item mb-35">

                                    <!-- Question -->
                                    <div class="faqs-2-question">
                                        <h5 class="s-22 w-700"><span>4.</span> How can I change the branding and
                                            design settings for my certificates and badges?</h5>
                                    </div>

                                    <!-- Answer -->
                                    <div class="faqs-2-answer color--grey">

                                        <!-- Text -->
                                        <p>You can change your credential template any time irrespective of your
                                            plan. You can do it from the ‘Edit your credential template image’
                                            in the <a
                                                href="https://credential.certifyme.online/credentialTemplate/template"
                                                target="_blank">Design Template</a> section.
                                        </p>

                                        <!-- Text -->
                                        <p>For branding solutions, choose between our Business and Enterprise
                                            plans. Check the <a href="https://www.certifyme.online/pricing"
                                                target="_blank">Pricing Plan</a> to explore which plan includes
                                            what
                                            branding solutions.
                                        </p>

                                    </div>

                                </div> <!-- END QUESTION #4 -->


                            </div> <!-- END CATEGORY ANSWERS -->


                        </li> <!-- END QUESTIONS CATEGORY #2 -->


                        <!-- QUESTIONS CATEGORY #3 -->
                        <li class="accordion-item">


                            <!-- CATEGORY HEADER -->
                            <div class="accordion-thumb">
                                <h4 class="s-28 w-700">Purchase & Subscription</h4>
                            </div>


                            <!-- CATEGORY ANSWERS -->
                            <div class="accordion-panel">


                                <!-- QUESTION #1 -->
                                <div class="accordion-panel-item mb-35">

                                    <!-- Question -->
                                    <div class="faqs-2-question">
                                        <h5 class="s-22 w-700"><span>1.</span> What payment methods are accepted
                                            for purchasing CertifyMe subscriptions?</h5>
                                    </div>

                                    <!-- Answer -->
                                    <div class="faqs-2-answer color--grey">

                                        <!-- Text -->
                                        <p>We accept a range of international Credit Cards (VISA, MasterCard,
                                            PayPal, UnionPay, and many more). Visit the <a
                                                href="https://www.certifyme.online/pricing" target="_blank">Pricing
                                                page</a> for more
                                            information.
                                        </p>

                                    </div>

                                </div> <!-- END QUESTION #1 -->


                                <!-- QUESTION #2 -->
                                <div class="accordion-panel-item mb-35">

                                    <!-- Question -->
                                    <div class="faqs-2-question">
                                        <h5 class="s-22 w-700"><span>2.</span> Are there any additional fees or
                                            charges associated with using CertifyMe's services?</h5>
                                    </div>

                                    <!-- Answer -->
                                    <div class="faqs-2-answer color--grey">

                                        <!-- Text -->
                                        <p>No. There’s no hidden charge you have to incur with CertifyMe
                                            subscriptions. Simply upgrade your credentialing plans as per your
                                            necessity.
                                        </p>

                                    </div>

                                </div> <!-- END QUESTION #2 -->


                                <!-- QUESTION #3 -->
                                <div class="accordion-panel-item">

                                    <!-- Question -->
                                    <div class="faqs-2-question">
                                        <h5 class="s-22 w-700"><span>3.</span> How to request a refund?</h5>
                                    </div>

                                    <!-- Answer -->
                                    <div class="faqs-2-answer color--grey">

                                        <p>Check our Refund Policy <a
                                                href="https://certifyme.online/Refundpolicy">here</a>.</p>


                                    </div>

                                </div> <!-- END QUESTION #3 -->


                                <!-- QUESTION #4 -->
                                <div class="accordion-panel-item">

                                    <!-- Question -->
                                    <div class="faqs-2-question">
                                        <h5 class="s-22 w-700"><span>4.</span> I can’t activate my CertifyMe
                                            account.</h5>
                                    </div>

                                    <!-- Answer -->
                                    <div class="faqs-2-answer color--grey">

                                        <!-- Text -->
                                        <p>We ensure a safe and secure credentialing process for our clients.
                                            There’s almost no chance for such mishaps. If you face any concerns
                                            with CertifyMe account activation, get in touch with our customer
                                            support team for assistance at <a
                                                href=" https://info.certifyme.online/talk-with-expert"
                                                target="_blank">info@certifyme.online</a>.
                                        </p>

                                    </div>

                                </div> <!-- END QUESTION #4 -->

                            </div> <!-- END CATEGORY ANSWERS -->


                        </li> <!-- END QUESTIONS CATEGORY #3 -->


                        <!-- QUESTIONS CATEGORY #4 -->
                        <li class="accordion-item">


                            <!-- CATEGORY HEADER -->
                            <div class="accordion-thumb">
                                <h4 class="s-28 w-700">Policy, Safety & Copyright</h4>
                            </div>


                            <!-- CATEGORY ANSWERS -->
                            <div class="accordion-panel">


                                <!-- QUESTION #1 -->
                                <div class="accordion-panel-item mb-35">

                                    <!-- Question -->
                                    <div class="faqs-2-question">
                                        <h5 class="s-22 w-700"><span>1.</span> What is CertifyMe's policy on
                                            data privacy and security?
                                        </h5>
                                    </div>

                                    <!-- Answer -->
                                    <div class="faqs-2-answer color--grey">

                                        <!-- Text -->
                                        <p>Check our Privacy Policy page <a href="https://www.certifyme.online/Policy"
                                                target="_blank">here</a> for essential information.
                                        </p>

                                    </div>

                                </div> <!-- END QUESTION #1 -->


                                <!-- QUESTION #2 -->
                                <div class="accordion-panel-item mb-35">

                                    <!-- Question -->
                                    <div class="faqs-2-question">
                                        <h5 class="s-22 w-700"><span>2.</span> How does CertifyMe ensure the
                                            authenticity and integrity of issued credentials?</h5>
                                    </div>

                                    <!-- Answer -->
                                    <div class="faqs-2-answer color--grey">

                                        <!-- Text -->
                                        <p>We are GDPR compliant and follow OpenBadge Version 2.0. Safety
                                            features for industry-standard credential security solutions. The
                                            credentials issued via CertifyMe come with QR/BARcode and Quantum
                                            Ledger ID for 360° verification and proof of authenticity.
                                        </p>

                                    </div>

                                </div> <!-- END QUESTION #2 -->


                                <!-- QUESTION #3 -->
                                <div class="accordion-panel-item mb-35">

                                    <!-- Question -->
                                    <div class="faqs-2-question">
                                        <h5 class="s-22 w-700"><span>3.</span> Can I customize the privacy
                                            settings of my issued credentials on CertifyMe?</h5>
                                    </div>

                                    <!-- Answer -->
                                    <div class="faqs-2-answer color--grey">

                                        <!-- Text -->
                                        <p>Once you choose a credentialing plan, you can enjoy all the features
                                            listed below the particular plan.
                                        </p>

                                    </div>

                                </div> <!-- END QUESTION #3 -->


                            </div> <!-- END CATEGORY ANSWERS -->


                        </li> <!-- END QUESTIONS CATEGORY #4 -->


                        <!-- QUESTIONS CATEGORY #5 -->
                        <li class="accordion-item acc-last-item">


                            <!-- CATEGORY HEADER -->
                            <div class="accordion-thumb">
                                <h4 class="s-28 w-700">Other Questions</h4>
                            </div>


                            <!-- CATEGORY ANSWERS -->
                            <div class="accordion-panel">


                                <!-- QUESTION #1 -->
                                <div class="accordion-panel-item mb-35">

                                    <!-- Question -->
                                    <div class="faqs-2-question">
                                        <h5 class="s-22 w-700"><span>1.</span> How can I verify the authenticity
                                            of a credential issued through CertifyMe?</h5>
                                    </div>

                                    <!-- Answer -->
                                    <div class="faqs-2-answer color--grey">

                                        <!-- Text -->
                                        <p>Recipients receive a unique ID that contains all the credential
                                            information. On the <a href="https://www.certifyme.online/"
                                                target="_blank">CertifyMe website</a>, a <a
                                                href="https://my.certifyme.online/wallet/verify/widget"
                                                target="_blank">Verification Page</a> is
                                            available under the Resources bar. Put the Quantum Ledger ID in the
                                            given place, and press the Verify button.
                                        </p>

                                        <!-- Text -->
                                        <p>OR, you can also visit the issued certificates listed under Your
                                            Credential Templates and open the credential you want to verify.
                                            Click on the Verify this Credential button or collect the Quantum
                                            Ledger ID and follow the aforementioned steps.
                                        </p>

                                    </div>

                                </div> <!-- END QUESTION #1 -->


                                <!-- QUESTION #2 -->
                                <div class="accordion-panel-item mb-35">

                                    <!-- Question -->
                                    <div class="faqs-2-question">
                                        <h5 class="s-22 w-700"><span>2.</span> Can I integrate CertifyMe with
                                            other learning management systems or platforms?</h5>
                                    </div>

                                    <!-- Answer -->
                                    <div class="faqs-2-answer color--grey">

                                        <!-- Text -->
                                        <p>Our open API system allows you to integrate your CertifyMe account
                                            with any LMSs. We seamlessly integrate with Integrately, Zapier, and
                                            Moodle.
                                        </p>

                                    </div>

                                </div> <!-- END QUESTION #2 -->


                                <!-- QUESTION #3 -->
                                <div class="accordion-panel-item mb-35">

                                    <!-- Question -->
                                    <div class="faqs-2-question">
                                        <h5 class="s-22 w-700"><span>3.</span> Does CertifyMe offer any
                                            analytics or reporting features for tracking credential usage and
                                            engagement?</h5>
                                    </div>

                                    <!-- Answer -->
                                    <div class="faqs-2-answer color--grey">

                                        <!-- Text -->
                                        <p>Yes. Visit the <a href="https://www.certifyme.online/"
                                                target="_blank">CertifyMe</a> website > Go to <a
                                                href="https://credential.certifyme.online/auth/login"
                                                target="_blank">Login</a> section and
                                            Login>
                                            Click on My Analytics > Access all the essential details related to
                                            Organization level, Program level & End User level analytics.
                                        </p>

                                    </div>

                                </div> <!-- END QUESTION #3 -->

                            </div> <!-- END CATEGORY ANSWERS -->


                        </li> <!-- END QUESTIONS CATEGORY #5 -->


                    </ul>
                </div> <!-- END QUESTIONS ACCORDION -->


                <!-- MORE QUESTIONS LINK -->
                <div class="more-questions">
                    <div class="more-questions-txt bg--white-400 r-100">
                        <p class="p-lg">Have any questions? <a href=" https://info.certifyme.online/talk-with-expert"
                                target="_blank" class="color--theme">Get in
                                Touch</a></p>
                    </div>
                </div>


            </div>
        </div> <!-- End row -->
    </div> <!-- End container -->
</section> <!-- END FAQs-2 -->