<hr class="divider" style="margin-top: 60px;">
<!-- FOOTER-3 -->
<footer id="footer-3" class="pt-100 footer">
   <div class="container">
      <!-- FOOTER CONTENT -->
      <div class="row" style="margin-bottom: -40px;">

         <div class="col-xl-3">
            <div class="footer-info" style="margin-bottom: 20px;">
               <img class="footer-logo" src="/assets4/images/Logo/1.png" alt="footer-logo">
            </div>

            <div class="w3-show-inline-block d-none d-lg-block" style="text-align: left;">
               <div class="image-container-badges">
                  <div class="image-row">
                     <img src="/images/iso-9001-image.png" alt="ISO 9001 Image">
                     <img src="/images/iso-27001-image.png" alt="ISO 27001 Image">
                     <img src="/images/iso-27701-image.png" alt="ISO 27701 Image">
                  </div>
                  <div class="image-row">
                     <img src="/images/ferpa-image.png" alt="FERPA Image">
                     <a target="_blank" href="/res/gdpr.pdf">
                        <img src="/images/gdpr-image.png" alt="GDPR Image">
                     </a>
                     <img src="/images/coppa-image.png" alt="COPA Image">
                  </div>
               </div>

               <p class="mt-3 s-17" style="font-size: 14px;"><a href="https://info.certifyme.online/affiliate-partner"
                     target="_blank">
                     Become CertifyMe's Reseller / Affiliate Sales Partner</a>
               </p>

            </div>
         </div>

         <!-- FOOTER LINKS -->
         <div class="col-sm-4 col-md-3 col-xl-2">
            <div class="footer-links fl-1">

               <!-- Title -->
               <h6 class="s-17 w-700" style="font-size: 16px;">Quick Links</h6>

               <!-- Links -->
               <ul class="foo-links clearfix">
                  <li>
                     <p><a href="/Refundpolicy" target="_blank" style="font-size: 14px;">Refund Policy</a></p>
                  </li>
                  <li>
                     <p><a href="/AboutUs" style="font-size: 14px;">About Us</a></p>
                  </li>
                  <li>
                     <p><a href="/pricing" target="_blank" style="font-size: 14px;">Pricing</a></p>
                  </li>
                  <li>
                     <p><a href="/sample-credential" target="_blank" style="font-size: 14px;">Samples</a></p>
                  </li>
                  <li>
                     <p><a href="https://certifyme.online/blog" target="_blank" style="font-size: 14px;">Blogs</a></p>
                  </li>
                  <li>
                     <p><a href="https://resources.certifyme.online/" target="_blank"
                           style="font-size: 14px;">Resources</a></p>
                  </li>
               </ul>

            </div>
         </div> <!-- END FOOTER LINKS -->


         <!-- FOOTER LINKS -->
         <div class="col-sm-4 col-md-3 col-xl-2">
            <div class="footer-links fl-2">

               <!-- Title -->
               <h6 class="s-17 w-700" style="font-size: 16px;">Industry Use Case</h6>

               <!-- Links -->
               <ul class="foo-links clearfix">
                  <li>
                     <p><a href="/credentials-higher-education" target="_blank" style="font-size: 14px;">Higher
                           Education</a></p>
                  </li>
                  <li>
                     <p><a href="https://certifyme.online/digital-badges-for-hr" target="_blank"
                           style="font-size: 14px;">L & D</a></p>
                  </li>
                  <li>
                     <p><a href="https://certifyme.online/credentials-for-elearning-platforms"
                           style="font-size: 14px;">E-Learning</a></p>
                  </li>
                  <li>
                     <p><a href="https://certifyme.online/digital-badges-for-associations" target="_blank"
                           style="font-size: 14px;">Associations</a></p>
                  </li>

               </ul>

            </div>
         </div> <!-- END FOOTER LINKS -->


         <!-- FOOTER LINKS -->
         <div class="col-sm-4 col-md-3 col-xl-2">
            <div class="footer-links fl-3">

               <!-- Title -->
               <h6 class="s-17 w-700" style="font-size: 16px;">Compare </h6>

               <!-- Links -->
               <ul class="foo-links clearfix">
                  <li>
                     <p><a href="/parchment-transcript-alternative" target="_blank" style="font-size: 14px;">Parchment
                           Vs CertifyMe</a></p>
                  </li>
                  <li>
                     <p><a href="/credly-alternative" target="_blank" style="font-size: 14px;">Credly Vs CertifyMe</a>
                     </p>
                  </li>
                  <li>
                     <p><a href="/accredible-alternative" target="_blank" style="font-size: 14px;">Accredible Vs
                           CertifyMe</a></p>
                  </li>
                  <li>
                     <p><a href="/sertifier-alternative" target="_blank" style="font-size: 14px;">Sertifier Vs CertifyMe
                        </a></p>
                  </li>
                  <li>
                     <p><a href="/certifier-alternative" target="_blank" style="font-size: 14px;">Certifier Vs
                           CertifyMe</a></p>
                  </li>
               </ul>

            </div>
         </div> <!-- END FOOTER LINKS -->


         <!-- FOOTER LINKS -->
         <div class="col-sm-6 col-md-3">
            <div class="footer-links fl-4">

               <!-- Title -->
               <h6 class="s-17 w-700" style="font-size: 16px;">Connect With Us</h6>

               <!-- Mail Link -->

               <a href="mailto:info@certifyme.online" style="font-size: 14px;"><b>Email:
                  </b>info@certifyme.online</a><br>

               <a style="font-size: 14px;" href="tel:+14156709098"><b> United States</b> &nbsp (+1) (415) 670-9098</a>
               <p href="" style="font-size: 14px;"> CertifyMe, Tech99, 651 N Broad , Suite 201, Middletown, USA</p>
               <a style="font-size: 14px;" href="tel:+916360023399"><b>India</b> &nbsp (+91) 636-002-3399</a>
               <p href="" style="font-size: 14px;">CertifyMe, Tech99 , 3rd Floor (Good works), Akshay Tech Park, EPIP
                  Zone Whitefield, Bengaluru .</p><br>



               <!-- Social Links -->
               <ul class="footer-socials ico-25 text-center clearfix">
                  <li><a href="https://twitter.com/i/flow/login?redirect_after_login=%2Fme_certify%2F"
                        target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                           viewBox="0 0 24 24" fill="currentColor"
                           class="icon icon-tabler icons-tabler-filled icon-tabler-brand-x">
                           <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                           <path
                              d="M8.267 3a1 1 0 0 1 .73 .317l.076 .092l4.274 5.828l5.946 -5.944a1 1 0 0 1 1.497 1.32l-.083 .094l-6.163 6.162l6.262 8.54a1 1 0 0 1 -.697 1.585l-.109 .006h-4.267a1 1 0 0 1 -.73 -.317l-.076 -.092l-4.276 -5.829l-5.944 5.945a1 1 0 0 1 -1.497 -1.32l.083 -.094l6.161 -6.163l-6.26 -8.539a1 1 0 0 1 .697 -1.585l.109 -.006h4.267z" />
                        </svg></a></li>
                  <li><a href="https://www.youtube.com/channel/UCkbhyRP0L34oPaUOXBkI61w" target="_blank"><svg
                           xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"
                           fill="currentColor" class="icon icon-tabler icons-tabler-filled icon-tabler-brand-youtube">
                           <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                           <path
                              d="M18 3a5 5 0 0 1 5 5v8a5 5 0 0 1 -5 5h-12a5 5 0 0 1 -5 -5v-8a5 5 0 0 1 5 -5zm-9 6v6a1 1 0 0 0 1.514 .857l5 -3a1 1 0 0 0 0 -1.714l-5 -3a1 1 0 0 0 -1.514 .857z" />
                        </svg></a></li>
                  <li><a href="https://www.linkedin.com/company/certify-me-online/mycompany/verification/"
                        target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                           viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                           stroke-linejoin="round"
                           class="icon icon-tabler icons-tabler-outline icon-tabler-brand-linkedin">
                           <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                           <path d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z" />
                           <path d="M8 11l0 5" />
                           <path d="M8 8l0 .01" />
                           <path d="M12 16l0 -5" />
                           <path d="M16 16v-3a2 2 0 0 0 -4 0" />
                        </svg></a></li>
               </ul>

            </div>
         </div> <!-- END FOOTER LINKS -->


      </div> <!-- END FOOTER CONTENT -->


      <hr> <!-- FOOTER DIVIDER LINE -->


      <!-- BOTTOM FOOTER -->
      <div class="bottom-footer" style="margin-top: -20px; margin-bottom: -20px;">
         <div class="row row-cols-1 row-cols-md-2 d-flex align-items-center">


            <!-- FOOTER COPYRIGHT -->
            <div class="col">
               <div class="footer-copyright">
                  <p class="p-sm" style="font-size: 14px;">&copy; 2024 Tech99 Innovations Pvt Ltd - <span>All Rights
                        Reserved.</span></p>
               </div>
            </div>


            <!-- FOOTER SECONDARY LINK -->
            <div class="col">
               <div class="bottom-secondary-link ico-15 text-end">
                  <p class="p-sm" style="font-size: 14px;"><a href="/Policy" target="_blank">Privacy
                        Policy
                        <span class="">|</span> <a href="/TermsAndCondition" target="_blank">Terms of Use</a></a>
                  </p>
               </div>
            </div>


         </div> <!-- End row -->
      </div> <!-- END BOTTOM FOOTER -->


   </div> <!-- End container -->
</footer> <!-- END FOOTER-3 -->

<style>
   .image-container-bages {
      display: flex;
      flex-direction: column;
   }

   .image-row {
      display: flex;
   }

   .image-row img {
      width: 50px;
      height: auto;
      margin: 5px 5px;

   }
</style>