<!-- IMAGE CONTENT
			============================================= -->
<section class="pt-100 ct-08 content-section division">
   <div class="container">


      <!-- SECTION TITLE -->
      <div class="row justify-content-center">
         <div class="col-md-10 col-lg-9">
            <div class="section-title mb-70">

               <!-- Title -->
               <h2 class="s-50 w-700">Global Leader in Digital Certificates & Badge Management</h2>

               <!-- Text -->
               <p class="s-19">Bring Momemtum to your Branding Solutions by Issuing Tailored Feature-Rich
                  Badges.</p>

            </div>
         </div>
      </div>

      <!-- IMAGE BLOCK -->
      <div class="row">
         <div class="col">
            <div class="img-block wow fadeInUp">
               <img class="img-fluid" src="/assets4/images/Website Image V1/Images/g2 digital credential management software.png" alt="video-preview">
            </div>
         </div>
      </div>


      <!-- ACTION BUTTON -->
      <div class="row" style="margin-bottom: 40px;">
         <div class="col">
            <div class="img-block-btn text-center wow fadeInUp">
               <!-- Advantages List -->
               <ul class="advantages ico-15 clearfix" style="padding-bottom: 10px;">
                  <li>
                     <p> Not sure how to get started?</p>
                  </li>
               </ul>

               <!-- Button -->
               <a href="#integrations-1" class="btn r-04 btn--theme hover--theme last-link">Talk To The
                  Experts</a>

               <!-- Advantages List -->
               <ul class="advantages ico-15 clearfix">
                  <li>
                     <p>Free 50 Credentials</p>
                  </li>
                  <li class="advantages-links-divider">
                     <p><span class="flaticon-minus"></span></p>
                  </li>
                  <li>
                     <p>Exclusive Support</p>
                  </li>
                  <!-- <li class="advantages-links-divider"><p><span class="flaticon-minus"></span></p></li> -->
                  <!-- <li><p>No Fees</p></li> -->
               </ul>   

               

            </div>
         </div>
      </div>


   </div> <!-- End container -->
</section> <!-- END IMAGE CONTENT -->