<!-- IMAGE CONTENT
			============================================= -->
<section class="pt-100 ct-08 content-section division">
   <div class="container">


      <!-- SECTION TITLE -->
      <div class="row justify-content-center">
         <div class="col-md-10 col-lg-9">
            <div class="section-title mb-70">

               <!-- Title -->
               <h2 class="s-38 w-700">Global Leader in Digital Certificates & Badge Management</h2>

               <!-- Text -->
               <!-- <p class="s-19" style="margin-bottom: -50px;">Bring Momemtum to Your Branding Solutions by Issuing
                  Tailored & Feature-Rich
                  Badges.</p> -->

            </div>
         </div>
      </div>

      <!-- IMAGE BLOCK -->
      <div class="row" style="margin-bottom: -20px; margin-top: -20px;">
         <div class="col">
            <div class="img-block wow fadeInUp">
               <img class="img-fluid"
                  src="/assets4/images/Images Webp/g2 digital credential management software.webp"
                  alt="G2-image">
            </div>
         </div>
      </div>
      <!-- RATING-1
			============================================= -->
      <div id="rating-1" class="pt-70 rating-section">
         <div class="container wow fadeInUp">


            <!-- RATING TITLE -->
            <!-- <div class="row justify-content-center">
               <div class="col-md-10 col-lg-9">
                  <div class="rating-title mb-40">
                     <h5 class="s-18 color--grey w-500">Our clients love us as much as we love them</h5>
                  </div>
               </div>
            </div> -->


            <!-- RATING-1 WRAPPER -->
            <div class="rating-1-wrapper">
               <div class="row justify-content-md-center row-cols-1 row-cols-md-3">

                  <!-- RATING BOX #1 -->
                  <div class="col">
                     <div id="rb-1-1" class="rbox-1">

                        <!-- Brand Logo -->
                        <div class="rbox-1-img">
                           <img class="img-fluid" src="/assets4/images/brand-21.png" alt="capterra-image">
                        </div>

                        <!-- Rating Stars -->
                        <div class="star-rating ico-10 bg--white-100 r-100 clearfix">
                           <span class="flaticon-star"></span>
                           <span class="flaticon-star"></span>
                           <span class="flaticon-star"></span>
                           <span class="flaticon-star"></span>
                           <span class="flaticon-star"></span>
                           <!-- <span class="flaticon-star-half-empty mr-5"></span> -->
                           &nbsp; 5/5
                        </div>

                     </div>
                  </div>


                  <!-- RATING BOX #2 -->
                  <div class="col">
                     <div id="rb-1-2" class="rbox-1">

                        <!-- Brand Logo -->
                        <div class="rbox-1-img">
                           <img class="img-fluid" src="/assets4/images/Images Webp/trust radius elearning.webp" alt="trustRadius-image">
                        </div>

                        <!-- Rating Stars -->
                        <div class="star-rating ico-10 bg--white-100 r-100 clearfix">
                           <span class="flaticon-star"></span>
                           <span class="flaticon-star"></span>
                           <span class="flaticon-star"></span>
                           <span class="flaticon-star"></span>
                           <span class="flaticon-star mr-5"></span>
                           &nbsp; 9/10
                        </div>

                     </div>
                  </div>

                  <!-- RATING BOX #3 -->
                  <div class="col">
                     <div id="rb-1-3" class="rbox-1">

                        <!-- Brand Logo -->
                        <div class="rbox-1-img">
                           <img class="img-fluid" src="/assets4/images/Images Webp/G2 Digital credentials.webp" alt="g2crowd-image">
                        </div>

                        <!-- Rating Stars -->
                        <div class="star-rating ico-10 bg--white-100 r-100 clearfix">
                           <span class="flaticon-star"></span>
                           <span class="flaticon-star"></span>
                           <span class="flaticon-star"></span>
                           <span class="flaticon-star"></span>
                           <span class="flaticon-star mr-5"></span>
                           <!-- <span class="flaticon-star-1 mr-5"></span> -->
                           &nbsp; 4.9/5
                        </div>

                     </div>
                  </div>

               </div> <!-- End row -->
            </div> <!-- END RATING-1 WRAPPER -->


         </div> <!-- End container -->
      </div> <!-- END RATING-1 -->


      <!-- ACTION BUTTON -->
      <div class="row" style="margin-bottom: 40px;">
         <div class="col">
            <div class="img-block-btn text-center wow fadeInUp">
               <!-- Advantages List -->
               <ul class="advantages ico-15 clearfix" style="padding-bottom: 10px; margin-top: -20px;">
                  <li>
                     <p class="s-19"> Not sure about how to begin? Let us guide you in the right direction!</p>
                  </li>
               </ul>

               <!-- Button -->
               <a href="https://go.certifyme.online/talk-with-expert" target="_blank"
                  class="btn r-04 btn--theme hover--theme last-link">Talk with Experts</a>

               <!-- Advantages List -->
               <ul class="advantages ico-15 clearfix">
                  <li>
                     <p class="s-15">Free 50 Credentials</p>
                  </li>
                  <li class="advantages-links-divider">
                     <p><span class="flaticon-minus"></span></p>
                  </li>
                  <li>
                     <p class="s-15">Exclusive Support</p>
                  </li>
                  <!-- <li class="advantages-links-divider"><p><span class="flaticon-minus"></span></p></li> -->
                  <!-- <li><p>No Fees</p></li> -->
               </ul>



            </div>
         </div>
      </div>


   </div> <!-- End container -->
</section> <!-- END IMAGE CONTENT -->