<head>
  <!-- Required meta tags -->
  <!-- <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->

  <!-- FAVICON AND TOUCH ICONS -->
	<link rel="shortcut icon" href="/assets4/images/Logo/146 (1).png" type="image/x-icon">
	<link rel="icon" href="/assets4/images/Logo/146 (1).png" type="image/x-icon">
	<link rel="apple-touch-icon" sizes="152x152" href="/assets4/images/Logo/146 (1).png">
	<link rel="apple-touch-icon" sizes="120x120" href="/assets4/images/Logo/120 (1).png">
	<link rel="apple-touch-icon" sizes="76x76" href="/assets4/images/Logo/120 (2).png">
	<link rel="apple-touch-icon" href="/assets4/images/Logo/146 (1).png">
	<link rel="icon" href="/assets4/images/Logo/146 (1).png" type="image/x-icon">

  <!-- BOOTSTRAP CSS -->
  <link rel="stylesheet" href="/assets4/css/bootstrap.min.css">

  <!-- FONT ICONS -->
	<link href="/assets4/css/flaticon.css" rel="stylesheet">

  <!-- PLUGINS STYLESHEET -->
	<link href="/assets4/css/menu.css" rel="stylesheet">
	<link id="effect" href="/assets4/dropdown-effects/fade-down.css" media="all" rel="stylesheet">
	<link href="/assets4/css/magnific-popup.css" rel="stylesheet">
	<link href="/assets4/css/owl.carousel.min.css" rel="stylesheet">
	<link href="/assets4/css/owl.theme.default.min.css" rel="stylesheet">
	<link href="/assets4/css/lunar.css" rel="stylesheet">

  <!-- ON SCROLL ANIMATION -->
	<link href="/assets4/css/animate.css" rel="stylesheet">

  <!-- TEMPLATE CSS -->
	<link href="/assets4/css/blue-theme.css" rel="stylesheet">

  <!-- RESPONSIVE CSS -->
	<link href="/assets4/css/responsive.css" rel="stylesheet">

  

  <!-- GOOGLE FONTS -->
  <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&amp;display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&amp;display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&amp;display=swap"
    rel="stylesheet">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato'>
  <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat"> -->

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-102775017-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-102775017-1');
  </script>

  <!-- Google Tag Manager -->
  <script>(function (w, d, s, l, i) {
      w[l] = w[l] || []; w[l].push({
        'gtm.start':
          new Date().getTime(), event: 'gtm.js'
      }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-TGB2DJ2');</script>
  <!-- End Google Tag Manager -->

  <!-- <link rel="icon" type="/image/png" href="https://certifyme.online/img/logo.png" /> -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{page.description}}">
  <link rel="canonical" href="https://{{site.headurl}}{{page.url}}">

  <meta name="author" content="{{site.headurl}}">
  <meta name="robots" content="index, follow">
  <meta property="og:image" content="https://{{site.headurl}}/{{page.imageLink}}">
  <meta property="og:title" content="{{page.title}}">

  <meta property="og:description" content="{{page.abstract}}">
  <meta property="og:url" content="https://{{site.headurl}}">
  <meta name="twitter:card" content="summary">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="{{site.headurl}}">


  <!-- Hotjar Tracking Code for https://certifyme.online/ -->
  <script>
    (function (h, o, t, j, a, r) {
      h.hj = h.hj || function () { (h.hj.q = h.hj.q || []).push(arguments) };
      h._hjSettings = { hjid: 3325299, hjsv: 6 };
      a = o.getElementsByTagName('head')[0];
      r = o.createElement('script'); r.async = 1;
      r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
      a.appendChild(r);
    })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
  </script>

  <title>{{page.title}}</title>

</head>