
<!-- HERO-7
			============================================= -->
<section id="hero-7" class="gr--perl hero-section">
    <div class="hero-overlay">
        <div class="container">
            <div class="row d-flex align-items-center">


                <!-- HERO TEXT -->
                <div class="col-md-6">
                    <div class="hero-7-txt wow fadeInRight">

                        <!-- Title -->
                        <h2 class="s-54 w-700">Easy to use Certificate and Badge management Software for your
                            Learning Programs</h2>

                        <!-- Text -->
                        <p class="p-lg">Ranked #1 in Digital Credential Management Software across Education
                            Industry
                        </p>
                        <!-- Buttons -->
                        <div class="btns-group">
                            <a href="https://go.certifyme.online/request-demo" target="_blank"
                                class="btn r-04 btn--theme hover--black">Request A Demo</a>
                            <a href="" class="video-popup2 btn r-04 btn--tra-black hover--blue-100">See how it works
                            </a>
                        </div>


                        <!-- Text -->
                        <p class="p-sm btn-txt ico-15">
                            <span class="flaticon-check"></span> No credit card needed, free 14-day trial
                        </p>

                    </div>
                </div> <!-- END HERO TEXT -->


                <!-- HERO IMAGE -->
                <div class="col-md-6">
                    <div class="hero-7-img text-center wow fadeInLeft">
                        <img class="img-fluid" src="/assets4/images/img-06.png" alt="hero-image">
                    </div>
                </div>


            </div> <!-- End row -->
        </div> <!-- End container -->
    </div> <!-- End hero-overlay -->
</section> <!-- END HERO-7 -->