<!-- HERO-7
			============================================= -->
<section id="hero-7" class="gr--perl hero-section">
    <div class="hero-overlay">
        <div class="container">
            <div class="row d-flex align-items-center">


                <!-- HERO TEXT -->
                <div class="col-md-6">
                    <div class="hero-7-txt">

                        <!-- Title -->
                        <h1 class="s-42 w-700" style="padding-bottom: 30px;">Easy-to-Use Certificate and Badge
                            Management Software for Learning
                            Programs</h1>

                        <!-- Text #1 Digital Credential Management Platform voted by educators and
                            professionals across the global workforce. -->
                        <p class="p-lg">Ranked #1 in Digital Credential Management Software across Education Industry
                        </p>
                        <!-- Buttons https://certifyme.online/img/CmeVedioS.mp4 -->
                        <div class="btns-group">
                            <a href="https://go.certifyme.online/request-demo" target="_blank"
                                class="btn r-04 btn--theme hover--black">Request A Demo</a>
                            <!-- <a href="https://credential.certifyme.online/auth/preregister/hero@certifyme.onlone" target="_blank"
                             class="btn r-05 btn--tra-black hover--blue-100">Get 50 free credits
                            </a>  -->
                            <a href="https://www.youtube.com/watch?v=TJMwk6qIxSc"
                             class="video-popup1 btn r-05 btn--tra-black hover--blue-100">Watch Video
                            </a> 
                        </div>


                        <!-- Text -->
                        <p class="p-sm btn-txt ico-15" style="padding-bottom: 30px;">
                            <span class="flaticon-check"></span> Free trial, No Credit Card Required.
                        </p>

                    </div>
                </div> <!-- END HERO TEXT -->


                <!-- HERO IMAGE -->
                <div class="col-md-6">
                    <div class="hero-7-img text-center" style="padding-bottom: 20px;">
                        <img class="img-fluid" src="/assets4/images/Images Webp/digital credential software.webp" alt="Digital Credential Management Software Image">
                    </div>
                </div>

                <!-- Client Branding -->
                <section id="badges" class="badges-main-container">
                    <div class="custom-continer">
                        <ul class="logo-list d-flex align-items-center justify-content-between">
                            <li>
                                <a href="#" style="margin-right: 5px;">
                                    <img src="/assets4/images/Images Webp/University of europe.webp" alt="UAE Image" class="img-fluid" />
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <img src="/assets4/images/IEEE greyscale.png" alt="IEEE Image" class="img-fluid" />
                                </a>
                            </li>
                            
                            <li>
                                <a href="#">
                                    <img src="/assets4/images/Images Webp/Harvardlogo.webp" alt="Harvard Image" class="img-fluid" />
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="/assets4/images/Images Webp/PMI logo.webp" alt="PMI Image" class="img-fluid" />
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="/assets4/images/Images Webp/LEB.webp" alt="LEB Image" class="img-fluid" />
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="/assets4/images/Images Webp/DCU.webp" alt="DCU Image" class="img-fluid" />
                                </a>
                            </li>


                        </ul>
                    </div>
                </section>
                





            </div> <!-- End row -->
        </div> <!-- End container -->
    </div> <!-- End hero-overlay -->
</section> <!-- END HERO-7 -->