<!-- HERO-7
			============================================= -->
<section id="hero-7" class="gr--perl hero-section">
    <div class="hero-overlay">
        <div class="container">
            <div class="row d-flex align-items-center">


                <!-- HERO TEXT -->
                <div class="col-md-6">
                    <div class="hero-7-txt wow fadeInRight">

                        <!-- Title -->
                        <h1 class="s-42 w-700" style="padding-bottom: 30px;">Easy-to-Use Certificate and Badge Management Software for Learning
                            Programs</h1>

                        <!-- Text -->
                        <p class="p-lg">#1 Digital Credential Management Platform voted by educators and
                            professionals across the global workforce.
                        </p>
                        <!-- Buttons -->
                        <div class="btns-group">
                            <a href="https://go.certifyme.online/request-demo" target="_blank"
                                class="btn r-04 btn--theme hover--black">Request A Demo</a>
                            <a href="https://www.youtube.com/watch?v=TJMwk6qIxSc"
                                class="video-popup2 btn r-05 btn--tra-black hover--blue-100">See how it works
                            </a>
                        </div>


                        <!-- Text -->
                        <p class="p-sm btn-txt ico-15" style="padding-bottom: 30px;">
                            <span class="flaticon-check"></span> Create, Issue, Share, Manage & Verify
                        </p>

                    </div>
                </div> <!-- END HERO TEXT -->


                <!-- HERO IMAGE -->
                <div class="col-md-6">
                    <div class="hero-7-img text-center wow fadeInLeft" style="padding-bottom: 20px;">
                        <img class="img-fluid" src="/assets4/images/e-credentials.png" alt="hero-image">
                    </div> 
                </div>
                <!-- Client Branding -->
                <section id="badges" class="badges-main-container">
                    <div class="custom-continer">
                        <ul class="logo-list d-flex align-items-center justify-content-between">
                            <li>
                                <a href="#">
                                    <img src="/assets4/images/University of europe.png" alt="image" class="img-fluid" />
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <img src="/assets4/images/IEEE greyscale.png" alt="image" class="img-fluid" />
                                </a>
                            </li>
                            
                            <li>
                                <a href="#">
                                    <img src="/assets4/images/Harvardlogo.png" alt="image" class="img-fluid" />
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="/assets4/images/PMI logo greyscale.png" alt="image" class="img-fluid" />
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="/assets4/images/LEB.png" alt="image" class="img-fluid" />
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="/assets4/images/DCU.png" alt="image" class="img-fluid" />
                                </a>
                            </li>


                        </ul>
                    </div>
                </section>




            </div> <!-- End row -->
        </div> <!-- End container -->
    </div> <!-- End hero-overlay -->
</section> <!-- END HERO-7 -->