<!-- HEADER
			============================================= -->
<header id="header" class="tra-menu navbar-dark light-hero-header white-scroll">
   <div class="header-wrapper">


      <!-- MOBILE HEADER -->
      <div class="wsmobileheader clearfix">
         <span class="smllogo"><img src="/assets4/images/Logo/1.png" alt="certifyme-logo"></span>
         <a id="wsnavtoggle" class="wsanimated-arrow"><span></span></a>
      </div>


      <!-- NAVIGATION MENU -->
      <div class="wsmainfull menu clearfix">
         <div class="wsmainwp clearfix">


            <!-- HEADER BLACK LOGO -->
            <div class="desktoplogo">
               <a href="/" class="logo-black"><img src="/assets4/images/Logo/1.png"
                     alt="certifyme logo"></a>
            </div>


            <!-- HEADER WHITE LOGO -->
            <div class="desktoplogo">
               <a href="/" class="logo-white"><img src="/assets4/images/Logo/1.png"
                     alt="certifyme logo"></a>
            </div>


            <!-- MAIN MENU -->
            <nav class="wsmenu clearfix">
               <ul class="wsmenu-list nav-theme">

                  <!-- DROPDOWN SUB MENU -->
                  <li aria-haspopup="true"><a href="#" class="h-link">Solutions <span class="wsarrow"></span></a>
                     <ul class="sub-menu">
                        <li class="fst-li"><a href="https://certifyme.online/digital-badges">Digital Credentials</a></li>
                       
                        <!-- <li><a href="/verifiable-documents">Immutable Documents</a></li>
                        <li><a href="/proof-of-authenticity">Proof Of Authenticity</a></li> -->
                        <li class="nl-simple" aria-haspopup="true">
                           <a href="https://go.certifyme.online/talk-with-expert?utm_source=google&utm_medium=solutions&utm_campaign=talk+to+us"
                              class="btn r-04 btn--theme hover--theme last-link" style="text-align: center;">TALK TO
                              EXPERTS</a>
                        </li>
                     </ul>
                  </li>


                  <!-- MEGAMENU -->
                  <li aria-haspopup="true" class="mg_link"><a href="#" class="h-link">Industries <span
                           class="wsarrow"></span></a>
                     <div class="wsmegamenu w-75 clearfix">
                        <div class="container">
                           <div class="row">

                              <div class="row" style="text-align: center;">
                                 <!-- Second Column -->
                                 <div class="col-md-12 col-lg-12">
                                    <!-- <div class="row" style="text-align: center; margin-bottom: 10px; margin-top: 10px;">
                                       <h6><u>A Digital Credential Software for Everyone</u></h6>
                                    </div> -->

                                    <div class="row">
                                       <ul class="col-md-12 col-lg-6 link-list">
                                          <li><a href="https://certifyme.online/digital-credentials-for-schools">Schools</a></li>
                                          <li class="fst-li"><a href="https://certifyme.online/credentials-for-elearning-platforms">E-Learning
                                                Platforms</a></li>
                                          <li><a href="https://certifyme.online/Professional-Training-Badges">Professional
                                                Training</a></li>
                                          <li><a href="https://certifyme.online/Product-training-badges">Product Training</a></li>
                                          <li><a href="https://certifyme.online/digital-certificate">Digital Certificates</a></li>
                                       </ul>

                                       <ul class="col-md-12 col-lg-6 link-list">
                                          <li class="fst-li"><a href="https://certifyme.online/digital-badges-for-associations">Associations</a>
                                          </li>
                                          <li><a href="https://certifyme.online/credentials-higher-education">Colleges & Universities</a>
                                          </li>
                                          <li><a href="https://certifyme.online/digital-badges-for-hr">L&D Departments</a></li>
                                          <li><a href="https://certifyme.online/digital-transcripts">Verifiable Transcripts</a></li>
                                          <li class="nl-simple" aria-haspopup="true">
                                             <a href="https://go.certifyme.online/talk-with-expert?utm_source=google&utm_medium=solutions&utm_campaign=talk+to+us"
                                                class="btn r-04 btn--theme hover--theme last-link"
                                                style="text-align: center;">TALK TO OUR EXPERT</a>
                                          </li>
                                       </ul>
                                    </div>
                                 </div>
                              </div>





                           </div> <!-- End row -->
                        </div> <!-- End container -->
                     </div> <!-- End wsmegamenu -->
                  </li> <!-- END MEGAMENU -->

                  <!-- MEGAMENU -->
                  <li aria-haspopup="true" class="mg_link"><a href="#" class="h-link">Features <span
                           class="wsarrow"></span></a>
                     <div class="wsmegamenu w-75 clearfix">
                        <div class="container">
                           <div class="row">

                              <!-- MEGAMENU LINKS -->
                              <ul class="col-md-12 col-lg-6 link-list">
                                 <li class="fst-li"><a href="https://certifyme.online/quantum-ledger">Quantum Ledger</a></li>
                                 <li><a href="https://certifyme.online/integrations">Integrations</a></li>
                                 <li><a href="https://certifyme.online/whitelabel-credentials">Whitelabeling </a></li>
                                 <!-- <li><a href="/custom-badge-wallet">Page Customisation</a></li> -->
                                 <li><a href="https://certifyme.online/credential-analytics">Analytics</a></li>
                              </ul>

                              <!-- MEGAMENU LINKS -->
                              <ul class="col-md-12 col-lg-6 link-list">
                                 <li><a href="https://certifyme.online/custom-badge-wallet">Custom Wallet</a></li>
                                 <li class="fst-li"><a href="https://certifyme.online/Job-Portal-Integration">Job Portal Integration</a></li>
                                 <li><a href="https://certifyme.online/verifiable-signature">Cryptographic Signature</a></li>
                                 <li class="nl-simple" aria-haspopup="true">
                                    <a href="https://go.certifyme.online/talk-with-expert?utm_source=google&utm_medium=solutions&utm_campaign=talk+to+us"
                                       class="btn r-04 btn--theme hover--theme last-link"
                                       style="text-align: center;">TALK TO
                                       EXPERTS</a>
                                 </li>
                              </ul>

                           </div> <!-- End row -->
                        </div> <!-- End container -->
                     </div> <!-- End wsmegamenu -->
                  </li> <!-- END MEGAMENU -->


                  <!-- MEGAMENU -->
                  <li aria-haspopup="true" class="mg_link"><a href="#" class="h-link">Resources <span
                           class="wsarrow"></span></a>
                     <div class="wsmegamenu w-75 clearfix">
                        <div class="container">
                           <div class="row">

                              <!-- MEGAMENU LINKS -->
                              <ul class="col-md-12 col-lg-6 link-list">
                                 <li class="fst-li"><a href="https://my.certifyme.online/wallet/verify/widget" target="_blank">Verification Page</a>
                                 </li>
                                 <li><a href="https://certifyme.online/sample-credential">Samples</a></li>
                                 <li><a href="https://www.youtube.com/channel/UCkbhyRP0L34oPaUOXBkI61w">Videos </a></li>
                                 <li><a href="https://go.certifyme.online/talk-with-expert">Webinar</a></li>
                                 <li><a href="/blog">Blogs</a></li>
                                 <li><a href="https://resources.certifyme.online/">Education Resources</a></li>
                              </ul>

                              <!-- MEGAMENU LINKS -->
                              <ul class="col-md-12 col-lg-6 link-list">
                                 <li><a href="https://go.certifyme.online/case-studies">Case Studies</a></li>
                                 <!-- <li class="fst-li"><a href="https://go.certifyme.online/faq-digital-credentials">About Us</a></li> -->
                                 <li class="fst-li"><a href="/FAQ">FAQ</a></li>
                                 <li class="fst-li"><a href="/AboutUs">About Us</a></li>
                                 <li><a href="https://go.certifyme.online/talk-with-expert">Become a Certified
                                       Credential
                                       Manager</a></li>
                                 <li class="nl-simple" aria-haspopup="true">
                                    <a href="https://go.certifyme.online/talk-with-expert?utm_source=google&utm_medium=solutions&utm_campaign=talk+to+us"
                                       class="btn r-04 btn--theme hover--theme last-link"
                                       style="text-align: center;">TALK TO OUR EXPERT</a>
                                 </li>
                              </ul>

                           </div> <!-- End row -->
                        </div> <!-- End container -->
                     </div> <!-- End wsmegamenu -->
                  </li> <!-- END MEGAMENU -->


                  <!-- SIMPLE NAVIGATION LINK -->
                  <li class="nl-simple" aria-haspopup="true"><a href="https://certifyme.online/pricing" target="_blank"
                        class="h-link">Pricing</a></li>

                  <!-- DROPDOWN SUB MENU -->
                  <li aria-haspopup="true"><a href="#" class="h-link">Login <span class="wsarrow"></span></a>
                     <ul class="sub-menu">

                        <li class="fst-li"><a href="https://www.wallet.certifyme.online/auth/login?next=%2F"
                              target="_blank">Wallet Login</a>
                        </li>

                        <li><a href="https://credential.certifyme.online/auth/login" target="_blank">Institutional
                              Login</a>
                        </li>

                     </ul>
                  </li>


                  <!-- SIGN UP BUTTON -->
                  <li class="nl-simple" aria-haspopup="true">
                     <a href="https://credential.certifyme.online/auth/preregister/nav@certifyme.online" target="_blank"
                        class="btn r-04 btn--theme hover--theme last-link">Try For
                        Free</a>
                  </li>


               </ul>
            </nav> <!-- END MAIN MENU -->


         </div>
      </div> <!-- END NAVIGATION MENU -->


   </div> <!-- End header-wrapper -->
</header> <!-- END HEADER -->