<section id="privacy-page" class="gr--whitesmoke pb-80 inner-page-hero division">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-xl-10">


				<!-- INNER PAGE TITLE -->
				<div class="inner-page-title">
					<h2 class="s-52 w-700">Privacy Policy</h2>
					<p class="p-lg">Welcome to CertifyMe!</p>
				</div>


				<!-- TEXT BLOCK -->
				<div class="txt-block legal-info">

					<!-- Title -->
					<h4 class="s-30 w-700"><span>1.</span> Introduction</h4>

					<!-- Text -->
					<p>At CertifyMe.Online, accessible from <a
							href="https://certifyme.online/"><b>https://certifyme.online/</b></a>, protecting the
						privacy of our users is one of our highest priorities. This Privacy Policy outlines the types of
						data we collect, use, and protect across our platform. For any questions about this Privacy
						Policy, please contact us at <a
							href="mailto:info@certifyme.online"><b>info@certifyme.online.</b></a>
					</p>

					<!-- Text -->
					<p>This Privacy Policy is relevant to all data collected via our online services and does not apply
						to information gathered offline or through other channels. By using CertifyMe.Online, you
						consent to our policy and agree to its terms.
					</p>

					<!-- Title -->
					<h4 class="s-30 w-700"><span>2.</span> Consent</h4>

					<!-- Text -->
					<p>By using our website, you consent to our Privacy Policy and Terms of Service.


					</p>

					<!-- Title -->
					<h4 class="s-30 w-700"><span>3.</span> Information We Collect</h4>
					<p>We collect personal information as follows:</p>
					<!-- List -->
					<ul class="simple-list">

						<li class="list-item">
							<p><b>Account Creation:</b> Information such as name, company name, email, address, and
								phone number.
							</p>
						</li>

						<li class="list-item">
							<p><b>Direct Communication:</b> When you contact us, we may collect additional data like
								your
								message contents and any attached files.
							</p>
						</li>
					</ul>
					<p>We clearly communicate the reasons for data collection at the time we request your information.
					</p>

					<!-- Title -->
					<h4 class="s-30 w-700"><span>4.</span> How we use your information</h4>

					<!-- Text -->
					<p>Your data is used to:
					</p>

					<!-- List -->
					<ul class="simple-list">

						<li class="list-item">
							<p>Provide and enhance our services.
							</p>
						</li>

						<li class="list-item">
							<p>Personalize and improve user experience.
							</p>
						</li>

						<li class="list-item">
							<p>Analyze trends and usage to optimize platform performance.
							</p>
						</li>

						<li class="list-item">
							<p>Communicate directly with you for support, updates, or marketing.
							</p>
						</li>

						<li class="list-item">
							<p>Prevent fraud and ensure secure access.
							</p>
						</li>
					</ul>

					<!-- Title -->
					<h4 class="s-30 w-700"><span>5.</span> Log Files</h4>

					<!-- Text -->
					<p>We collect log data, including IP addresses, browser types, ISP information, timestamps, and
						click data, solely to improve user experience and track trends.
					</p>


					<!-- Title -->
					<h4 class="s-24 w-700"><span>6.</span> Cookies and Web Beacons</h4>

					<!-- Text -->
					<p>Like many websites, CertifyMe.Online uses cookies and similar technologies (such as web beacons)
						to enhance user experience. Cookies are small files stored on your device to remember
						preferences and track website activity. Here's how we use them:
					</p>
					<ul class="simple-list">

						<li class="list-item">
							<p><b>Functional Cookies: </b>These cookies are essential for enabling basic website
								functionality such as session management and navigation.
							</p>
						</li>

						<li class="list-item">
							<p><b>Performance Cookies: </b>These cookies help us understand how visitors interact with
								our site, allowing us to optimize its performance.
							</p>
						</li>

						<li class="list-item">
							<p><b>Advertising Cookies: </b>Used to serve relevant advertisements based on your browsing
								history, improving ad personalization.
							</p>
						</li>
					</ul>
					<p>By using our website, you consent to the use of cookies as described. If you do not wish to
						accept cookies, you can modify your browser settings to block them, but this may affect the
						functionality of the website.</p>

					<!-- Text -->
					<p>For more detailed information on cookies, visit
						<a href="https://www.cookiesandyou.com/" target="_blank
								"><b>What Are Cookies</b></a>.

					</p>

					<!-- Title -->
					<h4 class="s-30 w-700"><span>7.</span>Third-Party Tools and Advertising</h4>

					<!-- Text -->
					<p>Google DoubleClick DART Cookie: Google may use cookies to serve relevant ads based on your
						browsing history. You can opt out via Google Ad Privacy Policy at
						<a href="https://policies.google.com/technologies/ads" target="_blank">
							https://policies.google.com/technologies/ads.</a>
					</p>

					<!-- Title -->
					<h4 class="s-30 w-700"><span>8.</span> Compliance with Data Privacy Standards</h4>

					<!-- Text -->
					<p>As a global SaaS digital credential platform, we strictly adhere to GDPR, FERPA, and SOC 2
						standards:
					</p>
					<ul class="simple-list">

						<li class="list-item">
							<p><b>GDPR Compliance:</b> CertifyMe ensures all users under the Enterprise Plus plan and
								onboarded to EU servers in the EU have rights to access, correct, delete, and limit the
								processing of their personal data. You may exercise these rights by contacting us.
						</li>

						<li class="list-item">
							<p><b>FERPA Compliance: </b>CertifyMe commits to safeguarding educational records and
								protecting student privacy for educational institutions in compliance with FERPA
								regulations.
							</p>
						</li>

						<li class="list-item">
							<p><b>SOC 2 Compliance:</b> We follow SOC 2 principles to safeguard data integrity,
								availability, and confidentiality through our security measures and audits.
							</p>
						</li>
					</ul>

					<!-- Title -->
					<h4 class="s-30 w-700"><span>9.</span>GDPR Data Protection Rights</h4>

					<!-- Text -->
					<p>In compliance with the General Data Protection Regulation (GDPR), CertifyMe is committed to
						ensuring that our users are fully aware of their data protection rights. Every user is entitled
						to the following:
					</p>
					<ul class="simple-list">

						<li class="list-item">
							<p><b>The Right to Access:</b> You have the right to request copies of your personal data. A
								small administrative fee may apply.
						</li>

						<li class="list-item">
							<p><b>The Right to Rectification: </b>You can request correction of any inaccurate
								information or completion of incomplete information.
							</p>
						</li>

						<li class="list-item">
							<p><b>The Right to Erasure (Right to Be Forgotten):</b> You may request that we delete your
								personal data, subject to certain conditions.
							</p>
						</li>

						<li class="list-item">
							<p><b> The Right to Restrict Processing: </b>Under specific conditions, you have the right
								to request that we limit the processing of your personal data.
						</li>

						<li class="list-item">
							<p><b>The Right to Object to Processing: </b>You can object to our processing of your
								personal data in cases involving direct marketing, profiling, or when processing is
								based on legitimate interests or public interest.
							</p>
						</li>

						<li class="list-item">
							<p><b> The Right to Data Portability:</b> You have the right to request the transfer of your
								personal data to another organization or directly to you in a structured, commonly used,
								and machine-readable format, where feasible.
							</p>
						</li>
					</ul>
					<p>If you wish to exercise any of these rights, please contact us at <a
							href="mailto:info@certifyme.online"><b>info@certifyme.online.</b></a> CertifyMe has one
						month to respond to any such requests in accordance with GDPR regulations.
					</p>

					<!-- Title -->
					<h4 class="s-30 w-700"><span>10.</span> FERPA Data Protection Rights</h4>
					<p>CertifyMe is committed to maintaining the confidentiality and security of student educational
						records in compliance with the Family Educational Rights and Privacy Act (FERPA). For
						educational institutions and students using our platform, the following FERPA rights apply:</p>

					<ul class="simple-list">

						<li class="list-item">
							<p><b>The Right to Access:</b> Students or their parents (if the student is under 18) have
								the right to access and review the student's educational records maintained by
								educational institutions.
							</p>
						</li>

						<li class="list-item">
							<p><b>The Right to Request Amendment: </b>Students or their parents may request corrections
								to the student's educational records if they believe the information is inaccurate,
								misleading, or violates privacy rights.
							</p>
						</li>

						<li class="list-item">
							<p><b>The Right to Consent to Disclosures:</b> Personally identifiable information from
								student records will not be disclosed without consent, except in cases where FERPA
								authorizes disclosure without consent (e.g., disclosure to school officials with
								legitimate educational interests).
							</p>
						</li>

						<li class="list-item">
							<p><b> The Right to File a Complaint: </b>If an educational institution using CertifyMe
								fails to comply with FERPA requirements, students or parents have the right to file a
								complaint with the U.S. Department of Education.
							</p>
						</li>
					</ul>
					<p>CertifyMe enables educational institutions to handle student records in a way that meets FERPA
						compliance requirements. For further information on FERPA compliance or to exercise these
						rights, please contact us at
						<a href="mailto:info@certifyme.online"><b>info@certifyme.online.</b></a>
					</p>
					<!-- Title -->
					<h4 class="s-30 w-700"><span>11.</span> Children's Privacy</h4>

					<!-- Text -->
					<p>We do not knowingly collect data from children under 13. If such data is detected, we promptly
						delete it.
					</p>

					<!-- Title -->
					<h4 class="s-30 w-700"><span>12.</span>Updates and Changes</h4>

					<!-- Text -->
					<p>We may update this Privacy Policy to reflect legal changes and better safeguard your data.
						Updates will be posted on our website, with changes effective immediately.</p>

					<h4 class="s-30 w-700"><span>13.</span> Google Workspace Add-ons </h4>

					<!-- Text -->
					<p>Google Workspace Add-ons app for Google forms use and transfer to any other app of information
						received from Google APIs will adhere to
						<a href="https://developers.google.com/terms/api-services-user-data-policy"
							target="_blank"><b>Google API Services User Data Policy</b></a>, including the <a
							href="https://developers.google.com/terms"
							target="_blank"><b>Limited Use requirements</b></a> - <a href="https://github.com/rtharayil/CertifyMeExamples-/blob/main/Privacy_Policy%20%26%20Terms_Of_Use.cd"
							target="_blank"><b> Click for more details</b></a>.
					</p>


					<!-- Title -->
					<h4 class="s-30 w-700"><span>14.</span> Contact Us </h4>

					<!-- Text -->
					<p>If you have any questions about this Privacy Policy, please contact us at
						<a href="mailto:info@certifyme.online"><b>info@certifyme.online.</b></a>
					</p>


				</div> <!-- END TEXT BLOCK -->


			</div>
		</div> <!-- End row -->
	</div> <!-- End container -->
</section> <!-- END PRIVACY PAGE -->
</div> <!-- END PAGE CONTENT -->