<!-- REFUND POLICY PAGE
			============================================= -->
<section id="cookies-page" class="gr--whitesmoke pb-80 inner-page-hero division">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-xl-10">


				<!-- INNER PAGE TITLE -->
				<div class="inner-page-title">
					<h2 class="s-52 w-700">Refund Policy</h2>
					<p class="p-lg">Welcome to CertifyMe.online!</p>
				</div>


				<!-- TEXT BLOCK -->
				<div class="txt-block legal-info">

					<!-- Text -->
					<p>We value your satisfaction and strive to provide the best services to all our customers.
						Therefore, we have implemented the following refund policy to address any concerns you
						may have regarding your subscription purchase:
					</p>

					<!-- Title -->
					<h4 class="s-30 w-700"><span>1.</span> Our Policy</h4>

					<!-- Text -->
					<p>To ensure a smooth and transparent refund process, please familiarize yourself with the
						following conditions:
					</p>

					<!-- List -->
					<ul class="simple-list">

						<li class="list-item">
							<p><b>Credential Limitation:</b> Refunds are applicable only if you have not been
								awarded more than 50 credentials from your account. If you have awarded more
								than 50 credentials, you will not be eligible for a refund.

							</p>
						</li>

						<li class="list-item">
							<p><b>Discounted Subscriptions:</b> Please note that discounted subscriptions are
								not eligible for any refund. This includes promotional offers, special deals, or
								any subscription purchased at a reduced price.
							</p>
						</li>

						<li class="list-item">
							<p><b>Refund Request Deadline:</b> If you wish to request a refund, you must send us
								an email within 5 days from the date of your subscription purchase. Any refund
								requests received after this period will not be considered.
							</p>
						</li>
					</ul>



					<!-- Title -->
					<h4 class="s-30 w-700"><span>2.</span> Eligibility Assessment</h4>

					<!-- Small Title -->
					<!-- <h5 class="s-24 w-700"><span>2.1.</span> Essential cookies</h5> -->

					<!-- Text -->
					<p>All refund requests will undergo a thorough eligibility assessment based on the
						conditions mentioned above. We reserve the right to deny a refund if any of the criteria
						is not met.
					</p>


					<!-- Small Title -->
					<h4 class="s-30 w-700"><span>3.</span> Refund Process</h4>

					<!-- Text -->
					<p>If your refund request is approved, we will initiate the refund within 10 business days
						using the original payment method. Please note that it may take some time for the
						refunded amount to reflect in your account, depending on your bank or payment provider.
					</p>

					<!-- Small Title -->
					<h4 class="s-30 w-700"><span>4.</span> Termination of Access</h4>

					<!-- Text -->
					<p>Upon receiving a refund, your access to our services will be terminated, and any awarded
						credentials will be revoked.
					</p>


					<!-- Small Title -->
					<h4 class="s-30 w-700"><span>5.</span> Appeals</h4>

					<!-- Text -->
					<p>If your refund request is declined, you have the right to appeal the decision. Please
						provide any additional relevant information or evidence to support your appeal.
					</p>


					<!-- Title -->
					<h4 class="s-30 w-700"><span>6.</span> How to Contact Us</h4>

					<!-- Text -->
					<p>To initiate a refund request or inquire further about our refund policy, please email us
						at <a href="mailto:info@certifyme.online" class="color--theme">info@certifyme.online</a>.
					</p>

					<!-- Text -->
					<p>Please be assured that we take our customers' satisfaction seriously and will handle
						refund requests in a fair and timely manner. We appreciate your understanding and
						cooperation. Thank you for choosing our services.
					</p>

					<!-- Text -->
					<p><i>Note: This refund policy is subject to change without prior notice. It is recommended to
							review the policy periodically to stay updated on any modifications.</i>
					</p>

				</div> <!-- END TEXT BLOCK -->


			</div>
		</div> <!-- End row -->
	</div> <!-- End container -->
</section> <!-- END COOKIES PAGE -->