<!-- REFUND POLICY PAGE
			============================================= -->
<section id="cookies-page" class="gr--whitesmoke pb-80 inner-page-hero division">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-xl-10">


				<!-- INNER PAGE TITLE -->
				<div class="inner-page-title">
					<h2 class="s-52 w-700">Customer Refund Policy</h2>
					<p class="p-lg">Welcome to CertifyMe!</p>
				</div>


				<!-- TEXT BLOCK -->
				<div class="txt-block legal-info">

					<!-- Text -->
					<p>At CertifyMe, we strive to provide our customers with the best possible experience. If you are
						not satisfied with your purchase, we're here to help.
					</p>

					<!-- Title -->
					<h4 class="s-30 w-700"><span>1.</span> Refund Eligibility</h4>

					<!-- List -->
					<ul class="simple-list">

						<li class="list-item">
							<p>Refund requests received within 5 working days from the date of purchase is valid.
							</p>
						</li>

						<li class="list-item">
							<p>To request a refund, please submit our <a
									href="https://docs.google.com/forms/d/e/1FAIpQLSeNIv-fnjJNoUKlPbFsuXGzpLejteZBhxS0SDcfAjVRd748Aw/viewform?usp=pp_url"
									target="_blank"><u>refund request form</u></a> within 5 working days of purchase
								with a
								genuine reason. We don't consider email refund requests or on-call requests as valid
								refund requests.
							</p>
						</li>

						<li class="list-item">
							<p>Refund requests are valid only if you have not been awarded more than 5 credentials from
								your account. If you have awarded more than 5 credentials, you will not be eligible for
								a refund.
							</p>
						</li>
						<li class="list-item">
							<p>Discounted subscriptions are not eligible for any refund. This includes promotional
								offers, special deals, or any subscription purchased at a reduced price.
							</p>
						</li>
						<li class="list-item">
							<p>We do not offer refunds for any annual subscriptions that are canceled mid-term.
							</p>
						</li>
						<li class="list-item">
							<p>We do not offer refunds after the renewal date of a subscription has passed.
							</p>
						</li>
						<li class="list-item">
							<p>We offer a refund if there has been a genuine billing error that our Customer Support
								team can verify and accept.
							</p>
						</li>
					</ul>



					
					<!-- Small Title -->
					<h4 class="s-30 w-700"><span>2.</span> How to Request a Refund</h4>

					<!-- Text -->
					<p>To request a refund, please submit our <a
							href="https://docs.google.com/forms/d/e/1FAIpQLSeNIv-fnjJNoUKlPbFsuXGzpLejteZBhxS0SDcfAjVRd748Aw/viewform?usp=pp_url"
							target="_blank"><u>refund request form</u></a> within 5 working days of purchase with a
						genuine reason. We don't consider email refund requests or on-call requests as valid refund
						requests. Our team will evaluate your request and if considered genuine we will initiate the
						refund procedure
						.
					</p>

					<!-- Small Title -->
					<h4 class="s-30 w-700"><span>3.</span> Refund Verification Process</h4>

					<!-- Text -->
					<ul class="simple-list">
						<li class="list-item">
							<p>We provide a refund if you submit the refund request form with a genuine reason within 5 working days of purchase of your subscription. Any refund requests received after this period will not be even considered for evaluation at any cost. 
							</p>
						</li>
						<li class="list-item">
							<p>We reserve the right to deny a refund if any of the criteria is not met.
							</p>
						</li>
					</ul>


					<!-- Small Title -->
					<h4 class="s-30 w-700"><span>4.</span> Refund Approval</h4>

					<!-- Text -->
					<ul class="simple-list">
						<li class="list-item">
							<p>Once your refund request is approved, we will send you an email confirmation on the same.
							</p>
						</li>
						<li class="list-item">
							<p>The refund process will be initiated within 10-30 days from the date you have received the refund approval email.
							</p>
						</li>
						<li class="list-item">
							<p>Please note that it may take 10-14 days after the refund process is initiated  for the refund to appear in your account, depending on your payment provider.
							</p>
						</li>
					</ul>
					

					<!-- Title -->
					<h4 class="s-30 w-700"><span>5.</span> How to Contact Us</h4>

					<!-- Text -->
					<p>To initiate a refund request or inquire further about our refund policy, please email us
						at <a href="mailto:info@certifyme.online" class="color--theme">info@certifyme.online</a>.
					</p>

					<!-- Text -->
					<p>Please be assured that we take our customers' satisfaction seriously and will handle
						refund requests in a fair and timely manner. We appreciate your understanding and
						cooperation. Thank you for choosing our services.
					</p>

					<!-- Text -->
					<p><i><b>Note: This refund policy is subject to change without prior notice. It is recommended to
							review the policy periodically to stay updated on any modifications.</b></i>
					</p>

				</div> <!-- END TEXT BLOCK -->


			</div>
		</div> <!-- End row -->
	</div> <!-- End container -->
</section> <!-- END COOKIES PAGE -->