<!-- STATISTIC-5
			============================================= -->
			<div class="row justify-content-center" style="margin-bottom: -80px;">
				<div class="col-md-10 col-lg-9">
				   <div class="brands-title mb-50">
					  <h1 class="s-19 w-700">1,000,263+ users in 144+ countries have partnered with CertifyMe to meet their credential<br> management needs safely
					  </h1>
				   </div>
				</div>
			 </div>
			<div id="statistic-5" class="py-100 statistic-section division" style="margin-bottom: -70px;">
				<div class="container">


					<!-- STATISTIC-1 WRAPPER -->
					<div class="statistic-5-wrapper">
						<div class="row row-cols-1 row-cols-md-3">


							<!-- STATISTIC BLOCK #1 -->
							<div class="col">						
								<div id="sb-5-1" class="wow fadeInUp">
									<div class="statistic-block">

										<!-- Digit -->
										<div class="statistic-digit">
											<h2 class="s-44 w-700">
												<span class="count-element">25</span>.<span class="count-element">62</span>k
											</h2>
										</div>

										<!-- Text -->
										<div class="statistic-txt">
											<h5 class="s-19 w-700">Happy Customers</h5>	
											<p>We have positively influenced 25k+ customers globally</p>
										</div>

									</div>
								</div>						
							</div>	<!-- END STATISTIC BLOCK #1 -->


							<!-- STATISTIC BLOCK #2 -->
							<div class="col">						
								<div id="sb-5-2" class="wow fadeInUp">	
									<div class="statistic-block">

										<!-- Digit -->
										<div class="statistic-digit">
											<h2 class="s-44 w-700">
												<span class="count-element">13</span>.<span class="count-element">54</span>k
											</h2>
										</div>

										<!-- Text -->
										<div class="statistic-txt">
											<h5 class="s-19 w-700">Positive Reviews</h5>	
											<p>Discover the collection of reviews to find out what customers love about us</p>
										</div>

									</div>
								</div>						
							</div>	<!-- END STATISTIC BLOCK #2 -->


							<!-- STATISTIC BLOCK #3 -->
							<div class="col">						
								<div id="sb-5-3" class="wow fadeInUp">
									<div class="statistic-block">	

										<!-- Digit -->
										<div class="statistic-digit">
											<h2 class="s-44 w-700">
												<span class="count-element">4</span>.<span class="count-element">95</span>/5
											</h2>
										</div>

										<!-- Text -->
										<div class="statistic-txt">
											<h5 class="s-19 w-700">Rating</h5>	
											<p>Join the chorus of thousands of delighted and satisfied customers</p>
										</div>

									</div>
								</div>						
							</div>	<!-- END STATISTIC BLOCK #3 -->


						</div>  <!-- End row -->
					</div>	<!-- END STATISTIC-5 WRAPPER -->


				</div>	 <!-- End container -->		
			</div>	 <!-- END STATISTIC-5 -->