<!-- STATISTIC-5
			============================================= -->
<!-- <div class="row justify-content-center" style="margin-bottom: -80px; margin-top: -40px;">
	<div class="col-md-10 col-lg-9">
		<div class="brands-title mb-50">
			<h1 class="s-26 w-700">The Most Trusted Digital Credential Platform 
			</h1>
		</div>
	</div>
</div> -->

<!-- STATISTIC-1
			============================================= -->
<div id="statistic-1" class="py-100 statistic-section division" style="margin-bottom: -50px; margin-top: -90px;">
	<div class="container">


		<!-- STATISTIC-1 WRAPPER -->
		<div class="statistic-1-wrapper">
			<div class="row justify-content-md-center row-cols-1 row-cols-md-3">


				<!-- STATISTIC BLOCK #1 -->
				<div class="col">
					<div id="sb-1-1" class="wow fadeInUp">
						<div class="statistic-block">

							<!-- Digit -->
							<div class="statistic-block-digit text-center">
								<h2 class="s-46 statistic-number"><span class="count-element">2164</span></h2>
							</div>

							<!-- Text -->
							<div class="statistic-block-txt color--grey">
								<p class="p-md">Institutions trust CertifyMe</p>
							</div>

						</div>
					</div>
				</div> <!-- END STATISTIC BLOCK #1 -->


				<!-- STATISTIC BLOCK #2 -->
				<div class="col">
					<div id="sb-1-2" class="wow fadeInUp">
						<div class="statistic-block">

							<!-- Digit -->
							<div class="statistic-block-digit text-center">
								<h2 class="s-46 statistic-number"><span class="count-element">1</span>M+</h2>
							</div>

							<!-- Text -->
							<div class="statistic-block-txt color--grey">
								<p class="p-md">Users across 144 countries</p>
							</div>

						</div>
					</div>
				</div> <!-- END STATISTIC BLOCK #2 -->


				<!-- STATISTIC BLOCK #3 -->
				<div class="col">
					<div id="sb-1-3" class="wow fadeInUp">
						<div class="statistic-block">

							<!-- Digit -->
							<div class="statistic-block-digit text-center">
								<h2 class="s-46 statistic-number">
									<span class="count-element">80</span>K+
								</h2>
							</div>

							<!-- Text -->
							<div class="statistic-block-txt color--grey">
								<p class="p-md">Digital credentials issued every month</p>
							</div>

						</div>
					</div>
				</div> <!-- END STATISTIC BLOCK #3 -->


			</div> <!-- End row -->
		</div> <!-- END STATISTIC-1 WRAPPER -->


	</div> <!-- End container -->
</div> <!-- END STATISTIC-1 -->