<!-- STATS BAR -->
<div id="cm-stats-bar">
  <div class="cm-stats-inner">

    <div class="cm-stat">
      <p class="cm-stat-value">4,864+</p>
      <p class="cm-stat-label">Institutions trust CertifyMe</p>
    </div>

    <div class="cm-stat">
      <p class="cm-stat-value">1M+</p>
      <p class="cm-stat-label">Users across 144 Countries</p>
    </div>

    <div class="cm-stat">
      <p class="cm-stat-value">87K+</p>
      <p class="cm-stat-label">Digital credentials issued every month</p>
    </div>

  </div>
</div>
