<hr class="divider" style="margin-top: 60px;">
<!-- FOOTER-3
			============================================= -->
<footer id="footer-3" class="pt-100 footer">
   <div class="container">


      <!-- FOOTER CONTENT -->
      <div class="row" style="margin-bottom: -40px;">


         <!-- FOOTER LOGO https://certifyme.online/images/GDPR.png  -->
         <div class="col-xl-3">
            <div class="footer-info" style="margin-bottom: 20px;">
               <img class="footer-logo" src="/assets4/images/Logo/1.png" alt="footer-logo">

            </div>
            <!-- <P class="s-8" style="font-size: 14px;">CertifyMe is trusted by 1M+ users across 144 countries.</P> -->
            <div class="w3-show-inline-block d-none d-lg-block" style="text-align: left; ">
               <div class="w3-bar">
                  <img src="https://certifyme.online/images/badgeISO.png" style="width:70px;" class=""
                     alt="Client List"></img>

                  <img src="https://certifyme.online/images/cyber.png" style="width:70px;" alt="Client List"></img>
                  <a target="_blank" href="/res/gdpr.pdf">

                     <img src="https://www.fylehq.com/assets/images/gdpr-complaint.png" style="width:70px;" alt="Client List"></img>
                  </a>

               </div>

            </div>
         </div>


         <!-- FOOTER LINKS -->
         <div class="col-sm-4 col-md-3 col-xl-2">
            <div class="footer-links fl-1">

               <!-- Title -->
               <h6 class="s-17 w-700" style="font-size: 16px;">{{page.QLinkTitle}}</h6>

               <!-- Links -->
               <ul class="foo-links clearfix">
                  <li>
                     <p><a href="/Refundpolicy" target="_blank" style="font-size: 14px;">{{page.QLink1}}</a></p>
                  </li>
                  <!-- <li><p><a href="careers.html"></a></p></li>	 -->
                  <li>
                     <p><a href="/AboutUs" style="font-size: 14px;">{{page.QLink2}}</a></p>
                  </li>
                  <li>
                     <p><a href="/pricing" target="_blank" style="font-size: 14px;">{{page.QLink3}}</a></p>
                  </li>
                  <li>
                     <p><a href="/sample-credential" target="_blank" style="font-size: 14px;">{{page.QLink4}}</a></p>
                  </li>
                  <li>
                     <p><a href="https://certifyme.online/blog" target="_blank" style="font-size: 14px;">{{page.QLink5}}</a></p>
                  </li>
                  <li>
                     <p><a href="https://resources.certifyme.online/" target="_blank" style="font-size: 14px;">{{page.QLink6}}</a></p>
                  </li>
               </ul>

            </div>
         </div> <!-- END FOOTER LINKS -->


         <!-- FOOTER LINKS -->
         <div class="col-sm-4 col-md-3 col-xl-2">
            <div class="footer-links fl-2">

               <!-- Title -->
               <h6 class="s-17 w-700" style="font-size: 16px;">{{page.IndustryTitle}}</h6>

               <!-- Links -->
               <ul class="foo-links clearfix">
                  <li>
                     <p><a href="https://certifyme.online/education" target="_blank" style="font-size: 14px;">{{page.Industry1}}</a></p>
                  </li>
                  <li>
                     <p><a href="https://certifyme.online/digital-badges-for-hr" target="_blank" style="font-size: 14px;">{{page.Industry2}}</a></p>
                  </li>
                  <li>
                     <p><a href="https://certifyme.online/credentials-for-elearning-platforms" style="font-size: 14px;">{{page.Industry3}}</a></p>
                  </li>
                  <li>
                     <p><a href="https://certifyme.online/digital-badges-for-associations" target="_blank" style="font-size: 14px;">{{page.Industry4}}</a></p>
                  </li>
                  <!-- <li>
                              <p><a href="help-center.html">Government</a></p>
                           </li> -->
               </ul>

            </div>
         </div> <!-- END FOOTER LINKS -->


         <!-- FOOTER LINKS -->
         <div class="col-sm-4 col-md-3 col-xl-2">
            <div class="footer-links fl-3">

               <!-- Title -->
               <h6 class="s-17 w-700" style="font-size: 16px;">{{page.CompareTitle}}</h6>

               <!-- Links -->
               <ul class="foo-links clearfix">
                  <li>
                     <p><a href="https://go.certifyme.online/credly" target="_blank" style="font-size: 14px;">{{page.Compare1}}</a></p>
                  </li>
                  <li>
                     <p><a href="https://go.certifyme.online/accredible" target="_blank" style="font-size: 14px;">{{page.Compare2}}</a></p>
                  </li>
                  <li>
                     <p><a href="https://go.certifyme.online/sertifier" target="_blank" style="font-size: 14px;">{{page.Compare3}}</a></p>
                  </li>
                  <li>
                     <p><a href="https://go.certifyme.online/certifier-alternative" target="_blank" style="font-size: 14px;">{{page.Compare4}}</a></p>
                  </li>
               </ul>

            </div>
         </div> <!-- END FOOTER LINKS -->


         <!-- FOOTER LINKS -->
         <div class="col-sm-6 col-md-3">
            <div class="footer-links fl-4">

               <!-- Title -->
               <h6 class="s-17 w-700" style="font-size: 16px;">{{page.ConnectTitle}}</h6>

               <!-- Mail Link -->
               <p class="footer-mail-link ico-25">
                  <a href="mailto:info@certifyme.online" style="font-size: 14px;"><b>Email: </b>info@certifyme.online</a><br>
                  <a style="font-size: 14px;"><b>United Kingdom</b><br>(+44) (203) 807-6958</a><br>
                  <a style="font-size: 14px;"><b>United States</b><br>(+1) (415) 670-9098</a><br>
               </p>
               <p href="" style="font-size: 14px;"><b>Address: </b>CertifyMe, 651 N Broad St,<br> Suite 201, Middletown, USA</p><br>

               <!-- Social Links -->
               <ul class="footer-socials ico-25 text-center clearfix">
                  <!-- <li><a href="https://www.facebook.com/certifyme.online.ql" target="_blank"><span
                           class="flaticon-facebook"></span></a></li> -->
                  <li><a href="https://twitter.com/i/flow/login?redirect_after_login=%2Fme_certify%2F"
                        target="_blank"><span class="flaticon-twitter hover-text-primary"></span></a></li>
                  <!-- <li><a href="https://www.instagram.com/certifyme.online/" target="_blank"><span
                           class="flaticon-instagram"></span></a></li> -->
                  <li><a href="https://www.youtube.com/channel/UCkbhyRP0L34oPaUOXBkI61w" target="_blank"><span
                           class="flaticon-youtube"></span></a></li>
                  <li><a href="https://www.linkedin.com/company/certify-me-online/mycompany/verification/"
                        target="_blank"><span class="flaticon-linkedin-logo"></span></a></li>
               </ul>

            </div>
         </div> <!-- END FOOTER LINKS -->


      </div> <!-- END FOOTER CONTENT -->


      <hr> <!-- FOOTER DIVIDER LINE -->


      <!-- BOTTOM FOOTER -->
      <div class="bottom-footer" style="margin-top: -20px; margin-bottom: -20px;">
         <div class="row row-cols-1 row-cols-md-2 d-flex align-items-center">


            <!-- FOOTER COPYRIGHT -->
            <div class="col">
               <div class="footer-copyright">
                  <p class="p-sm" style="font-size: 14px;">&copy; 2023 Tech99 Innovations Pvt Ltd - <span>All Rights
                        Reserved.</span></p>
               </div>
            </div>


            <!-- FOOTER SECONDARY LINK -->
            <div class="col">
               <div class="bottom-secondary-link ico-15 text-end">
                  <p class="p-sm" style="font-size: 14px;"><a href="/Policy" target="_blank">Privacy
                        Policy
                        <span class="">|</span> <a href="/TermsAndCondition" target="_blank">Terms of Use</a></a>
                  </p>
               </div>
            </div>


         </div> <!-- End row -->
      </div> <!-- END BOTTOM FOOTER -->


   </div> <!-- End container -->
</footer> <!-- END FOOTER-3 -->