
		<!-- TERMS PAGE
			============================================= -->
		<section id="terms-page" class="gr--whitesmoke pb-80 inner-page-hero division">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-xl-10">


						<!-- INNER PAGE TITLE -->
						<div class="inner-page-title">
							<h2 class="s-52 w-700">Terms and Conditions</h2>
							<p class="p-lg">Welcome to CertifyMe!</p>
						</div>


						<!-- TEXT BLOCK -->
						<div class="txt-block legal-info">

							<!-- Title -->
							<h4 class="s-30 w-700"><span>1.</span> Ownership</h4>

							<!-- Text -->
							<p>These terms and conditions outline the rules and regulations for the use of
								CertifyMe.Online's Website, located at https://certifyme.online/.
							</p>

							<p>By accessing this website we assume you accept these terms and conditions. Do not
								continue to use CertifyMe.online if you do not agree to take all of the terms and
								conditions stated on this page.
							</p>

							<!-- Text <span>&quot;Terms&quot;</span> -->
							<p>The following terminology applies to these Terms and Conditions, Privacy Statement and
								Disclaimer Notice and all Agreements: "Client", "You" and "Your" refers to you, the
								person log on this website and compliant to the Company’s terms and conditions. "The
								Company", "Ourselves", "We", "Our" and "Us", refers to our Company. "Party", "Parties",
								or "Us", refers to both the Client and ourselves. All terms refer to the offer,
								acceptance and consideration of payment necessary to undertake the process of our
								assistance to the Client in the most appropriate manner for the express purpose of
								meeting the Client’s needs in respect of provision of the Company’s stated services, in
								accordance with and subject to, prevailing law of Netherlands. Any use of the above
								terminology or other words in the singular, plural, capitalization and/or he/she or
								they, are taken as interchangeable and therefore as referring to same.


							</p>


							<!-- Title -->
							<h4 class="s-30 w-700"><span>2.</span> Cookies</h4>

							<!-- Text -->
							<p>We employ the use of cookies. By accessing CertifyMe.online, you agreed to use cookies in
								agreement with the CertifyMe.Online's Privacy Policy.
							</p>

							<!-- Text -->
							<p>Most interactive websites use cookies to let us retrieve the user’s details for each
								visit. Cookies are used by our website to enable the functionality of certain areas to
								make it easier for people visiting our website. Some of our affiliate/advertising
								partners may also use cookies.
							</p>

							<!-- Title -->
							<h4 class="s-30 w-700"><span>3.</span> License</h4>

							<!-- Text -->
							<p>Unless otherwise stated, CertifyMe.Online and/or its licensors own the intellectual
								property rights for all material on CertifyMe.online. All intellectual property rights
								are reserved. You may access this from CertifyMe.online for your own personal use
								subjected to restrictions set in these terms and conditions.
							</p>
							<p>You must not:</p>
							<!-- List -->
							<ul class="simple-list">

								<li class="list-item">
									<p>Republish material from CertifyMe.online
									</p>
								</li>

								<li class="list-item">
									<p>Sell, Rent or Sub-license material from CertifyMe.online
									</p>
								</li>

								<li class="list-item">
									<p>Reproduce, Duplicate or Copy material from CertifyMe.online
									</p>
								</li>

								<li class="list-item">
									<p>Redistribute content from CertifyMe.online
									</p>
								</li>

							</ul>
							<p>This Agreement shall begin on the date hereof. Our Terms and Conditions were created with
								the help of the <a href="https://www.termsandconditionsgenerator.com/"
									target="_blank"><b>Terms And Conditions Generator</b></a> and the <a
									href="https://www.generateprivacypolicy.com/" target="_blank">Privacy Policy
									Generator</a>.
							</p>

							<p>Parts of this website offer an opportunity for users to post and exchange opinions and
								information in certain areas of the website. CertifyMe.Online does not filter, edit,
								publish or review Comments prior to their presence on the website. Comments do not
								reflect the views and opinions of CertifyMe.Online,its agents and/or affiliates.
								Comments reflect the views and opinions of the person who post their views and opinions.
								To the extent permitted by applicable laws, CertifyMe.Online shall not be liable for the
								Comments or for any liability, damages or expenses caused and/or suffered as a result of
								any use of and/or posting of and/or appearance of the Comments on this website.
							</p>
							<p>CertifyMe.Online reserves the right to monitor all Comments and to remove any Comments
								which can be considered inappropriate, offensive or causes breach of these Terms and
								Conditions.
							</p>
							<p>You warrant and represent that:</p>
							<!-- List -->
							<ul class="simple-list">

								<li class="list-item">
									<p>You are entitled to post the Comments on our website and have all necessary
										licenses and consents to do so.
									</p>
								</li>

								<li class="list-item">
									<p>The Comments do not invade any intellectual property right, including without
										limitation copyright, patent or trademark of any third party.
									</p>
								</li>

								<li class="list-item">
									<p>The Comments do not contain any defamatory, libelous, offensive, indecent or
										otherwise unlawful material which is an invasion of privacy.
									</p>
								</li>

								<li class="list-item">
									<p>The Comments will not be used to solicit or promote business or custom or present
										commercial activities or unlawful activity.

									</p>
								</li>

							</ul>

							<p>You hereby grant CertifyMe.Online a non-exclusive license to use, reproduce, edit and
								authorize others to use, reproduce and edit any of your Comments in any and all forms,
								formats or media.
							</p>



							<!-- Title -->
							<h4 class="s-30 w-700"><span>4.</span> Hyperlinking to our Content</h4>

							<!-- Text -->
							<p>The following organizations may link to our Website without prior written approval:
							</p>
							<!-- List -->
							<ul class="simple-list">

								<li class="list-item">
									<p>Government Agencies
									</p>
								</li>

								<li class="list-item">
									<p>Search Engines
									</p>
								</li>

								<li class="list-item">
									<p>News Organizations
									</p>
								</li>

								<li class="list-item">
									<p>Online directory distributors may link to our Website in the same manner as they
										hyperlink to the Websites of other listed businesses; and

									</p>
								</li>

								<li class="list-item">
									<p>System wide Accredited Businesses except soliciting non-profit organizations,
										charity shopping malls, and charity fundraising groups which may not hyperlink
										to our Web site.
									</p>
								</li>

							</ul>

							<!-- Text -->
							<p>These organizations may link to our home page, to publications or to other Website
								information so long as the link: (a) is not in any way deceptive; (b) does not falsely
								imply sponsorship, endorsement or approval of the linking party and its products and/or
								services; and (c) fits within the context of the linking party’s site.
							</p>

							<!-- Text -->
							<p>We may consider and approve other link requests from the following types of
								organizations:
							</p>
							<!-- List -->
							<ul class="simple-list">

								<li class="list-item">
									<p>Commonly-known consumer and/or business information sources.
									</p>
								</li>

								<li class="list-item">
									<p>Dot.com community sites.
									</p>
								</li>

								<li class="list-item">
									<p>Associations or other groups representing charities.
									</p>
								</li>

								<li class="list-item">
									<p>Online directory distributors.

									</p>
								</li>

								<li class="list-item">
									<p>Internet portals.
									</p>
								</li>

								<li class="list-item">
									<p>Accounting, Law and Consulting firms; and
									</p>
								</li>

								<li class="list-item">
									<p>Educational Institutions and Trade associations.
									</p>
								</li>

							</ul>
							<p>We will approve link requests from these organizations if we decide that: (a) the link
								would not make us look unfavorably to ourselves or to our accredited businesses; (b) the
								organization does not have any negative records with us; (c) the benefit to us from the
								visibility of the hyperlink compensates the absence of CertifyMe.Online; and (d) the
								link is in the context of general resource information.
							</p>
							<p>These organizations may link to our home page so long as the link: (a) is not in any way
								deceptive; (b) does not falsely imply sponsorship, endorsement or approval of the
								linking party and its products or services; and (c) fits within the context of the
								linking party’s site.
							</p>
							<p>If you are one of the organizations listed in paragraph 2 above and are interested in
								linking to our website, you must inform us by sending an e-mail to CertifyMe.Online.
								Please include your name, your organization name, contact information as well as the URL
								of your site, a list of any URLs from which you intend to link to our Website, and a
								list of the URLs on our site to which you would like to link. Wait 2-3 weeks for a
								response.
							</p>
							<p>Approved organizations may hyperlink to our Website as follows:</p>

							<!-- List -->
							<ul class="simple-list">

								<li class="list-item">
									<p>By use of our corporate name; or
									</p>
								</li>

								<li class="list-item">
									<p>By use of the uniform resource locator being linked to; or
									</p>
								</li>

								<li class="list-item">
									<p>By use of any other description of our Website being linked to that makes sense
										within the context and format of content on the linking party’s site.
									</p>
								</li>
							</ul>
							<p>No use of CertifyMe.Online's logo or other artwork will be allowed for linking absent a
								trademark license agreement.</p>


							<!-- Title -->
							<h4 class="s-30 w-700"><span>5.</span> iFrames</h4>

							<!-- Text -->
							<p>Without prior approval and written permission, you may not create frames around our
								Webpages that alter in any way the visual presentation or appearance of our Website.
							</p>

							<!-- Title -->
							<h4 class="s-30 w-700"><span>6.</span> Content Liability</h4>

							<!-- Text -->
							<p>We shall not be hold responsible for any content that appears on your Website. You agree
								to protect and defend us against all claims that is rising on your Website. No link(s)
								should appear on any Website that may be interpreted as libelous, obscene or criminal,
								or which infringes, otherwise violates, or advocates the infringement or other violation
								of, any third party rights.
							</p>

							<!-- Small Title -->
							<h4 class="s-30 w-700"><span>7.</span> Your Privacy</h4>

							<!-- Text -->
							<p>Please read Privacy Policy
							</p>

							<!-- Title -->
							<h4 class="s-30 w-700"><span>8.</span> Reservation of Rights</h4>

							<p>We reserve the right to request that you remove all links or any particular link to our
								Website. You approve to immediately remove all links to our Website upon request. We
								also reserve the right to amen these terms and conditions and it’s linking policy at any
								time. By continuously linking to our Website, you agree to be bound to and follow these
								linking terms and conditions.</p>


							<!-- Title -->
							<h4 class="s-30 w-700"><span>9.</span> Removal of links from our website</h4>

							<!-- Text -->
							<p>If you find any link on our Website that is offensive for any reason, you are free to
								contact and inform us any moment. We will consider requests to remove links but we are
								not obligated to or so or to respond to you directly.
							</p>

							<!-- Text -->
							<p>We do not ensure that the information on this website is correct, we do not warrant its
								completeness or accuracy; nor do we promise to ensure that the website remains available
								or that the material on the website is kept up to date.
							</p>

							<!-- Small Title -->
							<h4 class="s-30 w-700"><span>10.</span> Disclaimer</h4>

							<!-- Text -->
							<p>To the maximum extent permitted by applicable law, we exclude all representations,
								warranties and conditions relating to our website and the use of this website. Nothing
								in this disclaimer will:
							</p>

							<!-- List -->
							<ul class="simple-list">

								<li class="list-item">
									<p>Limit or exclude our or your liability for death or personal injury.
									</p>
								</li>

								<li class="list-item">
									<p>Limit or exclude our or your liability for fraud or fraudulent misrepresentation.
									</p>
								</li>

								<li class="list-item">
									<p>Limit any of our or your liabilities in any way that is not permitted under
										applicable law; or
									</p>
								</li>

								<li class="list-item">
									<p>Exclude any of our or your liabilities that may not be excluded under applicable
										law.
									</p>
								</li>
							</ul>

							<!-- Text -->
							<p>The limitations and prohibitions of liability set in this Section and elsewhere in this
								disclaimer: (a) are subject to the preceding paragraph; and (b) govern all liabilities
								arising under the disclaimer, including liabilities arising in contract, in tort and for
								breach of statutory duty.
							</p>

							<p>As long as the website and the information and services on the website are provided free
								of charge, we will not be liable for any loss or damage of any nature.</p>

							

							<!-- Title -->
							<h4 class="s-30 w-700"><span>11.</span> How to Contact Us</h4>

							<!-- Text -->
							<p>If you have any questions about this terms and conditions, do not hesitate to
								contact us at <a href="mailto:info@certifyme.online"
									class="color--theme">info@certifyme.online</a>
							</p>


						</div> <!-- END TEXT BLOCK -->


					</div>
				</div> <!-- End row -->
			</div> <!-- End container -->
		</section> <!-- END TERMS PAGE -->
	</div> <!-- END PAGE CONTENT -->