<!-- TESTIMONIALS-1
			============================================= -->
<section id="reviews-1" class="gr--whitesmoke pt-100 reviews-section">
    <div class="container">


        <!-- SECTION TITLE -->
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="section-title mb-70">

                    <!-- Title -->
                    <h2 class="s-42 w-700">Recommended by Influential Voices: Testimonials from Industry Evangelists</h2>

                    <!-- Text -->
                    <p class="s-21 color--grey">Global Brands Trust CertifyMe For Their Credential Management</p>

                </div>
            </div>
        </div>


        <!-- TESTIMONIALS CONTENT -->
        <div class="row">
            <div class="col">
                <div class="owl-carousel owl-theme reviews-1-wrapper">


                    <!-- TESTIMONIAL #1 -->
                    <div class="review-1 bg--white-100 block-shadow r-08">

                        <!-- Quote Icon -->
                        <div class="review-ico ico-65"><span class="flaticon-quote"></span></div>

                        <!-- Text -->
                        <div class="review-txt">

                            <!-- Text -->
                            <p>My top recommendation for certification. Its user-friendly interface, excellent support,
                                social media sharing, and constant upgrades make it the perfect platform for issuing
                                certificates and tracking student progress.
                            </p>

                            <!-- Author -->
                            <div class="author-data clearfix">

                                <!-- Avatar -->
                                <div class="review-avatar">
                                    <img src="/assets4/images/Cherry.png" alt="review-avatar">
                                </div>

                                <!-- Data -->
                                <div class="review-author">
                                    <h6 class="s-18 w-700">Cherry Ho L.</h6>
                                    <p class="p-sm">Co-Founder</p>
                                </div>

                            </div> <!-- End Author -->

                        </div> <!-- End Text -->

                    </div> <!-- END TESTIMONIAL #1 -->


                    <!-- TESTIMONIAL #2 -->
                    <div class="review-1 bg--white-100 block-shadow r-08">

                        <!-- Quote Icon -->
                        <div class="review-ico ico-65"><span class="flaticon-quote"></span></div>

                        <!-- Text -->
                        <div class="review-txt">

                            <!-- Text -->
                            <p>What truly stands out about CertifyMe is the remarkable support provided by their
                                customer success team. They go above and beyond to ensure a seamless experience.
                                Additionally, the platform boasts a clear and intuitive user interface, allowing easy
                                navigation and customization with our own branding.
                            </p>

                            <!-- Author -->
                            <div class="author-data clearfix">

                                <!-- Avatar -->
                                <div class="review-avatar">
                                    <img src="/assets4/images/Aleena.png" alt="review-avatar">
                                </div>

                                <!-- Data -->
                                <div class="review-author">
                                    <h6 class="s-18 w-700">Aleena J.</h6>
                                    <p class="p-sm">Program Manager</p>
                                </div>

                            </div> <!-- End Author -->

                        </div> <!-- End Text -->

                    </div> <!-- END TESTIMONIAL #2 -->


                    <!-- TESTIMONIAL #3 -->
                    <div class="review-1 bg--white-100 block-shadow r-08">

                        <!-- Quote Icon -->
                        <div class="review-ico ico-65"><span class="flaticon-quote"></span></div>

                        <!-- Text -->
                        <div class="review-txt">

                            <!-- Text -->
                            <p>Impressive range of features sets it apart as the ultimate solution for certificate
                                verification. Their free plan, along with customizable options, caters to diverse
                                company needs, making it an awesome choice.
                            </p>

                            <!-- Author -->
                            <div class="author-data clearfix">

                                <!-- Avatar -->
                                <div class="review-avatar">
                                    <img src="/assets4/images/Joshua J..png" alt="review-avatar">
                                </div>

                                <!-- Data -->
                                <div class="review-author">
                                    <h6 class="s-18 w-700">Joshua J.</h6>
                                    <p class="p-sm">IT Instructor</p>
                                </div>

                            </div> <!-- End Author -->

                        </div> <!-- End Text -->

                    </div> <!-- END TESTIMONIAL #3 -->


                    <!-- TESTIMONIAL #4 -->
                    <div class="review-1 bg--white-100 block-shadow r-08">

                        <!-- Quote Icon -->
                        <div class="review-ico ico-65"><span class="flaticon-quote"></span></div>

                        <!-- Text -->
                        <div class="review-txt">

                            <!-- Text -->
                            <p>CertifyMe's API automates certificate processes, ensuring accuracy and efficiency, while
                                real-time delivery offers immediate credential access, improving user experience.
                            </p>

                            <!-- Author -->
                            <div class="author-data clearfix">

                                <!-- Avatar -->
                                <div class="review-avatar">
                                    <img src="/assets4/images/Ankit.png" alt="review-avatar">
                                </div>

                                <!-- Data -->
                                <div class="review-author">
                                    <h6 class="s-18 w-700">Ankit R.</h6>
                                    <p class="p-sm">Business development</p>
                                </div>

                            </div> <!-- End Author -->

                        </div> <!-- End Text -->

                    </div> <!-- END TESTIMONIAL #4 -->


                    <!-- TESTIMONIAL #5 -->
                    <div class="review-1 bg--white-100 block-shadow r-08">

                        <!-- Quote Icon -->
                        <div class="review-ico ico-65"><span class="flaticon-quote"></span></div>

                        <!-- Text -->
                        <div class="review-txt">

                            <!-- Text -->
                            <p>As a training provider, we appreciate the user-friendly interface and customizable
                                digital badging options, which our students enthusiastically showcase on their social
                                media profiles.
                            </p>

                            <!-- Author -->
                            <div class="author-data clearfix">

                                <!-- Avatar -->
                                <div class="review-avatar">
                                    <img src="/assets4/images/Kasie.png" alt="review-avatar">
                                </div>

                                <!-- Data -->
                                <div class="review-author">
                                    <h6 class="s-18 w-700">Kasie V.</h6>
                                    <p class="p-sm">Founder & CEO</p>
                                </div>

                            </div> <!-- End Author -->

                        </div> <!-- End Text -->

                    </div> <!-- END TESTIMONIAL #5 -->


                    <!-- TESTIMONIAL #6 -->
                    <div class="review-1 bg--white-100 block-shadow r-08">

                        <!-- Quote Icon -->
                        <div class="review-ico ico-65"><span class="flaticon-quote"></span></div>

                        <!-- Text -->
                        <div class="review-txt">

                            <!-- Text -->
                            <p>It offers an end-to-end solution, is user-friendly with single-click awarding, enables
                                employees to share badges on LinkedIn, provides branding options, and has excellent
                                customer support and training.
                            </p>

                            <!-- Author -->
                            <div class="author-data clearfix">

                                <!-- Avatar -->
                                <div class="review-avatar">
                                    <img src="/assets4/images/Sharon.png" alt="review-avatar">
                                </div>

                                <!-- Data -->
                                <div class="review-author">
                                    <h6 class="s-18 w-700">Sharon D.</h6>
                                    <p class="p-sm">Marketing Coordinator</p>
                                </div>

                            </div> <!-- End Author -->

                        </div> <!-- End Text -->

                    </div> <!-- END TESTIMONIAL #6 -->


                    <!-- TESTIMONIAL #7 -->
                    <div class="review-1 bg--white-100 block-shadow r-08">

                        <!-- Quote Icon -->
                        <div class="review-ico ico-65"><span class="flaticon-quote"></span></div>

                        <!-- Text -->
                        <div class="review-txt">

                            <!-- Text -->
                            <p>Their exceptional customer service, efficient Tech team, and quick response times make
                                them highly recommendable. Integration has been seamless, and we're excited to share
                                certificates and badges with our event attendees.
                            </p>

                            <!-- Author -->
                            <div class="author-data clearfix">

                                <!-- Avatar -->
                                <div class="review-avatar">
                                    <img src="/assets4/images/Jade.png" alt="review-avatar">
                                </div>

                                <!-- Data -->
                                <div class="review-author">
                                    <h6 class="s-18 w-700">Jade A.</h6>
                                    <p class="p-sm">Digital Campaign Manager</p>
                                </div>

                            </div> <!-- End Author -->

                        </div> <!-- End Text -->

                    </div> <!-- END TESTIMONIAL #7 -->


                    <!-- TESTIMONIAL #8 -->
                    <div class="review-1 bg--white-100 block-shadow r-08">

                        <!-- Quote Icon -->
                        <div class="review-ico ico-65"><span class="flaticon-quote"></span></div>

                        <!-- Text -->
                        <div class="review-txt">

                            <!-- Text -->
                            <p>What I like best about CertifyMe is its simplicity and user-friendly interface. The team
                                behind CertifyMe is excellent and provides great support. I haven't come across any
                                dislikes as they are always responsive, helpful, and able to provide solutions tailored
                                to our needs.
                            </p>

                            <!-- Author -->
                            <div class="author-data clearfix">

                                <!-- Avatar -->
                                <div class="review-avatar">
                                    <img src="/assets4/images/Deepthi.png" alt="review-avatar">
                                </div>

                                <!-- Data -->
                                <div class="review-author">
                                    <h6 class="s-18 w-700">Deepti J.</h6>
                                    <p class="p-sm">Transformation Strategist</p>
                                </div>

                            </div> <!-- End Author -->

                        </div> <!-- End Text -->

                    </div> <!-- END TESTIMONIAL #8 -->


                </div>
            </div>
        </div> <!-- END TESTIMONIALS CONTENT -->


    </div> <!-- End container -->
</section> <!-- END TESTIMONIALS-1 -->