<!-- TESTIMONIALS-2
			============================================= -->
			<section id="reviews-2" class="pt-100 reviews-section" style="margin-top: -50px;">
				<div class="container">


					<!-- SECTION TITLE -->	
					<div class="row justify-content-center wow fadeInUp" style="margin-bottom: -20px;">	
						<div class="col-md-10 col-lg-9">
							<div class="section-title mb-70">	

								<!-- Title -->	
								<h2 class="s-38 w-700">Our Happy Customers</h2>	

								<!-- Text -->	
								<!-- <p class="s-21 color--grey">Recommended by Influential Voices: Testimonials from Industry Evangelists</p> -->
									
							</div>	
						</div>
					</div>


					<!-- TESTIMONIALS-2 WRAPPER -->
					<div class="reviews-2-wrapper rel shape--02 shape--white-400">
						<div class="row align-items-center row-cols-1 row-cols-md-2">


							<!-- TESTIMONIAL #1 -->
							<div class="col wow fadeInRight">
								<div id="rw-2-1" class="review-2 bg--white-100 block-shadow r-08">

									<!-- Quote Icon -->
		 							<div class="review-ico ico-65"><span class="flaticon-quote"></span></div>

									<!-- Text -->
									<div class="review-txt">

										<!-- Text -->
										<p>Impressive range of features sets it apart as the ultimate solution for certificate
											verification. Their enterprise plan, along with customizable options, caters to diverse
											company needs, making it an awesome choice.
										</p>

										<!-- Author -->
										<div class="author-data clearfix">

											<!-- Avatar -->
											<div class="review-avatar">
												<img src="/assets4/images/Joshua J.png" alt="avatar">
											</div>
														
											<!-- Data -->
											<div class="review-author">
												<h6 class="s-18 w-700">Joshua J.</h6>
												<p class="p-sm">Chief Learning Officer, System Support Inc.</p>
												<!-- <p class="s-12"></p> -->
											</div>	

										</div>	<!-- End Author -->

									</div>	<!-- End Text -->

								</div>
							</div>	<!-- END TESTIMONIAL #1 -->


							<!-- TESTIMONIAL #2 -->
							<div class="col wow fadeInLeft">
								<div id="rw-2-2" class="review-2 bg--white-100 block-shadow r-08">

									<!-- Quote Icon -->
		 							<div class="review-ico ico-65"><span class="flaticon-quote"></span></div>

									<!-- Text -->
									<div class="review-txt">

										<!-- Text -->
										<p>What truly stands out about CertifyMe is the remarkable support provided by their
											customer success team. They go above and beyond to ensure a seamless experience.
											Additionally, the platform boasts a clear and intuitive user interface, allowing easy
											navigation and customization.	   
										</p>

										<!-- Author -->
										<div class="author-data clearfix">

											<!-- Avatar -->
											<div class="review-avatar">
												<img src="/assets4/images/Aleena.png" alt="avatar">
											</div>
														
											<!-- Data -->
											<div class="review-author">
												<h6 class="s-18 w-700">Aleena J.</h6>
												<p class="p-sm">Enrolment Manager, State University of New York</p>
											</div>	

										</div>	<!-- End Author -->

									</div>	<!-- End Text -->
									
								</div>
							</div>	<!-- END TESTIMONIAL #2 -->


							<!-- TESTIMONIAL #3 -->
							<div class="col wow fadeInRight">
								<div id="rw-2-3" class="review-2 bg--white-100 block-shadow r-08">

									<!-- Quote Icon -->
		 							<div class="review-ico ico-65"><span class="flaticon-quote"></span></div>

									<!-- Text -->
									<div class="review-txt">

										<!-- Text -->
										<p>As a training provider, we appreciate the user-friendly interface and customizable
											digital badging options, which our students enthusiastically showcase on their social
											media profiles.
										</p>

										<!-- Author -->
										<div class="author-data clearfix">

											<!-- Avatar -->
											<div class="review-avatar">
												<img src="/assets4/images/Kasie.png" alt="avatar">
											</div>
														
											<!-- Data -->
											<div class="review-author">
												<h6 class="s-18 w-700">Kasie V.</h6>
												<p class="p-sm">CEO, Sigma Forces</p>
											</div>	

										</div>	<!-- End Author -->

									</div>	<!-- End Text -->
									
								</div>
							</div>	<!-- END TESTIMONIAL #3 -->


							<!-- TESTIMONIAL #4 -->
							<div class="col wow fadeInLeft">
								<div id="rw-2-4" class="review-2 bg--white-100 block-shadow r-08">

									<!-- Quote Icon -->
		 							<div class="review-ico ico-65"><span class="flaticon-quote"></span></div>

									<!-- Text -->
									<div class="review-txt">

										<!-- Text -->
										<p>It offers an end-to-end solution, is user-friendly with single-click awarding, enables
											employees to share badges on LinkedIn, provides branding options, and has excellent
											customer support and training.
										</p>

										<!-- Author -->
										<div class="author-data clearfix">

											<!-- Avatar -->
											<div class="review-avatar">
												<img src="/assets4/images/Sharon.png" alt="avatar">
											</div>
														
											<!-- Data -->
											<div class="review-author">
												<h6 class="s-18 w-700">Sharon D.</h6>
												<p class="p-sm">Academic Coordinator, University of Texas</p>
											</div>	

										</div>	<!-- End Author -->

									</div>	<!-- End Text -->
									
								</div>
							</div>	<!-- END TESTIMONIAL #4 -->


						</div>  <!-- End row -->
					</div>	<!-- END TESTIMONIALS-2 WRAPPER -->


				</div>	   <!-- End container -->
			</section>	<!-- END TESTIMONIALS-2 -->