<!-- TESTIMONIALS-1 -->
<section id="reviews-1" class="pt-100 shape--06 shape--gr-whitesmoke reviews-section">
	<div class="container">


		<!-- SECTION TITLE -->
		<div class="row justify-content-center">
			<div class="col-md-10 col-lg-9">
				<div class="section-title mb-70">

					<!-- Title -->
					<h2 class="s-38 w-700">{{page.TestimonialTitle}}</h2>

					
				</div>
			</div>
		</div>


		<!-- TESTIMONIALS CONTENT -->
		<div class="row">
			<div class="col">
				<div class="owl-carousel owl-theme reviews-1-wrapper">


					<!-- TESTIMONIAL #1 -->
					<div class="review-1 bg--white-100 block-shadow r-08">

						<!-- Quote Icon -->
						<div class="review-ico ico-65"><span class="flaticon-quote"></span></div>

						<!-- Text -->
						<div class="review-txt">

							<!-- Text -->
							<p>{{ page.authorMessage1 }}
							</p>

							<!-- Author -->
							<div class="author-data clearfix">

								<!-- Avatar -->
								<div class="review-avatar">
									<img src="{{ page.authorImage1 }}" alt="review-avatar">
								</div>

								<!-- Data -->
								<div class="review-author">
									<h6 class="s-16 w-700">{{ page.authorName1 }}</h6>
									<p class="p-sm" style="font-size:15px;">{{ page.authorDesignation1 }}</p>
									<p class="p-sm mt-2" style="font-size:15px;">{{ page.authorCompanyName1 }}</p>
								</div>

							</div> <!-- End Author -->

						</div> <!-- End Text -->

					</div> <!-- END TESTIMONIAL #1 -->


					<!-- TESTIMONIAL #2 -->
					<div class="review-1 bg--white-100 block-shadow r-08">

						<!-- Quote Icon -->
						<div class="review-ico ico-65"><span class="flaticon-quote"></span></div>

						<!-- Text -->
						<div class="review-txt">

							<!-- Text -->
							<p>{{ page.authorMessage2 }}
							</p>

							<!-- Author -->
							<div class="author-data clearfix">

								<!-- Avatar -->
								<div class="review-avatar">
									<img src="{{ page.authorImage2 }}" alt="review-avatar">
								</div>

								<!-- Data -->
								<div class="review-author">
									<h6 class="s-16 w-700">{{ page.authorName2 }}</h6>
									<p class="p-sm" style="font-size:15px;">{{ page.authorDesignation2 }}</p>
									<p class="p-sm mt-2" style="font-size:15px;">{{ page.authorCompanyName2 }}</p>
								</div>

							</div> <!-- End Author -->

						</div> <!-- End Text -->

					</div> <!-- END TESTIMONIAL #2 -->


					<!-- TESTIMONIAL #3 -->
					<div class="review-1 bg--white-100 block-shadow r-08">

						<!-- Quote Icon -->
						<div class="review-ico ico-65"><span class="flaticon-quote"></span></div>

						<!-- Text -->
						<div class="review-txt">

							<!-- Text -->
							<p>{{ page.authorMessage3 }}
							</p>

							<!-- Author -->
							<div class="author-data clearfix">

								<!-- Avatar -->
								<div class="review-avatar">
									<img src="{{ page.authorImage3 }}" alt="review-avatar">
								</div>

								<!-- Data -->
								<div class="review-author">
									<h6 class="s-16 w-700">{{ page.authorName3 }}</h6>
									<p class="p-sm" style="font-size:15px;">{{ page.authorDesignation3 }}</p>
									<p class="p-sm mt-2" style="font-size:15px;">{{ page.authorCompanyName3 }}</p>
								</div>

							</div> <!-- End Author -->

						</div> <!-- End Text -->

					</div> <!-- END TESTIMONIAL #3 -->


					<!-- TESTIMONIAL #4 -->
					<div class="review-1 bg--white-100 block-shadow r-08">

						<!-- Quote Icon -->
						<div class="review-ico ico-65"><span class="flaticon-quote"></span></div>

						<!-- Text -->
						<div class="review-txt">

							<!-- Text -->
							<p>{{ page.authorMessage4 }}
							</p>

							<!-- Author -->
							<div class="author-data clearfix">

								<!-- Avatar -->
								<div class="review-avatar">
									<img src="{{ page.authorImage4 }}" alt="review-avatar">
								</div>

								<!-- Data -->
								<div class="review-author">
									<h6 class="s-16 w-700">{{ page.authorName4 }}</h6>
									<p class="p-sm" style="font-size:15px;">{{ page.authorDesignation4 }}</p>
									<p class="p-sm mt-2" style="font-size:15px;">{{ page.authorCompanyName4 }}</p>
								</div>

							</div> <!-- End Author -->

						</div> <!-- End Text -->

					</div> <!-- END TESTIMONIAL #4 -->


					<!-- TESTIMONIAL #5 -->
					<div class="review-1 bg--white-100 block-shadow r-08">

						<!-- Quote Icon -->
						<div class="review-ico ico-65"><span class="flaticon-quote"></span></div>

						<!-- Text -->
						<div class="review-txt">

							<!-- Text -->
							<p>{{ page.authorMessage5 }}
							</p>

							<!-- Author -->
							<div class="author-data clearfix">

								<!-- Avatar -->
								<div class="review-avatar">
									<img src="{{ page.authorImage5 }}" alt="review-avatar">
								</div>

								<!-- Data -->
								<div class="review-author">
									<h6 class="s-16 w-700">{{ page.authorName5 }}</h6>
									<p class="p-sm" style="font-size:15px;">{{ page.authorDesignation5 }}</p>
									<p class="p-sm mt-2" style="font-size:15px;">{{ page.authorCompanyName5 }}</p>
								</div>

							</div> <!-- End Author -->

						</div> <!-- End Text -->

					</div> <!-- END TESTIMONIAL #5 -->


					<!-- TESTIMONIAL #6 -->
					<div class="review-1 bg--white-100 block-shadow r-08">

						<!-- Quote Icon -->
						<div class="review-ico ico-65"><span class="flaticon-quote"></span></div>

						<!-- Text -->
						<div class="review-txt">

							<!-- Text -->
							<p>{{ page.authorMessage6 }}
							</p>

							<!-- Author -->
							<div class="author-data clearfix">

								<!-- Avatar -->
								<div class="review-avatar">
									<img src="{{ page.authorImage6 }}" alt="review-avatar">
								</div>

								<!-- Data -->
								<div class="review-author">
									<h6 class="s-16 w-700">{{ page.authorName6 }}</h6>
									<p class="p-sm" style="font-size:15px;">{{ page.authorDesignation6 }}</p>
									<p class="p-sm mt-2" style="font-size:15px;">{{ page.authorCompanyName6 }}</p>
								</div>

							</div> <!-- End Author -->

						</div> <!-- End Text -->

					</div> <!-- END TESTIMONIAL #6 -->


					<!-- TESTIMONIAL #7 -->
					<div class="review-1 bg--white-100 block-shadow r-08">

						<!-- Quote Icon -->
						<div class="review-ico ico-65"><span class="flaticon-quote"></span></div>

						<!-- Text -->
						<div class="review-txt">

							<!-- Text -->
							<p>{{ page.authorMessage7 }}
							</p>

							<!-- Author -->
							<div class="author-data clearfix">

								<!-- Avatar -->
								<div class="review-avatar">
									<img src="{{ page.authorImage7 }}" alt="review-avatar">
								</div>

								<!-- Data -->
								<div class="review-author">
									<h6 class="s-16 w-700">{{ page.authorName7 }}</h6>
									<p class="p-sm" style="font-size:15px;">{{ page.authorDesignation7 }}</p>
									<p class="p-sm mt-2" style="font-size:15px;">{{ page.authorCompanyName7 }}</p>
								</div>

							</div> <!-- End Author -->

						</div> <!-- End Text -->

					</div> <!-- END TESTIMONIAL #7 -->


					<!-- TESTIMONIAL #8 -->
					<div class="review-1 bg--white-100 block-shadow r-08">

						<!-- Quote Icon -->
						<div class="review-ico ico-65"><span class="flaticon-quote"></span></div>

						<!-- Text -->
						<div class="review-txt">

							<!-- Text -->
							<p>{{ page.authorMessage8 }}
							</p>

							<!-- Author -->
							<div class="author-data clearfix">

								<!-- Avatar -->
								<div class="review-avatar">
									<img src="{{ page.authorImage8 }}" alt="review-avatar">
								</div>

								<!-- Data -->
								<div class="review-author">
									<h6 class="s-16 w-700">{{ page.authorName8 }}</h6>
									<p class="p-sm" style="font-size:15px;">{{ page.authorDesignation8 }}</p>
									<p class="p-sm mt-2" style="font-size:15px;">{{ page.authorCompanyName8 }}</p>
								</div>

							</div> <!-- End Author -->

						</div> <!-- End Text -->

					</div> <!-- END TESTIMONIAL #8 -->


				</div>
			</div>
		</div> <!-- END TESTIMONIALS CONTENT -->


	</div> <!-- End container -->
</section> <!-- END TESTIMONIALS-1 -->