<!-- FEATURES-2
			============================================= -->
<section id="features-2" class="py-100 features-section division" style="margin-bottom: -70px;">
    <div class="container">


        <!-- SECTION TITLE -->
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-9">
                <div class="section-title mb-80">

                    <!-- Title -->
                    <h2 class="s-50 w-700">A Comprehensive Platform</h2>

                    <!-- Text -->
                    <p class="s-21 color--grey">Design, Issue & Manage an Automated Credentialing Journey</p>

                </div>
            </div>
        </div>


        <!-- FEATURES-2 WRAPPER -->
        <div class="fbox-wrapper text-center">
            <div class="row row-cols-1 row-cols-md-3 rows-2">


                <!-- FEATURE BOX #1 -->
                <div class="col">
                    <div class="fbox-2 fb-1 wow fadeInUp">

                        <!-- Image -->
                        <div class="fbox-img gr--whitesmoke h-170">
                            <img class="img-fluid" src="/assets4/images/Website Image V1/Images/6.1.png"
                                alt="feature-image">
                        </div>

                        <!-- Text -->
                        <div class="fbox-txt">
                            <h6 class="s-22 w-700">Detailed Analytics Guide</h6>
                            <p>The insightful analytics section of CertifyMe lets you deep dive into the performance of
                                the credentials issued by you.
                            </p>
                        </div>

                    </div>
                </div> <!-- END FEATURE BOX #1 -->


                <!-- FEATURE BOX #2 -->
                <div class="col">
                    <div class="fbox-2 fb-2 wow fadeInUp">

                        <!-- Image -->
                        <div class="fbox-img gr--whitesmoke h-170">
                            <img class="img-fluid" src="/assets4/images/Website Image V1/Images/6.2.png"
                                alt="feature-image">
                        </div>

                        <!-- Text -->
                        <div class="fbox-txt">
                            <h6 class="s-22 w-700">Real-Time Credential Delivery</h6>
                            <p>Real-time delivery allows recipients to access the credentials and showcase them online
                                without delay.</p>
                        </div>

                    </div>
                </div> <!-- END FEATURE BOX #2 -->


                <!-- FEATURE BOX #3 -->
                <div class="col">
                    <div class="fbox-2 fb-3 wow fadeInUp">

                        <!-- Image -->
                        <div class="fbox-img gr--whitesmoke h-170">
                            <img class="img-fluid" src="/assets4/images/Website Image V1/Images/6.3.png"
                                alt="feature-image">
                        </div>

                        <!-- Text -->
                        <div class="fbox-txt">
                            <h6 class="s-22 w-700">Quick API Integration</h6>
                            <p>Integrate CertifyMe with your existing LMS or CMS to automate awarding e-credentials with
                                API’s, No code integration or plugins.</p>
                        </div>

                    </div>
                </div> <!-- END FEATURE BOX #3 -->


                <!-- FEATURE BOX #4 -->
                <div class="col">
                    <div class="fbox-2 fb-4 wow fadeInUp">

                        <!-- Image -->
                        <div class="fbox-img gr--whitesmoke h-170">
                            <img class="img-fluid" src="/assets4/images/Website Image V1/Images/6.4.png"
                                alt="feature-image">
                        </div>

                        <!-- Text -->
                        <div class="fbox-txt">
                            <h6 class="s-22 w-700">E-Wallet & Showcase Directory</h6>
                            <p>The platform allows issuers and recipients to maintain seamless storage for their
                                credentials to easily access and manage their credentials.</p>
                        </div>

                    </div>
                </div> <!-- END FEATURE BOX #4 -->


                <!-- FEATURE BOX #5 -->
                <div class="col">
                    <div class="fbox-2 fb-5 wow fadeInUp">

                        <!-- Image -->
                        <div class="fbox-img gr--whitesmoke h-170">
                            <img class="img-fluid" src="/assets4/images/Website Image V1/Images/6.5.png"
                                alt="feature-image">
                        </div>

                        <!-- Text -->
                        <div class="fbox-txt">
                            <h6 class="s-22 w-700">Top Graded Security Features</h6>
                            <p>We implement enterprise-level security features into credentials to prevent certificate
                                forgery and data theft.
                            </p>
                        </div>

                    </div>
                </div> <!-- END FEATURE BOX #5 -->


                <!-- FEATURE BOX #6 -->
                <div class="col">
                    <div class="fbox-2 fb-6 wow fadeInUp">

                        <!-- Image -->
                        <div class="fbox-img gr--whitesmoke h-170">
                            <img class="img-fluid" src="/assets4/images/Website Image V1/Images/6.6.png"
                                alt="feature-image">
                        </div>

                        <!-- Text -->
                        <div class="fbox-txt">
                            <h6 class="s-22 w-700">Premium Customization</h6>
                            <p>Choose a branding solution to customize the socially shareable digital certificates and
                                reflect your authentic brand presence.
                            </p>
                        </div>

                    </div>
                </div> <!-- END FEATURE BOX #6 -->


            </div> <!-- End row -->
        </div> <!-- END FEATURES-2 WRAPPER -->


    </div> <!-- End container -->
</section> <!-- END FEATURES-2 -->