<!-- TEXT CONTENT -->
<section class="pt-50 pb-100 ct-02 content-section division">
	<div class="container">
		
		<!-- SECTION CONTENT (ROW) -->
		<div class="row d-flex align-items-center">
			<h2 class="s-38 w-700 text-center" style="margin-bottom: 50px;">{{ page.TypesHeadTitle }}</h2>

			<!-- IMAGE BLOCK -->
			<div class="col-md-6">
				<div class="img-block left-column wow fadeInRight">
					<img class="img-fluid" src="{{ page.TypesImage }}" alt="{{ page.TypesHeadTitle }}">
				</div>
			</div>

			<!-- TEXT BLOCK -->
			<div class="col-md-6">
				<div class="txt-block right-column wow fadeInLeft">

					<!-- CONTENT BOX #1 -->
					<div class="cbox-2 process-step">

						<!-- Icon -->
						<div class="ico-wrap">
							<div class="cbox-2-ico bg--theme color--white">1</div>
							<span class="cbox-2-line"></span>
						</div>

						<!-- Text -->
						<div class="cbox-2-txt">
							<h5 class="s-22 w-700">{{ page.head1 }}</h5>
							<p>{{ page.head1Text }}
							</p>
						</div>

					</div> <!-- END CONTENT BOX #1 -->

					<!-- CONTENT BOX #2 -->
					<div class="cbox-2 process-step">

						<!-- Icon -->
						<div class="ico-wrap">
							<div class="cbox-2-ico bg--theme color--white">2</div>
							<span class="cbox-2-line"></span>
						</div>

						<!-- Text -->
						<div class="cbox-2-txt">
							<h5 class="s-22 w-700">{{ page.head2 }}</h5>
							<p>{{ page.head2Text }}
							</p>
						</div>

					</div> <!-- END CONTENT BOX #2 -->


					<!-- CONTENT BOX #3 -->
					<div class="cbox-2 process-step">

						<!-- Icon -->
						<div class="ico-wrap">
							<div class="cbox-2-ico bg--theme color--white">3</div>
						</div>

						<!-- Text -->
						<div class="cbox-2-txt">
							<h5 class="s-22 w-700">{{ page.head3 }}</h5>
							<p class="mb-0">{{ page.head3Text }}
							</p>
						</div>

					</div> <!-- END CONTENT BOX #3 -->

				</div>
			</div> <!-- END TEXT BLOCK -->
		</div> <!-- END SECTION CONTENT (ROW) -->
	</div> <!-- End container -->
</section> <!-- END TEXT CONTENT -->