{% if {{page.Feature3Image}} %}
<!-- TEXT CONTENT - 4 -->
<section class="pt-50 mt-50 mb-50 ct-01 content-section division">
    <div class="container">

        <!-- SECTION CONTENT (ROW) -->
        <div class="row d-flex align-items-center">


            <!-- TEXT BLOCK -->
            <div class="col-md-6 order-last order-md-2">
                <div class="txt-block left-column wow fadeInRight">


                    <!-- TEXT BOX -->
                    <div class="txt-box">

                        <!-- Title -->
                        <h5 class="s-38 w-700">{{page.Feature3Title}}</h5>

                        <!-- Text -->
                        <p class="p-lg" style="text-align: justify;">{{page.Feature3Text}}
                        </p>

                    </div> <!-- END TEXT BOX -->

                    <!-- Link -->
                    <div class="txt-block-tra-link mt-25">
                        <a href="https://info.certifyme.online/talk-with-expert" target="_blank"
                        class="tra-link ico-20 color--theme p-lg">
                            Talk to Experts <span class="flaticon-next"></span>
                        </a>
                    </div>

                </div>
            </div> <!-- END TEXT BLOCK -->


            <!-- IMAGE BLOCK -->
            <div class="col-md-6 order-first order-md-2">
                <div class="img-block right-column wow fadeInLeft">
                    <img class="img-fluid" src="{{page.Feature3Image}}" alt="{{page.Feature3Title}}">
                </div>
            </div>


        </div> <!-- END SECTION CONTENT (ROW) -->
        <br>

    </div> <!-- End container -->
</section> <!-- END TEXT CONTENT - 4 -->
{% endif %}