<!-- HERO-15-->
<section id="hero-15" class="bg--scroll hero-section">
    <div class="container pb-50 mb-35">
        <div class="row d-flex align-items-center">
            <!-- HERO TEXT -->
            <div class="col-md-6">
                <div class="hero-15-txt wow fadeInRight">
                    <!-- Title -->
                    <h2 class="s-42 w-700">{{ page.HeroTitle }}</h2>

                    <!-- Text -->
                    <p class="p-lg">{{ page.HeroText }}
                    </p>
                    <div class="btns-group">
                        
                        <a href="{{ page.HeroDemoButtonLink }}"
                            class="btn r-04 btn--theme hover--theme">{{ page.HeroDemoButton }}
                        </a>
                        
                    </div>
                    <br>

                </div>
            </div> <!-- END HERO TEXT -->


            <!-- HERO IMAGE -->
            <div class="col-md-6 mb-4">
                <div class="hero-15-img text-center wow fadeInLeft">
                    <img class="img-fluid" src="{{ page.HeroImage }}" alt="hero-image">
                </div>
            </div>


        </div> <!-- End row -->
    </div> <!-- End container -->
</section> <!-- END HERO-15 -->