<!-- BANNER-6 -->
<section id="banner-6" class="bg--02 bg--scroll mt-100 banner-section">
    <div class="banner-overlay pt-80 pb-90">
        <div class="container">


            <!-- BANNER-6 WRAPPER -->
            <div class="banner-6-wrapper">
                <div class="row justify-content-center">


                    <!-- BANNER-6 TEXT -->
                    <div class="col-md-12">
                        <div class="banner-6-txt text-center color--black">
                            <!-- Title -->
                            <h3 class="s-38 w-700">EVENTS & ASSOCIATIONS</h3>

                            <!-- Text -->
                            <p class="p-xl o-85">CertifyMe facilitates seamless issuance of badges and certificates for associations and events, ensuring recognition and credibility.</p>

                            <!-- Button -->
                            <a href="/blog/association-case" target="_blank"
                                class="btn r-05 btn--tra-black hover--blue-100">Read More >>
                            </a>
                        </div>
                    </div> <!-- END BANNER-6 TEXT -->


                </div> <!-- End row -->
            </div> <!-- END BANNER-6 WRAPPER -->


        </div> <!-- End container -->
    </div> <!-- End banner overlay -->
</section> <!-- END BANNER-6 -->