<!-- BOX CONTENT
			============================================= -->
			<section id="lnk-1" class="pt-100 ws-wrapper content-section">
				<div class="container">
					<div class="bc-1-wrapper bg--02 bg--fixed r-16">
						<div class="section-overlay">
							<div class="row d-flex align-items-center">


								<!-- TEXT BLOCK -->	
								<div class="col-md-7 order-last order-md-2">
									<div class="txt-block left-column wow fadeInRight">
										
										<!-- Title -->	
										<h2 class="s-38 w-700"> {{ page.BoxContentTitle}}</h2>

										<!-- List -->								
										
											<p class="p-lg">{{ page.BoxContentText}}</p>										
										

                                        <a href="https://info.certifyme.online/talk-with-expert" class="btn r-04 btn--theme hover--tra-black">Talk to our experts</a>								

									</div>
								</div>	<!-- END TEXT BLOCK -->	


								<!-- IMAGE BLOCK -->
								<div class="col-md-5 order-first order-md-2">
									<div class="img-block right-column wow fadeInLeft">
										<img class="img-fluid" src="{{ page.BoxImage}}" alt="content-image">
									</div>
								</div>


							</div>   <!-- End row -->	
						</div>    <!-- End section overlay -->	
					</div>    <!-- End content wrapper -->
				</div>     <!-- End container -->	
			</section>	<!-- END BOX CONTENT -->