<div class="backgroundPricing" id="pricingForm">
  <div class="container">
    <div class="panel pricing-table">



       <div class="pricing-plan col-lg-6 col-md-6 text-center">
        <!-- <img src="https://s28.postimg.cc/ju5bnc3x9/plane.png" alt="" class="pricing-img"> -->
        <h3 class="pricing-header">Free</h3>
        <ul class="pricing-features">
          <li class="pricing-features-item">20 certificates/badges</li>
          <li class="pricing-features-item">advertisement Space  </li>
          <li class="pricing-features-item">personalized credential graphics  </li>
               <li class="pricing-features-item">Verifiable QR code  </li>
            <li class="pricing-features-item">email-based verification </li>
          <li class="pricing-features-item">Personal Account Manager  </li> 
           <li class="pricing-features-item">API integration   </li>
          
          
          
          <li class="pricing-features-item">0$ / credential for 1 year</li>
       
          
          
        </ul>

        <span class="pricing-price">$0 </span>
        
        <a target="_blank" href="https://certifyme-2.hubspotpagebuilder.com/help" class="btn btn-primary ">Express Interest</a>
      </div>
      <div class="pricing-plan col-lg-6 col-md-6 text-center">
        <!-- <img src="https://s28.postimg.cc/ju5bnc3x9/plane.png" alt="" class="pricing-img"> -->
        <h3 class="pricing-header">Elite</h3>
        <ul class="pricing-features">
          <li class="pricing-features-item">100 certificates/badges</li>
          <li class="pricing-features-item">advertisement Space  </li>
          <li class="pricing-features-item">personalized credential graphics  </li>
          <li class="pricing-features-item">Verifiable QR code  </li>
            <li class="pricing-features-item">email-based verification </li>
          <li class="pricing-features-item">Personal Account Manager  </li> 
           <li class="pricing-features-item">API integration   </li>
          
        
          
          
          
          <li class="pricing-features-item">1$ / credential for 1 year</li>
       
          
          
        </ul>

        <span class="pricing-price">$100 </span>
        
        <a target="_blank" href="https://certifyme-2.hubspotpagebuilder.com/help" class="btn btn-primary ">Express Interest</a>
      </div>

      



     
      
      <div class="pricing-plan col-lg-6 col-md-6 text-center">
        <!-- <img src="https://s21.postimg.cc/tpm0cge4n/space-ship.png" alt="" class="pricing-img"> -->
        <h3 class="pricing-header">Pro    </h3>
        <ul class="pricing-features">
          <li class="pricing-features-item">1000 certificates/badges</li>
          
          <li class="pricing-features-item">advertisement Space </li>
          <li class="pricing-features-item">personalized credential graphics  </li>
               <li class="pricing-features-item">Verifiable QR code  </li>
            <li class="pricing-features-item">email-based verification </li>
          <li class="pricing-features-item">Personal Account Manager  </li> 
           <li class="pricing-features-item">API integration   </li>
          <li class="pricing-features-item">0.50$ / credential for 1 year</li>
       
          
          
          
        </ul>
        <span class="pricing-price">$500</span>
        <a target="_blank" href="https://certifyme-2.hubspotpagebuilder.com/help" class="btn btn-primary ">Express Interest</a>

      </div>

    
    </div>
    <h6>* 
      All credentials will be accessible for 12 months from the date of issue. In any extraordinary cases, if the credential needs to make available beyond 12 months, a special request has to be sent to renew@certifyme.online. We will be charging a nominal amount of 0.25$(USD)  per Credential/year for renewals. <h6>
  </div>
  
</div>
<!--
    <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading">Signup me up for a free trial </h2>
              <hr class="primary">
              <iframe frameborder="0" style="height:500px;width:99%;border:none;" src='https://forms.zohopublic.in/rtharayil/form/BasicSignup/formperma/Ry5aZP7HXqeD8T-XqUp_mWJ37Nx6RtzO5HEA-8oEMiQ'></iframe>
          </div>
      </div>
  </div> -->
  

</div>
