<div id="home" class="header-hero bg_cover ">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="header-hero-content text-center">
                    <h2 class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">Choose a Plan
                    </h2><br>
                    <p>Our Credential platform is the most pocket-friendly platform in the global market. <br> Not happy
                        with our product.
                        We have a no-questions-asked 100% money-back guarantee scheme within 5 days of your purchase.
                    </p><br>






                </div> <!-- header hero content -->
            </div>
        </div> <!-- row -->
        <div class="row justify-content-center custom-css1">
            <style>
            @media (min-width:480px) {
                .custom-css1 {
                  margin: 60px;
                  
                }
             }
</style>
            <div class="col-lg-3 col-md-6 col-sm-8 ">
                <div class="single-services text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.8s">
                    <div class="services-icon">
                        <img class="shape" src="/assets/images/services-shape.svg" alt="shape">
                        <img class="shape-1" src="/assets/images/services-shape-3.svg" alt="shape">
                        <i class="lni lni-offer"></i>

                    </div>
                    <div class="services-content mt-30">
                    <h4 class="services-title"><a href="#">Free $0</a></h4>
                    
                        <p style="font-size: small;"> /Per Year</p>
                        <!-- <p style="font-size: x-small;"> /Per Year</p> -->
                    
                        <a target="_blank" href="https://credential.certifyme.online/auth/preregister/free@certifyme.online"
                            class="btn btn-primary "> Start Awarding</a>
                    
                        
                        <ul class="pricing-features">
                            <li class="pricing-features-item"><strong>50 </strong>New Credentials</li>
                            <li class="pricing-features-item">Analytics </li>
                            <li class="pricing-features-item">Bulk Upload </li>
                            <!-- <li class="pricing-features-item">Verifiable QR-code </li> -->
                            <li class="pricing-features-item">Canva Integration </li>
                            <!-- <li class="pricing-features-item"> Unlimited Templates</li>
                            <li class="pricing-features-item"> 1 admin account</li>
                            <li class="pricing-features-item">Branding space with CTA</li>
                            <li class="pricing-features-item">Smart ID Tagging</li> -->
                        </ul>
                        


                    </div>
                </div> <!-- single services -->
            </div>

            <div class="col-lg-3 col-md-6 col-sm-8">
                <div class="single-services text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.8s">
                    <div class="services-icon">
                        <img class="shape" src="/assets/images/services-shape.svg" alt="shape">
                        <img class="shape-1" src="/assets/images/services-shape-2.svg" alt="shape">
                        <i class="lni lni-revenue"></i>
                    </div>
                    <div class="services-content mt-30">
                        <h4 class="services-title"><a href="#">Standard $240</a></h4>
                       
                        <p style="font-size: small;"> /Per Year</p>
                        <!-- <p style="font-size: x-small;"> /Per Year</p> -->
                     
                        <a target="_blank" href="https://credential.certifyme.online/auth/preregister/standard@certifyme.online" class="btn btn-primary ">
                            Start My Free Trial </a>
                       
                        <ul class="pricing-features">
                            <li class="pricing-features-item"><strong>500</strong> Credentials / Year <a style="color: green;"> [2X More]</a></li>
                            <li class="pricing-features-item">All FREE Plan Features</li>
                            <li class="pricing-features-item">Analytics</li>
                            <li class="pricing-features-item">Verifiable QR-Code</li>
                            <li class="pricing-features-item">Unlimited Templates</li>
                            <li class="pricing-features-item">1 Admin Account</li>
                            <!-- <li class="pricing-features-item">API/Integrations</li> -->
                            <!-- <li class="pricing-features-item"> CName (Domain) White-labeling</li> -->
                            
                        


                        </ul>
                        
                    </div>
                </div> <!-- single services -->
            </div>

            <div class="col-lg-3 col-md-6 col-sm-8">
                <div class="single-services text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.8s">
                    <div class="services-icon">
                        <img class="shape" src="/assets/images/services-shape.svg" alt="shape">
                        <img class="shape-1" src="/assets/images/services-shape-2.svg" alt="shape">
                        <i class="lni lni-diamond"></i>
                    </div>
                    <div class="services-content mt-30">
                        <h4 class="services-title"><a href="#">Business $780</a></h4>
                       
                        <p style="font-size: small;"> /Per Year</p>
                        <!-- <p style="font-size: x-small;"> /Per Year</p> -->
                       
                        <a target="_blank" href="https://credential.certifyme.online/auth/preregister/Professional@certifyme.online" class="btn btn-primary ">
                            Start My Free Trial</a>
                        <ul class="pricing-features">
                            <li class="pricing-features-item"><strong>2000</strong> Credentials / Year <a style="color: green;"> [2X More]</a></li>
                            <li class="pricing-features-item">All Standard Plan Features</li>
                            <li class="pricing-features-item">Smart ID Tagging</li>                        
                            <li class="pricing-features-item">open API & Integrations</li>
                         
                            <li class="pricing-features-item">Immutable Credentials</li>
                            <li class="pricing-features-item">Logo on Navigation Bar</li>
                            <li class="pricing-features-item"><a href="https://certifyme.my.canva.site/plans" style="color: green;">+ More</a></li>


                            


                        </ul>
                        
                    </div>
                </div> <!-- single services -->
            </div>
            <div class="col-lg-3 col-md-6 col-sm-8">
                <div class="single-services text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.8s">
                    
                        
                    <div class="services-icon">
                        <img class="shape" src="/assets/images/services-shape.svg" alt="shape">
                        <img class="shape-1" src="/assets/images/services-shape-3.svg" alt="shape">
                        <i class="lni lni-crown"></i>
                    </div>
                    <div class="services-content mt-30">
                        <h4 class="services-title"><a href="#">Enterprise</a></h4>
                       
                        <p style="font-size: small;">Price On Request</p>
                        <!-- <p style="font-size: x-small;"> /Per Year</p> -->
                       
                        <a target="_blank" href="https://go.certifyme.online/enterprise"
                        class="btn btn-primary ">Talk To Us</a>
                        <ul class="pricing-features">
                            <li class="pricing-features-item">All Business Plan Features</li>
                            <li class="pricing-features-item">Email ID White-Labeling</li>
                            <li class="pricing-features-item">Showcase Directory</li>
                            <li class="pricing-features-item">Custom Wallet Feature</li>
                            <li class="pricing-features-item">Cryptographic Signature</li>
                            <li class="pricing-features-item"><a href="https://certifyme.my.canva.site/plans" style="color: green;">+ More</a></li>




                        </ul>
                        

                  
                    
                </div> <!-- single services -->
            </div>
        </div>
    </div>






</div> <!-- row -->
</div> <!-- container -->



</div> <!-- header hero -->


<!--====== SERVICES PART ENDS ======-->
