<div class="backgroundPricing" id="pricingForm">
  <div class="container">
    <div class="panel pricing-table">



      <div class="pricing-plan col-lg-4 col-md-6 text-center">
        <!-- <img src="https://s28.postimg.cc/ju5bnc3x9/plane.png" alt="" class="pricing-img"> -->
        <h3 class="pricing-header">Elite</h3>
        <ul class="pricing-features">
          <li class="pricing-features-item">50 certificates/badges</li>
          <li class="pricing-features-item">Customized Branding  </li>
          
          <li class="pricing-features-item">Standard web page per credential </li>
          
          
          <li class="pricing-features-item">3$ / credential</li>
          <li class="pricing-features-item">One Event</li>
          <li class="pricing-features-item">Ideal for small events </li>
          
        </ul>

        <span class="pricing-price">$150 </span>
        <form><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_G0Aukp4q3rpSkI"> </script> </form>

      </div>

      



      <div class="pricing-plan col-lg-4 col-md-6 text-center">
        <!-- <img src="https://s21.postimg.cc/tpm0cge4n/space-ship.png" alt="" class="pricing-img"> -->
        <h3 class="pricing-header">Pro    </h3>
        <ul class="pricing-features">
          <li class="pricing-features-item">500 certificates/badges</li>
          
          <li class="pricing-features-item">Customized Branding </li>
          <li class="pricing-features-item">Standard web page per credential </li>
          
          <li class="pricing-features-item">2$ / credential</li>
          <li class="pricing-features-item">One Event</li>
          <li class="pricing-features-item">Ideal for large events </li>
          
          
        </ul>
        <span class="pricing-price">$1000</span>
        <form><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_G0B7sZcZ09dyRg"> </script> </form>

      </div>

      <div class="pricing-plan col-lg-4 col-md-6 text-center">
        <!-- <img src="https://s22.postimg.cc/8mv5gn7w1/paper-plane.png" alt="" class="pricing-img"> -->
         <h3 class="pricing-header">Premium</h3>
         <ul class="pricing-features">
           <li class="pricing-features-item">Minimum 1000 certificates/badges </li>
           <li class="pricing-features-item">Highly Customized Branding </li>
           <li class="pricing-features-item"> Customized web page per Credential </li>
            
           <li class="pricing-features-item"> Call for Quote</li> 
           <li class="pricing-features-item"> No limit on Events</li>   
           <li class="pricing-features-item">Ideal for large events that need customization  </li>
           
           <li class="pricing-features-item"><link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
            <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript"></script>
            <a href="" class="btn btn-primary text-center " onclick="Calendly.initPopupWidget({url: 'https://calendly.com/rtharayil/15min'});return false;"> Schedule A Demo</a></li>
          
          </ul> 
          
         
         
         
             
       </div>
    </div>
    <h6>* 
      All credentials will be accessible for 12 months from the date of issue. In any extraordinary cases, if the credential (certificate or Badge) needs to make available beyond 12 months, a special request has to be sent to renew@certifyme.online . We will be charging a nominal amount of 2$(USD)  per certificate/year for renewals. <h6>
  </div>
  
</div>
<!--
    <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading">Signup me up for a free trial </h2>
              <hr class="primary">
              <iframe frameborder="0" style="height:500px;width:99%;border:none;" src='https://forms.zohopublic.in/rtharayil/form/BasicSignup/formperma/Ry5aZP7HXqeD8T-XqUp_mWJ37Nx6RtzO5HEA-8oEMiQ'></iframe>
          </div>
      </div>
  </div> -->
  

</div>