<div class="backgroundPricing" id="pricingForm">
    <div class="container">
      <div class="panel pricing-table">
        
        <div class="pricing-plan col-lg-3 col-md-6 text-center">
          <img src="https://s22.postimg.cc/8mv5gn7w1/paper-plane.png" alt="" class="pricing-img">
          <h3 class="pricing-header">Lite</h3>
          <ul class="pricing-features">
            <li class="pricing-features-item">5 certificates</li>
            <li class="pricing-features-item">Rs 2 per-day/ certificate </li>
            <li class="pricing-features-item">Billed annually</li>
            <li class="pricing-features-item">Ideal for indivual & personal trainers </li>
          </ul>
          <span class="pricing-price">₹3,600</span>
          <div class="razorpay-embed-btn" data-url="https://pages.razorpay.com/pl_FMDXHjGYlPTrxj/view" data-text="Buy Now" data-color="#528FF0" data-size="small">
            <script>
              (function(){
                var d=document; var x=!d.getElementById('razorpay-embed-btn-js')
                if(x){ var s=d.createElement('script'); s.defer=!0;s.id='razorpay-embed-btn-js';
                s.src='https://cdn.razorpay.com/static/embed_btn/bundle.js';d.body.appendChild(s);} else{var rzp=window['__rzp__'];
                rzp && rzp.init && rzp.init()}})();
            </script>
          </div>
              
        </div>
        
        <div class="pricing-plan col-lg-3 col-md-6 text-center">
          <img src="https://s28.postimg.cc/ju5bnc3x9/plane.png" alt="" class="pricing-img">
          <h3 class="pricing-header">elite</h3>
          <ul class="pricing-features">
            <li class="pricing-features-item">50 certificates</li>
            <li class="pricing-features-item">Rs 1.6 per-day/ certificate </li>
            <li class="pricing-features-item">Billed annually</li>
            <li class="pricing-features-item">Ideal for small training firms </li>
          </ul>
          <span class="pricing-price">₹28,000</span>
          <div class="razorpay-embed-btn" data-url="https://pages.razorpay.com/pl_FMFRJQIeAAo9Bi/view" data-text="Buy Now" data-color="#528FF0" data-size="small">
            <script>
              (function(){
                var d=document; var x=!d.getElementById('razorpay-embed-btn-js')
                if(x){ var s=d.createElement('script'); s.defer=!0;s.id='razorpay-embed-btn-js';
                s.src='https://cdn.razorpay.com/static/embed_btn/bundle.js';d.body.appendChild(s);} else{var rzp=window['__rzp__'];
                rzp && rzp.init && rzp.init()}})();
            </script>
          </div>
              
        </div>
        
        <div class="pricing-plan col-lg-3 col-md-6 text-center">
          <img src="img/portfolio/travel.png" alt="" class="pricing-img">
          <h3 class="pricing-header">Pro</h3>
          <ul class="pricing-features">
            <li class="pricing-features-item">100 certificates</li>
            <li class="pricing-features-item">Rs 1.4 per-day/ certificate </li>
            <li class="pricing-features-item">Billed annually</li>
            <li class="pricing-features-item">Ideal for large training firms </li>
          </ul>
          <span class="pricing-price">₹54,000</span>
          <div class="razorpay-embed-btn" data-url="https://pages.razorpay.com/pl_FMFffhIVNcspa7/view" data-text="Pay Now" data-color="#528FF0" data-size="small">
            <script>
              (function(){
                var d=document; var x=!d.getElementById('razorpay-embed-btn-js')
                if(x){ var s=d.createElement('script'); s.defer=!0;s.id='razorpay-embed-btn-js';
                s.src='https://cdn.razorpay.com/static/embed_btn/bundle.js';d.body.appendChild(s);} else{var rzp=window['__rzp__'];
                rzp && rzp.init && rzp.init()}})();
            </script>
          </div>
              
              
        </div>

        <div class="pricing-plan col-lg-3 col-md-6 text-center">
            <img src="https://s21.postimg.cc/tpm0cge4n/space-ship.png" alt="" class="pricing-img">
            <h3 class="pricing-header">Enterprise</h3>
            <ul class="pricing-features">
                <li class="pricing-features-item">500 certificates</li>
                <li class="pricing-features-item">Rs 1.2 per-day/ certificate </li>
                <li class="pricing-features-item">Billed annually</li>
                <li class="pricing-features-item">Ideal for large training Enterprises  </li>
            </ul>
            <span class="pricing-price">₹2,16,000</span>
            <div class="razorpay-embed-btn" data-url="https://pages.razorpay.com/pl_FMFVHmYqbvp5K5/view" data-text="Buy Now" data-color="#528FF0" data-size="small">
                <script>
                  (function(){
                    var d=document; var x=!d.getElementById('razorpay-embed-btn-js')
                    if(x){ var s=d.createElement('script'); s.defer=!0;s.id='razorpay-embed-btn-js';
                    s.src='https://cdn.razorpay.com/static/embed_btn/bundle.js';d.body.appendChild(s);} else{var rzp=window['__rzp__'];
                    rzp && rzp.init && rzp.init()}})();
                </script>
              </div>
                  
          </div>
        
      </div>
    </div>
  </div>