<div id="home" class="header-hero bg_cover" >
    <div style= "margin-left: 80px; margin-right: 80px;">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="header-hero-content text-center">
                    <h2 class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s" >Pricing
                    </h2><br>
                    <p>Our Credential platform is the most pocket-friendly platform in the global market. <br> Not happy with our product.
                        We have a no-questions-asked 100% money-back guarantee scheme within 11 days of your purchase.  </p><br>






                </div> <!-- header hero content -->
            </div>
        </div> <!-- row -->
        <div class="row justify-content-center">
        <div class="col-lg-3 col-md-7 col-sm-8">
            <div class="single-services text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
                <div class="services-icon">
                    <img class="shape" src="/assets/images/services-shape.svg" alt="shape">
                    <img class="shape-1" src="/assets/images/services-shape-1.svg" alt="shape">
                    <i class="lni lni-heart"></i>
                </div>
                <div class="services-content mt-30">
                    <h4 class="services-title"><a href="#"> Free</a></h4>
                    <ul class="pricing-features">
                        <li class="pricing-features-item">50 Credentials / One time </li>
                        <li class="pricing-features-item">Analytics </li>
                  <li class="pricing-features-item">. </li>
                       <li class="pricing-features-item">.</li> 
                         <li class="pricing-features-item">. </li>
                           <li class="pricing-features-item"> .</li>

                       <li class="pricing-features-item"> 1 admin account</li>
                        <li class="pricing-features-item">.</li>
                        <li class="pricing-features-item">.</li>
                        <li class="pricing-features-item">.</li>
                        <li class="pricing-features-item">.</li>
                        <li class="pricing-features-item">.</li>
                        
                        
                        
                        
                       





                    </ul>
                    <span class="pricing-price">$0</span>
                    <p style="font-size: x-small;"> 50 Credentials are free </p>
                    <a target="_blank" href="https://my.certifyme.online/auth/register"
                        class="btn btn-primary ">Sign Up</a>
                        

                </div>
            </div> <!-- single services -->
        </div>
        <div class="col-lg-3 col-md-7 col-sm-8">
            <div class="single-services text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.8s">
                <div class="services-icon">
                    <img class="shape" src="/assets/images/services-shape.svg" alt="shape">
                    <img class="shape-1" src="/assets/images/services-shape-3.svg" alt="shape">
                    <i class="lni lni-offer"></i>
                 
                </div>
                <div class="services-content mt-30">
                    <h4 class="services-title"><a href="#"> Supreme</a></h4>
                    <ul class="pricing-features">
                        <li class="pricing-features-item">2000 Credentials/year  </li>
                        <li class="pricing-features-item">Analytics </li>
                           <li class="pricing-features-item">Bulk Upload </li>
                       <li class="pricing-features-item">Verifiable Qr-code </li> 
                         <li class="pricing-features-item">Canva Integration </li>
                           <li class="pricing-features-item"> Unlimited  Templates</li>
                        <li class="pricing-features-item"> 1 admin account</li>
                        <li class="pricing-features-item">Logo on Navigation Bar</li>
                        <li class="pricing-features-item">. </li>
                        <li class="pricing-features-item">.</li>
                        <li class="pricing-features-item">.</li>
                        <li class="pricing-features-item">.</li>
                       
                        
                            




                    </ul>
                    <span class="pricing-price">$25</span>
                    
                    <p style="font-size: x-small;"> /Per Month (Paid Annually) </p>
                    
                    <a target="_blank" href="https://my.certifyme.online/auth/register/25$@certifyme.online"
                    class="btn btn-primary "> Start Awarding </a>


                </div>
            </div> <!-- single services -->
        </div>

        <div class="col-lg-3 col-md-7 col-sm-8">
            <div class="single-services text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.8s">
                <div class="services-icon">
                    <img class="shape" src="/assets/images/services-shape.svg" alt="shape">
                    <img class="shape-1" src="/assets/images/services-shape-2.svg" alt="shape">
                    <i class="lni lni-revenue"></i>
                </div>
                <div class="services-content mt-30">
                    <h4 class="services-title"><a href="#"> Premium</a></h4>
                    <ul class="pricing-features">
                        <li class="pricing-features-item">5000 Credentials/year   </li>
                        <li class="pricing-features-item">Analytics </li>
                        <li class="pricing-features-item">Bulk Upload </li>
                       <li class="pricing-features-item">Verifiable Qr-code </li> 
                         <li class="pricing-features-item">Canva Integration </li>
                       <li class="pricing-features-item"> Unlimited  Templates</li>
                       <li class="pricing-features-item"> 2 admin accounts</li>
                        <li class="pricing-features-item">Logo on Navigation Bar</li>
                        <li class="pricing-features-item">API/Integrations </li>
                        <li class="pricing-features-item"> CName (Domain) White-labeleling</li>
                        <li class="pricing-features-item">.</li>
                        <li class="pricing-features-item">.</li>




                    </ul>
                    <span class="pricing-price">$50</span>
                    <p style="font-size: x-small;"> /Per Month (Paid Annually) </p>
                   
                    <a target="_blank" href="https://my.certifyme.online/auth/register/50$@certifyme.online"
                    class="btn btn-primary "> Start Awarding </a>
                </div>
            </div> <!-- single services -->
        </div>

        <div class="col-lg-3 col-md-7 col-sm-8">
            <div class="single-services text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.8s">
                <div class="services-icon">
                    <img class="shape" src="/assets/images/services-shape.svg" alt="shape">
                    <img class="shape-1" src="/assets/images/services-shape-2.svg" alt="shape">
                    <i class="lni lni-diamond"></i>
                </div>
                <div class="services-content mt-30">
                    <h4 class="services-title"><a href="#"> VIP</a></h4>
                    <ul class="pricing-features">
                        <li class="pricing-features-item">Unlimited Credentials/year   </li>
                        <li class="pricing-features-item">Analytics </li>
                        <li class="pricing-features-item">Bulk Upload </li>
                       <li class="pricing-features-item">Verifiable Qr-code </li> 
                         <li class="pricing-features-item">Canva Integration </li>
                       <li class="pricing-features-item"> Unlimited  Templates</li>
                       <li class="pricing-features-item"> 8 admin accounts</li>
                        <li class="pricing-features-item">Logo on Navigation Bar</li>
                        <li class="pricing-features-item">API/Integrations </li>
                        <li class="pricing-features-item"> CName (Domain)White-labeleling</li>
                        <li class="pricing-features-item"> Email White-labeleling</li>
                        <li class="pricing-features-item"> Footer White-labeleling</li>




                    </ul>
                    <span class="pricing-price">$150</span>
                    <p style="font-size: x-small;"> /Per Month (Paid Annually) </p>
                   
                    <a target="_blank" href="https://my.certifyme.online/auth/register/150$@certifyme.online"
                    class="btn btn-primary "> Start Awarding </a>
                </div>
            </div> <!-- single services -->
        </div>
    </div>
        


        

        
    </div> <!-- row -->
</div> <!-- container -->



</div> <!-- header hero -->



<!--====== SERVICES PART ENDS ======-->
