<!-- FAQs-============================================= -->
<section id="faqs-4" class="gr--whitesmoke inner-page-hero pb-100 faqs-section division">
    <div class="container">


        <!-- SECTION TITLE -->	
        <div class="row justify-content-center">	
            <div class="col-lg-11 col-xl-10">
                <div class="inner-page-title">	
                    <h2 class="s-52 w-700">Questions & Answers</h2>
                    <p class="p-lg">Some common questions we get about CertifyMe</p>
                </div>	
            </div>
        </div>

        <div class="row">
            <div class="col">
               <div class="tabs-nav tabs--theme clearfix">
                    <ul class="tabs-1">

                       <!-- TAB-1 LINK -->
                       <li class="tab-link current ico-45 r-16" data-tab="tab-1">
                           <div class="tab-link-ico"><span class="flaticon-computer"></span></div>
                           <p>General Platform Based</p>
                       </li>

                       <!-- TAB-2 LINK -->
                       <li class="tab-link ico-45 r-16" data-tab="tab-2">
                           <div class="tab-link-ico"><span class="flaticon-exam"></span></div>
                           <p>Credential Issuance</p>	
                       </li>

                       <!-- TAB-3 LINK -->
                       <li class="tab-link ico-45 r-16" data-tab="tab-3">
                           <div class="tab-link-ico"><span class="flaticon-workflow-3"></span></div>
                           <p>Learning Paths</p>
                       </li>

                       <!-- TAB-4 LINK -->
                       <li class="tab-link ico-45 r-16" data-tab="tab-4">
                           <div class="tab-link-ico"><span class="flaticon-folder-2"></span></div>
                           <p>Projects & Analytics</p>
                       </li>

                       <!-- TAB-5 LINK -->
                       <li class="tab-link ico-45 r-16" data-tab="tab-5">
                           <div class="tab-link-ico"><span class="flaticon-password-1"></span></div>
                           <p>Security & Verification</p>
                       </li>                                                                    


                   </ul>
               </div>
           </div>
        </div>	<!-- END TABS NAVIGATION -->

        <!-- TABS NAVIGATION -->	
         <div class="row">
             <div class="col">
                <div class="tabs-nav tabs--theme clearfix">
                     <ul class="tabs-1">

                        <!-- TAB-6 LINK -->
                        <li class="tab-link ico-45 r-16" data-tab="tab-6">
                            <div class="tab-link-ico"><span class="flaticon-version"></span></div>
                            <p>Integration</p>
                        </li>

                        <!-- TAB-7 LINK -->
                        <li class="tab-link ico-45 r-16" data-tab="tab-7">
                            <div class="tab-link-ico"><span class="flaticon-pattern-lock"></span></div>
                            <p>Customization</p>	
                        </li>

                        <!-- TAB-8 LINK -->
                        <li class="tab-link ico-45 r-16" data-tab="tab-8">
                            <div class="tab-link-ico"><span class="flaticon-layers"></span></div>
                            <p>Brand & Visibility</p>
                        </li>

                        <!-- TAB-9 LINK -->
                        <li class="tab-link ico-45 r-16" data-tab="tab-9">
                            <div class="tab-link-ico"><span class="flaticon-price-label"></span></div>
                            <p>Cost & Scalability</p>
                        </li>                                      


                    </ul>
                </div>
            </div>
         </div>	<!-- END TABS NAVIGATION -->

        {% include V4NewLook/QandA/gen-tabContent.html %}
        
    </div> <!-- End container -->
</section> <!-- END FAQs-2 -->

        

                                

                                    
                                
                                