<!-- FAQs -->
<section id="faqs-4" class="gr--whitesmoke inner-page-hero pb-100 faqs-section division">
	<div class="container">

		<!-- SECTION TITLE -->
		<div class="row justify-content-center">
			<div class="col-lg-11 col-xl-10">
				<div class="inner-page-title">
					<h2 class="s-52 w-700">Question & Answers</h2>
					<p class="p-lg">Some common questions we get about CertifyMe</p>
				</div>
			</div>
		</div>

		<!-- TABS NAVIGATION -->
		<div class="row">
			<div class="col">
				<div class="tabs-nav tabs--theme clearfix">
					<ul class="tabs-1">

						<!-- TAB-1 LINK -->
						<li class="tab-link current ico-45 r-16" data-tab="tab-1">
							<div class="tab-link-ico"><span class="flaticon-rocket-launch"></span></div>
							<p>Higher Education</p>
						</li>

						<!-- TAB-2 LINK -->
						<li class="tab-link ico-45 r-16" data-tab="tab-2">
							<div class="tab-link-ico"><span class="flaticon-profits"></span></div>
							<p>L & D</p>
						</li>

						<!-- TAB-3 LINK -->
						<li class="tab-link ico-45 r-16" data-tab="tab-3">
							<div class="tab-link-ico"><span class="flaticon-computer"></span></div>
							<p>E-Learning Platforms</p>
						</li>

					</ul>
				</div>
			</div>
		</div> <!-- END TABS NAVIGATION -->

		<!-- TABS NAVIGATION -->
        <div class="row">
            <div class="col">
                <div class="tabs-nav tabs--theme clearfix">
                    <ul class="tabs-1">

                        <!-- TAB-4 LINK -->
						<li class="tab-link ico-45 r-16" data-tab="tab-4">
							<div class="tab-link-ico"><span class="flaticon-suit"></span></div>
							<p>Associations</p>
						</li>

						<!-- TAB-5 LINK -->
						<li class="tab-link ico-45 r-16" data-tab="tab-5">
							<div class="tab-link-ico"><span class="flaticon-manager"></span></div>
							<p>Government Bodies</p>
						</li>

                    </ul>
                </div>
            </div>
        </div> <!-- END TABS NAVIGATION -->

		{% include V4NewLook/QandA/TabContent.html %}

	</div> <!-- End container -->
</section> <!-- END FAQs-2 -->