<!-- TABS CONTENT -->
<div class="tabs-content">
    <div class="row justify-content-center">
        <div class="col-xl-10">
            

            <!-- TAB-1 CONTENT -->
            <div id="tab-1" class="tab-content current">
                <div class="accordion-wrapper">
                    <ul class="accordion">{% for Tab-1 in site.data.gen_FAQ.General-Platform-Based %}

                        <li class="accordion-item is-active">

                            <!-- Questions -->
                            <div class="accordion-thumb">
                                <h5 class="s-22 w-700">{{ Tab-1.Q }}</h5>
                            </div>

                            <!-- Answers -->
                            <div class="accordion-panel color--grey">
                                {{ Tab-1.A }}
                            </div>

                        </li>
                        {% endfor %}
                    </ul> 
                </div>
            </div> <!-- END TAB-1 CONTENT -->

            <!-- TAB-2 CONTENT -->
            <div id="tab-2" class="tab-content">
                <div class="accordion-wrapper">
                    <ul class="accordion">{% for Tab-2 in site.data.gen_FAQ.Credential-Issuance-and-Management %}

                        <li class="accordion-item is-active">

                            <!-- Questions -->
                            <div class="accordion-thumb">
                                <h5 class="s-22 w-700">{{ Tab-2.Q }}</h5>
                            </div>

                            <!-- Answers -->
                            <div class="accordion-panel color--grey">
                                {{ Tab-2.A }}
                            </div>

                        </li>
                        {% endfor %}
                    </ul> 
                </div>
            </div> <!-- END TAB-2 CONTENT -->

            <!-- TAB-3 CONTENT -->
            <div id="tab-3" class="tab-content">
                <div class="accordion-wrapper">
                    <ul class="accordion">{% for Tab-3 in site.data.gen_FAQ.Learning-Paths-and-Specializations %}

                        <li class="accordion-item is-active">

                            <!-- Questions -->
                            <div class="accordion-thumb">
                                <h5 class="s-22 w-700">{{ Tab-3.Q }}</h5>
                            </div>

                            <!-- Answers -->
                            <div class="accordion-panel color--grey">
                                {{ Tab-3.A }}
                            </div>

                        </li>
                        {% endfor %}
                    </ul> 
                </div>
            </div> <!-- END TAB-3 CONTENT -->

            <!-- TAB-4 CONTENT -->
            <div id="tab-4" class="tab-content">
                <div class="accordion-wrapper">
                    <ul class="accordion">{% for Tab-4 in site.data.gen_FAQ.Projects-and-Analytics %}

                        <li class="accordion-item is-active">

                            <!-- Questions -->
                            <div class="accordion-thumb">
                                <h5 class="s-22 w-700">{{ Tab-4.Q }}</h5>
                            </div>

                            <!-- Answers -->
                            <div class="accordion-panel color--grey">
                                {{ Tab-4.A }}
                            </div>

                        </li>
                        {% endfor %}
                    </ul> 
                </div>
            </div> <!-- END TAB-4 CONTENT -->

            <!-- TAB-5 CONTENT -->
            <div id="tab-5" class="tab-content">
                <div class="accordion-wrapper">
                    <ul class="accordion">{% for Tab-5 in site.data.gen_FAQ.Security-and-Verification %}

                        <li class="accordion-item is-active">

                            <!-- Questions -->
                            <div class="accordion-thumb">
                                <h5 class="s-22 w-700">{{ Tab-5.Q }}</h5>
                            </div>

                            <!-- Answers -->
                            <div class="accordion-panel color--grey">
                                {{ Tab-5.A }}
                            </div>

                        </li>
                        {% endfor %}
                    </ul> 
                </div>
            </div> <!-- END TAB-5 CONTENT -->

            <!-- TAB-6 CONTENT -->
            <div id="tab-6" class="tab-content">
                <div class="accordion-wrapper">
                    <ul class="accordion">{% for Tab-4 in site.data.gen_FAQ.Integration-and-Compatibility %}

                        <li class="accordion-item is-active">

                            <!-- Questions -->
                            <div class="accordion-thumb">
                                <h5 class="s-22 w-700">{{ Tab-4.Q }}</h5>
                            </div>

                            <!-- Answers -->
                            <div class="accordion-panel color--grey">
                                {{ Tab-4.A }}
                            </div>

                        </li>
                        {% endfor %}
                    </ul> 
                </div>
            </div> <!-- END TAB-6 CONTENT -->


            <!-- TAB-7 CONTENT -->
            <div id="tab-7" class="tab-content">
                <div class="accordion-wrapper">
                    <ul class="accordion">{% for Tab-4 in site.data.gen_FAQ.Customization-and-Personalization %}

                        <li class="accordion-item is-active">

                            <!-- Questions -->
                            <div class="accordion-thumb">
                                <h5 class="s-22 w-700">{{ Tab-4.Q }}</h5>
                            </div>

                            <!-- Answers -->
                            <div class="accordion-panel color--grey">
                                {{ Tab-4.A }}
                            </div>

                        </li>
                        {% endfor %}
                    </ul> 
                </div>
            </div> <!-- END TAB-7 CONTENT -->


            <!-- TAB-8 CONTENT -->
            <div id="tab-8" class="tab-content">
                <div class="accordion-wrapper">
                    <ul class="accordion">{% for Tab-4 in site.data.gen_FAQ.Brand-and-Visibility %}

                        <li class="accordion-item is-active">

                            <!-- Questions -->
                            <div class="accordion-thumb">
                                <h5 class="s-22 w-700">{{ Tab-4.Q }}</h5>
                            </div>

                            <!-- Answers -->
                            <div class="accordion-panel color--grey">
                                {{ Tab-4.A }}
                            </div>

                        </li>
                        {% endfor %}
                    </ul> 
                </div>
            </div> <!-- END TAB-8 CONTENT -->


            <!-- TAB-9 CONTENT -->
            <div id="tab-9" class="tab-content">
                <div class="accordion-wrapper">
                    <ul class="accordion">{% for Tab-4 in site.data.gen_FAQ.Cost-and-Scalability %}

                        <li class="accordion-item is-active">

                            <!-- Questions -->
                            <div class="accordion-thumb">
                                <h5 class="s-22 w-700">{{ Tab-4.Q }}</h5>
                            </div>

                            <!-- Answers -->
                            <div class="accordion-panel color--grey">
                                {{ Tab-4.A }}
                            </div>

                        </li>
                        {% endfor %}
                    </ul> 
                </div>
            </div> <!-- END TAB-9 CONTENT -->


        </div>
    </div>
</div>