<section  id="about">
    <div class="container">
        <div class="row site-verify">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">{{site.USPH |capitalize}}</h2>
                <hr >
                <p >{{site.USP}}</p>
                <h4 class="section-heading">WE ARE HERE TO HELP YOU!</h4>
                <p>Reach out to us at<a   class="btn btn-default text-center " href="mailto:sales@certifyme.online">sales@certifyme.online</a> or <a href="" class="btn btn-default text-center "
                    onclick="Calendly.initPopupWidget({url: 'https://calendly.com/rtharayil/15min'});return false;"> Schedule A
                    Demo</a><p>
                
            </div>
            
            
        </div>
    </div>
</section>
