<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">{{site.USPH}}</h2>
                <hr class="light">
                <p class="text-faded">{{site.USP}}</p>
                <h1> - </h1>
            </div>
            
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">{{ site.TContentH }}</h2>
                <hr class="light">
                <p class="section-heading">{{ site.TContentB }}</p>
                <a href="https://drive.google.com/u/0/uc?id=1jIOXTEolfSOy2nYpC1QxoVlfX_xn5Fns&export=download"  class="btn btn-primary btn-xl" style="background-color:whitesmoke; color:black" >Download </a>
            </div>
        </div>
    </div>
</section>
