<section  id="certificate">
  
  <div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">{{site.clinetsH}} </h2>
            <hr class="primary">
        </div>
    </div>
</div>

  <div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 text-center">
            <div class="service-box1">
              <img src="img/portfolio/kurbernets.jpg" alt="Snow" style="width:100%">
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 text-center">
            <div class="service-box1">
              <img src="img/portfolio/master.jpg" alt="Forest" style="width:100%">
            </div>
        </div>
    </div>
</div>
  
 
    
    
</section>