<section class="no-padding" id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Our Clients </h2>
        <hr class="primary">
      </div>
    </div>



    <div class="container">



      <section class="no-padding" id="portfolio">

        <div  class="client">
         
            {% for client in site.data.clients %}

            <div class="col-lg-2 col-sm-6 text-center">

           
                <img class="img-responsive" src="{{client.logo}}"  alt=""
                  >
              

            </div>

            {% endfor %}






         
        </div>
      </section>


    </div>


  </div>

</section>