<!-- Site footer -->
<footer class="site-footer" id="footer">
  <div class="container" style= "padding: 5px">
    <div class="row">
      <div class="col-sm-12 col-md-8">
        <h6>Contact certifyme.online</h6>

        <p> Cochin : Certifyme.online, Mamangalam, Ernakulam,India - 682024</p>
        <p> Bangalore : Certifyme.online, Greater Whitefield ,India - 560067</p>
        <p> Phone Number : 91-6362315334 </p>
        <p> Email : info (at) quadralogics.com</p>

      </div>


      <div class="col-xs-6 col-md-4">
        <h6>Quick Links</h6>
        <ul class="footer-links">
          <li><a href="#about"><p>About Us</p></a></li>
          <li><a href="https://quadralogics.com/"><p>Our Parent firm Quadralogics</p></a></li>
          <li><a href="https://quadralogics.com/info/PrivacyPolicy.html"><p>Privacy Policy</p></a></li>
          <li><a href="https://quadralogics.com/info/tandC.html"><p>Terms & Conditions</p></a></li>
          <li><a href="https://quadralogics.com/info/RefundPolicy.html"><p>Refund Policy</p></a></li>



        </ul>
      </div>

    </div>
    <hr>
  </div>
  <div class="container" style= "padding: 5px">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by
          <a href="www.quadrlaogics.com">QUADRALOGICS</a>.
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          

          
          <li><a class="linkedin" href="https://www.linkedin.com/company/certify-me-online/"><i
                class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
