<head>
  <!-- CHARACTER ENCODING — must be first -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{site.title}}</title>

  <!-- Google Analytics (legacy UA) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-102775017-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'UA-102775017-1');
  </script>

  <link rel="icon" type="image/jpeg" href="https://www.certifyme.online/assets4/images/Logo/CertifyMe-LOGO.jpg">
  <meta name="description" content="CertifyMe is a verifiable digital credential platform for issuing, managing, and verifying digital certificates and open badges.">
  <meta name="author" content="CertifyMe">
  <meta name="robots" content="index, follow">
  <meta property="og:image" content="https://www.certifyme.online/assets4/images/Images%20Webp/digital%20credential%20software.webp">
  <meta property="og:title" content="CertifyMe — Verifiable Digital Credential Software">
  <meta property="og:description" content="CertifyMe is a verifiable digital credential platform for issuing, managing, and verifying digital certificates and open badges.">
  <meta property="og:url" content="https://www.certifyme.online">
  <meta name="twitter:card" content="summary_large_image">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="CertifyMe">
  <link rel="canonical" href="https://www.certifyme.online">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  <!-- Bootstrap Core CSS -->
  <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">

  <!-- Custom Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,400;1,600;1,700;1,800&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" type="text/css">

  <!-- Plugin CSS -->
  <link rel="stylesheet" href="css/animate.min.css" type="text/css">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="css/main.css" type="text/css">

  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" integrity="sha384-qFIkRsVO/J5orlMvxK1sgAt2FXT67og+NyFTITYzvbIP1IJavVEKZM7YWczXkwpB" crossorigin="anonymous"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js" integrity="sha384-Db7hblRnqdGlji33B0iZCtQhHVBG3a8ZSlU+ia7qFTufJCg9Nh6zO6FBmrQAbmZY" crossorigin="anonymous"></script>
  <![endif]-->
  <script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5fd1d6bbd84bbd0018fc3514&product=sop' async='async'></script>
</head>
