<section id="CTA">
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 text-center">
        <div class="service-box1">
            <img src="{{page.advBGImagelink}}" alt="Forest" style="width:100%">
        </div>


        <p>.</p>
    </div>



    <div class="container"></div>
    <div class="row">
        <div class="col-lg-6 text-left">
            <ul>
                <li>

                    <a href="#">
                        <i class="fa fa-phone-square fa-1x wow bounceIn" data-wow-delay=".1s">
                            {{ page.contactPh_number }}</i>

                    </a>
                </li>
                <li>
                    <a href="mailto:{{ page.contactEmail }}">
                        <i class="fa fa-envelope-o fa-1x wow bounceIn" data-wow-delay=".1s"> {{ page.contactEmail }}</i>

                    </a>
                </li>

                <li>
                    
                        <a href="https://{{ page.contactCompanyWebSiteLink }}">
                            <i class="fa fa-link fa-1x wow bounceIn" data-wow-delay=".1s"> {{ page.contactCompanyWebSiteLink }}</i>
                            
                        </a>
                    
                </li>
            </ul>
        </div>
        <div class="col-lg-6 text-center">

            <a href="{{page.advCTALink}}" class="btn btn-primary btn-xl page-scroll">{{page.advCTAName}}</a>
        </div>
    </div>
    </div>
</section>