<section id="CTA">
    <div class="container site-verify">
        <div class="row" style= "padding: 10px">
            
                {% if page.brandLogo contains "http" %}
                <div class="  col-md-2 col-sm-6">
                    <img src="{{page.brandLogo}}" alt="{{page.contactCompanyName}}"
                        style="max-width:100px ; max-height: 100px;">
                </div>
                {% endif %}
                <div class=" col-md-10 col-sm-6">
                    <h4>{{page.brandMessage}}</h4>
                </div>
            
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 text-center">
                <h4>{{page.BannerText}}</h4>
                <div class="service-box1">
                    <img src="{{page.advBGImagelink}}" alt="{{page.BannerText}}" style="width:100%">
                </div>



            </div>
        </div>


        <div class="row">
            <div class="col-lg-8 text-center">
                <h4>{{page.CTAText}}</h4>
            </div>
            <div class="col-lg-4 text-center" style="margin-top: 5Px;">

                <a href="{{page.advCTALink}}" class="btn btn-primary btn-xl page-scroll">{{page.advCTAName}}</a>
            </div>

        </div>
        <hr>
        <div class="row">
            <div class="col-lg-12 text-left">

                {% if page.contactPh_number != "nul" %}
                <div class="col-lg-6 text-center">



                    <a href="#">
                        <i class="fa fa-phone-square fa-1x wow bounceIn" style= "color: gray;" data-wow-delay=".1s">
                            <h5>{{ page.contactPh_number }} </h5></i>

                    </a>

                </div>
                {% endif %}
                {% if page.contactEmail != "nul" %}
                <div class="col-lg-6 text-center">


                    <a href="mailto:{{ page.contactEmail }}">
                        <i class="fa fa-envelope-o fa-1x wow bounceIn" style= "color: gray" data-wow-delay=".1s">
                            <h5> {{ page.contactEmail }}</h5></i>

                    </a>


                </div>
                {% endif %}
                

            </div>
        </div>

    </div>
</section>