<section class="bg-primary" id="toc">
 

            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Training Content</h2>
                <ul class="w3-ul"></ul>
                    <li>DevOps Foundation</li>
                    <li>Git Hands-on Workshop</li>
                    <li>CI/CD Pipeline Using Jenkins</li>
                    <li>Infra as Code</li>
                    <li>Ansible in Action </li>
                    <li>Hands On Terraform </li>
                    <li>Docker in Action</li>
                    <li>IaC in Chef </li>
                    <li>MAstering Chef InSpec</li>
                    <li>Puppet in Action</li>
                    <li>AWS CloudFormation </li>                    
                    <li>Monitoring with Nagiosn</li>
                    <li>Decoding Kubernetes</li>
                  </ul>
           </div>
           
            
       
       
        
      
    
</section>