<!-- ABOUT-2
			============================================= -->
<section id="about-2" class="rel inner-page-hero about-section division">


    <!-- ABOUT-2 TITLE -->
    <div class="container">
        <div class="row">
            <div class="col-md-11 col-lg-10 col-xl-9">
                <div class="about-2-title mb-60">

                    <!-- Title -->
                    <h2 class="s-45 w-700 mb-30">CertifyMe: A simplified & Trusted Digital Certification Platform
                    </h2>

                    <!-- Text -->
                    <p class="mb-0 s-21">Bridging the skills gap. Automating digital certification process.
                        Streamlined workforce management.
                    </p><br>
                    <!-- Text -->
                    <p class="mb-0"> CertifyMe is not just a digital credentials platform, it is a pioneer in the
                        way certificates, badges, transcripts, and diplomas are issued and managed. We have come
                        a long way since the introduction of Mozilla Open Badges in 2011 and are dedicated to
                        constructing a robust platform that we wholeheartedly believe in. We are set on a
                        mission to empower individuals and organizations with our secure and verifiable digital
                        credentials.
                    </p>

                </div>
            </div>
        </div>
    </div> <!-- END ABOUT-2 TITLE -->


    <!-- ABOUT-2 IMAGES -->
    <div class="container-fluid">
        <div class="row">


            <!-- IMAGES-1 -->
            <div class="col-md-5">
                <div class="text-end">


                    <!-- IMAGE-1 -->
                    <div class="about-2-img a-2-1 r-12">
                        <img class="img-fluid" src="/assets4/images/a2-1.jpg" alt="about-image">
                    </div>


                    <!-- IMAGE-2 -->
                    <div class="about-2-img a-2-2 r-12">
                        <img class="img-fluid" src="/assets4/images/a2-2.jpg" alt="about-image">
                    </div>


                </div>
            </div> <!-- END IMAGES-1 -->


            <!-- IMAGES-2 -->
            <div class="col-md-7">


                <!-- IMAGE-3 -->
                <div class="about-2-img a-2-3 r-12">
                    <img class="img-fluid" src="/assets4/images/a2-3.jpg" alt="about-image">
                </div>


                <div class="row">

                    <!-- TEXT -->
                    <div class="col-md-7 col-lg-6">
                        <div class="a2-txt bg--black-400 pattern-01 bg--fixed color--white r-12">

                            <!-- Icon -->
                            <div class="a2-txt-quote ico-40 o-20">
                                <span class="flaticon-quote"></span>
                            </div>

                            <!-- Text -->
                            <p>"Credentials are indeed more than just pieces of a paper. At CertifyMe, we strive
                                to transform the way achievements are recognized and shared in a trusted format."
                            </p>

                            <!-- Author -->
                            <p class="a2-txt-author">Ranjith Tharayil <span>CEO & CO-FOUNDER</span></p>

                        </div>
                    </div>

                    <!-- IMAGE-4 -->
                    <div class="col-md-5 col-lg-6">
                        <div class="about-2-img a-2-4 r-12">
                            <img class="img-fluid" src="/assets4/images/a2-4.jpg" alt="about-image">
                        </div>
                    </div>

                </div> <!-- End row -->


            </div> <!-- END IMAGES-2 -->


        </div> <!-- End row -->
    </div> <!-- END ABOUT-2 IMAGES -->


</section> <!-- END ABOUT-2 -->




<!-- ABOUT-3
			============================================= -->
<div id="about-3" class="pt-100 about-section division">
    <div class="container">
        <div class="row">


            <!-- ABOUT-3 TEXT -->
            <div class="col-md-6">
                <div id="a3-1" class="txt-block">

                    <!-- Title -->
                    <h5 class="s-24 w-700 mb-20">Mission and Vision</h5>

                    <!-- Text -->
                    <p>Amidst the growing automation and widening skills gap, we advocate for lifelong learning,
                        career progress, and professional growth by harnessing the power of digital
                        certificates. We envision establishing a platform where certificate creation, issuing,
                        managing, and storing, the entire cycle can be taken care of.
                    </p>
                    <!-- Text -->
                    <p>We work hard to eliminate credential forgery and create a sense of security and trust among
                        issuers
                        and recipients.</p>

                    <!-- Text -->
                    <p>We are a platform that supports the truth and tracks every move made in the credentialing
                        pathway.</p>
                </div>
            </div> <!-- END ABOUT-3 TEXT -->


            <!-- ABOUT-3 TEXT -->
            <div class="col-md-6">
                <div id="a3-2" class="txt-block">

                    <!-- Title -->
                    <h5 class="s-24 w-700 mb-20">A Seamless Platform</h5>

                    <!-- Text -->
                    <p>We deliver an impeccable user experience by combining intuitive platform design with
                        powerful features. Our scalable and customizable digital credentials platform meets
                        credentialing needs of educational institutions, professional associations, and training
                        providers.
                    </p>
                    <p>CertifyMe operates using a robust system that enables you to issue and track
                        digital credentials, automate processes, and streamline verification, all while
                        enhancing the credibility and value of your credentials.</p>

                    <!-- Text -->
                    <p class="mb-0">Our unrelenting commitment to innovation and excellence continues to push
                        the boundaries of digital credentialing solutions.
                    </p>

                </div>
            </div> <!-- END ABOUT-3 TEXT -->


        </div> <!-- End row -->
    </div> <!-- End container -->
</div> <!-- END ABOUT-3 -->