<section id="certificate" class="services-area pt-120">

    <div class="container">
        
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="section-title text-center pb-40">

                    <h3 class="title">{{page.title}}</span></h3>
                    <div class="line m-auto"></div>
                    <div class="service-box1">
                        <img src="{{page.imageLink}}" alt="{{page.title}}" style="width:100%">
                    </div>
                    
                    <h2>{{page.subTitle}}</h2>
                    <h6 style="font-weight: 100;"><i>{{page.author}} ,{{page.affiliation}}</i></h6>



                    <h6 style="font-weight: 50; ">{{page.date}}</h6>
                    <h5 style="font-weight: 200; ">{{page.abstract}}</h5>
                    <div class="text-right">


                        <a style="padding: 5px"
                            href="whatsapp://send?text={{page.subTitle}},read more - {{site.url}}{{page.url}}"
                            data-action="share/whatsapp/share"><i class="fa fa-whatsapp  " data-wow-delay=".1s"></i></a>
                        <a style="padding: 5px"
                            href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{page.url}}"><i
                                class="fa fa-facebook  " data-wow-delay=".1s"></i></a>
                        <a style="padding: 5px"
                            href="https://www.linkedin.com/shareArticle?mini=true&url={{site.url}}{{page.url}}&title=&summary={{subTitle}}&source="><i
                                class="fa fa-linkedin  " data-wow-delay=".1s"></i></a>
                        <a style="padding: 5px"
                            href="https://twitter.com/home?status=https://certifyme.online/{{page.url}} "><i
                                class="fa fa-twitter  " data-wow-delay=".1s"></i></a>
                        <a style="padding: 5px"
                            href="https://pinterest.com/pin/create/button/?url=https:{{site.url}}{{page.url}}&media=&description="><i
                                class="fa fa-pinterest " data-wow-delay=".1s"></i></a>
                        <a style="padding: 5px"
                            href="mailto:?&subject=&body={{ subTitle }}- {{site.url}}{{page.url}} "><i
                                class="fa  fa-envelope " data-wow-delay=".1s"></i></a>
                    </div>
                </div> <!-- section title -->
            </div>
        </div>

        <div class=" text-center " >






            <div >
                <div class="row" style="margin: 5px; padding: 5px">
                    {% if article.imageLink != "nil" %}

                    <img src="{{article.imageLink}}" alt="{{article.title}}" style="max-width:200px;max-height:200px;">
                    {% endif %}
                    <div style="padding: 10px ; text-align: left;">
                        <p>{{page.content}}</p>
                    </div>


                </div>
            </div>






        </div> <!-- single services -->
    </div> <!-- single services -->




</section>