<div class="row">


    <!-- BLOG POST #1 -->
    <div class="col-md-6 col-lg-4">
        <div id="bp-1-1" class="blog-post wow fadeInUp">

            <!-- BLOG POST IMAGE -->
            <div class="blog-post-img mb-35">
                <img class="img-fluid r-16" src="https://www.certifyme.online/img/blog/Guide%20to%20Creating%20LinkedIn%20Digital%20Badges%20for%20Your%20Company/Featured%20Image.png"
                    alt="Guide to Creating LinkedIn Digital Badges for Your Company" style ="max-height:250px">
            </div>

            <!-- BLOG POST TEXT -->
            <div class="blog-post-txt">

                <!-- Post Tag -->
                <!-- <span class="post-tag color--pink-400">Product News</span> -->

                <!-- Post Link -->
                <h6 class="s-20 w-700">
                    <a href="https://www.certifyme.online/blog/linkedin-badges-for-companies.html">
                        Guide to Creating LinkedIn Digital Badges for Your Company
                    </a>
                </h6>

                <!-- Text -->
                <p>Learn to create optimal digital badges LinkedIn can showcase for your company. Our guide covers the concept and helps you choose the right platform.
                </p>

            </div> <!-- END BLOG POST TEXT -->

        </div>
    </div> <!-- END BLOG POST #1 -->


    <!-- BLOG POST #2 -->
    <div class="col-md-6 col-lg-4">
        <div id="bp-1-2" class="blog-post wow fadeInUp">

            <!-- BLOG POST IMAGE -->
            <div class="blog-post-img mb-35">
                <img class="img-fluid r-16" src="https://www.certifyme.online/img/blog/Blog%201%20Banner.png"
                    alt="20 Certificate Wordings that Leave Recipients Feeling Truly Special" style ="max-height:250px">
            </div>

            <!-- BLOG POST TEXT -->
            <div class="blog-post-txt">

                <!-- Post Tag -->
                <!-- <span class="post-tag color--green-400">Community</span> -->

                <!-- Post Link -->
                <h6 class="s-20 w-700">
                    <a
                        href="https://www.certifyme.online/blog/best-certificate-wording-examples.html">20 Certificate Wordings that Leave Recipients Feeling Truly Special
                    </a>
                </h6>

                <!-- Text -->
                <p>Explore 20 certificate wordings, uniquely designed to make recipients feel special. Find examples for appreciation, recognition, achievement, and completion. Ideal for creating impactful certificate texts.</p>

            </div> <!-- END BLOG POST TEXT -->

        </div>
    </div> <!-- END BLOG POST #2 -->


    <!-- BLOG POST #3 -->
    <div class="col-md-12 col-lg-4">
        <div id="bp-1-3" class="blog-post wow fadeInUp">

            <!-- BLOG POST IMAGE -->
            <div class="blog-post-img mb-35 ">
                <img class="img-fluid r-16" src="https://www.certifyme.online/images/Certificate%20blog%20banner.png" alt="15 Free Online Certificate Maker Software in 2024" style ="max-height:250px">
            </div>

            <!-- BLOG POST TEXT -->
            <div class="blog-post-txt">

                <!-- Post Tag -->
                <!-- <span class="post-tag color--purple-400">Freelancer Tips</span> -->

                <!-- Post Link -->
                <h6 class="s-20 w-700">
                    <a
                        href="https://www.certifyme.online/blog/15-certificate-maker.html">15 Free Online Certificate Maker Software in 2024</a>
                </h6>

                <!-- Text -->
                <p>Explore the top 15 free certificate maker software in 2024. Create professional, customizable certificates easily with these user-friendly tools and find your perfect fit!
                </p>

            </div>
        </div> <!-- END BLOG POST #3 -->


    </div> <!-- End row -->
</div> <!-- End container -->