<!-- RELATED ARTICLES (full-width "Keep Reading" grid, dynamically matched instead of hardcoded) -->
{% assign related_posts = include.related_posts %}
<div class="row">
    {% for rp in related_posts %}
    <div class="col-md-6 col-lg-4">
        <div class="blog-post wow fadeInUp">

            <!-- BLOG POST IMAGE -->
            <div class="blog-post-img mb-35">
                <img class="img-fluid r-16" src="{{ rp.imageLink }}" alt="{{ rp.title }}" style="max-height:250px">
            </div>

            <!-- BLOG POST TEXT -->
            <div class="blog-post-txt">
                <span class="post-tag color--blue-400">Blog</span>
                <p class="s-20 w-700">
                    <a href="{{ site.baseurl }}{{ rp.url }}">{{ rp.title }}</a>
                </p>
                <p>{{ rp.description }}</p>
            </div>

        </div>
    </div>
    {% endfor %}
</div>
