<section>
    <div style="background-color: #f9fafc;">
        <div class="mt-35">

            <div class="col-md-12  text-center">
                <div>

                    <!-- Title -->
                    <h6 class="mt-4" style="padding-bottom: 30px; font-size: 24px;">Award Verifiable Credentials
                    </h6>
                    <p style=" font-size: 22px;">
                        Share across LinkedIn and 50+ Social Media Apps
                    </p>

                    <div class="col-md-12">
                        <div class=" text-center" style="padding-bottom: 20px;">
                            <img class="img-fluid"
                                src="/assets4/images/Digital%20certificates/2.png"
                                alt="Digital Credential Management Software">
                        </div>
                    </div>

                    <div class="btns-group text-center">
                        <a href="https://info.certifyme.online/request-demo" target="_blank"
                            class="btn r-04 btn--theme hover--black mt-4 mb-4">Request A Demo</a>

                    </div>




                </div>
            </div> <!-- END HERO TEXT -->


            <!-- HERO IMAGE -->

        </div>



</section>