<section>
    <div style="background-color: #f9fafc;">
<div class="mt-35"  >

    <div class="col-md-12  text-center">
        <div>

            <!-- Title -->
            <h6 class="fs-3" style="padding-bottom: 30px;">Automate your certificate and digital badge management
                 </h6>


            <!-- Buttons https://certifyme.online/img/CmeVedioS.mp4 -->
            <div class="btns-group text-center">
                <a href="https://info.certifyme.online/request-demo" target="_blank"
                    class="btn r-04 btn--theme hover--black">Request A Demo</a>

            </div>




        </div>
    </div> <!-- END HERO TEXT -->


    <!-- HERO IMAGE -->
    <div class="col-md-12">
        <div class=" text-center" style="padding-bottom: 20px;">
            <img class="img-fluid" src="https://certifyme.online/assets4/images/Digital%20certificates/2.png"
                alt="Digital Credential Management Software">
        </div>
    </div>
</div>

<div class="mt-55" >

    <div class="col-md-12  text-center">
        <div>

            <!-- Title -->
            <h6 class="fs-3" style="padding-bottom: 30px;">CertifyMe is recognized as the top choice in Digital Badge
                Management Software </h6>







        </div>
    </div> <!-- END HERO TEXT -->
</div>


<!-- HERO IMAGE -->
<div class="col-md-12 text-center">

    <!-- RATING-1 WRAPPER -->

    <div class="mt-35">

        <!-- Brand Logo -->
        <div class="rbox-1-img">
            <img class="img-fluid" src="/assets4/images/Images Webp/capterra.webp" alt="capterra-image">
        </div>

        <!-- Rating Stars -->
        <div class="star-rating ico-10  r-100 clearfix">
            <span class="flaticon-star"></span>
            <span class="flaticon-star"></span>
            <span class="flaticon-star"></span>
            <span class="flaticon-star"></span>
            <span class="flaticon-star"></span>
            <!-- <span class="flaticon-star-half-empty mr-5"></span> -->
            &nbsp; 5/5
        </div>

    </div>




    <!-- RATING BOX #2 -->

    <div class="mt-35">
        <!-- Brand Logo -->
        <div class="rbox-1-img">
            <img class="img-fluid" src="/assets4/images/Images Webp/trust radius elearning.webp"
                alt="trustRadius-image">
        </div>

        <!-- Rating Stars -->
        <div class="star-rating ico-10  r-100 clearfix">
            <span class="flaticon-star"></span>
            <span class="flaticon-star"></span>
            <span class="flaticon-star"></span>
            <span class="flaticon-star"></span>
            <span class="flaticon-star mr-5"></span>
            &nbsp; 9/10
        </div>
    </div>




    <div class="mt-35">
        <!-- Brand Logo -->
        <div class="rbox-1-img">
            <img class="img-fluid" src="/assets4/images/Images Webp/G2 Digital credentials.webp" alt="g2crowd-image">
        </div>

        <!-- Rating Stars -->
        <div class="star-rating ico-10 r-100 clearfix">
            <span class="flaticon-star"></span>
            <span class="flaticon-star"></span>
            <span class="flaticon-star"></span>
            <span class="flaticon-star"></span>
            <span class="flaticon-star mr-5"></span>
            <!-- <span class="flaticon-star-1 mr-5"></span> -->
            &nbsp; 4.9/5
        </div>
    </div>

    <!-- ACTION BUTTON -->
    <div class="row" style="margin-bottom: 40px;">
        <div class="col">
            <div class="img-block-btn text-center wow fadeInUp">


                <!-- Button -->
                <a href="https://info.certifyme.online/talk-with-expert" target="_blank"
                    class="btn r-04 mb-4 btn--theme hover--theme last-link">Talk with our Experts</a>

                <!-- Advantages List -->




            </div>
        </div>
    </div>
</div>
    </div>
</section>