<!-- WIDE BLOG POST -->
<div class="blog-post wide-post wow fadeInUp">
    <div class="row d-flex align-items-center">


        <!-- BLOG POST IMAGE -->
        <div class="col-md-6">
            <div class="blog-post-img">
                <img class="img-fluid r-16" src="https://unevoc.unesco.org/up/DigitalCredentialing.jpg" alt="What are digital
                credentials and Where are digital credentials used in 2023?">
            </div>
        </div>


        <!-- BLOG POST TEXT -->
        <div class="col-md-6">
            <div class="blog-post-txt">

                <!-- Post Tag -->
                <span class="post-tag color--blue-400">Top Ranking</span>

                <!-- Post Link -->
                <h3 class="s-38 w-700">
                    <a href="https://certifyme.online/blog/What-is-a-Digital-Credential.html">What are digital
                        credentials and Where are digital credentials used in 2023?
                    </a>
                </h3>

                <!-- Text -->
                <p>Digital credentials or verifiable credentials are tamper-proof evidence of achievements that can
                    transform the way skilled professionals showcase their credentials on a global scale.
                </p>

            </div>
        </div> <!-- END BLOG POST TEXT -->


    </div> <!-- End row -->
</div> <!-- END WIDE BLOG POST -->

<!-- BLOG POSTS CATEGORY -->
<div class="row">
    <div class="col">
        <div class="posts-category ico-20 wow fadeInUp">
            <h4 class="s-34 w-700">Latest Blogs <span class="flaticon-next"></span></h4>
        </div>
    </div>
</div>

<!-- POSTS WRAPPER -->
<div class="posts-wrapper">
    <div class="row">


        <!-- BLOG POST #1 -->
        <div class="col-md-6 col-lg-4">
            <div class="blog-post mb-40 wow fadeInUp clearfix">


                <!-- BLOG POST IMAGE -->
                <div class="blog-post-img mb-35">
                    <img class="img-fluid r-16" src="/img/blog/credential/28.png"
                        alt="Most Common Types of Digital certificate">
                </div>


                <!-- BLOG POST TEXT -->
                <div class="blog-post-txt">

                    <!-- Post Tag -->
                    <span class="post-tag color--blue-400">Blog</span>

                    <!-- Post Link -->
                    <h6 class="s-20 w-700">
                        <a href="https://certifyme.online/blog/Most-Common-Types-of-Digital-certificate.html">
                            Most Common Types of Digital certificate
                        </a>
                    </h6>

                    <!-- Text -->
                    <p>Common types of digital certificates include TLS/SSL certificates, code signing certificates, and
                        client certificates for user verification.
                    </p>

                </div> <!-- END BLOG POST TEXT -->


            </div>
        </div> <!-- END BLOG POST #1 -->


        <!-- BLOG POST #2 -->
        <div class="col-md-6 col-lg-4">
            <div class="blog-post mb-40 wow fadeInUp clearfix">


                <!-- BLOG POST IMAGE -->
                <div class="blog-post-img mb-35">
                    <img class="img-fluid r-16" src="/img/blog/credential/23.png"
                        alt="Benefits of Digital Certificates for Businesses">
                </div>


                <!-- BLOG POST TEXT -->
                <div class="blog-post-txt">

                    <!-- Post Tag -->
                    <span class="post-tag color--blue-400">Blog</span>

                    <!-- Post Link -->
                    <h6 class="s-20 w-700">
                        <a href="https://certifyme.online/blog/Benefits-of-Digital-Certificates-for-Businesses.html">Benefits
                            of Digital Certificates for Businesses
                        </a>
                    </h6>

                    <!-- Text -->
                    <p>Secure and verifiable, digital certificates offer privacy, visibility, and verification,
                        benefiting businesses in the digital world.</p>

                </div> <!-- END BLOG POST TEXT -->


            </div>
        </div> <!-- END BLOG POST #2 -->


        <!-- BLOG POST #3 -->
        <div class="col-md-12 col-lg-4">
            <div class="blog-post mb-40 wow fadeInUp clearfix">


                <!-- BLOG POST IMAGE -->
                <div class="blog-post-img mb-35">
                    <img class="img-fluid r-16" src="/img/blog/credential/36.png" alt="The
                    Importance of Including Digital Credentials on LinkedIn">
                </div>


                <!-- BLOG POST TEXT -->
                <div class="blog-post-txt">

                    <!-- Post Tag -->
                    <span class="post-tag color--blue-400">Blog</span>

                    <!-- Post Link -->
                    <h6 class="s-20 w-700">
                        <a
                            href="https://certifyme.online/blog/The-Importance-of-Including-Digital-Credentials-on-LinkedIn.html">The
                            Importance of Including Digital Credentials on LinkedIn</a>
                    </h6>

                    <!-- Text -->
                    <p>Adding digital credentials on LinkedIn can enhance brand value, networking, and job
                        opportunities.
                    </p>

                </div> <!-- END BLOG POST TEXT -->


            </div>
        </div> <!-- END BLOG POST #3 -->


    </div>
</div> <!-- END POSTS WRAPPER -->


<!-- BANNER-13 ============================================= -->
<section id="banner-13" class="pt-100 banner-section" style="margin-bottom: 80px;">
    <div class="container">


        <!-- BANNER-13 WRAPPER -->
        <div class="banner-13-wrapper bg--05 bg--scroll r-16 block-shadow">
            <div class="banner-overlay">
                <div class="row d-flex align-items-center">


                    <!-- BANNER-5 TEXT -->
                    <div class="col-md-7">
                        <div class="banner-13-txt color--white">
                            <p class="p-lg" style="margin-bottom: -10px;">{{page.Banner1}}</p>
                            <!-- Title -->
                            <h2 class="s-45 w-700" style="margin-bottom: -5px;">{{page.BannerTitle1}}</h2>
                            <h2 class="s-37 w-700">{{page.BannerTitle2}}</h2>

                            <!-- Text -->
                            <p class="p-lg" style="font-size: 20px;">{{page.BannerText}}
                            </p>

                            <!-- Button -->
                            <a href="https://info.certifyme.online/ebook" target="_blank"
                                class="btn r-04 btn--theme hover--tra-white">{{page.BannerButton}}</a>

                        </div>
                    </div> <!-- END BANNER-13 TEXT -->


                    <!-- BANNER-13 IMAGE class="banner-13-img text-center"-->
                    <div class="col-md-5">
                        <div>
                            <img class="img-fluid" src="{{page.BannerImage}}" alt="{{page.BannerTitle1}}">
                        </div>
                    </div>


                </div> <!-- End row -->
            </div> <!-- End banner overlay -->
        </div> <!-- END BANNER-13 WRAPPER -->


    </div> <!-- End container -->
</section> <!-- END BANNER-13 -->