<section id="blog-page" class="pb-60 inner-page-hero blog-page-section">
    <div class="container">

        {% include V4NewLook/blogs/blogsUpperSection.html %}
        <!-- BLOG POSTS CATEGORY -->
        <div class="row">
            <div class="col">
                <div class="posts-category ico-20 wow fadeInUp">
                    <h4 class="s-34 w-700">All Stories <span class="flaticon-next"></span></h4>
                </div>
            </div>
        </div>
        {% if article.imageLink != '0' or article.imageLink != '' %}
        <!-- POSTS WRAPPER -->
        <div class="posts-wrapper">
            <div class="row">
                {% for article in site.blog %}
                
                <!-- BLOG POST #7 -->
                <div onclick="location.href = '{{site.baseurl}}{{article.url}}';" class="col-md-4">
                    <div class="blog-post mb-40 wow fadeInUp clearfix">
                        <!-- BLOG POST IMAGE -->
                        <div class="blog-post-img mb-35">
                            <img class="img-fluid r-16" src="{{article.imageLink}}" alt="{{article.title}}">
                        </div>

                        <!-- BLOG POST TEXT -->
                        <div class="blog-post-txt">
                            <!-- Post Tag -->
                            <span class="post-tag color--blue-400">Blog</span>
                            <!-- Post Link -->
                            <h6 class="s-20 w-700">
                                <a href="{{article.url}}">{{article.title}}</a>
                            </h6>
                            <!-- Text -->
                            <p>{{article.description}}</p>
                        </div> <!-- END BLOG POST TEXT -->
                    </div>
                </div> <!-- END BLOG POST #7 -->
                
                {% endfor %}
            </div> <!-- End row -->
        </div> <!-- END POSTS WRAPPER -->
        {% endif %}
    </div> <!-- End container -->
</section> <!-- END BLOG POSTS LISTING -->
