<section id="blog-page" class="pb-60 inner-page-hero blog-page-section">
    <div class="container">

        {% include V4NewLook/blogs/blogsUpperSection.html %}
        <!-- BLOG POSTS CATEGORY -->
        <div class="row">
            <div class="col">
                <div class="posts-category ico-20 wow fadeInUp">
                    <h4 class="s-34 w-700">All Stories <span class="flaticon-next"></span></h4>
                </div>
            </div>
        </div>
        <div class="posts-wrapper">
            <div class="row">
                {% for article in site.blog %}

                {% if article.redirect_from == nil
                and article.redirect_to == nil
                and article.imageLink
                and article.imageLink != '0'
                and article.imageLink != '' %}

                <div onclick="location.href='{{ site.baseurl }}{{ article.url }}';" class="col-md-4">
                    <div class="blog-post mb-40 wow fadeInUp clearfix">

                        <!-- BLOG POST IMAGE -->
                        <div class="blog-post-img mb-35">
                            <img class="img-fluid r-16" src="{{ article.imageLink }}" alt="{{ article.title }}">
                        </div>

                        <!-- BLOG POST TEXT -->
                        <div class="blog-post-txt">
                            <span class="post-tag color--blue-400">Blog</span>
                            <h6 class="s-20 w-700">
                                <a href="{{ site.baseurl }}{{ article.url }}">{{ article.title }}</a>
                            </h6>
                            <p>{{ article.description }}</p>
                        </div>

                    </div>
                </div>

                {% endif %}
                {% endfor %}
            </div>
        </div>

    </div> <!-- End container -->
</section> <!-- END BLOG POSTS LISTING -->