<!---Content Section-->
<div class="content-main section-spacing">
   <div class="container">
      {% if {{page.1FeaturesImg}} %}
      <div class="section-inner row align-items-center">
         <div class="sec-left col-lg-6 col-md-12">
            <div class="sec-detail">
               <div class="sec-heading">
                  <h2>{{page.1FeaturesTitle}}</h2>
               </div>
               <div class="sec-para">
                  <p>{{page.1FeaturesMessage}} </p>
               </div>
               <a href="https://share.hsforms.com/1AHpmNPHDQLmz26woSJR2VA5gjjo" target="_blank"
                  class="sec-link d-flex align-items-center"><button class="btn-price text">Lean More</button>
               </a>
            </div>
         </div>
         <div class="sec-right  col-lg-6 col-md-12">
            <div class="sec-img">
               <img width="645" height="518" src="{{page.1FeaturesImg}}" alt="{{page.1FeaturesTitle}}"
                  class="img-fluid">


               </img>

            </div>
         </div>
      </div>
      {% endif %}
      {% if {{page.2FeaturesImg}} %}
      <div class="section-inner row align-items-center flex-row-reverse section-right">
         <div class="sec-left col-lg-6 col-md-12">
            <div class="sec-detail">
               <div class="sec-heading">
                  <h2>{{page.2FeaturesTitle}}</h2>
               </div>
               <div class="sec-para">
                  <p>{{page.2FeaturesMessage}}</p>
               </div>
               <a href="https://share.hsforms.com/1AHpmNPHDQLmz26woSJR2VA5gjjo" target="_blank"
                  class="sec-link d-flex align-items-center"> <button class="btn-price text">Lean More</button>
               </a>
            </div>
         </div>
         <div class="sec-right  col-lg-6 col-md-12">
            <div class="sec-img">
               <img width="645" height="518" src="{{page.2FeaturesImg}}" alt="{{page.2FeaturesTitle}}"
                  class="img-fluid">


               </img>

            </div>
         </div>
      </div>
      {% endif %}
      {% if {{page.3FeaturesImg}} %}
      <div class="section-inner row align-items-center">
         <div class="sec-left col-lg-6 col-md-12">
            <div class="sec-detail">
               <div class="sec-heading">
                  <h2>{{page.3FeaturesTitle}}</h2>
               </div>
               <div class="sec-para">
                  <p>{{page.3FeaturesMessage}} </p>
               </div>
               <a href="https://share.hsforms.com/1AHpmNPHDQLmz26woSJR2VA5gjjo" target="_blank"
                  class="sec-link d-flex align-items-center"><button class="btn-price text">Lean More</button>
               </a>
            </div>
         </div>
         
         <div class="sec-right  col-lg-6 col-md-12">
            <div class="sec-img">
               <img width="645" height="518" src="{{page.3FeaturesImg}}" alt="{{page.3FeaturesTitle}}"
                  class="img-fluid">


               </img>

            </div>
         </div>
      </div>
      {% endif %}
      {% if {{page.4FeaturesImg}} %}
      <div class="section-inner row align-items-center flex-row-reverse section-right">
         <div class="sec-left col-lg-6 col-md-12">
            <div class="sec-detail">
               <div class="sec-heading">
                  <h2>{{page.4FeaturesTitle}}</h2>
               </div>
               <div class="sec-para">
                  <p>{{page.4FeaturesMessage}}</p>
               </div>
               <a href="https://share.hsforms.com/1AHpmNPHDQLmz26woSJR2VA5gjjo" target="_blank"
                  class="sec-link d-flex align-items-center"><button class="btn-price text">Lean More</button>
               </a>
            </div>
         </div>
         <div class="sec-right  col-lg-6 col-md-12">
            <div class="sec-img">
               <img width="645" height="518" src="{{page.4FeaturesImg}}" alt="{{page.4FeaturesTitle}}"
                  class="img-fluid">


               </img>

            </div>
         </div>
      </div>
      {% endif %}
      {% if {{page.5FeaturesImg}} %}
      <div class="section-inner row align-items-center">
         <div class="sec-left col-lg-6 col-md-12">
            <div class="sec-detail">
               <div class="sec-heading">
                  <h2>{{page.5FeaturesTitle}}</h2>
               </div>
               <div class="sec-para">
                  <p>{{page.5FeaturesMessage}} </p>
               </div>
               <a href="https://share.hsforms.com/1AHpmNPHDQLmz26woSJR2VA5gjjo" target="_blank"
                  class="sec-link d-flex align-items-center"><button class="btn-price text">Lean More</button>
               </a>
            </div>
         </div>
         <div class="sec-right  col-lg-6 col-md-12">
            <div class="sec-img">
               <img width="645" height="518" src="{{page.5FeaturesImg}}" alt="{{page.5FeaturesTitle}}"
                  class="img-fluid">


               </img>

            </div>
         </div>
      </div>
      {% endif %}
      {% if {{page.6FeaturesImg}} %}
      <div class="section-inner row align-items-center flex-row-reverse section-right">
         <div class="sec-left col-lg-6 col-md-12">
            <div class="sec-detail">
               <div class="sec-heading">
                  <h2>{{page.6FeaturesTitle}}</h2>
               </div>
               <div class="sec-para">
                  <p>{{page.6FeaturesMessage}}</p>
               </div>
              
               <a href="https://share.hsforms.com/1AHpmNPHDQLmz26woSJR2VA5gjjo" target="_blank"
                  class="sec-link d-flex align-items-center"> <button class="btn-price text">Lean More</button>
               </a>
            </div>
         </div>
         <div class="sec-right  col-lg-6 col-md-12">
            <div class="sec-img">
               <img width="645" height="518" src="{{page.6FeaturesImg}}" alt="{{page.6FeaturesTitle}}"
                  class="img-fluid">


               </img>

            </div>
         </div>
      </div>
      {% endif %}
   </div>

</div>
</div>
<!---Content Section End-->