   <!--====== ABOUT PART START ======-->
    
   <section id="about" class="about-area pt-70">
    <div class="container" >
        <div class="row">
            <div class="col-lg-6">
                <div class="about-content mt-50 wow fadeInLeftBig" data-wow-duration="1s" data-wow-delay="0.5s">
                    <div class="section-title">
                        <div class="line"></div>
                        <h3 class="title">Why Should I Automate my Credential awarding process?</h3>
                       
                    </div> <!-- section title -->
                    <p class="text" >Maintaining a single credential from awarding to expiry could cost you around ~19.3 minutes . Reduce your manual effort spend in issuing and maintaining your credential process. Our Automation reduces upto 100% of the mundane task associated with the credential issuing process. We also provide API access for enabling 100% automation. We are also "Zapier" and  "Integrately" enabled.</p>
                    <a target="_blank" href="https://credential.certifyme.online/auth/register" class="main-btn">Sign up for free </a>
                </div> <!-- about content --> 
            </div>	
            <div class="col-lg-6">
                <div class="about-image text-center mt-50 wow fadeInRightBig" data-wow-duration="1s" data-wow-delay="0.5s">
                   
                    <div class="video-responsive"> 
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/Je0_a_kLH-c?controls=0" title="Certify Explainer Video" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                       <!-- <img class="small" src="assets/images/cert.png" alt="SAAS Digital Credentials" style="width: 95%;">-->
    
    
    
                    </div> <!-- header hero image -->
                    <!-- <img class= "small" src="/assets/images/laptop.png" alt="about">-->
                </div> <!-- about image -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
    <div class="about-shape-1">
        <img src="/assets/images/about-shape-1.svg" alt="shape">
    </div>
</section>

<!--====== ABOUT PART ENDS ======-->

<!--====== ABOUT PART START ======-->

<section class="about-area pt-70">
    <div class="about-shape-2">
        <img src="/assets/images/about-shape-2.svg" alt="shape">
    </div>
    <div class="container" >
        <div class="row">
            <div class="col-lg-7 order-lg-last">
                <div class="about-content mt-50 wow fadeInLeftBig" data-wow-duration="1s" data-wow-delay="0.5s">
                    <div class="section-title">
                        <div class="line"></div>
                        <h3 class="title"> Why Should I Award Verifiable Digital Badges and Certificates?</h3>
                    </div> <!-- section title -->
                    <p class="text">A verifiable credential is valued 3.7 X times than an ordinary unverifiable credential. Each of our credentials is enabled with a unique QR Code to establish seamless traceability. Your credentials can further be linked with the awardee's unique identity like a Passport number, Social security number, Driving license, etc to ensures the awarded Digital Credentials can never be forged. We also support old fashion email-based manual verification. </p>
                    
                    <a target="_blank" href="https://calendly.com/rtharayil/15min" class="main-btn">Schedule a Demo </a>
                </div> <!-- about content -->
            </div>
            <div class="col-lg-5 order-lg-first">
                <div class="about-image text-center mt-50 wow fadeInRightBig" data-wow-duration="1s" data-wow-delay="0.5s">
                    <img  class= "small" src="/assets/images/2.png" alt="about">
                </div> <!-- about image -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>


<!--====== ABOUT PART START ======-->

<section class="about-area pt-70">
    <div class="container" >
        <div class="row">
            <div class="col-lg-7">
                <div class="about-content mt-50 wow fadeInLeftBig" data-wow-duration="1s" data-wow-delay="0.5s">
                    <div class="section-title">
                        <div class="line"></div>
                        <h3 class="title"> How can I Maximize my brand presence by awarding Credentials? </h3>
                    </div> <!-- section title -->
                    <p class="text">A single credential on an average attracts ~3500+ impressions when shared across LinkedIn. </br> Our platform helps the awardee publish the credentials across 50+ social media platforms enabling you to drive 10X more relevant traffic to your events overpaid digital media advertisements. Our certificates are also customizable to include a branding banner advertisement and a CTA button. </p>
                    <a target="_blank" href="https://credential.certifyme.online/auth/register" class="main-btn">Get 50 Credentials for Free </a>
                </div> <!-- about content -->
            </div>
            <div class="col-lg-5">
                <div class="about-image text-center mt-50 wow fadeInRightBig" data-wow-duration="1s" data-wow-delay="0.5s">
                    <img  class= "small" src="/assets/images/3.png" alt="about">
                </div> <!-- about image -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
    <div class="about-shape-1">
        <img src="/assets/images/about-shape-1.svg" alt="shape">
    </div>
</section>



<!--====== ABOUT PART ENDS ======-->
<!--====== ABOUT PART START ======-->

<section class="about-area pt-70">
    <div class="about-shape-2">
        <img src="/assets/images/about-shape-2.svg" alt="shape">
    </div>
    <div class="container" >
        <div class="row">
            <div class="col-lg-4 order-lg-last">
                <div class="about-content mt-50 wow fadeInLeftBig" data-wow-duration="1s" data-wow-delay="0.5s">
                    <div class="section-title">
                        <div class="line"></div>
                        <h3 class="title"> Your Branding your Design  </h3>
                    </div> <!-- section title -->
                    <p class="text">Stand out, customize your credential web pages to suit your demands. Our platform helps you white-label the credentials and enables you to customize the navigation bar, footer, and credential page based on your branding needs.</p>
                    
                    <a target="_blank" href="https://calendly.com/rtharayil/15min" class="main-btn">Schedule a Demo </a>
                </div> <!-- about content -->
            </div>
            <div class="col-lg-8 order-lg-first">
                <div class="about-image text-center mt-50 wow fadeInRightBig" data-wow-duration="1s" data-wow-delay="0.5s">
                    <img   src="/assets/images/22.png" alt="about">
                </div> <!-- about image -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>

<!--====== ABOUT PART START ======-->

<section class="about-area pt-70">
    <div class="container" >
        <div class="row">
            <div class="col-lg-3">
                <div class="about-content mt-50 wow fadeInLeftBig" data-wow-duration="1s" data-wow-delay="0.5s">
                    <div class="section-title">
                        <div class="line"></div>
                        <h3 class="title"> Responsive design  </h3>
                    </div> <!-- section title -->
                    
                    <a target="_blank" href="https://credential.certifyme.online/auth/register" class="main-btn">Award Now </a>
                </div> <!-- about content -->
            </div>
            <div class="col-lg-9">
                <div class="about-image text-center mt-50 wow fadeInRightBig" data-wow-duration="1s" data-wow-delay="0.5s">
                    <img  src="/assets/images/33.png" alt="about">
                </div> <!-- about image -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
    <div class="about-shape-1">
        <img src="/assets/images/about-shape-1.svg" alt="shape">
    </div>
</section>

<!--====== ABOUT PART START ======-->



<!--====== ABOUT PART START ======-->
