<div id="home" class="header-hero bg_cover" style="background-image: url(assets/images/banner-bg.svg)">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="header-hero-content text-center">
                    <h3 class="header-sub-title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">Digital Badges and Certificates</h3><br>
                    <p class="text" style ="color: white" >We enable conference and training producers to automate their credential issuing process and therefore maximize their brand presence.</p>
                    <h1 class="header-title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.5s">CertifyMe.Online is an end-to-end solution for creating, issuing, and managing Digital Credentials </h1>

                   
                    <a href="https://my.certifyme.online/auth/register/" target="_blank" class="main-btn wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="1.1s">Sign up</a>
                </div> <!-- header hero content -->
            </div>
        </div> <!-- row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="header-hero-image text-center wow fadeIn" data-wow-duration="1.3s" data-wow-delay="1.4s">
                    <img src="assets/images/laptop.png" alt="SAAS Digital Credentials">
                </div> <!-- header hero image -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
    <div id="particles-1" class="particles"></div>
</div> <!-- header hero -->