<section id="features" class="services-area pt-120">
    <div class="container">
        
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="section-title text-center pb-40">
                    <div class="line m-auto"></div>
                    <h3 class="title">Solutions</h3>,
                </div> <!-- section title -->
            </div>
        </div> 
        
        
        

        <div class="row site-verify">
            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 text-center" style= "margin-bottom: 50px;">
               
                    <h4 class="section-heading" > Award You Credentials using our platform, CertifyMe.Online  </h4>
                    <div class="service-box1" style="vertical-align: middle;">
                        <img src="https://certifyme.online/img/portfolio/1.png" alt="certificate"
                            style="width:50%   ">
                            <p>Get started in 3 simple steps. (1) Sign up. (2) Create your Credential template . (3) Start awarding. Our application automates the mundane task of Credential authoring, generation, and publication. Each credential is hosted on unique Webpage . The generated Credential Webpages are mobile/social media-friendly and sharable across 50+ social media platforms.</p>
                            <div style= "padding: 10px;">   
                            <h6><strong>Starting from $0.00 per credential</strong> </h6>
                            <a target="_blank" href="https://my.certifyme.online/auth/register" class="main-btn">Sign Up</a>
                        </div>
                        </div>
               
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 text-center" style= "margin-bottom: 50px;">
               
                    <h4 class="section-heading">Let us help you deploy your own Digital Credential Platform </h4>

                    <div class="service-box1">
                        <img src="https://certifyme.online/img/portfolio/2.png" alt="certificate" style="width:50% ; ">
                        
                       
                    <p> Stand out, deploy your own Digital Credential Platform using our Framework. Your credential systems would run on dedicated servers ensuring a high level of security & customisability. You can also award unlimited amount of credentials . Just sit back and relax while our tech team does all the heavy lifting to ensure your Credential Platform is performing at its best.
                        <div style= "padding: 10px;">   
                    </p>
                        <h6><strong>Starting from $50 per month</strong> </h6>
                        <a target="_blank" href="https://certifyme-2.hubspotpagebuilder.com/help" class="main-btn">Express Interest</a>
                    </div>
                </div>
                

            </div>
            
            

        </div>

    </div>
</section>
