<section id="features" class="services-area pt-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="section-title text-center pb-40">
                    <div class="line m-auto"></div>
                    <h3 class="title">Easy to use, Secure & Cost Effective, <span> comes with everything you need to get started with your Digital Credential Program.</span></h3>,
                </div> <!-- section title -->
            </div>
        </div> <!-- row -->
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-7 col-sm-8">
                <div class="single-services text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
                    <div class="services-icon">
                        <img class="shape" src="assets/images/services-shape.svg" alt="shape">
                        <img class="shape-1" src="assets/images/services-shape-1.svg" alt="shape">
                        <i class="lni-lock"></i>
                    </div>
                    <div class="services-content mt-30">
                        <h4 class="services-title"><a href="#"> Highly Secure</a></h4>
                        <p class="text">Our systems are built keeping a security-first mindset. Our encryption algorithms and access/ authentication techniques are state-of-the-art to ensure maximum security for your credentials. The data that we process and store are saved in specialized managed database servers which can only be accessed by our secure application servers thus drastically reducing any risk of unauthorized access or data theft.</p>
                        
                    </div>
                </div> <!-- single services -->
            </div>
            <div class="col-lg-4 col-md-7 col-sm-8">
                <div class="single-services text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
                    <div class="services-icon"> 
                        <img class="shape" src="assets/images/services-shape.svg" alt="shape">
                        <img class="shape-1" src="assets/images/services-shape-2.svg" alt="shape">
                        <i class=" lni-money-protection"></i>
                    </div>
                    <div class="services-content mt-30">
                        <h4 class="services-title"><a href="#">Cost Effective </a></h4>
                        <p class="text">Our Credential platform is the most pocket-friendly platform. Our credential prices can come down as low as $0.008 / month.  The reason of  our cost effective pricing model is that we deploy a high level of automation to ensure Quality is topnotch while ensuring Costs low. Another key feature is that you only need to pay as much as you use, i.e. you can even buy & issue a single Credential. </p>
                        
                    </div>
                </div> <!-- single services -->
            </div>
            <div class="col-lg-4 col-md-7 col-sm-8">
                <div class="single-services text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.8s">
                    <div class="services-icon">
                        <img class="shape" src="assets/images/services-shape.svg" alt="shape">
                        <img class="shape-1" src="assets/images/services-shape-3.svg" alt="shape">
                        <i class="lni-heart"></i>
                    </div>
                    <div class="services-content mt-30">
                        <h4 class="services-title"><a href="#">Easy to use</a></h4>
                        <p class="text">Our Credential platform is known for its user experience and ease of use. One can create and issue credentials in a jiffy. We also provide productivity tools like Bulk Award where you can award credentials by uploading a CSV file. 
</p>
                        
                    </div>
                </div> <!-- single services -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>

<!--====== SERVICES PART ENDS ======-->