<section id="blog-page" class="pb-60 inner-page-hero blog-page-section">
    <div class="container">
        <div class="row">
            <!-- Left Column (20%) -->
            <div class="col-12 col-md-4 col-lg-3">
                <div style="padding:20px;">
                    {% include V4NewLook/certificate-templates/templates-left-side.html %}
                </div>
            </div>

            <!-- Right Column (80%) -->
            <div class="col-12 col-md-8 col-lg-9">
                <div style="padding:20px;">
                    {% include V4NewLook/certificate-templates/templates-right-side.html %}
                </div>
            </div>
        </div>
    </div> <!-- End container -->
</section> <!-- END BLOG POSTS LISTING -->