<div class="wow fadeInLeft clearfix">

    <div>
        <p class="p-sm align-items-left"> <a href="/">Home</a> &nbsp > &nbsp <a
                href="/certificate-templates">Certificate
                Templates</a></p>
    </div>

    <div class="mt-35">
        <section>
            <div
                style="background-color: #eaf2ff; border-radius: 5px; padding: 10px; max-width: 900px; margin: 0 auto;">
                <div class="mt-35">
                    <div class="col-md-12 text-center">
                        <div>
                            
                            <h6 style="padding-bottom: 10px; font-size: 20px; font-weight: 700;">
                                {{ page.templateBannerTitle }}
                            </h6>

                            <p style="font-size: 18px;">
                                {{ page.templateBannerDescription }}
                            </p>

                            <!-- Button -->
                            <div class="btns-group text-center">
                                <a href="{{ page.templateBannerButtonLink }}" target="_blank"
                                    class="btn r-04 btn--theme hover--black mt-2 mb-4"
                                    style="font-size: 14px; display: inline-block; width: 100%;">
                                    {{ page.templateBannerButton }}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

</div>