<!-- HEADER -->
<header id="header" class="tra-menu navbar-dark light-hero-header white-scroll">
    <div class="header-wrapper">

        <!-- MOBILE HEADER -->
        <div class="wsmobileheader clearfix">
            <span class="smllogo"><img src="https://app.certifyme.online/static/fileStore/img/5773/logo/logo_9E92CE.png" alt="logo"></span>
            <a id="wsnavtoggle" class="wsanimated-arrow"><span></span></a>
        </div>

        <!-- NAVIGATION MENU -->
        <div class="wsmainfull menu clearfix">
            <div class="wsmainwp clearfix">


                <!-- HEADER BLACK LOGO -->
                <div class="desktoplogo">
                    <a href="https://www.utoronto.ca/" class="logo-black"><img
                            src="https://app.certifyme.online/static/fileStore/img/5773/logo/logo_9E92CE.png"
                            alt="logo"></a>
                </div>


                <!-- HEADER WHITE LOGO -->
                <div class="desktoplogo">
                    <a href="https://www.utoronto.ca/" class="logo-white"><img
                            src="https://app.certifyme.online/static/fileStore/img/5773/logo/logo_9E92CE.png"
                            alt="logo"></a>
                </div>


            </div>
        </div> <!-- END NAVIGATION MENU -->


    </div> <!-- End header-wrapper -->
</header> <!-- END HEADER -->