<!-- BOX CONTENT
			============================================= -->
<section id="lnk-1" class="pt-80 ws-wrapper content-section">
    <div class="container">
        <div class="bc-1-wrapper bg--02 bg--fixed r-16">
            <div class="section-overlay">
                <div class="row d-flex align-items-center">


                    <!-- TEXT BLOCK -->
                    <div class="col-md-6 order-last order-md-2">
                        <div class="txt-block left-column wow fadeInRight">

                            <!-- Title -->
                            <h2 class="s-38 w-700">{{page.BoxContentTitle}}</h2>

                            <!-- Text -->
                            <p class="s-18">{{page.BoxContentText}}
                            </p>

                            <!-- Link -->
                            {% if page.buttonText %}
                            <div class="txt-block-tra-link mt-25">
                                <a href="{{page.buttonLink}}" target="_blank" class="tra-link ico-20 color--theme">
                                    {{page.buttonText}} <span class="flaticon-next"></span>
                                </a>
                            </div>
                            {% endif %}

                        </div>
                    </div> <!-- END TEXT BLOCK -->


                    <!-- IMAGE BLOCK -->
                    <div class="col-md-6 order-first order-md-2">
                        <div class="img-block right-column wow fadeInLeft">
                            <img class="img-fluid" src="{{page.BoxImage}}" alt="{{page.BoxContentTitle}}">
                        </div>
                    </div>


                </div> <!-- End row -->
            </div> <!-- End section overlay -->
        </div> <!-- End content wrapper -->
    </div> <!-- End container -->
</section>
<!-- END BOX CONTENT -->