<!-- HERO-7
			============================================= -->
<section id="hero-7" class="gr--perl hero-section">
    <div class="hero-overlay">
        <div class="container">
            <div class="row d-flex align-items-center">


                <!-- HERO TEXT -->
                <div class="col-md-6">
                    <div class="hero-7-txt">

                        <!-- Title -->
                        <h1 class="s-42 w-700" style="padding-bottom: 30px;">{{page.HeroTitle}}</h1>

                        <p class="p-lg">{{page.HeroText}}
                        </p>
                        <!-- Buttons https://certifyme.online/img/CmeVedioS.mp4 -->
                        <div class="btns-group">
                            <a href="{{page.HeroDemoButtonLink}}" target="_blank"
                                class="btn r-04 btn--theme hover--black">{{page.HeroDemoButton}}</a>
                            <a href="{{page.HeroVideoButtonLink}}"
                                class=" btn r-05 btn--tra-black hover--blue-100 ico-20">{{page.HeroVideoButton}}
                            </a>
                        </div>

                        {% if page.FlaticonCheckHeroText %}
                        <!-- Text -->
                        <p class="p-sm btn-txt ico-15" style="padding-bottom: 30px;">
                            <span class="flaticon-check"></span> {{page.FlaticonCheckHeroText}}
                        </p>
                        {% endif %}

                    </div>
                </div> <!-- END HERO TEXT -->


                <!-- HERO IMAGE -->
                <div class="col-md-6">
                    <div class="hero-7-img text-center" style="padding-bottom: 20px;">
                        <img class="img-fluid" src="{{page.HeroImage}}" alt="Digital Credential Management Software">
                    </div>
                </div>

                <!-- Client Branding -->
                <section id="badges" class="badges-main-container">
                    <div class="custom-continer">
                        <ul class="logo-list d-flex align-items-center justify-content-between">
                            <li>
                                <a href="#" style="margin-right: 5px;">
                                    <img src="/assets4/images/Images Webp/University of europe.webp" alt="UAE Image"
                                        class="img-fluid" />
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <img src="/assets4/images/Images Webp/IEEE (2).webp" alt="IEEE Image"
                                        class="img-fluid" />
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <img src="/assets4/images/Images Webp/Harvardlogo.webp" alt="Harvard Image"
                                        class="img-fluid" />
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="/assets4/images/Images Webp/PMI logo.webp" alt="PMI Image"
                                        class="img-fluid" />
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="/assets4/images/Images Webp/LEB.webp" alt="LEB Image" class="img-fluid" />
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="/assets4/images/Images Webp/DCU.webp" alt="DCU Image" class="img-fluid" />
                                </a>
                            </li>


                        </ul>
                    </div>
                </section> 






            </div> <!-- End row -->
        </div> <!-- End container -->
    </div> <!-- End hero-overlay -->
</section> <!-- END HERO-7 -->