<!-- HEADER
			============================================= -->
<header id="header" class="tra-menu navbar-dark light-hero-header white-scroll">
   <div class="header-wrapper">


      <!-- MOBILE HEADER -->
      <div class="wsmobileheader clearfix">
         <span class="smllogo"><img src="/assets4/images/Logo/1.png" alt="certifyme-logo"></span>
         <a id="wsnavtoggle" class="wsanimated-arrow"><span></span></a>
      </div>


      <!-- NAVIGATION MENU -->
      <div class="wsmainfull menu clearfix">
         <div class="wsmainwp clearfix">


            <!-- HEADER BLACK LOGO -->
            <div class="desktoplogo">
               <a href="https://certifyme.online" class="logo-black"><img src="/assets4/images/Logo/1.png"
                     alt="certifyme logo"></a>
            </div>


            <!-- HEADER WHITE LOGO -->
            <div class="desktoplogo">
               <a href="https://certifyme.online" class="logo-white"><img src="/assets4/images/Logo/1.png"
                     alt="certifyme logo"></a>
            </div>


            <!-- MAIN MENU -->
            <nav class="wsmenu clearfix">
               <ul class="wsmenu-list nav-theme">

                  <!-- DROPDOWN SUB MENU -->
                  <li aria-haspopup="true"><a href="#" class="h-link">Solutions <span class="wsarrow"></span></a>
                     <ul class="sub-menu">
                        <li class="fst-li"><a href="/digital-badges">Digital Credentials</a></li>
                        <li><a href="/schools">School Certs</a></li>
                        <li><a href="/SmartCerts">Smart Certs</a></li>
                        <!-- <li><a href="/verifiable-documents">Immutable Documents</a></li>
                        <li><a href="/proof-of-authenticity">Proof Of Authenticity</a></li> -->
                        <li class="nl-simple" aria-haspopup="true">
                           <a href="https://info.certifyme.online/talk-with-expert?utm_source=google&utm_medium=solutions&utm_campaign=talk+to+us"
                              class="btn r-04 btn--theme hover--theme last-link" style="text-align: center;">TALK TO
                              EXPERTS</a>
                        </li>
                     </ul>
                  </li>

                  <!-- SIMPLE NAVIGATION LINK -->
                  <li class="nl-simple" aria-haspopup="true"><a href="{{page.pricingLink}}"
                     class="h-link">Pricing</a></li>
                  

                  <!-- DROPDOWN SUB MENU -->
                  <li aria-haspopup="true"><a href="#" class="h-link">Login <span class="wsarrow"></span></a>
                     <ul class="sub-menu">

                        <li class="fst-li"><a href="https://www.wallet.certifyme.online/auth/login?next=%2F"
                              target="_blank">Wallet Login</a>
                        </li>

                        <li><a href="https://credential.certifyme.online/auth/login" target="_blank">Institutional
                              Login</a>
                        </li>

                     </ul>
                  </li>


                  <!-- SIGN UP BUTTON -->
                  <li class="nl-simple" aria-haspopup="true">
                     <a href="https://credential.certifyme.online/auth/preregister/nav@certifyme.onlone" target="_blank"
                        class="btn r-04 btn--theme hover--theme last-link">Try For
                        Free</a>
                  </li>


               </ul>
            </nav> <!-- END MAIN MENU -->


         </div>
      </div> <!-- END NAVIGATION MENU -->


   </div> <!-- End header-wrapper -->
</header> <!-- END HEADER -->