<!-- HERO-7-->
<section id="hero-7" class="gr--perl hero-section">
    <div class="hero-overlay">
        <div class="container">
            <div class="row d-flex align-items-center">
                <!-- HERO TEXT -->
                <div class="col-md-6">
                    <div class="hero-7-txt">
                        <!-- Title -->
                        <h1 class="s-35 w-700" style="padding-bottom: 40px;">Recognized as the 2nd top choice in Digital Credential Management Software according to the esteemed G2 Research Report</h1>

                        <p class="p-lg">We’ve topped the charts as the leader in the digital credential management
                            software on G2, outplaying other vendors with the highest user satisfaction score. 100% of
                            users rated us above 4.8, and 90% of users gave us a 5-star rating.
                        </p>
                        <div class="btns-group">
                            <a href="https://go.certifyme.online/request-demo" target="_blank"
                                class="btn r-04 btn--theme hover--black">Request A Demo</a>
                            <a href="https://www.youtube.com/watch?v=TJMwk6qIxSc"
                                class="video-popup1 btn r-05 btn--tra-black hover--blue-100 ico-20">Watch Video
                                <span class="flaticon-play"></span>
                            </a>
                        </div>
                        <!-- Text -->
                        <p class="p-sm btn-txt ico-15" style="margin-bottom: 80px;">
                            <span class="flaticon-check"></span> Academic institutions has rated us 4.9/5 with the highest user satisfaction score.
                        </p>
                    </div>
                </div> <!-- END HERO TEXT -->
                <!-- HERO IMAGE -->
                <div class="col-md-6">
                    <div class="hero-7-img text-center" style="padding-bottom: 20px;">
                        <img class="img-fluid" src="/assets4/images/g2LeaderGrid.png" alt="G2 Leader Grid image" max-width="800px" height="auto">
                    </div>
                </div>
                <!-- Client Branding -->
                <section id="badges" class="badges-main-container">
                    <div class="custom-continer">
                        <ul class="logo-list d-flex align-items-center justify-content-between">
                            <li>
                                <a href="#" style="margin-right: 5px;">
                                    <img src="/assets4/images/Images Webp/University of europe.webp" alt="UAE Image"
                                        class="img-fluid" />
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <img src="/assets4/images/Images Webp/IEEE (2).webp" alt="IEEE Image"
                                        class="img-fluid" />
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <img src="/assets4/images/Images Webp/Harvardlogo.webp" alt="Harvard Image"
                                        class="img-fluid" />
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="/assets4/images/Images Webp/PMI logo.webp" alt="PMI Image"
                                        class="img-fluid" />
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="/assets4/images/Images Webp/LEB.webp" alt="LEB Image" class="img-fluid" />
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="/assets4/images/Images Webp/DCU.webp" alt="DCU Image" class="img-fluid" />
                                </a>
                            </li>

                        </ul>
                    </div>
                </section>
            </div> <!-- End row -->
        </div> <!-- End container -->
    </div> <!-- End hero-overlay -->
</section> <!-- END HERO-7 -->