<!-- FEATURES-2 -->
<section id="features-2" class="py-100 features-section division">
    <div class="container">
        <!-- SECTION TITLE -->
        <div class="row justify-content-center">
            
            <div class="col-md-10 col-lg-9">
                <div class="section-title mb-70">
                    <!-- Title -->
                    <h2 class="s-38 w-800">CertifyMe is the <span style="color: orangered;">TOP 100</span> Fastest
                        Growing Software Product in the world</h2>
                    <!-- Text -->
                    <p class="s-21 color--grey">We provide 3X faster ROI compared to other players in the market</p>
                </div>
            </div>

            <div class="col-md-10 col-lg-9">
                <div class="img-block video-preview wow fadeInUp">
                    <!-- Preview Image -->
                    <img class="img-fluid" src="assets4/images/best-software--1--1000.webp" alt="best software image">
                </div>
            </div>

        </div>
    </div> <!-- End container -->
</section> <!-- END FEATURES-2 -->