<!-- BANNER-3 -->
<section id="banner-3" class="pt-100 banner-section mt-4">
    <div class="container">
        <h3 class="text-center w-700 mb-2">Verify Credential</h3>
        <p class="text-center w-700 mb-4 s-20">To Verify the Credential Please Enter the Unique ID.</p>
        <!-- BANNER-3 WRAPPER -->
        <div class="banner-3-wrapper bg--scroll r-16" style="background-color: #E9F3FF;">
            <div class="banner-overlay">
                <div class="row">
                    <!-- BANNER-3 TEXT -->
                    <div class="col">
                        <div class="banner-3-txt color--white">
                            <iframe src="https://app.certifyme.online/wallet/verify/widget-noCaptcha/1670/Enter the unique ID/Verify/lightblue/white"
                                style="height:200px; width:800px;" frameBorder="0"></iframe>
                        </div>
                    </div> <!-- END BANNER-3 TEXT -->
                </div> <!-- End row -->
            </div> <!-- End banner overlay -->
        </div> <!-- END BANNER-3 WRAPPER -->
    </div> <!-- End container -->
</section> <!-- END BANNER-3 -->