<!-- BANNER-3 -->
<section class="pt-100 banner-section mt-4">
    <div class="container" style="border: 2px solid #001842; border-radius: 10px;">
        <h3 class="text-center w-700 mb-2 mt-4">Verify Credential</h3>
        <p class="text-center w-700 mb-4 s-20">To Verify the Credential Please Enter the Unique ID.</p>

        
        <div class="d-flex justify-content-center">
            <iframe src="https://app.certifyme.online/wallet/verify/widget-noCaptcha/5928"
                style="height:200px; width:100%; max-width:800px; background: transparent;" 
                frameBorder="0"
                allowtransparency="true">
            </iframe>
        </div>
        
    </div> <!-- End container -->
</section> <!-- END BANNER-3 -->
