<script>

   function radioAnnually(value) {
      

    
      document.getElementById("Starter").innerHTML = "<span>$300</span> Rs 22200 /Year";      
      document.getElementById("StarterCount").innerHTML = "1800 Credentials/year <br> <span style='color: #B27409;' >50%↑ More </span>";
   
      document.getElementById("Premium").innerHTML = "<span>$600</span> Rs 44400 /Year";      
      document.getElementById("PremiumC").innerHTML = "3600 Credentials/year <br> <span style='color: #B27409;' >50%↑ More </span>";

      document.getElementById("VIP").innerHTML = "<span>$1800</span> Rs 133200 /Year ";      
      document.getElementById("VIPC").innerHTML = "10800 Credentials/year<br> <span style='color: #B27409;' >50%↑ More </span>";
    
   }
   function radioMonthly(value) {
      

      document.getElementById("Starter").innerHTML = "<span>$25</span> Rs 1850 /Month";
      document.getElementById("StarterCount").innerHTML = "1200 Credentials/year";


      document.getElementById("Premium").innerHTML = "<span>$50</span> Rs 3700 /Month";      
      document.getElementById("PremiumC").innerHTML = "2400 Credentials/year";

      document.getElementById("VIP").innerHTML = "<span>$150</span> Rs 11100 /Month";      
      document.getElementById("VIPC").innerHTML = "7200 Credentials/year";
   
   
   
    
   }
   
   </script>
<div class="container">
   <h1 class="section-heading">
      <span class="mustard-text">Choose</span><span class="white-text"> A Plan</span>
   </h1>
  
   

   <div class="switch switch--horizontal" ><input id="radio-Annually" type="radio" name="first-switch" onclick="radioAnnually(this.value)"
          /><label for="radio-Annually">Annually</label><input id="radio-Monthly"  type="radio" checked="checked" onclick="radioMonthly(this.value)"
         name="first-switch" /><label for="radio-Monthly">Monthly</label><span class="toggle-outside"><span
            class="toggle-inside"></span></span></div>
            <p class="white-text" style="text-align: center;">Get 50% more credentials with our Annual plans </p>

   <div class="plans-card-wrapper">
      <div class="row">
         <div class="col-lg-3">
            <div class="plans-card">
               <div class="plans-header">
                  <h3>Starter</h3>
                  <h5 id="Starter"><span>$25</span>
                     Rs 1850 /Per Month
                  </h5>
               </div>
               <ul class="plan-check">
                  <li>
                     <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.16666 6.83301L4.49999 10.1663L12.8333 1.83301" stroke="white" stroke-width="2"
                           stroke-linecap="round" stroke-linejoin="round" />
                     </svg>
                     <span id="StarterCount">1200 Credentials/ Year</span>
                  </li>
                  <li>
                     <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.16666 6.83301L4.49999 10.1663L12.8333 1.83301" stroke="white" stroke-width="2"
                           stroke-linecap="round" stroke-linejoin="round" />
                     </svg>
                     <span>Analytics</span>
                  </li>
                  <li>
                     <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.16666 6.83301L4.49999 10.1663L12.8333 1.83301" stroke="white" stroke-width="2"
                           stroke-linecap="round" stroke-linejoin="round" />
                     </svg>
                     <span>Bulk Upload</span>
                  </li>
                  <li>
                     <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.16666 6.83301L4.49999 10.1663L12.8333 1.83301" stroke="white" stroke-width="2"
                           stroke-linecap="round" stroke-linejoin="round" />
                     </svg>
                     <span>Verifiable QR-code</span>
                  </li>
                  <li>
                     <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.16666 6.83301L4.49999 10.1663L12.8333 1.83301" stroke="white" stroke-width="2"
                           stroke-linecap="round" stroke-linejoin="round" />
                     </svg>
                     <span>Canva Integration</span>
                  </li>
                  <li>
                     <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.16666 6.83301L4.49999 10.1663L12.8333 1.83301" stroke="white" stroke-width="2"
                           stroke-linecap="round" stroke-linejoin="round" />
                     </svg>
                     <span>Unlimited Templates</span>
                  </li>
                  <li>
                     <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.16666 6.83301L4.49999 10.1663L12.8333 1.83301" stroke="white" stroke-width="2"
                           stroke-linecap="round" stroke-linejoin="round" />
                     </svg>
                     <span>1 Admin Account</span>
                  </li>
                  <li>
                     <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.16666 6.83301L4.49999 10.1663L12.8333 1.83301" stroke="white" stroke-width="2"
                           stroke-linecap="round" stroke-linejoin="round" />
                     </svg>
                     <span>Branding space with CTA</span>
                  </li>
                  <li>
                     <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.16666 6.83301L4.49999 10.1663L12.8333 1.83301" stroke="white" stroke-width="2"
                           stroke-linecap="round" stroke-linejoin="round" />
                     </svg>
                     <span>Smart ID Tagging</span>
                  </li>
               </ul>
               <a target="_blank" href="https://my.certifyme.online/auth/register/25$@certifyme.online">
                  <button class="plan-btn">Start Awarding For Free</button></a>
            </div>
         </div>
         <div class="col-lg-3">
            <div class="plans-card">
               <div class="plans-header">
                  <h3>Premium</h3>
                  <h5 id="Premium"><span>$50</span>
                     Rs 3700 /Per Month</h5>
               </div>
               <ul class="plan-check">
                  <li>
                     <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.16666 6.83301L4.49999 10.1663L12.8333 1.83301" stroke="white" stroke-width="2"
                           stroke-linecap="round" stroke-linejoin="round" />
                     </svg>
                     <span id="PremiumC">2400 Credentials/ Year</span>
                  </li>
                  <li>
                     <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.16666 6.83301L4.49999 10.1663L12.8333 1.83301" stroke="white" stroke-width="2"
                           stroke-linecap="round" stroke-linejoin="round" />
                     </svg>
                     <span style="color: #B27409;">All Starter plan features </span>
                  </li>
                  <li>
                     <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.16666 6.83301L4.49999 10.1663L12.8333 1.83301" stroke="white" stroke-width="2"
                           stroke-linecap="round" stroke-linejoin="round" />
                     </svg>
                     <span>SSL certificate</span>
                  </li>
                  <li>
                     <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.16666 6.83301L4.49999 10.1663L12.8333 1.83301" stroke="white" stroke-width="2"
                           stroke-linecap="round" stroke-linejoin="round" />
                     </svg>
                     <span>SSL based verification</span>
                  </li>
                  <li>
                     <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.16666 6.83301L4.49999 10.1663L12.8333 1.83301" stroke="white" stroke-width="2"
                           stroke-linecap="round" stroke-linejoin="round" />
                     </svg>
                     <span>Logo on Navigation Bar</span>
                  </li>
                  <li>
                     <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.16666 6.83301L4.49999 10.1663L12.8333 1.83301" stroke="white" stroke-width="2"
                           stroke-linecap="round" stroke-linejoin="round" />
                     </svg>
                     <span>API/Integrations</span>
                  </li>
                  <li>
                     <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.16666 6.83301L4.49999 10.1663L12.8333 1.83301" stroke="white" stroke-width="2"
                           stroke-linecap="round" stroke-linejoin="round" />
                     </svg>
                     <span>CName (Domain) White-labeling</span>
                  </li>
               </ul>
               <a target="_blank" href="https://buy.stripe.com/3csbLk2uAamRd6EbIJ">
                  <button class="plan-btn">Start Your 30 Days Free Trial</button></a>
            </div>
         </div>
         <div class="col-lg-3">
            <div class="plans-card">
               <div class="plans-header">
                  <h3 >VIP</h3>
                  <h5 id="VIP"><span>$150</span>
                     Rs 11100 /Per Month
                  </h5>
               </div>
               <ul class="plan-check">
                  <li>
                     <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.16666 6.83301L4.49999 10.1663L12.8333 1.83301" stroke="white" stroke-width="2"
                           stroke-linecap="round" stroke-linejoin="round" />
                     </svg>
                     <span id="VIPC">7200 Credentials/ Year</span>
                  </li>
                  <li>
                     <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.16666 6.83301L4.49999 10.1663L12.8333 1.83301" stroke="white" stroke-width="2"
                           stroke-linecap="round" stroke-linejoin="round" />
                     </svg>
                     <span style="color: #B27409;">All Premium plan features </span>

                  </li>
                  <li>
                     <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.16666 6.83301L4.49999 10.1663L12.8333 1.83301" stroke="white" stroke-width="2"
                           stroke-linecap="round" stroke-linejoin="round" />
                     </svg>
                     <span>2 admin accounts</span>
                  </li>
                  <li>
                     <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.16666 6.83301L4.49999 10.1663L12.8333 1.83301" stroke="white" stroke-width="2"
                           stroke-linecap="round" stroke-linejoin="round" />
                     </svg>
                     <span>Email ID White-labeling</span>
                  </li>
                  <li>
                     <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.16666 6.83301L4.49999 10.1663L12.8333 1.83301" stroke="white" stroke-width="2"
                           stroke-linecap="round" stroke-linejoin="round" />
                     </svg>
                     <span>Email customization</span>
                  </li>
                  <li>
                     <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.16666 6.83301L4.49999 10.1663L12.8333 1.83301" stroke="white" stroke-width="2"
                           stroke-linecap="round" stroke-linejoin="round" />
                     </svg>
                     <span>Footer White-labeling</span>
                  </li>
                  <li>
                     <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.16666 6.83301L4.49999 10.1663L12.8333 1.83301" stroke="white" stroke-width="2"
                           stroke-linecap="round" stroke-linejoin="round" />
                     </svg>
                     <span>High Definition</span>
                  </li>
               </ul>
               <a target="_blank" href="https://buy.stripe.com/aEU7v47OU8eJfeM28a">
                  <button class="plan-btn">Start Your 30 Days Free Trial</button></a>
            </div>
         </div>
         <div class="col-lg-3">
            <div class="plans-card">
               <div class="plans-header">
                  <h3>Enterprise Plans</h3>
                  <h5><span>$250+</span>
                     Onward /Per Month
                  </h5>
               </div>
               <ul class="plan-check">
                  <li>
                     <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.16666 6.83301L4.49999 10.1663L12.8333 1.83301" stroke="white" stroke-width="2"
                           stroke-linecap="round" stroke-linejoin="round" />
                     </svg>
                     <span>20K+ Credentials/year</span>
                  </li>
                  <li>
                     <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.16666 6.83301L4.49999 10.1663L12.8333 1.83301" stroke="white" stroke-width="2"
                           stroke-linecap="round" stroke-linejoin="round" />
                     </svg>
                     <span style="color: #B27409;">All VIP plan features</span>

                  </li>
                  <li>
                     <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.16666 6.83301L4.49999 10.1663L12.8333 1.83301" stroke="white" stroke-width="2"
                           stroke-linecap="round" stroke-linejoin="round" />
                     </svg>
                     <span>Custom Workflows </span>
                  </li>
                  <li>
                     <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.16666 6.83301L4.49999 10.1663L12.8333 1.83301" stroke="white" stroke-width="2"
                           stroke-linecap="round" stroke-linejoin="round" />
                     </svg>
                     <span>Dedicated servers </span>

                  </li>
                  <li>
                     <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.16666 6.83301L4.49999 10.1663L12.8333 1.83301" stroke="white" stroke-width="2"
                           stroke-linecap="round" stroke-linejoin="round" />
                     </svg>
                     <span>Custom SLA</span>
                  </li>
                  <li>
                     <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.16666 6.83301L4.49999 10.1663L12.8333 1.83301" stroke="white" stroke-width="2"
                           stroke-linecap="round" stroke-linejoin="round" />
                     </svg>
                     <span>Block chain </span>
                  </li>
                  <li>
                     <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.16666 6.83301L4.49999 10.1663L12.8333 1.83301" stroke="white" stroke-width="2"
                           stroke-linecap="round" stroke-linejoin="round" />
                     </svg>
                     <span>Quantum Ledger</span>
                  </li>
                  <li>
                     <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.16666 6.83301L4.49999 10.1663L12.8333 1.83301" stroke="white" stroke-width="2"
                           stroke-linecap="round" stroke-linejoin="round" />
                     </svg>
                     <span>Custom requirements </span>
                  </li>




               </ul>

               <a target="_blank" href="https://share.hsforms.com/1-uuvSk4QQZSKacXGM-jP2w5gjjo">
                  <button class="plan-btn">Schedule A Demo</button></a>
            </div>
         </div>
      </div>

   </div>
<div class="row">
   <div class="col-lg-6">
   <a target="_blank" href="https://share.hsforms.com/1hA3g_nt5REif16fqOE7lVA5gjjo">
      <button type="button" class="demo-btn wow fadeInUp">I need help to choose a plan </button></a>
   </div>
   <div class="col-lg-6">
      <a target="_blank" href="https://share.hsforms.com/1Fdh1KZ9fRdWrKetxjcJQuA5gjjo">
         <button type="button" class="demo-btn wow fadeInUp">I need an invoice in my regional currency</button></a>
      </div>
   </div>
</div>
