<div class="container">
    <h1 class="section-heading">
       <span class="mustard-text">Choose</span><span class="white-text"> A Plan</span>
    </h1>
    <h4 class="section-heading-inner">
       Our Credential platform is the most pocket-friendly platform in the global market.
       Not happy with our product. We have a no-questions-asked 100% money-back guarantee scheme within 5 days of your
       purchase.
    </h4>
    <div class="plans-card-wrapper">
       <div class="row">
          <div class="col-lg-3">
             <div class="plans-card">
                <div class="plans-header">
                   <h3>Starter</h3>
                   <h5><span>$25</span>
                      Rs 1850 /Per Month
                   </h5>
                </div>
                <ul class="plan-check">
                   <li>
                      <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                         <path d="M1.16666 6.83301L4.49999 10.1663L12.8333 1.83301" stroke="white" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round" />
                      </svg>
                      <span>100 Credentials/month</span>
                   </li>
                   <li>
                      <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                         <path d="M1.16666 6.83301L4.49999 10.1663L12.8333 1.83301" stroke="white" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round" />
                      </svg>
                      <span>Analytics</span>
                   </li>
                   <li>
                      <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                         <path d="M1.16666 6.83301L4.49999 10.1663L12.8333 1.83301" stroke="white" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round" />
                      </svg>
                      <span>Bulk Upload</span>
                   </li>
                   <li>
                      <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                         <path d="M1.16666 6.83301L4.49999 10.1663L12.8333 1.83301" stroke="white" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round" />
                      </svg>
                      <span>Verifiable QR-code</span>
                   </li>
                   <li>
                      <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                         <path d="M1.16666 6.83301L4.49999 10.1663L12.8333 1.83301" stroke="white" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round" />
                      </svg>
                      <span>Canva Integration</span>
                   </li>
                   <li>
                      <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                         <path d="M1.16666 6.83301L4.49999 10.1663L12.8333 1.83301" stroke="white" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round" />
                      </svg>
                      <span>Unlimited Templates</span>
                   </li>
                   <li>
                      <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                         <path d="M1.16666 6.83301L4.49999 10.1663L12.8333 1.83301" stroke="white" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round" />
                      </svg>
                      <span>1 Admin Account</span>
                   </li>
                   <li>
                      <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                         <path d="M1.16666 6.83301L4.49999 10.1663L12.8333 1.83301" stroke="white" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round" />
                      </svg>
                      <span>Branding space with CTA</span>
                   </li>
                   <li>
                      <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                         <path d="M1.16666 6.83301L4.49999 10.1663L12.8333 1.83301" stroke="white" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round" />
                      </svg>
                      <span>Smart ID Tagging</span>
                   </li>
                </ul>
                <a target="_blank" href="https://my.certifyme.online/auth/register/25$@certifyme.online">
                   <button class="plan-btn">Start Awarding For Free</button></a>
             </div>
          </div>
          <div class="col-lg-3">
             <div class="plans-card">
                <div class="plans-header">
                   <h3>Premium</h3>
                   <h5><span>$50</span>
                      Rs 3700 /Per Month</h5>
                </div>
                <ul class="plan-check">
                   <li>
                      <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                         <path d="M1.16666 6.83301L4.49999 10.1663L12.8333 1.83301" stroke="white" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round" />
                      </svg>
                      <span>200 Credentials/month</span>
                   </li>
                   <li>
                      <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                         <path d="M1.16666 6.83301L4.49999 10.1663L12.8333 1.83301" stroke="white" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round" />
                      </svg>
                      <span>All Starter plan features</span>
                   </li>
                   <li>
                      <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                         <path d="M1.16666 6.83301L4.49999 10.1663L12.8333 1.83301" stroke="white" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round" />
                      </svg>
                      <span>SSL certificate</span>
                   </li>
                   <li>
                      <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                         <path d="M1.16666 6.83301L4.49999 10.1663L12.8333 1.83301" stroke="white" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round" />
                      </svg>
                      <span>SSL based verification</span>
                   </li>
                   <li>
                      <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                         <path d="M1.16666 6.83301L4.49999 10.1663L12.8333 1.83301" stroke="white" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round" />
                      </svg>
                      <span>Logo on Navigation Bar</span>
                   </li>
                   <li>
                      <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                         <path d="M1.16666 6.83301L4.49999 10.1663L12.8333 1.83301" stroke="white" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round" />
                      </svg>
                      <span>API/Integrations</span>
                   </li>
                   <li>
                      <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                         <path d="M1.16666 6.83301L4.49999 10.1663L12.8333 1.83301" stroke="white" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round" />
                      </svg>
                      <span>CName (Domain) White-labeling</span>
                   </li>
                </ul>
                <a target="_blank" href="https://buy.stripe.com/3csbLk2uAamRd6EbIJ">
                   <button class="plan-btn">Start Your 30 Days Free Trial</button></a>
             </div>
          </div>
          <div class="col-lg-3">
             <div class="plans-card">
                <div class="plans-header">
                   <h3>VIP</h3>
                   <h5><span>$150</span>
                      Rs 11100 /Per Month
                   </h5>
                </div>
                <ul class="plan-check">
                   <li>
                      <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                         <path d="M1.16666 6.83301L4.49999 10.1663L12.8333 1.83301" stroke="white" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round" />
                      </svg>
                      <span>600 Credentials/month</span>
                   </li>
                   <li>
                      <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                         <path d="M1.16666 6.83301L4.49999 10.1663L12.8333 1.83301" stroke="white" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round" />
                      </svg>
                      <span>All Premium plan features</span>
                   </li>
                   <li>
                      <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                         <path d="M1.16666 6.83301L4.49999 10.1663L12.8333 1.83301" stroke="white" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round" />
                      </svg>
                      <span>2 admin accounts</span>
                   </li>
                   <li>
                      <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                         <path d="M1.16666 6.83301L4.49999 10.1663L12.8333 1.83301" stroke="white" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round" />
                      </svg>
                      <span>Email ID White-labeling</span>
                   </li>
                   <li>
                      <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                         <path d="M1.16666 6.83301L4.49999 10.1663L12.8333 1.83301" stroke="white" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round" />
                      </svg>
                      <span>Email Template customization</span>
                   </li>
                   <li>
                      <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                         <path d="M1.16666 6.83301L4.49999 10.1663L12.8333 1.83301" stroke="white" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round" />
                      </svg>
                      <span>Footer White-labeling</span>
                   </li>
                   <li>
                      <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                         <path d="M1.16666 6.83301L4.49999 10.1663L12.8333 1.83301" stroke="white" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round" />
                      </svg>
                      <span>High Definition</span>
                   </li>
                </ul>
                <a target="_blank" href="https://buy.stripe.com/aEU7v47OU8eJfeM28a">
                   <button class="plan-btn">Start Your 30 Days Free Trial</button></a>
             </div>
          </div>
          <div class="col-lg-3">
             <div class="plans-card">
                <div class="plans-header">
                   <h3>Enterprise Plans</h3>
                   <h5><span>$250+</span>
                      Onward /Per Month
                   </h5>
                </div>
                <p class="plan-check-paragraph">
                   Our Enterprise solutions are for large and medium enterprises who are looking for a highly
                   tailored, customized credential platform. The enterprise solutions are hosted on dedicated servers
                   and database clusters only to cater to only your needs. We provide fully managed on-premise, cloud,
                   and hybrid options with Blockchain enabled solutions that work for your enterprise needs.
                </p>
                <a target="_blank" href="https://share.hsforms.com/1-uuvSk4QQZSKacXGM-jP2w5gjjo">
                   <button class="plan-btn">Schedule A Demo</button></a>
             </div>
          </div>
       </div>
    </div>
    <a   target="_blank" href="https://share.hsforms.com/1hA3g_nt5REif16fqOE7lVA5gjjo">
      <button type="button" class="demo-btn wow fadeInUp">I need help to choose a plan </button></a>
 </div>