<!-- GLOBAL BRANDS--->
<div id="brands" style="margin-top: 50px">
  <div class="container">
    
    <h5  style="text-align: center;">
               <span class="mustard-text">1000+ Global Brands</span><span class="black-text"> run on our
        SaaS-based Credential Platform</span>
            </h5>
   
  </div>
</div>
<div class="brand-images wow fadeInUp mobile-hide container">
  <div class="row">
    
    <style>

img.client {
  max-width: 100px;
}
img.clientX2 {
  max-width: 200px;
}

      </style>
   
   
   
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4">
      <img src="images/brand-logo/ieee 1.png" alt=" Certifications and Badges Clients IEEE" class="img-fluid client">
    </div>
  
    
    <div class="col-lg-2 col-md-4 col-sm-4">
      <img src="images/brand-logo/paytm.png"  alt="Digital Credentials and Badges Digital Clients paytm" class="img-fluid client">
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6">
      <img src="images/brand-logo/LEB.jpeg"  alt="Digital Credentials and Badges Clients LEB" class="img-fluid client">
    </div>
    
    <div class="col-lg-2 col-md-4 col-sm-6">
      <img src="images/brand-logo/project-magt.png" alt="Digital Certifications and Digital Badges Clients PMI" class="img-fluid client">
    </div>
  
    
    <div class="col-lg-2 col-md-4 col-sm-6">
      <img src="images/brand-logo/dc.png"  alt="Digital Credentials and Badges Clients paytm" class="img-fluid client">
    </div>
    <div class="col-lg-2   col-md-4 col-sm-6">
      <img src="images/brand-logo/IITG-logo.jpeg" alt=" Certifications and Diplomae Clients paytm" class="img-fluid client">
    </div>
  </div>
</div>
<div class ="container mobile-hide ">

 
  </div>
</div>
<!-- GLOBAL BRANDS END-->
