<!-- GLOBAL BRANDS--->
<div id="brands">
  <div class="container">
    <h1 class="wow fadeInUp"><span class="mustard-text">600+ Global Brands</span><span class="black-text"> run on our
        SaaS-based Credential Platform</span></h1>
  </div>
</div>
<div class="brand-images wow fadeInUp">
  <div class="row">
    
    <div class="col-lg-1 col-md-4 col-xs-6">
      <img src="images\brand-logo\Ted.png" class="img-fluid">
    </div>
   
    <div class="col-lg-1 col-md-4 col-xs-6">
      <img src="images\brand-logo\ieee 1.png" class="img-fluid">
    </div>
    <div class="col-lg-1 col-md-4 col-xs-6">
      <img src="images\brand-logo\hurun.png" class="img-fluid">
    </div>
    <div class="col-lg-1 col-md-4 col-xs-6">
      <img src="images\brand-logo\paytm.png" class="img-fluid">
    </div>
    <div class="col-lg-1 col-md-4 col-xs-6">
      <img src="images\brand-logo\LEB.jpeg" class="img-fluid">
    </div>
    
    <div class="col-lg-1 col-md-4 col-xs-6">
      <img src="images\brand-logo\project-magt.png" class="img-fluid">
    </div>
    <div class="col-lg-1 col-md-4 col-xs-6">
      <img src="images\brand-logo\tie 1.png" class="img-fluid">
    </div>
    <div class="col-lg-1 col-md-4 col-xs-6">
      <img src="images\brand-logo\wa 1.png" class="img-fluid">
    </div>
    <div class="col-lg-2 col-md-4 col-xs-6">
      <img src="images\brand-logo\ET.png" class="img-fluid">
    </div>
    <div class="col-lg-1 col-md-4 col-xs-6">
      <img src="images\brand-logo\dc.png" class="img-fluid">
    </div>
    <div class="col-lg-1 col-md-4 col-xs-6">
      <img src="images\brand-logo\IITG-logo.jpeg" class="img-fluid">
    </div>
  </div>
</div>
</div>
<!-- GLOBAL BRANDS END-->