<!-- FAQ SECTION----->
<div id="main" class="section-top-margin wow fadeInUp">
    <div class="container">
       <h1 class="section-heading">
          <span class="mustard-text">Frequently</span>
          <span class="black-text">Asked Questions</span>
       </h1>
       <div class="accordion" id="faq">
               <div class="card" data-toggle="collapse" data-target="#faq1"
               aria-expanded="false" aria-controls="faq1" id="faqhead1">
                   <div class="card-header" >
                       <h4 class="btn btn-header-link" >
                         <span>Can I stop my subscription in between a year?</span>
                         <span class="faq-arrow"><svg width="24" height="14" viewBox="0 0 24 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                         <path d="M2 2L12 12L22 2" stroke="#131313" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                         </svg>
                         </span>
                       </h4>
                   </div>
                   <div id="faq1" class="collapse" aria-labelledby="faqhead1" data-parent="#faq">
                       <div class="card-body">
                           We have SSL certificate (encryption based) and Smart ID-Tagging (tagging your credentials to identities credentials like Social Security Number ,Passport , DL etc ) based verification built into our credential platform wich eases the verifcation flow .
                       </div>
                   </div>
               </div>
               <div class="card" data-toggle="collapse" data-target="#faq2"
               aria-expanded="false" aria-controls="faq2" id="faqhead1">
                   <div class="card-header" >
                       <h4 class="btn btn-header-link" >
                         <span>What happens to the credentials or our account if we don’t continue our subscription?</span>
                         <span class="faq-arrow"><svg width="24" height="14" viewBox="0 0 24 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                         <path d="M2 2L12 12L22 2" stroke="#131313" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                         </svg>
                         </span>
                       </h4>
                   </div>
                   <div id="faq2" class="collapse" aria-labelledby="faqhead1" data-parent="#faq">
                       <div class="card-body">
                           We have SSL certificate (encryption based) and Smart ID-Tagging (tagging your credentials to identities credentials like Social Security Number ,Passport , DL etc ) based verification built into our credential platform wich eases the verifcation flow .
                       </div>
                   </div>
               </div>
               <div class="card" data-toggle="collapse" data-target="#faq3"
               aria-expanded="false" aria-controls="faq3" id="faqhead1">
                   <div class="card-header" >
                       <h4 class="btn btn-header-link" >
                         <span>Do my credential credits expire?</span>
                         <span class="faq-arrow"><svg width="24" height="14" viewBox="0 0 24 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                         <path d="M2 2L12 12L22 2" stroke="#131313" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                         </svg>
                         </span>
                       </h4>
                   </div>
                   <div id="faq3" class="collapse" aria-labelledby="faqhead1" data-parent="#faq">
                       <div class="card-body">
                           We have SSL certificate (encryption based) and Smart ID-Tagging (tagging your credentials to identities credentials like Social Security Number ,Passport , DL etc ) based verification built into our credential platform wich eases the verifcation flow .
                       </div>
                   </div>
               </div>
               <div class="card" data-toggle="collapse" data-target="#faq4"
               aria-expanded="true" aria-controls="faq4" id="faqhead1">
                   <div class="card-header" >
                       <h4 class="btn btn-header-link" >
                         <span>What kind of verification is supported on your platform?</span>
                         <span class="faq-arrow"><svg width="24" height="14" viewBox="0 0 24 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                         <path d="M2 2L12 12L22 2" stroke="#131313" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                         </svg>
                         </span>
                       </h4>
                   </div>
                   <div id="faq4" class="collapse show" aria-labelledby="faqhead1" data-parent="#faq">
                       <div class="card-body">
                           We have SSL certificate (encryption based) and Smart ID-Tagging (tagging your credentials to identities credentials like Social Security Number ,Passport , DL etc ) based verification built into our credential platform wich eases the verifcation flow .
                       </div>
                   </div>
               </div>
               <div class="card" data-toggle="collapse" data-target="#faq5"
               aria-expanded="false" aria-controls="faq5" id="faqhead1">
                   <div class="card-header" >
                       <h4 class="btn btn-header-link" >
                         <span>Do you provide blockchain-based credential?</span>
                         <span class="faq-arrow"><svg width="24" height="14" viewBox="0 0 24 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                         <path d="M2 2L12 12L22 2" stroke="#131313" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                         </svg>
                         </span>
                       </h4>
                   </div>
                   <div id="faq5" class="collapse" aria-labelledby="faqhead1" data-parent="#faq">
                       <div class="card-body">
                           We have SSL certificate (encryption based) and Smart ID-Tagging (tagging your credentials to identities credentials like Social Security Number ,Passport , DL etc ) based verification built into our credential platform wich eases the verifcation flow .
                       </div>
                   </div>
               </div>
               <div class="card" data-toggle="collapse" data-target="#faq6"
               aria-expanded="false" aria-controls="faq6" id="faqhead1">
                   <div class="card-header" >
                       <h4 class="btn btn-header-link" >
                         <span>Can I award a badge instead of a certificate?</span>
                         <span class="faq-arrow"><svg width="24" height="14" viewBox="0 0 24 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                         <path d="M2 2L12 12L22 2" stroke="#131313" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                         </svg>
                         </span>
                       </h4>
                   </div>
                   <div id="faq6" class="collapse" aria-labelledby="faqhead1" data-parent="#faq">
                       <div class="card-body">
                           We have SSL certificate (encryption based) and Smart ID-Tagging (tagging your credentials to identities credentials like Social Security Number ,Passport , DL etc ) based verification built into our credential platform wich eases the verifcation flow .
                       </div>
                   </div>
               </div>
               <div class="card" data-toggle="collapse" data-target="#faq7"
               aria-expanded="false" aria-controls="faq7" id="faqhead1">
                   <div class="card-header" >
                       <h4 class="btn btn-header-link" >
                         <span>Can recipients pay CertifyMe to receive their credential?</span>
                         <span class="faq-arrow"><svg width="24" height="14" viewBox="0 0 24 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                         <path d="M2 2L12 12L22 2" stroke="#131313" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                         </svg>
                         </span>
                       </h4>
                   </div>
                   <div id="faq7" class="collapse" aria-labelledby="faqhead1" data-parent="#faq">
                       <div class="card-body">
                           We have SSL certificate (encryption based) and Smart ID-Tagging (tagging your credentials to identities credentials like Social Security Number ,Passport , DL etc ) based verification built into our credential platform wich eases the verifcation flow .
                       </div>
                   </div>
               </div>
               <div class="card" data-toggle="collapse" data-target="#faq8"
               aria-expanded="false" aria-controls="faq8" id="faqhead1">
                   <div class="card-header" >
                       <h4 class="btn btn-header-link" >
                         <span>Is there an ongoing fee to maintain the link for each certificate or badge?</span>
                         <span class="faq-arrow"><svg width="24" height="14" viewBox="0 0 24 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                         <path d="M2 2L12 12L22 2" stroke="#131313" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                         </svg>
                         </span>
                       </h4>
                   </div>
                   <div id="faq8" class="collapse" aria-labelledby="faqhead1" data-parent="#faq">
                       <div class="card-body">
                           We have SSL certificate (encryption based) and Smart ID-Tagging (tagging your credentials to identities credentials like Social Security Number ,Passport , DL etc ) based verification built into our credential platform wich eases the verifcation flow .
                       </div>
                   </div>
               </div>
               <div class="card" data-toggle="collapse" data-target="#faq9"
               aria-expanded="false" aria-controls="faq9" id="faqhead1">
                   <div class="card-header" >
                       <h4 class="btn btn-header-link" >
                         <span>What if I need more credits? Can I change my plan?</span>
                         <span class="faq-arrow"><svg width="24" height="14" viewBox="0 0 24 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                         <path d="M2 2L12 12L22 2" stroke="#131313" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                         </svg>
                         </span>
                       </h4>
                   </div>
                   <div id="faq9" class="collapse" aria-labelledby="faqhead1" data-parent="#faq">
                       <div class="card-body">
                           We have SSL certificate (encryption based) and Smart ID-Tagging (tagging your credentials to identities credentials like Social Security Number ,Passport , DL etc ) based verification built into our credential platform wich eases the verifcation flow .
                       </div>
                   </div>
               </div>
               <div class="card" data-toggle="collapse" data-target="#faq10"
               aria-expanded="false" aria-controls="faq10" id="faqhead1">
                   <div class="card-header" >
                       <h4 class="btn btn-header-link" >
                         <span>What other fees are involved?</span>
                         <span class="faq-arrow"><svg width="24" height="14" viewBox="0 0 24 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                         <path d="M2 2L12 12L22 2" stroke="#131313" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                         </svg>
                         </span>
                       </h4>
                   </div>
                   <div id="faq10" class="collapse" aria-labelledby="faqhead1" data-parent="#faq">
                       <div class="card-body">
                           We have SSL certificate (encryption based) and Smart ID-Tagging (tagging your credentials to identities credentials like Social Security Number ,Passport , DL etc ) based verification built into our credential platform wich eases the verifcation flow .
                       </div>
                   </div>
               </div>
               <div class="card" data-toggle="collapse" data-target="#faq11"
               aria-expanded="false" aria-controls="faq11" id="faqhead1">
                   <div class="card-header" >
                       <h4 class="btn btn-header-link" >
                         <span>Are plans priced in US dollars?</span>
                         <span class="faq-arrow"><svg width="24" height="14" viewBox="0 0 24 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                         <path d="M2 2L12 12L22 2" stroke="#131313" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                         </svg>
                         </span>
                       </h4>
                   </div>
                   <div id="faq11" class="collapse" aria-labelledby="faqhead1" data-parent="#faq">
                       <div class="card-body">
                           We have SSL certificate (encryption based) and Smart ID-Tagging (tagging your credentials to identities credentials like Social Security Number ,Passport , DL etc ) based verification built into our credential platform wich eases the verifcation flow .
                       </div>
                   </div>
               </div>
               <div class="card" data-toggle="collapse" data-target="#faq12"
               aria-expanded="false" aria-controls="faq12" id="faqhead1">
                   <div class="card-header" >
                       <h4 class="btn btn-header-link" >
                         <span>Do you offer discounts for non-profit organizations?</span>
                         <span class="faq-arrow"><svg width="24" height="14" viewBox="0 0 24 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                         <path d="M2 2L12 12L22 2" stroke="#131313" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                         </svg>
                         </span>
                       </h4>
                   </div>
                   <div id="faq12" class="collapse" aria-labelledby="faqhead1" data-parent="#faq">
                       <div class="card-body">
                           We have SSL certificate (encryption based) and Smart ID-Tagging (tagging your credentials to identities credentials like Social Security Number ,Passport , DL etc ) based verification built into our credential platform wich eases the verifcation flow .
                       </div>
                   </div>
               </div>
               <div class="card" data-toggle="collapse" data-target="#faq13"
               aria-expanded="false" aria-controls="faq13" id="faqhead1">
                   <div class="card-header" >
                       <h4 class="btn btn-header-link" >
                         <span>Do you offer discounts for Annual payments?</span>
                         <span class="faq-arrow"><svg width="24" height="14" viewBox="0 0 24 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                         <path d="M2 2L12 12L22 2" stroke="#131313" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                         </svg>
                         </span>
                       </h4>
                   </div>
                   <div id="faq13" class="collapse" aria-labelledby="faqhead1" data-parent="#faq">
                       <div class="card-body">
                           We have SSL certificate (encryption based) and Smart ID-Tagging (tagging your credentials to identities credentials like Social Security Number ,Passport , DL etc ) based verification built into our credential platform wich eases the verifcation flow .
                       </div>
                   </div>
               </div>

    </div>
 </div>
</div>