<div id="intro" class="section-top-margin wow fadeInUp background-set">
    <div class="container">
        <div class="row">

            <div class="col-lg-6 col-md-12">
                <h1 class="section-heading">
                    <span class="mustard-text">Award Verifiable Certificate & Badges.</span>

                </h1>
                <h4 class="section-paragraph">CertifyMe enables Institutions to award Cryptographically Verifiable
                    Certificates & Badges with just a couple of clicks.</h4>
                    
              

                  

                    <div class="row " style="margin-top: 20px;">

                        <div class="col-lg-6  col-md-6 col-xs-6 col-sm-6" style="text-align: center;">
                            <a target="_blank" href="https://share.hsforms.com/1-uuvSk4QQZSKacXGM-jP2w5gjjo">
                                <button type="button" class="demo-btn">Request a Demo</button></a>
                                
                        </div>
                        <div class=" col-lg-6 col-md-6 col-xs-6 col-sm-6" style="text-align: center;">
                            <a target="_blank" href="https://credential.certifyme.online/auth/register/hero@certifyme.online">
                                <button type="button" class=" demo-btn">Sign up</button></a>
                                
                        </div>
        
                     
                    </div>


            </div>
            <div class="col-lg-6 col-md-12">
                <video style="width: 100%;
             height: auto; margin-bottom :20px" controls poster="/images/heroV.png">
                    <source src="https://certifyme.online/img/CmeVedioS.mp4" type="video/mp4"
                        alt="CertifyMe is ranked as a high performer in G2 Grid for Enterprise Digital Credential Management Software.">
                </video>



            </div>

            
        </div>
    </div>
</div>