<!-- PRICING COMPARE
			============================================= -->
            <section id="comp-table" class="pt-100 pb-60 pricing-section division">
                <div class="container">
            
            
                    <!-- SECTION TITLE -->
                    <div class="row justify-content-center">
                        <div class="col-md-10 col-lg-9">
                            <div class="section-title mb-70">
            
                                <!-- Title -->
                                 <br>
                                 <br>                                
                                <h2 class="s-42 w-700">Admin Roles</h2>
            
                                <!-- Text -->
                                <!-- <p class="p-xl">A detailed breakdown of the features available in every plan</p> -->
            
                                <!-- Button -->
                                <!-- <a href="https://go.certifyme.online/talk-with-expert" target="_blank"
                                                class="btn r-04 btn--tra-black hover--theme" style="margin-top: 20px;">Talk To The
                                                Expert</a> -->
            
                            </div>
                        </div>
                    </div>
            
            
            
                    <!-- PRICING COMPARE -->
                    <div class="comp-table wow fadeInUp">
                        <div class="row">
                            <div class="col">
            
            
                                <!-- Table -->
                                <div class="table-responsive mb-50">
                                    <table class="table text-center">
            
                                        <thead>
                                            <tr>
                                                <th style="width: 21%;">FEATURES OF ADMINS</th>
                                                <th style="width: 21%;">Manager</th>
                                                <!-- <th style="width: 21%;">Free</th> -->
                                                <th style="width: 21%;">Credential Admin</th>
                                                <th style="width: 21%;">Awarder</th>
                                                <th style="width: 21%;">Support Staff</th>
                                                <th style="width: 21%;">Analyst</th>
                                                <th style="width: 21%;">Designer</th>
                                                <th style="width: 21%;">Developer</th>
                                                <th style="width: 21%;">Accountant</th>
                                            </tr>
                                        </thead>
            
                                        <tbody>
                                            
            
                                            <tr>
                                                <th scope="row" class="text-start"><b>Dashboard (To view and award the credential)</b></th>
                                                <!-- <td class="color--black"></td> -->
                                                <td class="ico-20 color--theme"><span class="flaticon-check"></span></td>
                                                <td class="ico-20 color--theme"><span class="flaticon-check"></span></td>
                                                <td class="ico-20 color--theme"><span class="flaticon-check"></span></td>
                                                <td class="ico-20 color--theme"><span class="flaticon-check"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-20 color--theme"><span class="flaticon-check"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>

                                            </tr>
            
                                            <tr>
                                                <th scope="row" class="text-start">Project Manager</th>
                                                <!-- <td class="color--black">1</td> -->
                                                <td class="ico-20 color--theme"><span class="flaticon-check"></span></td>
                                                <td class="ico-20 color--theme"><span class="flaticon-check"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                            </tr>
                                            
                                            <tr>
                                                <th scope="row" class="text-start">Design Template</th>
                                                <!-- <td class="ico-20 color--theme"><span class="flaticon-check"></span></td> -->
                                                <td class="ico-20 color--theme"><span class="flaticon-check"></span></td>
                                                <td class="ico-20 color--theme"><span class="flaticon-check"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-20 color--theme"><span class="flaticon-check"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                            </tr>
            
                                            <tr>
                                                <th scope="row" class="text-start">Learning Path</th>
                                                <!-- <td class="ico-20 color--theme"><span class="flaticon-check"></span></td> -->
                                                <td class="ico-20 color--theme"><span class="flaticon-check"></span></td>
                                                <td class="ico-20 color--theme"><span class="flaticon-check"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                            </tr>
            
                                            <tr>
                                                <th scope="row" class="text-start">My Analytics</th>
                                                <!-- <td class="ico-20 color--theme"><span class="flaticon-check"></span></td> -->
                                                <td class="ico-20 color--theme"><span class="flaticon-check"></span></td>
                                                <td class="ico-20 color--theme"><span class="flaticon-check"></span></td>
                                                <td class="ico-20 color--theme"><span class="flaticon-check"></span></td>
                                                <td class="ico-20 color--theme"><span class="flaticon-check"></span></td>
                                                <td class="ico-20 color--theme"><span class="flaticon-check"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>                                                
                                            </tr>
            
                                            <tr>
                                                <th scope="row" class="text-start">Search Manager</th>
                                                <!-- <td class="ico-20 color--theme"><span class="flaticon-check"></span></td> -->
                                                <td class="ico-20 color--theme"><span class="flaticon-check"></span></td>
                                                <td class="ico-20 color--theme"><span class="flaticon-check"></span></td>
                                                <td class="ico-20 color--theme"><span class="flaticon-check"></span></td>
                                                <td class="ico-20 color--theme"><span class="flaticon-check"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                            </tr>
            
                                            <tr>
                                                <th scope="row" class="text-start">TOP-UP credits</th>
                                                <!-- <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td> -->
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>

                                            </tr>
            
                                            <tr>
                                                <th scope="row" class="text-start">Security</th>
                                                <!-- <td class="ico-20 color--theme"><span class="flaticon-check"></span></td> -->
                                                <td class="ico-20 color--theme"><span class="flaticon-check"></span></td>
                                                <td class="ico-20 color--theme"><span class="flaticon-check"></span></td>
                                                <td class="ico-20 color--theme"><span class="flaticon-check"></span></td>
                                                <td class="ico-20 color--theme"><span class="flaticon-check"></span></td>
                                                <td class="ico-20 color--theme"><span class="flaticon-check"></span></td>
                                                <td class="ico-20 color--theme"><span class="flaticon-check"></span></td>
                                                <td class="ico-20 color--theme"><span class="flaticon-check"></span></td>
                                                <td class="ico-20 color--theme"><span class="flaticon-check"></span></td>
                                            </tr>
                                            <tr>
                                                <th scope="row" class="text-start">Support</th>
                                                <!-- <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td> -->
                                                <td class="ico-20 color--theme"><span class="flaticon-check"></span></td>
                                                <td class="ico-20 color--theme"><span class="flaticon-check"></span></td>
                                                <td class="ico-20 color--theme"><span class="flaticon-check"></span></td>
                                                <td class="ico-20 color--theme"><span class="flaticon-check"></span></td>
                                                <td class="ico-20 color--theme"><span class="flaticon-check"></span></td>
                                                <td class="ico-20 color--theme"><span class="flaticon-check"></span></td>
                                                <td class="ico-20 color--theme"><span class="flaticon-check"></span></td>
                                                <td class="ico-20 color--theme"><span class="flaticon-check"></span></td>
                                            </tr>
            
                                            <tr>
                                                <th scope="row" class="text-start">Admin Users</th>
                                                <!-- <td class="ico-20 color--theme"><span class="flaticon-check"></span></td> -->
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>                                                
                                            </tr>
            
                                            <tr>
                                                <th scope="row" class="text-start">Account</th>
                                                <!-- <td class="ico-20 color--theme"><span class="flaticon-check"></span></td> -->
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>                                                
                                            </tr>
                                            <tr>
                                                <th scope="row" class="text-start">API Documentation</th>
                                                <!-- <td class="ico-20 color--theme"><span class="flaticon-check"></span></td> -->
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-20 color--theme"><span class="flaticon-check"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-20 color--theme"><span class="flaticon-check"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                            </tr>
                                            <tr>
                                                <th scope="row" class="text-start">Upgrade</th>
                                                <!-- <td class="ico-20 color--theme"><span class="flaticon-check"></span></td> -->
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                
                                            </tr>
            
                                            <tr>
                                                <th scope="row" class="text-start">Bills</th>
                                                <!-- <td class="ico-20 color--theme"><span class="flaticon-check"></span></td> -->
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-20 color--theme"><span class="flaticon-check"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-20 color--theme"><span class="flaticon-check"></span></td>
                                            </tr>
            
                                            <tr>
                                                <th scope="row" class="text-start">Account Setup</th>
                                                <!-- <td class="ico-20 color--theme"><span class="flaticon-check"></span></td> -->
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-20 color--theme"><span class="flaticon-check"></span></td>                                                
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-20 color--theme"><span class="flaticon-check"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                

                                            </tr>
            
                                            <tr>
                                                <th scope="row" class="text-start">Integrations</th>
                                                <!-- <td class="ico-20 color--theme"><span class="flaticon-check"></span></td> -->
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-20 color--theme"><span class="flaticon-check"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>                                                
                                                <td class="ico-20 color--theme"><span class="flaticon-check"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                            </tr>
            
                                            <tr>
                                                <th scope="row" class="text-start">EDIT Template</th>
                                                <!-- <td class="ico-20 color--theme"><span class="flaticon-check"></span></td> -->
                                                <td class="ico-20 color--theme"><span class="flaticon-check"></span></td>
                                                <td class="ico-20 color--theme"><span class="flaticon-check"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-20 color--theme"><span class="flaticon-check"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                            </tr>
                                            <tr>
                                                <th scope="row" class="text-start">Edit Credential</th>
                                                <!-- <td class="ico-20 color--theme"><span class="flaticon-check"></span></td> -->
                                                <td class="ico-20 color--theme"><span class="flaticon-check"></span></td>
                                                <td class="ico-20 color--theme"><span class="flaticon-check"></span></td>
                                                <td class="ico-20 color--theme"><span class="flaticon-check"></span></td>
                                                <td class="ico-20 color--theme"><span class="flaticon-check"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                            </tr>
                                            <tr>
                                                <th scope="row" class="text-start">Delete Template</th>
                                                <!-- <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td> -->
                                                <td class="ico-20 color--theme"><span class="flaticon-check"></span></td>
                                                <td class="ico-20 color--theme"><span class="flaticon-check"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-20 color--theme"><span class="flaticon-check"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>                                                
                                            </tr>
                                            <tr>
                                                <th scope="row" class="text-start">Delete Credential</th>
                                                <!-- <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td> -->
                                                <td class="ico-20 color--theme"><span class="flaticon-check"></span></td>
                                                <td class="ico-20 color--theme"><span class="flaticon-check"></span></td>
                                                <td class="ico-20 color--theme"><span class="flaticon-check"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                            </tr>
                                            <tr>
                                                <th scope="row" class="text-start">View Credential</th>
                                                <!-- <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span>
                                                </td> -->
                                                <td class="ico-20 color--theme"><span class="flaticon-check"></span></td>
                                                <td class="ico-20 color--theme"><span class="flaticon-check"></span></td>
                                                <td class="ico-20 color--theme"><span class="flaticon-check"></span></td>
                                                <td class="ico-20 color--theme"><span class="flaticon-check"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                            </tr>
                                            <tr>
                                                <th scope="row" class="text-start">Download ALL PDF</th>
                                                <!-- <td class="color--black">1</td> -->
                                                <td class="ico-20 color--theme"><span class="flaticon-check"></span></td>
                                                <td class="ico-20 color--theme"><span class="flaticon-check"></span></td>
                                                <td class="ico-20 color--theme"><span class="flaticon-check"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                            </tr>
            
                                            <tr>
                                                <th scope="row" class="text-start"><b>Resend Email</b></th>
                                                <!-- <td class="color--black"></td> -->
                                                <td class="ico-20 color--theme"><span class="flaticon-check"></span></td>
                                                <td class="ico-20 color--theme"><span class="flaticon-check"></span></td>
                                                <td class="ico-20 color--theme"><span class="flaticon-check"></span></td>
                                                <td class="ico-20 color--theme"><span class="flaticon-check"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                            </tr>
                                            
            
                                            <tr>
                                                <th scope="row" class="text-start">Regenerate Credentials</th>
                                                <!-- <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span>
                                                </td> -->
                                                <td class="ico-20 color--theme"><span class="flaticon-check"></span></td>
                                                <td class="ico-20 color--theme"><span class="flaticon-check"></span></td>
                                                <td class="ico-20 color--theme"><span class="flaticon-check"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                            </tr>
                                            <tr>
                                                <th scope="row" class="text-start">Rename Project </th>
                                                <!-- <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span>
                                                </td> -->
                                                <td class="ico-20 color--theme"><span class="flaticon-check"></span></td>
                                                <td class="ico-20 color--theme"><span class="flaticon-check"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                            </tr>
                                            <tr>
                                                <th scope="row" class="text-start">open folder</th>
                                                <!-- <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span>
                                                </td> -->
                                                <td class="ico-20 color--theme"><span class="flaticon-check"></span></td>
                                                <td class="ico-20 color--theme"><span class="flaticon-check"></span></td>
                                                <td class="ico-20 color--theme"><span class="flaticon-check"></span></td>
                                                <td class="ico-20 color--theme"><span class="flaticon-check"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-20 color--theme"><span class="flaticon-check"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                            </tr>
                                            <tr>
                                                <th scope="row" class="text-start">Delete Project</th>
                                                
                                                <!-- <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span>
                                                </td> -->
                                                <td class="ico-20 color--theme"><span class="flaticon-check"></span></td>
                                                <td class="ico-20 color--theme"><span class="flaticon-check"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                            </tr>
                                            <tr>
                                                <th scope="row" class="text-start">Duplicate</th>
                                                
                                                <!-- <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span>
                                                </td> -->
                                                <td class="ico-20 color--theme"><span class="flaticon-check"></span></td>
                                                <td class="ico-20 color--theme"><span class="flaticon-check"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-20 color--theme"><span class="flaticon-check"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                            </tr>
                                            <tr>
                                                <th scope="row" class="text-start">View Sample</th>
                                                <!-- <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span>
                                                </td> -->
                                                <td class="ico-20 color--theme"><span class="flaticon-check"></span></td>
                                                <td class="ico-20 color--theme"><span class="flaticon-check"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-20 color--theme"><span class="flaticon-check"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                            </tr>
                                            <tr>
                                                <th scope="row" class="text-start">Download Awardee Detials in CSV</th>
                                                <!-- <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span>
                                                </td> -->
                                                <td class="ico-20 color--theme"><span class="flaticon-check"></span></td>
                                                <td class="ico-20 color--theme"><span class="flaticon-check"></span></td>
                                                <td class="ico-20 color--theme"><span class="flaticon-check"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>                        
                                            </tr>
            
                                            <tr>
                                                <th scope="row" class="text-start"><b>Bulk Award</b></th>
                                                <!-- <td class="color--black"></td> -->
                                                <td class="ico-20 color--theme"><span class="flaticon-check"></span></td>
                                                <td class="ico-20 color--theme"><span class="flaticon-check"></span></td>
                                                <td class="ico-20 color--theme"><span class="flaticon-check"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                            </tr>
                                            <tr>
                                                <th scope="row" class="text-start">Quick Award</th>
                                                <!-- <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span>
                                                </td> -->
                                                <td class="ico-20 color--theme"><span class="flaticon-check"></span></td>
                                                <td class="ico-20 color--theme"><span class="flaticon-check"></span></td>
                                                <td class="ico-20 color--theme"><span class="flaticon-check"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                                <td class="ico-15 disabled-option"><span class="flaticon-cancel"></span></td>
                                            </tr>
                                            
            
                                        </tbody>
            
                                    </table>
                                </div> <!-- End Table -->
            
                            </div>
                        </div>
                    </div> <!-- END PRICING COMPARE -->    
            
                </div> <!-- End container -->
            </section> <!-- END PRICING COMPARE -->