<!-- PRICING-1
			============================================= -->
<section id="pricing-1" class="gr--whitesmoke pb-40 inner-page-hero pricing-section">
	<div class="container">
		<!-- SECTION TITLE -->
		<div class="row justify-content-center">
			<div class="col-md-10 col-lg-8">
				<div class="section-title mb-70">
					<!-- Title -->
					<h2 class="s-52 w-700">Plans & Features</h2>
				</div>
			</div>
		</div> <!-- END SECTION TITLE -->
		<!-- PRICING TABLES -->
		<div class="pricing-1-wrapper">
			<div class="row row-cols-md-12 ">
				<!-- STARTER PLAN 
				<div class="col">
					<div id="pt-1-1" class="p-table pricing-1-table bg--white-100 block-shadow r-12 wow fadeInUp">
						<div class="pricing-table-header">
							<h5 class="s-24 w-700">Free</h5>
							<div class="price">
								<p class="color--grey">50 Credentials </p>
							</div>
							<a href="https://credential.certifyme.online/auth/preregister/free@certifyme.online"
								target="_blank" class="pt-btn btn r-04 btn--theme hover--theme">Start Awarding</a>
						</div> 
						<ul class="pricing-features color--black ico-10 ico--green mt-25">
							<li>
								<p><span class="flaticon-check"></span> Badge Designer</p>
							</li>
							<li>
								<p><span class="flaticon-check"></span> Verifiable QR-Code</p>
							</li>
							<li>
								<p><span class="flaticon-check"></span> Bulk upload</p>
							</li>
							<li>
								<p><span class="flaticon-check"></span> Social Media Shareable</p>
							</li>
							<li>
								<p><span class="flaticon-check"></span> Manage Credentials</p>
							</li>
							<li>
								<p><span class="flaticon-check"></span> 1 Course</p>
							</li>
							<li>
								<p><span class="flaticon-check"></span> 1 Admin Account</p>
							</li>
							<li>
								<p style="color: green;"><span class="flaticon-check"></span> + More</p>
							</li>
						</ul>
					</div>
				</div>  END STARTER PLAN -->


				<!-- BASIC PLAN -->
				<div class="col">
					<div id="pt-1-2" class="p-table pricing-1-table bg--white-100 block-shadow r-12 wow fadeInUp">
						<div class="pricing-table-header">
							<h5 class="s-24">StartUp</h5>
							<div class="price">
								<div class="price2">
								</div>
								<p class="color--grey">Ideal for Startups </p>
							</div> 
							<!-- https://go.certifyme.online/business-plan -->
							<a href="https://credential.certifyme.online/auth/preregister/startup@certifyme.online"
								target="_blank" class="pt-btn btn r-04 btn--theme hover--theme">Try for FREE</a>
						</div> 
						<ul class="pricing-features color--black ico-10 ico--green mt-25">
							<li>
								<p><span class="flaticon-check"></span> Badge Designer</p>
							</li>
							<li>
								<p><span class="flaticon-check"></span> Verifiable QR-Code</p>
							</li>
							<li>
								<p><span class="flaticon-check"></span> Analytics</p>
							</li>
							<li>
								<p><span class="flaticon-check"></span> Essential API's</p>
							</li>
							<li>
								<p><span class="flaticon-check"> Smart ID Tagging</span></p>
							</li>
							<li>
								<p><span class="flaticon-check"></span> Zapier</p>
							</li>
							<li>
								<p><span class="flaticon-check"></span> 3 Templates</p>
							</li>
							<li>
								<p><span class="flaticon-check"></span> 1 Admin Account</p>
							</li>							
							<li>
								<p style="color: green;"><span class="flaticon-check"></span> + More</p>
							</li>
						</ul>
					</div>
				</div> <!-- END BASIC PLAN -->

				<!-- BASIC PLAN -->
				<div class="col">
					<div id="pt-1-2" class="p-table pricing-1-table bg--white-100 block-shadow r-12 wow fadeInUp">


						<!-- TABLE HEADER -->
						<div class="pricing-table-header">

							<!-- Title -->
							<h5 class="s-24">Signature</h5>

							<!-- Price -->
							<div class="price">

								<!-- Monthly Price -->
								<div class="price2">
									
								</div>

								<!-- Yearly Price -->
								<!-- <div class="price1">
												<sup class="color--black">$</sup>								
												<span class="color--black">142.75</span>
												<sup class="validity color--grey">&nbsp;/&ensp;yr</sup>

												<!-- Discount Badge 
												<div class="pricing-discount bg--yellow-400 color--black r-36">
													<h6 class="s-17">Save 30%</h6>
												</div>

											</div> -->

								<!-- Text -->
								<p class="color--grey">Ideal For Institutions</p>

							</div> <!-- End Price -->

							<!-- Button -->
							<a href="https://info.certifyme.online/signature"
								target="_blank" class="pt-btn btn r-04 btn--theme hover--theme">Talk to US</a>
						

						</div> <!-- END TABLE HEADER -->


						<!-- PRICING FEATURES -->
						<ul class="pricing-features color--black ico-10 ico--green mt-25">
							<li>
								<p><span class="flaticon-check"></span> All Startup Plan Features</p>
							</li>
							<li>
								<p><span class="flaticon-check"></span> Domain White-labelling </p>
							</li>
							<li>
								<p><span class="flaticon-check"></span> SMTP White-labelling</p>
							</li>
							<li>
								<p><span class="flaticon-check"></span> Email Customisation</p>
							</li>
							<li>
								<p><span class="flaticon-check"></span> Branding Space</p>
							</li>
							<li>
								<p><span class="flaticon-check"></span> Immutable Ledger</p>
							</li>
							<li>
								<p><span class="flaticon-check"></span> 5 Templates</p>
							</li>
							<li>
								<p><span class="flaticon-check"></span> 2 Admin Accounts</p>
							</li>
							<li>
								<p style="color: green;"><span class="flaticon-check"></span> + More</p>
							</li>
						</ul>


					</div>
				</div> <!-- END BASIC PLAN -->

				<!-- ADVANCED PLAN -->
				<div class="col">
					<div id="pt-1-3" class="p-table pricing-1-table bg--white-100 block-shadow r-12 wow fadeInUp">


						<!-- TABLE HEADER -->
						<div class="pricing-table-header">

							<!-- Title -->
							<h5 class="s-24">Enterprise</h5>

							<!-- Price -->
							<div class="price">

								<!-- Monthly Price -->
								

								<!-- Yearly Price -->
								<!-- <div class="price1">
												<sup class="color--black">$</sup>								
												<span class="color--black">194.99</span>
												<sup class="validity color--grey">&nbsp;/&ensp;yr</sup>

												<!-- Discount Badge 
												<div class="pricing-discount bg--yellow-400 color--black r-36">
													<h6 class="s-17">Save 35%</h6>
												</div>

											</div> -->

								<!-- Text -->
								<p class="color--grey">Ideal for Universities</p>

							</div> <!-- End Price -->

							<!-- Button -->
							<a href="https://info.certifyme.online/enterprise" target="_blank"
								class="pt-btn btn r-04 btn--theme hover--theme">Talk To Us</a>
						

						</div> <!-- END TABLE HEADER -->


						<!-- PRICING FEATURES -->
						<ul class="pricing-features color--black ico-10 ico--green mt-25">
							<li>
								<p><span class="flaticon-check"></span> All Signature Plan Feature</p>
							</li>
							<li>
								<p><span class="flaticon-check"></span> Custom SLA</p>
								
							</li>
							<li>
								<p><span class="flaticon-check"></span> Custom DPA</p>
							</li>
							<li>
								<p><span class="flaticon-check"></span>  Advanced API's</p>
							</li>
							<li>
								<p><span class="flaticon-check"></span> Customisation of pages</p>
							</li>
							
							<li>
								<p><span class="flaticon-check"></span> Showcase Directory</p>
							</li>
							<li>
								<p><span class="flaticon-check"></span> Custom Wallet Feature</p>
							</li>
							<li>
								<p><span class="flaticon-check"></span> Custom Workflows</p>
							</li>
							<li>
								<p style="color: green;"><span class="flaticon-check"></span> + More</p>
							</li>
						</ul>


					</div>
				</div> <!-- END ADVANCED PLAN -->


			</div>
		</div> <!-- PRICING TABLES -->


	</div> <!-- End container -->
</section> <!-- END PRICING-1 -->