<!-- FAQs-2 -->
<section id="faqs-2" class="gr--whitesmoke pb-30 inner-page-hero faqs-section division">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-11 col-xl-10">

                <!-- INNER PAGE TITLE -->
                <div class="inner-page-title">
                    <h2 class="s-48 w-700">{{ page.title }}</h2>
                    <p class="p-lg">{{ page.description }}</p>
                </div>

                {% if article.imageLink != '0' %}
                <!-- GLOSSARY LISTING SECTION -->
                <div class="accordion-wrapper mt-60">
                    <ul class="accordion">

                        {% assign grouped = site.glossary | group_by: "category" %}

                        {% for group in grouped %}
                        <div class="mb-5">

                            <!-- CATEGORY TITLE (printed once!) -->
                            <h4 class="s-28 w-700 mb-4">{{ group.name }}</h4>

                            {% assign counter = 1 %}

                            {% for article in group.items %}
                            <h5 class="s-18 mb-2">
                                <span>{{ counter }}.</span>
                                <a href="{{ article.url }}" style="color: rgb(0, 0, 192); text-decoration: underline;">
                                    {{ article.title }}
                                </a>
                            </h5>
                            {% assign counter = counter | plus: 1 %}
                            {% endfor %}

                        </div>
                        {% endfor %}

                    </ul>
                </div>
                <!-- END GLOSSARY LISTING -->
                {% endif %}

                <!-- MORE QUESTIONS LINK -->
                <div class="more-questions">
                    <div class="more-questions-txt bg--white-400 r-100">
                        <p class="p-lg">Have any questions? <a href="https://info.certifyme.online/talk-with-expert"
                                target="_blank" class="color--theme">Get in
                                Touch</a></p>
                    </div>
                </div>

            </div>
        </div> <!-- End row -->
    </div> <!-- End container -->
</section> <!-- END FAQs-2 -->