<!-- TEXT CONTENT
			============================================= -->
<section id="lnk-4" class="bg--04 py-100 ct-03 content-section division">
    <div class="container">
        <div class="row d-flex align-items-center">


            <!-- IMAGE BLOCK -->
            <div class="col-md-6 col-lg-6">
                <div class="img-block left-column wow fadeInRight">
                    <img class="img-fluid" src="{{page.alternativeImage}}" alt="content-image">
                </div>
            </div>

            <!-- TEXT BLOCK -->
            <div class="col-md-6 col-lg-6">
                <div class="txt-block color--black right-column wow fadeInLeft">
                    <!-- Title -->
                    <h2 class="s-46 w-700">{{page.alternativeTitle}}</h2>

                    <p>{{page.alternativeText1}}</p>
                    <p>{{page.alternativeText2}}</p>
                    <p>{{page.alternativeText3}}</p>

                </div>
            </div> <!-- END TEXT BLOCK -->


        </div> <!-- End row -->
    </div> <!-- End container -->
</section> <!-- END TEXT CONTENT -->