<!-- TEXT CONTENT -->
<section id="lnk-2" class="py-100 ct-01 content-section division">
    <div class="container">
        <!-- SECTION CONTENT (ROW) -->
        <div class="row d-flex align-items-center">
            <!-- TEXT BLOCK -->
            <div class="col-md-6 order-last order-md-2">
                <div class="txt-block left-column wow fadeInRight">
                    <!-- Title -->
                    <h2 class="s-46 w-700">CertifyMe</h2>
                    <!-- Text -->
                    <p>CertifyMe is a new-age innovation that has set out on a mission to transform the way
                        organizations and institutions deliver certificates, badges, or credentials.
                    </p>

                    <p>The SaaS-based virtual certification platform assists small, mid, and large-scale companies to
                        simplify their credentialing process. The straightforward badge and certificate distribution
                        process takes HR, L&D, Ed-tech, and E-commerce businesses to a new height of success. This makes
                        certificate creation, issuing, and managing one of the simplest tasks.
                    </p>

                    <p>The task once took 48-72 hours to complete, now takes no more than 30 minutes. CertifyMe not only
                        makes the certification process hassle-free but also more safe, transparent, and effective.
                    </p>
                </div>
            </div> <!-- END TEXT BLOCK -->


            <!-- IMAGE BLOCK -->
            <div class="col-md-6 order-first order-md-2">
                <div class="img-block right-column wow fadeInLeft">
                    <img class="img-fluid" src="assets4/images/Logo/11.png" alt="CertifyMe logo image" height="auto" max-width="200px">
                </div>
            </div>


        </div> <!-- END SECTION CONTENT (ROW) -->


    </div> <!-- End container -->
</section> <!-- END TEXT CONTENT -->