<!-- BANNER-6 -->
<section id="banner-6" class="bg--05 bg--scroll mt-100 banner-section">
    <div class="banner-overlay pt-80 pb-90">
        <div class="container">


            <!-- BANNER-6 WRAPPER -->
            <div class="banner-6-wrapper">
                <div class="row justify-content-center">


                    <!-- BANNER-6 TEXT -->
                    <div class="col-md-12">
                        <div class="banner-6-txt text-center color--white">
                            <!-- Text -->
                            <p class="p-xl o-85">"{{page.bannerPTag}}"</p>
                            <!-- Title -->
                            <h3 class="s-38 w-700">{{page.bannerTitle}}</h3>
                            <h3 class="s-38 w-700 mb-4">{{page.bannerTitle2}}</h3>

                            <!-- Button -->
                            <a href="https://info.certifyme.online/talk-with-expert"
                                class="btn r-05 btn--tra-white hover--blue-100">Take Me To Experts
                            </a>
                           
                            <!-- Button Text -->
                            <p class="p-sm btn-txt ico-15 o-85">
                                <span class="flaticon-check"></span> 50 FREE credentials, No credit card required.
                            </p>

                        </div>
                    </div> <!-- END BANNER-6 TEXT -->


                </div> <!-- End row -->
            </div> <!-- END BANNER-6 WRAPPER -->


        </div> <!-- End container -->
    </div> <!-- End banner overlay -->
</section> <!-- END BANNER-6 -->