<!-- PRICING COMPARE -->
<section id="comp-table" class="pt-100 pb-60 pricing-section division">
    <div class="container">
        <!-- SECTION TITLE -->
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-9">
                <div class="section-title mb-70">
                    <!-- Title -->
                    <h2 class="s-38 w-700 mb-4">{{page.compareTitle}}</h2>
                    <!-- Text -->
                    <p class="p-l">{{page.comparePTag}}</p>
                </div>
            </div>
        </div>
        <!-- PRICING COMPARE -->
        <div class="comp-table wow fadeInUp">
            <div class="row">
                <div class="col">
                    <!-- Table -->
                    <div class="table-responsive mb-50">
                        <table class="table text-center">
                            <thead>
                                <tr class="align-middle">
                                    <th></th>
                                    <th><img class="img-fluid" src="/assets4/images/Logo/1.png" alt="Certifyme image"
                                            width="200px" height="auto"></th>
                                    <th><img class="img-fluid" src="{{page.alternativeImage}}" alt="Comparing image"
                                            width="100px" height="auto"></th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <th scope="row" class="text-start color--theme"><b>Reasons to shift your
                                            certification account to CertifyMe</b><br>
                                        <span style="font-size: 11px;">These below numbers are from G2 research report.
                                            <a href="/g2-leader-digital-credentials"
                                                target="_blank"><u>Click Here for More Details</u></a></span>
                                    </th>
                                    <td class="color--black"></td>
                                    <td class="color--black"></td>
                                </tr>
                                <tr>
                                    <th scope="row" class="text-start">Free Trial</th>
                                    <td class="color--black">Yes</td>
                                    <td class="color--black">{{page.freeTrial}}</td>
                                </tr>
                                <tr>
                                    <th scope="row" class="text-start">Ease of Use</th>
                                    <td class="color--black">9.7</td>
                                    <td class="color--black">{{page.easeOfUse}}</td>
                                </tr>
                                <tr>
                                    <th scope="row" class="text-start">Ease of Setup</th>
                                    <td class="color--black">9.3</td>
                                    <td class="color--black">{{page.EaseOfSetup}}</td>
                                </tr>
                                <tr>
                                    <th scope="row" class="text-start">Ease of Admin</th>
                                    <td class="color--black">9.4</td>
                                    <td class="color--black">{{page.EaseOfAdmin}}</td>
                                </tr>
                                <tr>
                                    <th scope="row" class="text-start">Quality of Support</th>
                                    <td class="color--black">9.7</td>
                                    <td class="color--black">{{page.QualityOfSupport}}</td>
                                </tr>
                                <tr>
                                    <th scope="row" class="text-start">Wallet Option</th>
                                    <td class="color--black">Yes</td>
                                    <td class="color--black">{{page.WalletOption}}</td>
                                </tr>
                                <tr>
                                    <th scope="row" class="text-start">G2 Rating</th>
                                    <td class="color--black">4.9 / 5</td>
                                    <td class="color--black">{{page.G2Rating}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div> <!-- End Table -->
                </div>
            </div>
        </div> <!-- END PRICING COMPARE -->
    </div> <!-- End container -->
</section> <!-- END PRICING COMPARE -->