<div id="el-page">
  {% include V4NewLook/elearning-solution/hero.html %}
  {% include V4NewLook/elearning-solution/big-idea.html %}
  {% include V4NewLook/elearning-solution/architecture.html %}
  {% include V4NewLook/elearning-solution/program-managers.html %}
  {% include V4NewLook/elearning-solution/credential-managers.html %}
  {% include V4NewLook/elearning-solution/learning-directors.html %}
  {% include V4NewLook/elearning-solution/lms-integration.html %}
  {% include V4NewLook/elearning-solution/proof.html %}
  {% include V4NewLook/elearning-solution/faqs.html %}
  {% include V4NewLook/elearning-solution/final-cta.html %}
</div>
