<!DOCTYPE html>
<html lang="en">

{% include V4NewLook/head.html %}

<body id="page-top">
	{% include V4NewLook/_GTMNoScript.html %}

    <div id="page" class="page font--jakarta">
  
        {% include EPTemplates/classic/nav.html %}
        {% include EPTemplates/classic/hero.html %}
             {% include EPTemplates/classic/education.html %}
              {% include EPTemplates/classic/experience.html %}
              {% include EPTemplates/classic/projects.html %}
              {% include EPTemplates/classic/skills.html %}
              {% include EPTemplates/classic/testimonials.html %}
              {% include EPTemplates/classic/refelection.html %}
              {% include EPTemplates/classic/contact.html %}
        {% include V4NewLook/footer.html %}

		{% include V4NewLook/scripts.html %}

    </div>

</body>

</html>