<!DOCTYPE html>
<html lang="en">

{% include V4NewLook/head.html %}

<body id="page-top">
	{% include V4NewLook/_GTMNoScript.html %}

    <div id="page" class="page font--jakarta">
        {% include V4NewLook/NewIndustries/navbar.html %}

        {% include V4NewLook/NewIndustries/pricing/PricingPlan.html %}

		{% include V4NewLook/NewIndustries/pricing/comparePlans.html %}

		
		{% include V4NewLook/NewIndustries/pricing/clientBrand.html %}

		{% include V4NewLook/NewIndustries/pricing/banner.html %}

        {% include V4NewLook/NewIndustries/footer.html %}

		{% include V4NewLook/scripts.html %}



    </div>


</body>

</html>