<!DOCTYPE html>
<html lang="en">

{% include V4NewLook/head.html %}

<body id="page-top">
	{% include V4NewLook/_GTMNoScript.html %}

    <div id="page" class="page font--jakarta">
        {% include V4NewLook/navbar.html %}

        {% include V4NewLook/alternatives/heroSection.html %}

		{% include V4NewLook/about/aboutStats.html %}

		{% include V4NewLook/G2Enterprise.html %}

		{% include V4NewLook/alternatives/aboutCertifyme.html %}

		{% include V4NewLook/alternatives/aboutAlternative.html %}
 
        {% include V4NewLook/alternatives/comparisons.html %}	
		
		{% include V4NewLook/pricing/clientBrand.html %}

		{% include V4NewLook/InnerPages/Testimonials2.html %}

		{% include V4NewLook/alternatives/banner.html %}

        {% include V4NewLook/footer.html %}

		{% include V4NewLook/scripts.html %}



    </div>


</body>

</html>