<!DOCTYPE html>
<html lang="en">

{% include V4NewLook/head.html %}

<body id="page-top">
	{% include V4NewLook/_GTMNoScript.html %}

    <div id="page" class="page font--jakarta">
        {% include V4NewLook/navbar.html %}

        {% include V4NewLook/ePlatform/hero.html %}

        {% include V4NewLook/ePlatform/clientBrand.html %}

		{% include V4NewLook/ePlatform/ourProductDetails.html %}

		{% include V4NewLook/about/aboutStats.html %}

		{% include V4NewLook/ePlatform/feature-1.html %}

		{% include V4NewLook/ePlatform/feature-2.html %}

		{% include V4NewLook/ePlatform/feature-3.html %}

		{% include V4NewLook/ePlatform/3types.html %}

		{% include V4NewLook/G2Enterprise.html %}

		{% include V4NewLook/InnerPages/Testimonials2.html %}

		{% include V4NewLook/integrations/apiIntegrationsBanner.html %}

        {% include V4NewLook/footer.html %}

		{% include V4NewLook/scripts.html %}

    </div>