<!DOCTYPE html>
<html lang="en">

{% include V4NewLook/blogs/head.html %}

<body id="page-top">
 

    <div id="page" class="page font--jakarta">
        {% include V4NewLook/navbar.html %}

		{% include V4NewLook/_GTMNoScript.html %}

        {% include V4NewLook/blogs/singleBlogPostV2.html %}

        {% include V4NewLook/footer.html %}

		{% include V4NewLook/scripts.html %}
    </div>

	<!-- EXTERNAL SCRIPTS
		============================================= -->
	<script src="/assets4/js/jquery-3.7.0.min.js"></script>
	<script src="/assets4/js/bootstrap.min.js"></script>
	<script src="/assets4/js/modernizr.custom.js"></script>
	<script src="/assets4/js/jquery.easing.js"></script>
	<script src="/assets4/js/jquery.appear.js"></script>
	<script src="/assets4/js/menu.js"></script>
	<script src="/assets4/js/owl.carousel.min.js"></script>
	<script src="/assets4/js/pricing-toggle.js"></script>
	<script src="/assets4/js/jquery.magnific-popup.min.js"></script>
	<script src="/assets4/js/request-form.js"></script>
	<script src="/assets4/js/jquery.validate.min.js"></script>
	<script src="/assets4/js/jquery.ajaxchimp.min.js"></script>
	<script src="/assets4/js/popper.min.js"></script>
	<script src="/assets4/js/lunar.js"></script>
	<script src="/assets4/js/wow.js"></script>

	<!-- Custom Script -->
	<script src="/assets4/js/custom.js"></script>
</body>

</html>