<!DOCTYPE html>
<html lang="en">

{% include V4NewLook/head.html %}

<body id="page-top">
	{% include V4NewLook/_GTMNoScript.html %}

    <div id="page" class="page font--jakarta">
        {% include V4NewLook/navbar.html %}

        {% include V4NewLook/heroSection.html %}

        {% include V4NewLook/Statistics.html %}

		{% include V4NewLook/ourProductDetails.html %}

        {% include V4NewLook/G2Enterprise.html %}

        {% include V4NewLook/Testimonials2.html %}

        {% include V4NewLook/blogSection.html %}

		{% include V4NewLook/integrations/apiIntegrationsBanner.html %}

        {% include V4NewLook/footer.html %}

		{% include V4NewLook/scripts.html %}

    </div>

</body>

</html>