<!DOCTYPE html>
<html lang="en">

{% include V4NewLook/head.html %}

<body id="page-top">
{% include V4NewLook/_GTMNoScript.html %}

    <div id="page" class="page font--jakarta">
        {% include V4NewLook/navbar.html %}

        {% include V4NewLook/HigherEd/hero.html %}

        {% include V4NewLook/HigherEd/trustbar.html %}

        {% include V4NewLook/HigherEd/problem.html %}

        {% include V4NewLook/HigherEd/credentials.html %}

        {% include V4NewLook/HigherEd/integrations.html %}

        {% include V4NewLook/HigherEd/analytics.html %}

        {% include V4NewLook/HigherEd/skillstory.html %}

        {% include V4NewLook/HigherEd/benefits.html %}

        {% include V4NewLook/HigherEd/security.html %}

        {% include V4NewLook/HigherEd/cta.html %}

        </main><!-- /#main-content -->

        {% include V4NewLook/footer.html %}

        {% include V4NewLook/scripts.html %}

    </div><!-- End page -->

</body>
</html>
