<!DOCTYPE html>
<html lang="en">

{% include V4NewLook/blogs/head.html %}

<body id="page-top"{% if page.case_study %} class="association-case-page"{% endif %}>
 
	{% include V4NewLook/_GTMNoScript.html %}
    <div id="page" class="page font--jakarta">
        {% include V4NewLook/navbar.html %}

        <main id="main-content">

	

        {% if page.case_study %}
        {{ content }}
        {% else %}
        {% include V4NewLook/blogs/singleBlogPostV2.html %}
        {% endif %}
        {% include V4NewLook/aeo-answers.html %}
        {% if page.seo_pillar %}
        {% include V4NewLook/institutional-implementation.html %}
        {% include V4NewLook/strategic-links.html %}
        {% endif %}

                </main><!-- /#main-content -->

        {% include V4NewLook/footer.html %}

		{% include V4NewLook/scripts.html %}
    </div>


</body>

</html>