<!DOCTYPE html>
<html lang="en">

{% include V4NewLook/head.html %}
<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body id="page-top">
	{% include V4NewLook/_GTMNoScript.html %}

    <div id="page" class="page font--jakarta">
        
        {% include V4NewLook/Uni-of-Toronto/navbar.html %}

        {% include V4NewLook/Uni-of-Toronto/hero-section.html %}

        {% include V4NewLook/Uni-of-Toronto/footer.html %}

		{% include V4NewLook/scripts.html %}

    </div>

</body>

</html>