<!--- Counter SECTION -->
<section id="about" class="counter-main-container">
   <div class="container">
      <div class="counter-inner row">
         <div class="col-lg-4 col-md-12">
            <div class="counter-detail text-center">
               <h4>1500+</h4>
               <span>Institutions</span>
            </div>
         </div>
         <div class="col-lg-4 col-md-12">
            <div class="counter-detail text-center">
               <h4>100K+</h4>
               <span>Users</span>
            </div>
         </div>
         <div class="col-lg-4 col-md-12">
            <div class="counter-detail text-center">
               <h4>144+</h4>
               <span>Countries</span>
            </div>
         </div>
      </div>
   </div>
</section>
<!--- Counter SECTION End-->
<!--About SECTION-->
<section class="about-main-container">
   <div class="container">
      <div class="about-box">
         <div class="sec-heading">
            <h2 class="text-center">About CertifyMe </h2>
         </div>
         <ul class="about-list" style="text-align: center;">
            CertifyMe a VC-backed, ISO 9001 certified SaaS-based digital credential management platform enables enterprises to make any document a tamper-proof verifiable credential. We are ranked among the top 3 Digital Credential Management platforms across the globe and are trusted by 100K+ users across 144+ countries. Our 1500+ clientele includes global banks, government institutions and MNC
       






         </ul>
         <div class="row ">
            <div class="col-lg-4 col-md-4 col-sm-4  d-none d-lg-block " style="text-align: center;">
               <a target="_blank" href ="https://www.g2.com/products/certifyme/reviews" title="Users love CertifyMe on G2"><img style="max-height: 100px;"
                     alt="Digital Credential Management Software High Perfomer" src="/images/g2fall.jpg" /></a>
               
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 " style="text-align: center;">
               <a target="_blank" title="Best Certificate Maker Badge" href ="https://www.g2.com/products/certifyme/reviews"><img style=" max-height: 100px;   height: 150"
                     alt="Digital Credential Management Software Best User Experience" src="/images/HP.svg" /></a>
              
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4  d-none d-lg-block" style="text-align: center;">
               <a target="_blank" title="Users love CertifyMe on G2" href ="https://www.g2.com/products/certifyme/reviews"><img style="max-height: 100px;"
                     alt="Digital Credential Management Platform"
                     src="https://my.g2.com/assets/product-badges/users-love-us-4fca521cb6d80c30d02e3df6bd0013f5395fb3ae22e81b3e3608e258d8feba63.svg" /></a>
               
            </div>


         </div>
         
      </div>



   </div>
</section>