<!--- Counter SECTION -->
<section id="about" class="counter-main-container">
   <div class="container">
      <div class="counter-inner row">
         <div class="col-lg-4 col-md-12">
            <div class="counter-detail text-center">
               <h4>1540</h4>
               <span>Institutions</span>
            </div>
         </div>
         <div class="col-lg-4 col-md-12">
            <div class="counter-detail text-center">
               <h4>102 K+</h4>
               <span>Users</span>
            </div>
         </div>
         <div class="col-lg-4 col-md-12">
            <div class="counter-detail text-center">
               <h4>144</h4>
               <span>Countries</span>
            </div>
         </div>
      </div>
   </div>
</section>
<!--- Counter SECTION End-->
<!--About SECTION-->
<section class="about-main-container">
   <div class="container">
      <div class="about-box">
         <div class="sec-heading">
            <h2 class="text-center">About CertifyMe </h2>
         </div>
         <ul class="about-list" style="text-align: center;">
            CertifyMe a product of Tech99 Innovations Pvt Ltd, is a VC-backed, ISO 9001 certified SaaS-based digital credential management platform enables enterprises to make any document a tamper-proof verifiable credential. We are ranked among the top 3 Digital Credential Management platforms across the globe and are trusted by 102K+ users across 144 countries. Our 1540 clientele includes global banks, government institutions and MNC
       






         </ul>
         <div class="text-center">
            <div class="enterprise-btn d-flex align-items-center justify-content-center " style="margin-top: 20px;">
               <a href="https://share.hsforms.com/13PgLIYyIS4y4Yu4wOHa5dg5gjjo" target="_blank">
                <button class="btn-ent btn-cert">
                  Talk to Us
                </button>
               </a>
                
            
         
      </div>

     

   </div>

</section>