<!---- badges SECTION -->
<section id="badges" class="badges-main-container">
    <div class="custom-continer">
       <div class="badges-heading">
        CertifyMe has helped 100,000+ users across 144+ countries with tamper-proof verifiable credentials.
       </div>
       <ul class="logo-list d-flex align-items-center justify-content-between">
         
          <li>
             <a href="#">
                <img src="/assets3/images/cert-logo3.png" alt="image" class="img-fluid" />
             </a>
          </li>
          <li>
             <a href="#">
                <img src="/assets3/images/cert-logo4.png" alt="image" class="img-fluid" />
             </a>
          </li>
          <li>
             <a href="#">
                <img src="/assets3/images/cert-logo5.png" alt="image" class="img-fluid" />
             </a>
          </li>
          <li>
             <a href="#">
                <img src="/assets3/images/cert-logo6.png" alt="image" class="img-fluid" />
             </a>
          </li>
          <li>
            <a href="#">
               <img src="/assets3/images/cert-logo1.png" alt="image" class="img-fluid" />
            </a>
         </li>
         <li>
            <a href="#">
               <img src="/assets3/images/cert-logo2.png" alt="image" class="img-fluid" />
            </a>
         </li>
       </ul>
    </div>
 </section>
 <!---- badges SECTION End-->