<!---- badges SECTION -->
<section id="badges" class="badges-main-container">
    <div class="custom-continer">
       <div class="badges-heading">
        <h3>CertifyMe's tamper-proof verifiable credentials is trusted by <strong>102,000+</strong> users across <strong>144</strong> countries </h3>
       </div>
       <ul class="logo-list d-flex align-items-center justify-content-between">

         <li>
            <a href="#">
               <img src="/assets3/images/ue-logo-ok.png" alt="image" class="img-fluid" />
            </a>
         </li>
         
          <li>
             <a href="#">
                <img src="/assets3/images/cert-logo3.png" alt="image" class="img-fluid" />
             </a>
          </li>
          <li>
            <a href="#">
               <img src="/assets3/images/HBP.png" alt="image" class="img-fluid" />
            </a>
         </li>
          <li>
             <a href="#">
                <img src="/assets3/images/cert-logo4.png" alt="image" class="img-fluid" />
             </a>
          </li>
          <li>
             <a href="#">
                <img src="/assets3/images/cert-logo5.png" alt="image" class="img-fluid" />
             </a>
          </li>
          <li>
             <a href="#">
                <img src="/assets3/images/cert-logo6.png" alt="image" class="img-fluid" />
             </a>
          </li>
         
         
       </ul>
    </div>
 </section>
 <!---- badges SECTION End-->