<!--- Enterprise SECTION -->
<section id="enterprise" class="enterprise-main-container">
    <div class="container">
       <div class="sec-detail">
          <div class="sec-heading">
             <h2 class="text-center">Ranked 1st in Easiest to use Enterprise grade Credential management software - G2 crowd  </h2>
           
          </div>
          <div class="row container ">
            <div class="col-lg-4 col-md-4 col-sm-4  d-none d-lg-block " style="text-align: center;">
               <a target="_blank" href ="https://www.g2.com/products/certifyme/reviews" title="Users love CertifyMe on G2"><img style="max-height: 100px;"
                     alt="Digital Credential Management Software High Perfomer" src="/images/g2fall.jpg" /></a>
               
            </div>
      
            <div class="col-lg-4 col-md-4 col-sm-4 " style="text-align: center;">
               <a target="_blank" title="Best Certificate Maker Badge" href ="https://www.g2.com/products/certifyme/reviews"><img style=" max-height: 100px;   height: 150"
                     alt="Digital Credential Management Software Best User Experience" src="/images/HP.svg" /></a>
              
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4  d-none d-lg-block" style="text-align: center;">
               <a target="_blank" title="Users love CertifyMe on G2" href ="https://www.g2.com/products/certifyme/reviews"><img style="max-height: 100px;"
                     alt="Digital Credential Management Platform"
                     src="https://my.g2.com/assets/product-badges/users-love-us-4fca521cb6d80c30d02e3df6bd0013f5395fb3ae22e81b3e3608e258d8feba63.svg" /></a>
               
            </div>
          </div>
          <div class="sec-para">
             <p class="text-center">CertifyMe securely enables enterprises to scale global credentialing programs<br>
                and that meet the data protection and security.</p>
          </div>

       </div>
       <div class="enterprise-btn d-flex align-items-center justify-content-center">
         <a href="https://share.hsforms.com/1AHpmNPHDQLmz26woSJR2VA5gjjo" target="_blank">
          <button class="btn-ent btn-cert">
           <strong>  CERTIFYME FOR ENTERPRISES</strong>
          </button>
         </a>
          <a href="https://share.hsforms.com/1AHpmNPHDQLmz26woSJR2VA5gjjo" target="_blank">
          <button class="btn-ent btn-expert">
         
            <strong> TALK TO EXPERTS</strong>
          </button></a>
       </div>
     
   
   
      </div>
    </div>

 </section>
 <!--- Enterprise SECTION End-->