<!--- Enterprise SECTION -->
<section id="enterprise" class="enterprise-main-container">
    <div class="container">
       <div class="sec-detail">
          <div class="sec-heading">
             <h2 class="text-center">The Most Trusted choice for Enterprises </h2>
          </div>
          <div class="sec-para">
             <p class="text-center">CertifyMe securely enables enterprises to scale global credentialing programs<br>
                and that meet the data protection and security.</p>
          </div>

       </div>
       <div class="enterprise-btn d-flex align-items-center justify-content-center">
         <a href="https://share.hsforms.com/1AHpmNPHDQLmz26woSJR2VA5gjjo" target="_blank">
          <button class="btn-ent btn-cert">
             CERTIFYME FOR ENTERPRISES
          </button>
         </a>
          <a href="https://share.hsforms.com/1AHpmNPHDQLmz26woSJR2VA5gjjo" target="_blank">
          <button class="btn-ent btn-expert">
             Talk with Experts
          </button></a>
       </div>
    </div>
 </section>
 <!--- Enterprise SECTION End-->