<!--- Enterprise SECTION -->
<section id="enterprise" class="enterprise-main-container">
   <div class="container">
      <div class="sec-detail">
         <div class="sec-heading" style="margin-top: 0px;">
            <h2 class="text-center" style="font-size: 28px;">Global Leader in Digital Certificates & Badge Management</h2>
          </div>
        
          
         <div class="sec-para" style="margin-bottom: -130px;">
            <p class="text-center">Bring momentum to your <b>branding solutions by issuing tailored feature-rich badges</b>.<br> Book a call with our credentialing experts!</p>
         </div>
         <div class="" margin="-12px">
            <!-- <div class="col-lg-2 col-md-4 col-sm-4  d-none d-lg-block " style="text-align: center;">
               <a target="_blank" href ="https://www.g2.com/products/certifyme/reviews" title="Users love CertifyMe on G2"><img style="max-height: 100px;"
                     alt="Digital Credential Management Software High Perfomer" src="/images/DigitalCredentialManagement_BestMeetsRequirements_MeetsRequirements.png" /></a>
               
            </div>
      
            <div class="col-lg-2 col-md-4 col-sm-4 " style="text-align: center;">
               <a target="_blank" title="Best Certificate Maker Badge" href ="https://www.g2.com/products/certifyme/reviews"><img style=" max-height: 100px;   height: 150"
                     alt="Digital Credential Management Software Best User Experience" src="/images/DigitalCredentialManagement_EasiestToDoBusinessWith_Small-Business_EaseOfDoingBusinessWith.png" /></a>
              
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4  d-none d-lg-block" style="text-align: center;">
               <a target="_blank" title="Users love CertifyMe on G2" href ="https://www.g2.com/products/certifyme/reviews"><img style="max-height: 100px;"
                     alt="Digital Credential Management Platform"
                     src="/images/DigitalCredentialManagement_HighPerformer_HighPerformer.png" /></a>
               
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4  d-none d-lg-block" style="text-align: center;">
               <a target="_blank" title="Users love CertifyMe on G2" href ="https://www.g2.com/products/certifyme/reviews"><img style="max-height: 100px;"
                     alt="Digital Credential Management Platform"
                     src="/images/DigitalCredentialManagement_HighPerformer_Small-Business_HighPerformer.png" /></a>
               
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4  d-none d-lg-block " style="text-align: center;">
               <a target="_blank" href ="https://www.g2.com/products/certifyme/reviews" title="Users love CertifyMe on G2"><img style="max-height: 100px;"
                     alt="Digital Credential Management Software High Perfomer" src="/images/g2fall.jpg" /></a>
               
            </div>
      
            <div class="col-lg-2 col-md-4 col-sm-4 " style="text-align: center;">
               <a target="_blank" title="Best Certificate Maker Badge" href ="https://www.g2.com/products/certifyme/reviews"><img style=" max-height: 100px;   height: 150"
                     alt="Ranked Best in Credential management software" src="/images/HP.svg" /></a>
              
            </div> -->
            <div class="w3-row" style="margin-bottom: -80px;">
             <div class="w3-col s12">
                 <div style="text-align: center;">
                  <a target="_blank" title="G2 Summer 2023 Digital Credentials" href ="https://www.g2.com/products/certifyme/reviews">
                     <img style="max-width: 100%; height: auto;" alt="G2 Summer 2023 Leader Digital Credentials" src="/images/Blue and  White Modern Medical Doctor New Banner.png" />
                  </a>
                 </div>
             </div>
            </div>
      
         
          </div>
          

      </div>
      <div class="enterprise-btn d-flex align-items-center justify-content-center" style="margin-top: 30px;">
        <!-- https://go.certifyme.online/talk-with-expert -->
         <a href="{{page.talkToOurExpertLink}}" >
           <button class="btn-ent btn-cert">
        
              <strong> Talk to our Experts</strong>
            </button>
         </a>
      </div>
    
  
  
     </div>
   </div>

</section>
<!--- Enterprise SECTION End-->