<!---Content Section-->
<div class="content-main section-spacing">
    <div class="container">
       <div class="section-inner row align-items-center">
          <div class="sec-left col-lg-6 col-md-12">
             <div class="sec-detail">
                <div class="sec-heading">
                   <h2>Highly Secure</h2>
                </div>
                <div class="sec-para">
                   <p>Build confidence in your credentials by providing records with enterprise-level security and operations. Data security experts and auditors regularly scrutinize, test, and validate the security, privacy, and operational measures we implement and maintain. CertifyMe maintains multiple ISO certifications, GDPR compliance, and other diligent security protocols. </p>
                </div>
                <a href="https://share.hsforms.com/1AHpmNPHDQLmz26woSJR2VA5gjjo" target="_blank" class="sec-link d-flex align-items-center">Learn More About Highly Secure<svg class="ml-3"
                      width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1 7H13.5M13.5 7L7.5 1M13.5 7L7.5 13" stroke="#724570" stroke-width="1.5"
                         stroke-linecap="round" stroke-linejoin="round" />
                   </svg>
                </a>
             </div>
          </div>
          <div class="sec-right  col-lg-6 col-md-12">
             <div class="sec-img">
               <div class="sec-img">
                  <img width="645" height="518" src="/assets3/images1/verify-badge.png" alt="Highly Secure  credentials enterprise-level security"
                  class="img-fluid">
   
   
               </img>

             </div>
          </div>
       </div>
       <div class="section-inner row align-items-center flex-row-reverse section-right">
          <div class="sec-left col-lg-6 col-md-12">
             <div class="sec-detail">
                <div class="sec-heading">
                   <h2>Immutable Block-Chain Credentials</h2>
                </div>
                <div class="sec-para">
                   <p>We use advanced technologies like the AWS Quantum ledgers to ensure your credentials are Immutable. QLDB maintains a complete history of data in an immutable, transparent and cryptographic way through the use of the cryptographic algorithm, SHA-256, making it highly secure. Our 40+ feature set also includes advanced options like cryptographic signatures based on RSA SHA-1 , Id Tagging, Barcodes and Qr Code to name a few</p>
                </div>
                <a  href="https://share.hsforms.com/1AHpmNPHDQLmz26woSJR2VA5gjjo" target="_blank" class="sec-link d-flex align-items-center">Learn About Immutable Credentials<svg class="ml-3"
                      width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1 7H13.5M13.5 7L7.5 1M13.5 7L7.5 13" stroke="#724570" stroke-width="1.5"
                         stroke-linecap="round" stroke-linejoin="round" />
                   </svg>
                </a>
             </div>
          </div>
          <div class="sec-right  col-lg-6 col-md-12">
             <div class="sec-img">
               <img width="645" height="518" src="/assets3/images1/ql.png" alt="Immutable Block-Chain Credentials"
               class="img-fluid">


            </img>

             </div>
          </div>
       </div>
       <div class="section-inner row align-items-center">
          <div class="sec-left col-lg-6 col-md-12">
             <div class="sec-detail">
                <div class="sec-heading">
                   <h2>WhiteLabled Solutions</h2>
                </div>
                <div class="sec-para">
                   <p>Stand out, deploy your own Digital Credential Platform in your domain using our White Labeled solutions. Our platform helps you white-label your credentials and enables you to customize credential pages based on your branding needs.Your credential systems would run on our dedicated servers ensuring a high level of security & customizability.</p>
                </div>
                <a  href="https://share.hsforms.com/1AHpmNPHDQLmz26woSJR2VA5gjjo" target="_blank" class="sec-link d-flex align-items-center">Learn More About Our WhiteLabled Solutions<svg class="ml-3"
                      width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1 7H13.5M13.5 7L7.5 1M13.5 7L7.5 13" stroke="#724570" stroke-width="1.5"
                         stroke-linecap="round" stroke-linejoin="round"></path>
                   </svg>
                </a>
             </div>
          </div>
          <div class="sec-right  col-lg-6 col-md-12">
             <div class="sec-img">
               <div class="sec-img">
                  <img width="645" height="518" src="/assets3/images1/URL.png" alt="CertifyMe Zapier, Integrations and API"
                  class="img-fluid">
   
   
               </img>

             </div>
          </div>
       </div>
       <div class="section-inner row align-items-center flex-row-reverse section-right">
          <div class="sec-left col-lg-6 col-md-12">
             <div class="sec-detail">
                <div class="sec-heading">
                   <h2>Integrations </h2>
                </div>
                <div class="sec-para">
                   <p>Integrate your System with our Zapier integration or use our REST API to directly connect with your application. Also we are available on leading LMSs to automate sending certificates. Our LinkedIn Integration to Add credentials on LinkedIn profile, share credentials and find relevant jobs based on the earned skills.</p>
                </div>
                <a  href="https://share.hsforms.com/1AHpmNPHDQLmz26woSJR2VA5gjjo" target="_blank" class="sec-link d-flex align-items-center">Learn More About our API<svg class="ml-3"
                      width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1 7H13.5M13.5 7L7.5 1M13.5 7L7.5 13" stroke="#724570" stroke-width="1.5"
                         stroke-linecap="round" stroke-linejoin="round"></path>
                   </svg>
                </a>
             </div>
          </div>
          <div class="sec-right  col-lg-6 col-md-12">
             <div class="sec-img">
               <img width="645" height="518" src="/assets3/images1/LMS.png" alt="CertifyMe Zapier, Integrations and API"
               class="img-fluid">


            </img>

             </div>
          </div>
       </div>
       <div class="section-inner row align-items-center mb-0">
          <div class="sec-left col-lg-6 col-md-12">
             <div class="sec-detail">
                <div class="sec-heading">
                   <h2>Social Media & Analytics</h2>
                </div>
                <div class="sec-para">
                   <p>Add and Share Immutable digital credentials to LinkedIn and 40+ Social Media. Awardees can display their verifiable certificates and badges with your logo on their LinkedIn profile.</p>
                </div>
                <a  href="https://share.hsforms.com/1AHpmNPHDQLmz26woSJR2VA5gjjo" target="_blank" class="sec-link d-flex align-items-center">Learn More About The Security<svg class="ml-3"
                      width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1 7H13.5M13.5 7L7.5 1M13.5 7L7.5 13" stroke="#724570" stroke-width="1.5"
                         stroke-linecap="round" stroke-linejoin="round"></path>
                   </svg>
                </a>
             </div>
          </div>
          <div class="sec-right  col-lg-6 col-md-12">
             <div class="sec-img">
               <img width="645" height="518" src="assets3/images1/Analytics-1.png" alt="Immutable verifiable digital badges"
               class="img-fluid">


            </img>

             </div>
          </div>
       </div>
    </div>
 </div>
 <!---Content Section End-->