<!---HERO SECTION-->
<section id="hero">
    <div class="hero-bg-shape">
        
    </div>
    <div class="custom-continer h-100">
        <div class="hero-wrapper row h-100">
            <div class="hero-left col-lg-6 col-md-12 " style="padding-right :10px;" >
                <h1 class="  " data-animation="fadeInUp" data-animation-delay="0"  style="padding-bottom: 10px;"  >  <span> Easy to use</span> Certificate and Badge management Software for Training Managers

                </h1>
                <h4 class=" " data-animation="fadeInUp" data-animation-delay="100" style="color:white ;padding-bottom: 10px;"><span>Ranked #1</span> in Digital Credential Management Software across Education Industry
                </h4>
                <div class="hero-btn d-flex align-items-center">
                    <a target="_blank" href="https://go.certifyme.online/request-demo">
                        <button class="btn-hero btn-yellow  " data-animation="fadeInUp" data-animation-delay="200">
                   <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                         d="M16.7294 9.66667L9.72244 5.38889C9.3575 5.15556 8.91956 5 8.48163 5C7.09484 5 6 6.16667 6 7.64444V16.3556C6 17.8333 7.09484 19 8.48163 19C8.91956 19 9.3575 18.8444 9.72244 18.6111L16.8024 14.2556C17.1673 14.0222 17.4593 13.7111 17.6783 13.3222C18.3352 12.0778 17.9702 10.4444 16.7294 9.66667Z"
                         fill="white" />
                   </svg>
                   <strong> Request a Demo </strong>
                </button></a>
                <div style="padding-left: 20px;">

                

                <img src="/assets3/images/trust.png" width = 200px alt="image" class="img-fluid" style="float: right; margin-right: 10px; padding-bottom: 15px;" />
                    
            </div>
                </div>
                
               
            </div>
            <div class=" col-lg-6 col-md-12"  >
                <div class="hero-img d-none d-lg-block"  >
                    <img src="/assets3/images/hero.png" alt="image" class="img-fluid" style="float: right; margin-right: 10px; padding-bottom: 15px;" />
                </div>
            </div>
        </div>
    </div>
</section>
<!--HERO SECTION END-->