<!---HERO SECTION-->
<section id="hero">
    <div class="hero-bg-shape">

    </div>
    <div class="container" style="margin-top: 10px; ">
        <div class="row ">
            <div class="hero-left col-lg-12 col-md-12 " style=" display: flex ; justify-content: center ">
                
                <video  width=75% height= 100% style=" padding :20px" controls autoplay
      alt="The Most Trusted Credential Platform">
      <source src="https://certifyme.online/img/CmeVedioS.mp4" type="video/mp4"
        >
     
    </video>
    


            </div>
            
        </div>
    </div>
</section>
<!--HERO SECTION END-->