<section>
  <div style="background-color: #FEF6FB; padding-top: 20px;padding-bottom: 10px;">
    <div class="sec-detail" style="margin-top: 40px; ">
        <div class="sec-heading">
           <h2 class="text-center">Digital Credentials for your Use Case</h2>
        </div>
       

     </div>
<div class=" industrycontainer" style="margin-bottom: 60px;">
    

  
  <a class="card2" href="/education" style="color:black">
  <i class=" fa fa-university fa-2x fa-2x " aria-hidden="true"></i>

    <h5 >  Higher Education </h5>

    <p  class="small">Transcripts/Degree certificates ,Report Cards.. 	</p>
    <hr>    
    <div  href="#">
      <div class="go-arrow">
       <p style="color:black">View  ↗ </p> 
      </div>
    </div>
  </a>
    <a class="card2" href="/credentials-for-elearning-platforms" style="color:black">
  <i class="fa fa-graduation-cap fa-2x " aria-hidden="true"></i>
    <h5 >  E-Learning </h5>
    <p  class="small">Learning Badges , Micro Credentials   </p>
    
    <hr>    
    <div  href="#">
      <div class="go-arrow">
       <p style="color:black">View  ↗ </p> 
      </div>
    </div>
  </a>
    <a class="card2" href="/digital-badges-for-hr" style="color:black">
  <i class="fa fa fa-book fa-2x " aria-hidden="true"></i>
    <h5 > L & D </h5>
    <p  class="small">Skill Badges , Course Completion certification ..</p>
    
    <hr>    
    <div  href="#">
      <div class="go-arrow">
       <p style="color:black">View  ↗ </p> 
      </div>
    </div>
  </a>
    <a class="card2" href="/digital-badges-for-associations" style="color:black">
  <i class="fa fa-users fa-2x " aria-hidden="true"></i>
    <h5 > Association</h5>
    <p  class="small">Memebership Badges , Skill Certification ..</p>
    
    <hr>    
    <div  href="#">
      <div class="go-arrow">
       <p style="color:black">View  ↗ </p> 
      </div>
    </div>
  </a>

</div>
</section>