<section>
    <div class="sec-detail" style="margin-top: 40px;">
        <div class="sec-heading">
           <h2 class="text-center">Our solutions across industries</h2>
        </div>
       

     </div>
<div class=" industrycontainer" style="margin-bottom: 60px;">
    

  
  <a class="card2" href="/education" style="color:black">
  <i class="fa fa-graduation-cap fa-2x " aria-hidden="true"></i>
    <h5 >  Education Ed-Tech </h5>
    <p style="color:black" class="small">Transcripts/Degree certificates ,Learning Badges,Report Cards and more usecases 	</p>
    
    <div class="go-corner" href="#">
      <div class="go-arrow">
        →
      </div>
    </div>
  </a>
    <a class="card2" href="#" style="color:black">
  <i class="fa fa-cart-plus fa-2x " aria-hidden="true"></i>
    <h5 >  E-commerce </h5>
    <p style="color:black" class="small">Warranty Cards, Proof of Authenticity , Art , Supply chain tracking and more usecases  </p>
    
    <div class="go-corner" href="#">
      <div class="go-arrow">
        →
      </div>
    </div>
  </a>
    <a class="card2" href="#" style="color:black">
  <i class="fa fa fa-users fa-2x " aria-hidden="true"></i>
    <h5 > HR and L&D </h5>
    <p style="color:black" class="small">HR letters ,Employment letters ,PaySlips ,Employee Agreements and more usecases</p>
    
    <div class="go-corner" href="#">
      <div class="go-arrow">
        →
      </div>
    </div>
  </a>
    <a class="card2" href="#" style="color:black">
  <i class="fa fa-usd fa-2x " aria-hidden="true"></i>
    <h5 > Finance</h5>
    <p style="color:black" class="small">Bank statements,Insurance credentials,Invoices, cash cards and more usecases</p>
    
    <div class="go-corner" href="#">
      <div class="go-arrow">
        →
      </div>
    </div>
  </a>
    <a class="card2" href="#" style="color:black">
  <i class="fa fa-university fa-2x " aria-hidden="true"></i>
    <h5 >  Government </h5>
    <p style="color:black" class="small">Birth certificates ,ID proof , Driving License, Land records and more usecases</p>
    
    <div class="go-corner" href="#">
      <div class="go-arrow">
        →
      </div>
    </div>
  </a>
</section>