<!---- PRICING SECTION -->
<section id="pricing" class="section-spacing-bottom">
    <div class="container">
       <div class="sec-detail">
          <div class="sec-heading">
             <h2 class="text-center"> Your Credentials have a Lifetime Validity </h2>
          </div>
          <div class="sec-para">
             <p class="text-center" >Get upto 60%+ savings on our Annual plans</p>
          </div>

       </div>
       <div class="toggle-btn">
          <span>Bill Monthly</span>
          <label class="switch">
             <input type="checkbox" id="checbox" aria-label="Annual plans Credentials" onclick="check()" value="true" />
             <span class="slider round"></span>
          </label>
          <span> <span style="color:green ; "> <strong> Bill Yearly 60%+ savings</strong> </span></span>
       </div>
       <div class="row pricing-row  " data-animation="fadeIn" data-animation-delay="400">
          <div class="col-lg-3 price-box card-one ">
             <div class="pricing-card">
                <div class="pricing-header">
                   <div class="pricing-header-text">Try</div>
                   <div class="pricing-head">
                      <div class ="text1">
                        <h3 class="price-text "> <span class="p-font-small"><svg width="12" height="23"
                               viewBox="0 0 12 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                               <path
                                  d="M4.76 0.704V2.936C2.144 3.248 0.536 5.192 0.536 7.712C0.536 9.032 0.92 10.064 1.664 10.808C2.432 11.552 3.608 12.2 5.216 12.752C7.616 13.544 8.504 14.264 8.504 15.536C8.504 16.976 7.544 17.936 5.84 17.936C3.944 17.936 2.888 16.88 2.816 14.96H0.104C0.176 17.864 1.784 19.88 4.76 20.24V22.496H6.704V20.24C9.416 19.928 11.216 18.104 11.216 15.344C11.216 14.096 10.856 13.088 10.112 12.344C9.392 11.576 8.168 10.88 6.416 10.28C5.216 9.824 4.376 9.416 3.92 9.056C3.464 8.696 3.248 8.192 3.248 7.496C3.248 6.128 4.112 5.288 5.528 5.288C6.968 5.288 7.928 6.2 7.952 7.76H10.688C10.568 5 9.128 3.344 6.704 2.96V0.704H4.76Z"
                                  fill="#541554" />
                            </svg>
                         </span>0 <span class="seprator">/</span> <span class="p-month">month</span> </h3>
                        
                        </div>
                        <div  class="text2">
                      <h3 class="price-text "> <span class="p-font-small"><svg width="12" height="23"
                               viewBox="0 0 12 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                               <path
                                  d="M4.76 0.704V2.936C2.144 3.248 0.536 5.192 0.536 7.712C0.536 9.032 0.92 10.064 1.664 10.808C2.432 11.552 3.608 12.2 5.216 12.752C7.616 13.544 8.504 14.264 8.504 15.536C8.504 16.976 7.544 17.936 5.84 17.936C3.944 17.936 2.888 16.88 2.816 14.96H0.104C0.176 17.864 1.784 19.88 4.76 20.24V22.496H6.704V20.24C9.416 19.928 11.216 18.104 11.216 15.344C11.216 14.096 10.856 13.088 10.112 12.344C9.392 11.576 8.168 10.88 6.416 10.28C5.216 9.824 4.376 9.416 3.92 9.056C3.464 8.696 3.248 8.192 3.248 7.496C3.248 6.128 4.112 5.288 5.528 5.288C6.968 5.288 7.928 6.2 7.952 7.76H10.688C10.568 5 9.128 3.344 6.704 2.96V0.704H4.76Z"
                                  fill="#541554" />
                            </svg>
                         </span>0 <span class="seprator">/</span> <span class="p-month">year</span> </h3>
                     
                      </div>
                   </div>
                </div>
                <div class="pricing-body">
                   <ul class="price-list">
                      <li class="text">50 New Credentials</li>
                    
                      <li>Analytics</li>
                      <li>Bulk Upload</li>
                      <li>Verifiable QR-code</li>
                      <li>Canva Integration</li>
                      <li>Unlimited Templates</li>
                      <li>1 Admin Account</li>
                 
                     
                   </ul>
                   <a target="_blank" href="https://credential.certifyme.online/auth/register/free@certifyme.online">
                   <button class="btn-price text">Start Awarding</button></a>
                   
                </div>
             </div>
          </div>
          <div class="col-lg-3 price-box card-one ">
             <div class="pricing-card">
                <div class="pricing-header">
                   <div class="pricing-header-text">Standard </div>
                   <div class="pricing-head">
                    <div class ="text1">
                      <h3 class="price-text "> <span class="p-font-small"><svg width="12" height="23"
                               viewBox="0 0 12 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                               <path
                                  d="M4.76 0.704V2.936C2.144 3.248 0.536 5.192 0.536 7.712C0.536 9.032 0.92 10.064 1.664 10.808C2.432 11.552 3.608 12.2 5.216 12.752C7.616 13.544 8.504 14.264 8.504 15.536C8.504 16.976 7.544 17.936 5.84 17.936C3.944 17.936 2.888 16.88 2.816 14.96H0.104C0.176 17.864 1.784 19.88 4.76 20.24V22.496H6.704V20.24C9.416 19.928 11.216 18.104 11.216 15.344C11.216 14.096 10.856 13.088 10.112 12.344C9.392 11.576 8.168 10.88 6.416 10.28C5.216 9.824 4.376 9.416 3.92 9.056C3.464 8.696 3.248 8.192 3.248 7.496C3.248 6.128 4.112 5.288 5.528 5.288C6.968 5.288 7.928 6.2 7.952 7.76H10.688C10.568 5 9.128 3.344 6.704 2.96V0.704H4.76Z"
                                  fill="#541554" />
                            </svg>
                         </span>80 <span class="seprator">/</span> <span class="p-month">month</span> </h3>
                        
                        </div>
                        <div class ="text2">
                      <h3 class="price-text "> <span class="p-font-small"><svg width="12" height="23"
                               viewBox="0 0 12 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                               <path
                                  d="M4.76 0.704V2.936C2.144 3.248 0.536 5.192 0.536 7.712C0.536 9.032 0.92 10.064 1.664 10.808C2.432 11.552 3.608 12.2 5.216 12.752C7.616 13.544 8.504 14.264 8.504 15.536C8.504 16.976 7.544 17.936 5.84 17.936C3.944 17.936 2.888 16.88 2.816 14.96H0.104C0.176 17.864 1.784 19.88 4.76 20.24V22.496H6.704V20.24C9.416 19.928 11.216 18.104 11.216 15.344C11.216 14.096 10.856 13.088 10.112 12.344C9.392 11.576 8.168 10.88 6.416 10.28C5.216 9.824 4.376 9.416 3.92 9.056C3.464 8.696 3.248 8.192 3.248 7.496C3.248 6.128 4.112 5.288 5.528 5.288C6.968 5.288 7.928 6.2 7.952 7.76H10.688C10.568 5 9.128 3.344 6.704 2.96V0.704H4.76Z"
                                  fill="#541554" />
                            </svg>
                         </span>65 <span class="seprator">/</span> <span class="p-month">month</span> </h3>
                         <br>
                         <h3 class="price-text ">  <span class="p-month">$ 780 /  year</span> </h3>
                        </div>
                     
                   </div>
                </div>
                <div class="pricing-body">
                   <ul class="price-list">
                     <li class ="text1">6000 Credentials/year</li>
                     <li class ="text2">12000 Credentials / year <span style="color: green;"> <strong>[2X more]</strong></span></li>
                      <li>All Free plan features </li>
                      <li>Smart ID Tagging</li>
                      <li>Open API & Integrations</li>
                      <li>Immutable Credentials</li>
                      <li> Logo on Navigation Bar</li>
                
                      <li> <a href="/res/CertifyMeFeatures.pdf"  style="color: green;" download="CertifyMeFeatures.pdf">+ More , Download Feature Set</a>      </li>            
           
                
                     
                   </ul>
                   <a target="_blank" href="https://share.hsforms.com/1o0spWcjVQB24gm1W_m10qg5gjjo">
                     <button class="btn-price text">Start My Free Trial</button></a>
                </div>
             </div>
          </div>
          <div class="col-lg-3 price-box card-one ">
             <div class="pricing-card vip-card">
                <div class="pricing-header">
                   <div class="pricing-header-text"> White Label </div>
                   <div class="pricing-head">
                    <div class ="text1">
                      <h3 class="price-text "> <span class="p-font-small"><svg width="12" height="23"
                               viewBox="0 0 12 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                               <path
                                  d="M4.76 0.704V2.936C2.144 3.248 0.536 5.192 0.536 7.712C0.536 9.032 0.92 10.064 1.664 10.808C2.432 11.552 3.608 12.2 5.216 12.752C7.616 13.544 8.504 14.264 8.504 15.536C8.504 16.976 7.544 17.936 5.84 17.936C3.944 17.936 2.888 16.88 2.816 14.96H0.104C0.176 17.864 1.784 19.88 4.76 20.24V22.496H6.704V20.24C9.416 19.928 11.216 18.104 11.216 15.344C11.216 14.096 10.856 13.088 10.112 12.344C9.392 11.576 8.168 10.88 6.416 10.28C5.216 9.824 4.376 9.416 3.92 9.056C3.464 8.696 3.248 8.192 3.248 7.496C3.248 6.128 4.112 5.288 5.528 5.288C6.968 5.288 7.928 6.2 7.952 7.76H10.688C10.568 5 9.128 3.344 6.704 2.96V0.704H4.76Z"
                                  fill="#541554" />
                            </svg>
                         </span>240 <span class="seprator">/</span> <span class="p-month">month</span> </h3>
                        
                     </div>
                     <div class ="text2">
                      <h3 class="price-text "> <span class="p-font-small"><svg width="12" height="23"
                               viewBox="0 0 12 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                               <path
                                  d="M4.76 0.704V2.936C2.144 3.248 0.536 5.192 0.536 7.712C0.536 9.032 0.92 10.064 1.664 10.808C2.432 11.552 3.608 12.2 5.216 12.752C7.616 13.544 8.504 14.264 8.504 15.536C8.504 16.976 7.544 17.936 5.84 17.936C3.944 17.936 2.888 16.88 2.816 14.96H0.104C0.176 17.864 1.784 19.88 4.76 20.24V22.496H6.704V20.24C9.416 19.928 11.216 18.104 11.216 15.344C11.216 14.096 10.856 13.088 10.112 12.344C9.392 11.576 8.168 10.88 6.416 10.28C5.216 9.824 4.376 9.416 3.92 9.056C3.464 8.696 3.248 8.192 3.248 7.496C3.248 6.128 4.112 5.288 5.528 5.288C6.968 5.288 7.928 6.2 7.952 7.76H10.688C10.568 5 9.128 3.344 6.704 2.96V0.704H4.76Z"
                                  fill="#541554" />
                            </svg>
                         </span>200 <span class="seprator">/</span> <span class="p-month">month</span> </h3>
                         <br>
                         <h3 class="price-text ">  <span class="p-month">$ 2400 /  year</span> </h3>
                        </div>
                       
                   </div>
                </div>
                <div class="pricing-body">
                   <ul class="price-list">
                    <li class ="text1">6000 Credentials/year</li>
                    <li class ="text2">12000 Credentials/year <span style="color: rgb(175, 239, 175);"><strong>[2X more]</strong></span> </li>
                      <li>All Starter plan features </li>
                      <li>Email ID White-labeling</li>
                      <li>Showcase Directory</li>
              
                      <li>Custom Wallet feature </li>
                      <li>Cryptographic Signature</li> 
                      <li> <a href="/res/CertifyMeFeatures.pdf"  style="color: rgb(199, 243, 199);" download="CertifyMeFeatures.pdf">+ More , Download Feature set </a>      </li>            
                   </ul>
                   <a target="_blank" href="https://share.hsforms.com/1_rFEZXaJR_yVtUxSks7JuA5gjjo">
                     <button class="btn-price text">Start My Free Trial</button></a>
                </div>
             </div>
          </div>
          <div class="col-lg-3 price-box card-one ">
             <div class="pricing-card">
                <div class="pricing-header">
                   <div class="pricing-header-text">Enterprise</div>
                   <div class="pricing-head">
                      <h3 class="price-text "> <span class="p-font-small"><svg width="12" height="23"
                               viewBox="0 0 12 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                               <path
                                  d="M4.76 0.704V2.936C2.144 3.248 0.536 5.192 0.536 7.712C0.536 9.032 0.92 10.064 1.664 10.808C2.432 11.552 3.608 12.2 5.216 12.752C7.616 13.544 8.504 14.264 8.504 15.536C8.504 16.976 7.544 17.936 5.84 17.936C3.944 17.936 2.888 16.88 2.816 14.96H0.104C0.176 17.864 1.784 19.88 4.76 20.24V22.496H6.704V20.24C9.416 19.928 11.216 18.104 11.216 15.344C11.216 14.096 10.856 13.088 10.112 12.344C9.392 11.576 8.168 10.88 6.416 10.28C5.216 9.824 4.376 9.416 3.92 9.056C3.464 8.696 3.248 8.192 3.248 7.496C3.248 6.128 4.112 5.288 5.528 5.288C6.968 5.288 7.928 6.2 7.952 7.76H10.688C10.568 5 9.128 3.344 6.704 2.96V0.704H4.76Z"
                                  fill="#541554" />
                            </svg>
                         </span>500 <span class="p-font-small"> + </span> <span class="seprator">/</span> <span class="p-month">month </span> </h3>

                   </div>
                </div>
                <div class="pricing-body">
                   <ul class="price-list">
                      
                      <li>Per User pricing</li>                     
            
                      <li>Highly Flexible plan</li>
                      <li>Dedicated servers </li>
                      <li> Enhanced security </li>
                      <li>Custom workflow </li>
                      <li> Multi-lingual </li>
                      <li> Custom SLA </li>
                    

                   </ul>
                   <a target="_blank" href="https://share.hsforms.com/1bAbn-rI0QLi9ugPZOELvLg5gjjo">
                   <button class="btn-price">Lets Talk</button> </a>
                </div>
             </div>
          </div>
       </div>
    </div>
    
    </div>
    <div class="enterprise-btn d-flex align-items-center justify-content-center " style="margin-top: 20px;">
      <a href="/res/CertifyMeFeatures.pdf" download="CertifyMeFeatures.pdf">
       <button class="btn-ent btn-cert">
         Click here to download and compare detailed features sets
       </button>
      </a>
       
    </div>
    
    <script>
function check2() {
  var checkBox = document.getElementById("checbox");
  var text1 = document.getElementsByClassName("text1");
  var text2 = document.getElementsByClassName("text2");

  for (var i = 0; i < text1.length; i++) {
    if (checkBox.checked == false) {
      text1[i].style.display = "block";
      text2[i].style.display = "none";
    } else if (checkBox.checked == true) {
      text1[i].style.display = "none";
      text2[i].style.display = "block";
    }
  }
}
check2();

    </script>
 </section>
 <!---- PRICING SECTION END -->
 <!--- Enterprise SECTION -->


     
    
   
