<script  src="/assets3/js/jquery.min.js"></script>
<script async src="/assets3/js/bootstrap.min.js"></script>
  <!--SEO Fix-->
   <script async src="/assets3/js/Popper.js"></script>
   
   <script async src="/assets3/js/appear.min.js"></script>
   
   <script async type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script> 
   <!-- MAIN JS-->
   <script async src="/assets3/js/main.js"></script>

     
      <!-- Start of HubSpot Embed Code -->
  <script type="text/javascript" id="hs-script-loader" async defer src="//js-na1.hs-scripts.com/9169908.js"></script>
  <!-- End of HubSpot Embed Code -->

    <!--Start of Tawk.to Script
  <script type="text/javascript">
    var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
    (function () {
      var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
      s1.async = true;
      s1.src = 'https://embed.tawk.to/5fa3d96ffe038e7c95aa3cfa/default';
      s1.charset = 'UTF-8';
      s1.setAttribute('crossorigin', '*');
      s0.parentNode.insertBefore(s1, s0);
    })();
  </script>

 
    -->
    <!-- GetButton.io widget -->
    <script type="text/javascript">
        (function () {
            var options = {
                whatsapp: "+91 8310139305", // WhatsApp number
                call_to_action: "WhatsApp us", // Call to action
                position: "left", // Position may be 'right' or 'left'
                pre_filled_message: "I need your help ", // WhatsApp pre-filled message
            };
            var proto = document.location.protocol, host = "getbutton.io", url = proto + "//static." + host;
            var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
            s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
            var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
        })();</script>